﻿@using SmoovPOS.Utility.CustomHTMLHelper
 @model SmoovPOS.UI.Models.InventoryViewModel
               
@{
    //ViewBag.Title = "Create";
    ViewBag.Title = "New Branch";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";

}

@using (Html.BeginForm("Create", "Inventory", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    <div class="q-content">
        <div class="q-toolsbar">
            <div class="col-md-4">
                <h3>Add New Branch Inventory</h3>
            </div>
            <div class="col-md-8">
                <button type="submit" name="checkSubmit" class="btn btn-primary checkSubmit">Save</button>
                <button onclick="location.href='@Url.Action("Index", "Inventory")';return false;" class="btn btn-default">Cancel</button>
            </div>
        </div>

        <div class="col-md-12" style="display: inline-block;"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        <div class="q-form">
            <div class="col-md-3">
                <div>
                    <h4>@Html.LocalizedLabel("InformationDetail")</h4>
                    <p>@Html.LocalizedLabel("DetailInformationStore")</p>
                </div>
            </div>
            <div class="col-md-9" >
                @*<div class="error-message 1" id="error-businessId" style="display:none">The Business ID is required.</div>
                <div class="error-message 2" id="error-contact" style="display:none">The Contact is required.</div>
                <div class="error-message 3" id="error-streetAddress" style="display:none">The Street Address is required.</div>
                <div class="error-message 6" id="error-city" style="display:none">The City is required.</div>
                <div class="error-message 5" id="error-zipcode" style="display:none">The ZipCode is required.</div>
                 <div class="error-message 4" id="error-state" style="display:none">The State is required.</div>*@
                
                <div class="form-group">
                    <div class="inner">
                        @Html.LabelFor(model => model.businessID)<span style="color:red"> *</span>
                    </div>
                    <div class="inner">
                        @Html.TextBoxFor(model => model.businessID, new { Class = "form-control", id = "businessId", maxlength = "100" })
                        @Html.ValidationMessageFor(model => model.businessID)
                    </div>
                </div>

                <div class="form-group">
                    <div class="inner">
                        @Html.LabelFor(model => model.description)
                    </div>
                    <div class="inner">
                        @Html.TextAreaFor(model => model.description, new { id = "description", name = "description", maxlength = "300", Class = "form-control", rows = "5" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="inner">
                        @Html.LabelFor(model => model.contact)
                    </div>
                    <div class="form-inline">
                        @*<select id="contactCode" name="contactCode" class="form-control" style="width: 29%;">
                            <option value="65">65</option>
                            <option value="83">83</option>
                            <option value="84">84</option>
                            <option value="85">85</option>
                        </select>*@

                        @Html.DropDownListFor(m => m.contact, Model.listContacts, new { @class = "form-control", @id = "contact", @name = "contact", @style = "width: 29%;" })
                        @Html.TextBoxFor(model => model.contactMobile, new
                       {
                           @onkeypress = "return event.charCode >= 48 && event.charCode <= 57",
                           @class = "form-control",
                           //--20150408 MaoNguyen DEL  ↓
                           /*@id = "contact", 
                           @name = "contact",*/
                           //--20150408 MaoNguyen DEL  ↑
                           //-------
                           //--20150408 MaoNguyen ADD  ↓
                           @id = "contactMobile",
                           @name = "contactMobile",
                           //--20150408 MaoNguyen DEL  ↑
                           @style = "width: 70%",
                           @maxlength = "15"
                       })
                    </div>
                </div>
                <div class="form-group" style="margin-top: 30px;">
                    <div class="inner">
                        @Html.LabelFor(model => model.streetAddress)<span style="color:red"> *</span>
                    </div>

                    <div class="inner">
                        @Html.TextBoxFor(model => model.streetAddress, new { @class="form-control", @id="streetAddress", @name="streetAddress", @maxlength="100"})
                        @Html.ValidationMessageFor(model => model.streetAddress)
                    </div>
                </div>

                <div style="clear: both"></div>

                <div class="row">
                    <div class="col-md-6" style="margin-top: 30px;">
                        <div class="form-group">
                            <div class="inner">
                                @Html.LabelFor(model => model.city)<span style="color:red"> *</span>
                            </div>
                            <div class="inner">
                                @Html.TextBoxFor(model => model.city, new { @class="form-control", @id="city", @name="city", @placeholder="", @maxlength="50"})
                                @Html.ValidationMessageFor(model => model.city)
                            </div>          
                        </div>
                    </div>

                    <div class="col-md-6" style="margin-top: 30px;">
                        <div class="form-group">
                            <div class="inner">
                                @Html.LabelFor(model => model.zipCode)<span style="color:red"> *</span>
                            </div>
                            <div class="inner">
                                @Html.TextBoxFor(model => model.zipCode, new { @id="zipcode", @class="form-control", @name="zipcode", @maxlength="30"})
                                @Html.ValidationMessageFor(model => model.zipCode)
                            </div>
                        </div>
                    </div>

                    <div style="clear: both"> </div>
                </div>

                <div class="row">
                    <div class="col-md-6" style="margin-top: 30px;">
                        <div class="form-group">
                            <div class="inner">
                                @Html.LabelFor(model => model.state)<span style="color:red"> *</span>
                            </div>
                            <div class="inner">
                                @Html.TextBoxFor(model => model.state, new { @id="state", @name="state", @class="form-control", @maxlength="50"})
                                @Html.ValidationMessageFor(model => model.state)
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6" style="margin-top: 30px;">
                        <div class="form-group">
                            <div class="inner">
                                @Html.LabelFor(model => model.country)
                            </div>
                            <div class="inner">
                                @Html.DropDownListFor(m => m.country, Model.listCountries, new { @class = "form-control", @id = "country", @name = "country" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" style="margin-top: 30px;">
                        <div class="form-group">
                            <div class="inner">
                                @Html.LabelFor(model => model.timeZone)
                            </div>
                            <select id="timezone" name="timezone" class="form-control" style="">
                                @{
                                    foreach (var item in Model.listDefaultTimeZones)
                                    {
                                        string value = item.Key;
                                        <option @(value.Contains("Singapore") ? " selected" : "") value="@item.Key">@item.ToString().Replace("[", "").Replace("]", "") @item.Value</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <div style="clear: both"> </div>
                </div>
            </div>
        </div>

        <div class="q-clear"></div>

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        <div class="form-horizontal">
            <div class="col-md-3">
                <h4>@Html.LocalizedLabel("Status")</h4>
            </div>
            <div class="col-md-9">
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            <label>@Html.LocalizedLabel("Active")</label>
                        </div>
                        <div class="inner">
                            @try
                            {
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active statusMerchant" id="lbl-statusActive">
                                        <input type="radio" name="optionsRadios" id="statusActive" value="true" class="optionsRadios">
                                        ON

                                    </label>
                                    <label class="btn btn-default statusMerchant" id="lbl-statusInActive">
                                        <input type="radio" name="optionsRadios" id="statusInActive" value="false" class="optionsRadios">
                                        OFF
                                    </label>
                                </div>
                            }
                            catch { }
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="q-clear"></div>

        <div class="q-toolsbar">
            <div class="col-md-4"></div>

            <div class="col-md-8">
                <button type="submit" name="checkSubmit" class="btn btn-primary checkSubmit">Save</button>
                <button onclick="location.href='@Url.Action("Index", "Inventory")';return false;" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
}