﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model Com.SmoovPOS.Entity.Inventory
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    string status = string.Empty;
}


<div class="q-content">
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3>Store / @Model.businessID</h3>
        </div>
        <div class="col-md-8">
            @*<button onclick="location.href='@Url.Action("ListProduct", "Inventory", new { id = Model._id, store = Model.businessID })';return false;" class="btn btn-primary">Inventory</button>*@
            <button onclick="location.href='@Url.Action("ListProduct", "Inventory", new { id = Model._id, store = Model.index })';return false;" class="btn btn-primary">Store</button>
            <button onclick="location.href='@Url.Action("Edit", "Inventory",new { id = Model._id})';return false;" class="btn btn-primary">Edit</button>
            <button onclick="location.href='@Url.Action("Index", "Inventory")';return false;" class="btn btn-default">Close</button>
        </div>
    </div>

    <div class="col-md-12" style="display: inline-block;"><hr style="border-top: 1px solid #D3D2D2; " /></div>


    <div class="q-form">
        <div class="col-md-3">
            <div>
                <h4>@Html.LocalizedLabel("InformationDetail")</h4>
                <p>@Html.LocalizedLabel("DetailInformationStore")</p>
            </div>
        </div>
        <div class="col-md-8" style="margin-left:50px;">
           
            <table border="0">
                <tr>
                    <td class="tdleft">Business ID</td>
                    <td style="font-weight:bold" class="tdright">@Model.businessID</td>
                </tr>
                <tr>
                    <td class="tdleft">Description</td>
                    <td class="tdright">
                    @if (string.IsNullOrEmpty(Model.description))
                    {
                        <text>N/A</text>
                    }
                    else
                    {
                        @Model.description
                    }
                   </td>
                </tr>
                <tr>
                    <td class="tdleft">Contact</td>
                    <td class="tdright">
                        @if (!string.IsNullOrEmpty(Model.contact))
                        {
                            @*<text>(@Model.contact.Substring(0, 2))@Model.contactMobile.Substring(2)</text>*@           //20150408 MaoNguyen DEL
                            <text>(@Model.contact.Substring(0, 2))@Model.contactMobile</text>                                         //20150408 MaoNguyen ADD
                        }
                    </td>
                </tr>
                <tr>
                    <td class="tdleft">Address</td>
                    <td class="tdright">@Model.addressCombine</td>
                </tr>
                <tr>
                    <td class="tdleft">Time Zone</td>
                    <td class="tdright">@Model.timeZone</td>
                </tr>
            </table>

        </div>
        <div class="col-md-12" style="display: inline-block;"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    </div>

    <div class="q-form">
        <div class="col-md-3">
            <div>
                <h4>@Html.LocalizedLabel("Status")</h4>
            </div>
        </div>
        <div class="col-md-8" style="margin-left:50px;">
            @if (Model.status)
            {
                status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Active;
            }
            else
            {
                status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Inactive;
            }
            @if (Model.status)
            {
                <span style="color:green;">@Html.DisplayFor(model => status)</span>
            }
            else
            {
                <span style="color:red;">@Html.DisplayFor(model => status)</span>
            }
        </div>
        <div class="col-md-12" style="display: inline-block;"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    </div>
    <div class="q-toolsbar">
        <div class="col-md-4">
            
        </div>
        <div class="col-md-8">
            @*<button onclick="location.href='@Url.Action("ListProduct", "Inventory", new { id = Model._id, store = Model.businessID })';return false;" class="btn btn-primary">Inventory</button>*@
            <button onclick="location.href='@Url.Action("ListProduct", "Inventory", new { id = Model._id, store = Model.index })';return false;" class="btn btn-primary">Inventory</button>
            <button onclick="location.href='@Url.Action("Edit", "Inventory",new { id = Model._id})';return false;" class="btn btn-primary">Edit</button>
            <button onclick="location.href='@Url.Action("Index", "Inventory")';return false;" class="btn btn-default">Close</button>
        </div>
    </div>
</div>
<style>


</style>
@Styles.Render("~/Content/css")