﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model Com.SmoovPOS.Entity.Inventory
@{
    //ViewBag.Title = "Inventory / Online Inventory";
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";

}
@using (Html.BeginForm("Edit", "Inventory", FormMethod.Post, new { @encType = "multipart/form-data" }))
{


    <div class="q-content">
        <div class="q-toolsbar">
            <div class="col-md-4">
                <h3>Store / @Model.businessID</h3>
            </div>
            <div class="col-md-8">
                <input type="submit" value="Save" id="submit" class="btn btn-default" style="display:none" />
                <button type="button" name="checkSubmit" class="btn btn-primary checkSubmit">Save</button>
                @if (Model.businessID != "1.Online store")
                {
                    <button data-toggle="modal" data-target="#myModal" class="btn btn-danger">Delete</button>
                }
                <button onclick="location.href='@Url.Action("Detail", "Inventory", new { id = Model._id })';return false;" class="btn btn-default">Cancel</button>
                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width: 350px;">
                            <div class="modal-body">
                                Are you sure you want to remove this store?
                            </div>
                            <div class="modal-footer">
                                <button onclick="location.href='@Url.Action("Delete", "Inventory", new { id = Model._id})';return false;" class="btn btn-primary">Yes</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12" style="display: inline-block;"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model._id)

        <div class="q-form">
            <div class="col-md-3">
                <div>
                    <h4>@Html.LocalizedLabel("InformationDetail")</h4>
                    <p>@Html.LocalizedLabel("DetailInformationStore")</p>
                </div>
            </div>
            <div class="col-md-9">
                @*<div class="error-message 1" id="error-businessId" style="display:none">The Business ID is required.</div>*@
                @*<div class="error-message 2" id="error-contact" style="display:none">The Contact is required.</div>*@
                @*<div class="error-message 3" id="error-streetAddress" style="display:none">The Street Address is required.</div>*@
                @*<div class="error-message 4" id="error-state" style="display:none">The State is required.</div>*@
                @*<div class="error-message 5" id="error-zipcode" style="display:none">The ZipCode is required.</div>*@
                <div class="form-group">
                    @*<label for="businessId">Business ID</label>
                    <input type="text" class="form-control" id="businessId" required name="businessId" style="max-width: none;" maxlength="100" value="@Model.businessID">*@
                    <div class="inner">
                        <label for="businessId">Business ID</label><span style="color:red"> *</span>
                    </div>
                    <div class="inner">
                        @Html.TextBoxFor(model => model.businessID, new {@class="form-control", @id="businessId",  @name="businessId", @style="max-width: none;", @maxlength="100", @value="@Model.businessID"})
                        <div  id="error-businessId" style="display:none; color:#b94a48">This field is required.</div>
                    </div>
                </div>
                <div class="form-group">
                    @*<label for="description">Description</label>
                    <textarea class="form-control" id="description" name="description" rows="5" style="max-width: none;" maxlength="300"></textarea>*@
                    <div class="inner">
                        <label for="description">Description</label>
                    </div>
                    <div class="inner">
                        @Html.TextAreaFor(model => model.description, new {@class="form-control", @id="description", @name="description", @rows="5", @style="max-width: none;", @maxlength="300", @value = "@Model.description"})
                    </div>
                </div>
                <div class="form-group">
                    @*<label for="contact">Contact</label>*@
                    <label for="contact">Contact</label><span style="color:red"> *</span>
                    <div class="form-inline">
                        @*<input type="text" class="form-control" id="contactCode" required name="contactCode" style="width: 29%;" value="@Model.contact">*@
                        @Html.TextBoxFor(model => model.contact, new { @class = "form-control", @id = "contact", @name = "contact", @value = "@Model.contact", @style = "width: 29%;" })
                        @Html.TextBoxFor(model => model.contactMobile, new { @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", @class = "form-control", @id = "contactMobile", @name = "contactMobile", @style = "width: 70%", @value = "@Model.contactMobile" })
                        <div id="error-contact" style="display:none;  color:#b94a48">This field is required.</div>

                        @*<select id="contactCode" name="contactCode" class="span2" style="width: 100px; height: 32px; margin-right: 15px;">
                            @{
                                string selectedValue = "";
                                if (!string.IsNullOrEmpty(Model.contact))
                                {
                                    selectedValue = @Model.contact.Substring(0, 2);
                                }
                            }
                            <option value="65" @(selectedValue == "65" ? "selected" : "")>65</option>
                            <option value="83" @(selectedValue == "83" ? "selected" : "")>83</option>
                            <option value="84" @(selectedValue == "84" ? "selected" : "")>84</option>
                            <option value="85" @(selectedValue == "85" ? "selected" : "")>85</option>
                        </select>*@
                        @*<input type="text" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control" id="contact" required name="contact" style="width: 70%" , value="@(!string.IsNullOrEmpty(Model.contact) ? @Model.contact.Substring(2) : @Model.contact)">*@
                    </div>
                </div>
                <div class="form-group" style="margin-top: 30px;">
                    @*<label for="streetAddress">Street Address</label>
                    <input type="text" class="form-control" id="streetAddress" required name="streetAddress" style="max-width: none;" maxlength="100" value="@Model.streetAddress">*@
                    <div class="inner">
                        <label for="streetAddress">Street Address</label><span style="color:red"> *</span>
                    </div>

                    <div class="inner">
                        @Html.TextBoxFor(model => model.streetAddress, new { @class="form-control", @id="streetAddress",  @name="streetAddress", @style="max-width: none;", @maxlength="100", @value="@Model.streetAddress"})
                        <div  id="error-streetAddress" style="display:none;  color:#b94a48">This field is required.</div>
                    </div>
                </div>

                <div style="clear: both"></div>
                <div class="row">
                    <div class="col-md-6" style="margin-top: 30px;">
                        <div class="form-group">
                            @*<label for="city">City</label>
                            <input type="text" class="form-control" id="city" name="city" placeholder="City" maxlength="50" value="@Model.city">*@
                            <div class="inner">
                                <label for="city">City</label><span style="color:red"> *</span>
                            </div>
                            <div class="inner">
                                @Html.TextBoxFor(model => model.city, new { @class="form-control", @id="city", @name="city", @placeholder="City", @maxlength="50", @value="@Model.city"})
                                <div id="error-city" style="display:none;  color:#b94a48">This field is required.</div>
                            </div>          
                        </div>
                    </div>

                    <div class="col-md-6" style="margin-top: 30px;">
                        <div class="form-group">
                            @*<label for="zipcode">ZipCode</label>
                            <input type="text" class="form-control" id="zipcode" required name="zipcode" value="@Model.zipCode">*@
                            <div class="inner">
                                <label for="zipcode">ZipCode</label><span style="color:red"> *</span>
                            </div>
                            <div class="inner">
                                @Html.TextBoxFor(model => model.zipCode, new { @class="form-control", @id="zipcode",  @name="zipcode", @value="@Model.zipCode"})
                                <div id="error-zipcode" style="display:none;  color:#b94a48">This field is required.</div>
                            </div>
                        </div>

                    </div>
                    <div style="clear: both"> </div>
                </div>

                <div class="row">
                    <div class="col-md-6" style="margin-top: 30px;">
                        <div class="form-group">
                            @*<label for="state">State</label>
                            <input id="state" name="state" class="form-control" maxlength="100" value="@Model.state">*@
                            <div class="inner">
                                <label for="state">State</label><span style="color:red"> *</span>
                            </div>
                            <div class="inner">
                                @Html.TextBoxFor(model => model.state, new { @id="state", @name="state", @class="form-control", @maxlength="100", @value="@Model.state"})
                                <div id="error-state" style="display:none;  color:#b94a48">This field is required.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" style="margin-top: 30px;">
                        <div class="form-group">
                            @*<label for="country">Country</label>
                            <select id="country" name="country" class="form-control">
                                @foreach (var item in ViewBag.Country.arrayCountry)
                                {
                                    try
                                    {
                                        <option @(Model.country == @item ? " selected " : "") value="@item">@item</option>
                                    }
                                    catch
                                    {
                                        <option value="@item">@item</option>
                                    }
                                }
                            </select>*@
                            <div class="inner">
                                <label for="country">Country</label>
                            </div>
                            <div class="inner">
                                <select id="country" name="country" class="form-control">
                                    @foreach (var item in ViewBag.Country.arrayCountry)
                                    {
                                        try
                                        {
                                            <option @(Model.country == @item ? " selected " : "") value="@item">@item</option>
                                        }
                                        catch
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div style="clear: both"> </div>
                </div>
                <div class="row">
                    <div class="col-md-6" style="margin-top: 30px;">
                        <div class="form-group">
                            <label for="timezone">Time Zone</label>
                            <select id="timezone" name="timezone" class="form-control">
                                @{
                                        foreach (var item in Model.listDefaultTimeZones)
                                        {
                                            string value = item.Key.ToString();
                                            <option @(value.Contains(Model.timeZone) ? " selected" : "") value="@item.Key">@item.Key @item.Value</option>
                                        }
                                }

                            </select>
                        </div>
                    </div>
                    <div style="clear: both"> </div>
                </div>

            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-3">
                <h4>@Html.LocalizedLabel("Status")</h4>
            </div>
            <div class="col-md-9">
                <div class="form-group ">
                    <div class="col-md-12 outer">
                        <div class="inner">
                            <label>@Html.LocalizedLabel("Active")</label>
                        </div>
                        <div class="inner">
                            @try
                            {
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default @(Model.status == true ? "active" : "") statusMerchant " id="lbl-statusActive-0">
                                        <input type="radio" name="@Model._id" id="statusActive-0" value="true" class="optionsRadios">
                                        ON

                                    </label>
                                    <label class="btn btn-default @(Model.status == false ? "active" : "") statusMerchant " id="lbl-statusInActive-0">
                                        <input type="radio" name="@Model._id" id="statusInActive-0" value="false" class="optionsRadios">
                                        OFF
                                    </label>


                                </div>
                            }
                            catch { }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="q-toolsbar">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <input type="submit" value="Save" id="submit" class="btn btn-default" style="display:none" />
                <button type="button" name="checkSubmit" class="btn btn-primary checkSubmit">Save</button>
                @if (Model.businessID != "1.Online store")
                {
                    <button data-toggle="modal" data-target="#myModal" class="btn btn-danger">Delete</button>
                }
                <button onclick="location.href='@Url.Action("Detail", "Inventory", new { id = Model._id })';return false;" class="btn btn-default">Cancel</button>
            </div>
        </div>
    </div>
}
<!-- MODEL POPUP CONFIRM-->
<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">
                @Html.LocalizedMessage("ConfirmDeactiveStore")
            </div>
            <div class="modal-footer">
                <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button>

            </div>
        </div>
    </div>
</div>
<script>
    function Validation() {
        var businessId = $('#businessId').val();
        var contact = $('#contact').val();
        var streetAddress = $('#streetAddress').val();
        var state = $('#state').val();
        var zipcode = $('#zipcode').val();
        var city = $('#city').val();
        //---------------------------------------------------
        var check = true;
        if (businessId.length < 1) {
            $('#error-businessId').css('display', 'block');
            check = false;
        } else {
            $('#error-businessId').css('display', 'none');
        }
        if (contact.length < 1) {
            $('#error-contact').css('display', 'block');
            check = false;
        } else {
            $('#error-contact').css('display', 'none');
        }
        if (streetAddress.length < 1) {
            $('#error-streetAddress').css('display', 'block');
            check = false;
        } else {
            $('#error-streetAddress').css('display', 'none');
        }
        if (state.length < 1) {
            $('#error-state').css('display', 'block');
            check = false;
        } else {
            $('#error-state').css('display', 'none');
        }
        //-----------------------------------------------
        if (!city) {
            $('#error-city').css('display', 'block');
            check = false;
        } else {
            $('#error-city').css('display', 'none');
        }
        //-----------------------------------------------
        if (zipcode.length < 1) {
            $('#error-zipcode').css('display', 'block');
            check = false;
        } else {
            $('#error-zipcode').css('display', 'none');
        }
        return check;
    }


    $('.checkSubmit').click(function () {
        var check = Validation();
        if (check) {
            $('.checkSubmit').prop('disabled', true);
            $('#submit').click();
        }

    })
    var jsStoreItem = {};
    $(function () {

        jsStoreItem = {};
        isDismiss = "False";

        showStatus();
    });
    function dismissPopup() {

        $('#lbl-' + jsStoreItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsStoreItem["position"]);
        if (jsStoreItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsStoreItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsStoreItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }

    function confirmUpdate() {

        setStatus(jsStoreItem["position"]);
        isDismiss = "False";

    }

    function setStatus(id) {

        var element = document.getElementById(id);
        var statusStore = element.value == "true" ? true : false;
        var yesNo;
        var idStore = element.getAttribute("name");
        console.log(statusStore);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusInventory", "Inventory")',
            data: {
                id: idStore,
                status: statusStore
            },
            success: function (status) {

            },
            error: function (status) {
            }

        });
    }

    //--20150408 MaoNguyen ADD ↓

    //--20150408 MaoNguyen ADD ↑

    function showStatus() {
        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsStoreItem.position = this.getAttribute('id').toString();

                var hasActive = $('#lbl-' + jsStoreItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsStoreItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveStore")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveStore")');

                    }

                    $('#modalInactive').modal();
                }
            };

        }
    }
</script>