﻿@model SmoovPOS.UI.Models.Tax.TaxModel

<style>
    .add-tax > .col-md-6 {
        padding-left: 0px !important;
    }
</style>
@using (Html.BeginForm("addNewTax", "Tax", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    <div class="modal fade q-form" id="newTaxId" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    @* <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>*@
                    <h4 class="modal-title" id="myModalLabel">Add Tax</h4>
                </div>
                <input type="text" style="display:none" name="taxId" id="taxId" value="@Model.id">
                <input type="text" style="display:none" name="isEdit" id="isEdit" class="form-control" value="0">
                <div class="modal-body">
                    @Html.AntiForgeryToken()
                    @*<div class="validation-summary-errors">
                        <ul>
                            <li id="ErrTaxName" style="display:none">The Tax Name field is required.</li>
                            <li id="ErrTaxRate" style="display:none">The Tax Rate field is required.</li>
                            <li id="ErrStore" style="display:none">Please select at least 1 store.</li>
                            <li id="ErrServiceChargeExist" style="display:none">The Service Charge is exist</li>
                        </ul>
                    </div>*@
                    <div class="row">
                        <div class="add-tax col-md-12">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="type">Type</label>
                                    <select id="type" name="type" class="form-control" value="0">
                                        <option value="0">Tax</option>
                                        <option value="1">Service Charge</option>
                                    </select>
                                </div>
                                <span id="ErrServiceChargeExist" style="display:none" class="validation-summary-errors">The Service Charge is exist</span>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="value">Value</label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="0.00" aria-describedby="basic-addon2" name="taxRate" id="taxRate" maxlength="6" value="0.00">
                                        <span class="input-group-addon" id="basic-addon2">%</span>
                                    </div>
                                </div>
                                <span id="ErrTaxRate" style="display:none" class="validation-summary-errors">The Tax Rate field is required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 add-tax">
                            <div class="form-group">
                                <label for="name">Name</label><span style="color:red"> * </span>
                                <input type="text" class="form-control" maxlength="55" name="taxName" id="taxName">
                            </div>
                            <span id="ErrTaxName" style="display:none" class="validation-summary-errors">The Tax Name field is required.</span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <text>
                            Applied Store
                        </text><span style="color:red"> * </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class=" col-md-12 container">
                        <br>
                        @foreach (var item in Model.inventoryList)
                        {
                            <div id="@item._id"><input type="checkbox" class="storeId" name="storeId" value="@item._id" /> @item.businessID</div>
                            @*<br/>*@
                        }
                    </div>
                    <span id="ErrStore" style="display:none; padding-left:20px;" class="validation-summary-errors">Please select at least 1 store.</span>
                </div>
                <div class="modal-footer">
                    <div class="center loading" style="display:none">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    <button type="button" class="btn btn-primary" id="btn-New-Tax">Add</button>
                    <button type="submit" class="btn btn-primary" id="submit" style="display:none" name="submit">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}


