﻿<div>
      <div id="header-mail">
         <label>
          
            Hi [FirstNameOfMerchant],
        </label> <div style="margin-top:10px;">
             Welcome to SmoovPos. In order to login merchant site, you need to activate your account. Please click the following link to complete the process.
        </div> <div>
             <a href="[LinkActiveMerchant]">[LinkActiveMerchant]</a> 
        </div> <div>
          
            <div style="margin-top:10px;">
               If you did not request to have your email verified you can safely ignore this email.
            </div>  <div style="margin-top:30px;">
                  Thank you,
            </div> <div>   SmoovPos Team  </div>
        </div>
    </div>
</div>