﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.TableOrderingViewModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}
<style>
    .textbox-timing-open, .textbox-timing-split {
        width: 80px;
        margin: 0 10px;
    }

    .table tbody th {
        height: 50px;
        max-height: 42px;
        min-height: 42px;
    }
</style>
<script type="text/javascript" src="~/Content/jquery.datetimepicker.js"></script>
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />
@using (Html.BeginForm("Edit", "TableOrdering", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.SelectedBranchId)
    @Html.HiddenFor(model => model.BranchName)
    <div class="row">
        <div class="col-md-4"><h2>@Html.LocalizedLabel("TableOrderingSettings")</h2></div>
        <div class="col-md-8 queue-head-branch">
            @Html.DropDownListFor(model => model.SelectedBranchId, new SelectList(Model.ListInventory, "_id", "businessID"), new { @disabled = true, @class = "queue-list-branchs", @style = "margin-right: 10px;" })
            <input type="submit" name="btn-edit" value="@Html.LocalizedButton("Save")" class="btn btn-primary btn-save" />
            <input type="button" name="btn-cancel" value="@Html.LocalizedButton("Cancel")" class="btn btn-default btn-cancel" onclick="location.href='@Url.Action("Index", "TableOrdering", new { id = @Model.ListInventory[0]._id })';return false;" />
        </div>
    </div>

    <div class="row">
        <hr />
        <div class="col-md-3">
            <h4>@Html.LocalizedLabel("TableOrdering")</h4>
            <span>@Html.LocalizedLabel("TableOrderingDescription")</span>
        </div>
        <div class="col-md-8 col-md-offset-1">
            <div class="col-md-12">
                @Html.CheckBoxFor(model => model.AcceptTableOrdering) @Html.LocalizedLabel("AcceptTableOrdering")<br /><br />
                @*<strong>@Html.LocalizedLabel("InstructionsCustomers")</strong><br />
                @Html.TextAreaFor(model => model.TableOrderingSetting.Instructions, new { @rows = 3, @class = "form-control", @placeholder = @Html.LocalizedLabel("InstructionsCustomersPlaceHolder") })*@
            </div>
            <div class="col-md-8">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <hr />
    <div class="col-md-3">
        <h4>@Html.LocalizedLabel("AutoAcceptOrder")</h4>
        <span>@Html.LocalizedLabel("AutoAcceptOrderContent")</span>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <div class="col-md-12">
            @Html.CheckBoxFor(model => model.AllowAutoAcceptOrder) @Html.LocalizedLabel("AutoAcceptOrder")<br />
        </div>
        <div class="col-md-8">
        </div>
    </div>
    <div class="clearfix"></div>
    <hr />
    <div class="col-md-3">
        <h4>@Html.LocalizedLabel("AvailableTime")</h4>
        <span>@Html.LocalizedLabel("AvailableTimeContent")</span>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <div class="table-responsive">
            @Html.ValidationMessage("DayOfWeekSetting", new { @style = "margin: 0 23px;" })
            <table class="table" style="margin: 0 15px;">
                <thead>
                    <tr>
                        <th width="16%" class="left">@Html.LocalizedLabel("Day")</th>
                        <th width="8%" class="center">@Html.LocalizedLabel("Open")</th>
                        <th width="8%" class="center">@Html.LocalizedLabel("Split")</th>
                        <th width="8%" class="center">@Html.LocalizedLabel("Closed")</th>
                        <th width="25%" class="left" style="padding-left: 20px;">@Html.LocalizedLabel("FirstOrder")</th>
                        <th width="10%" class="center"></th>
                        <th width="25%" style="text-align: right; padding-right: 20px;">@Html.LocalizedLabel("LastOrder")</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 7; i++)
                    {

                        var listDayOfWeek = new string[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
                        var dayOfWeek = listDayOfWeek[i];

                        var option_open = Model == null || Model.ListDayOfWeekSetting == null ? false : Model.ListDayOfWeekSetting[i] == null ? false : Model.ListDayOfWeekSetting[i].Option == 0 ? true : false;
                        var option_split = Model == null || Model.ListDayOfWeekSetting == null ? false : Model.ListDayOfWeekSetting[i] == null ? false : Model.ListDayOfWeekSetting[i].Option == 1 ? true : false;
                        var option_close = Model == null || Model.ListDayOfWeekSetting == null ? false : Model.ListDayOfWeekSetting[i] == null ? false : Model.ListDayOfWeekSetting[i].Option == 2 ? true : false;
                        if (option_open == option_split == option_close == false)
                        {
                            option_close = true;
                        }
                        <tr>
                            <th width="16%">@Html.HiddenFor(model => model.ListDayOfWeekSetting[i].DayOfWeek)<label>@Html.LocalizedLabel(dayOfWeek)</label></th>
                            <th width="8%" class="center">
                                @Html.RadioButtonFor(model => model.ListDayOfWeekSetting[i].Option, 0, option_open ? new { @name = dayOfWeek, @class = "radio-option", @checked = true } : (object)new { @name = dayOfWeek, @class = "radio-option" })
                            </th>
                            <th width="8%" class="center">
                                @Html.RadioButtonFor(model => model.ListDayOfWeekSetting[i].Option, 1, option_split ? new { @name = dayOfWeek, @class = "radio-option", @checked = true } : (object)new { @name = dayOfWeek, @class = "radio-option" })
                            </th>
                            <th width="8%" class="center">
                                @Html.RadioButtonFor(model => model.ListDayOfWeekSetting[i].Option, 2, option_close ? new { @name = dayOfWeek, @class = "radio-option", @checked = true } : (object)new { @name = dayOfWeek, @class = "radio-option" })
                            </th>

                            @if (option_open)
                            {
                                <th width="25%" class="form-inline" style="text-align: left !important;">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Split_OpeningStart, new { @class = "textbox-timing-split form-control", @style = "display:none" })
                                        <label class="to-text-split" style="display:none">@Html.LocalizedLabel("To").ToString().ToLower()</label>
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Split_OpeningEnd, new { @class = "textbox-timing-split form-control", @style = "display:none" })
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Open_Opening, new { @class = "textbox-timing-open form-control left", data_val = false })
                                    </div>
                                </th>
                                <th width="10%">
                                    @*<label class="to-text">@Html.LocalizedLabel("To").ToString().ToLower()</label>*@
                                    <div class="form-group center" style="margin-bottom: -15px;">
                                        <label class="close-text" style="display:none">@Html.LocalizedLabel("Closed")</label>
                                    </div>
                                </th>
                                <th width="25%" class="form-inline" style="text-align: right !important;">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Split_ClosingStart, new { @class = "textbox-timing-split form-control", @style = "display:none" })
                                        <label class="to-text-split" style="display:none">@Html.LocalizedLabel("To").ToString().ToLower()</label>
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Split_ClosingEnd, new { @class = "textbox-timing-split form-control", @style = "display:none" })
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Open_Closing, new { @class = "textbox-timing-open form-control right", data_val = false })
                                    </div>
                                </th>
                            }
                            @if (option_split)
                            {
                                <th width="25%" class="form-inline" style="text-align: left !important;">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Split_OpeningStart, new { @class = "textbox-timing-split form-control" })
                                        <label class="to-text-split">@Html.LocalizedLabel("To").ToString().ToLower()</label>
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Split_OpeningEnd, new { @class = "textbox-timing-split form-control" })
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Open_Opening, new { @class = "textbox-timing-open form-control", @style = "display:none" })
                                    </div>
                                </th>
                                <th width="10%">
                                    @*<label class="to-text" style="display:none">@Html.LocalizedLabel("To").ToString().ToLower()</label>*@
                                    <div class="form-group center" style="margin-bottom: -15px;">
                                        <label class="close-text" style=" display:none">@Html.LocalizedLabel("Closed")</label>
                                    </div>
                                </th>
                                <th width="25%" class="form-inline" style="text-align: right !important;">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Split_ClosingStart, new { @class = "textbox-timing-split form-control" })
                                        <label class="to-text-split">@Html.LocalizedLabel("To").ToString().ToLower()</label>
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Split_ClosingEnd, new { @class = "textbox-timing-split form-control" })
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Open_Closing, new { @class = "textbox-timing-open form-control", @style = "display:none" })
                                    </div>
                                </th>
                            }
                            @if (option_close || option_close == option_split == option_open == false)
                            {
                                <th width="25%" class="form-inline" style="text-align: left !important;">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Split_OpeningStart, new { @class = "textbox-timing-split form-control", @style = "display:none" })
                                        <label class="to-text-split" style="display:none">@Html.LocalizedLabel("To").ToString().ToLower()</label>
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Split_OpeningEnd, new { @class = "textbox-timing-split form-control", @style = "display:none" })
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Open_Opening, new { @class = "textbox-timing-open form-control", @style = "display:none" })
                                    </div>
                                </th>
                                <th width="10%">
                                    @*<label class="to-text" style="display:none">@Html.LocalizedLabel("To").ToString().ToLower()</label>*@
                                    <div class="form-group center" style="margin-bottom: -15px;">
                                        <label class="close-text">@Html.LocalizedLabel("Closed")</label>
                                    </div>
                                </th>
                                <th width="25%" class="form-inline" style="text-align: right !important;">
                                    <div class="form-group">
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Split_ClosingStart, new { @class = "textbox-timing-split form-control", @style = "display:none" })
                                        <label class="to-text-split" style="display:none">@Html.LocalizedLabel("To").ToString().ToLower()</label>
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Split_ClosingEnd, new { @class = "textbox-timing-split form-control", @style = "display:none" })
                                        @Html.TextBoxFor(model => model.ListDayOfWeekSetting[i].Open_Closing, new { @class = "textbox-timing-open form-control", @style = "display:none" })
                                    </div>
                                </th>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="clearfix"></div>
    <hr />
    <div class="col-md-3">
        <h4>@Html.LocalizedLabel("NotifyMerchant")</h4>
        <span>@Html.LocalizedLabel("NotifyMerchantContent")</span>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <div class="col-md-4">
            @Html.CheckBoxFor(model => model.AllowSound) Sound<br />
        </div>
        <div class="col-md-8">
            @Html.CheckBoxFor(model => model.AllowPushNotification) Push notification<br />
        </div>
    </div>
    <div class="clearfix"></div>
    <hr />
    <div class="col-md-3">
        <h4>@Html.LocalizedLabel("NotifyCustomer")</h4>
        <span>@Html.LocalizedLabel("NotifyCustomerContent")</span>
    </div>
    <div class="col-md-8 col-md-offset-1">
        <div class="col-md-4">
            @Html.CheckBoxFor(model => model.AllowSendEmail) Email<br />
        </div>
        <div class="col-md-8">
            @Html.CheckBoxFor(model => model.AllowSendSMS) SMS<br />
        </div>
    </div>
    <hr />
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8 queue-head-branch-btm">
            @Html.DropDownListFor(model => model.SelectedBranchId, new SelectList(Model.ListInventory, "_id", "businessID"), new { @disabled = true, @class = "queue-list-branchs", @style = "margin-right: 10px;" })
            <input type="submit" name="btn-edit" value="@Html.LocalizedButton("Save")" class="btn btn-primary btn-save" />
            <input type="button" name="btn-cancel" value="@Html.LocalizedButton("Cancel")" class="btn btn-default btn-cancel" onclick="location.href='@Url.Action("Index", "TableOrdering", new { id = @Model.ListInventory[0]._id })';return false;" />
        </div>
    </div>
}
<script>
    $(".mainMenu").hide();
    $(".settingsMenu").show();

    $('form').submit(function () {
        $('.btn-save').prop('value', 'Saving');
        $('.btn-save').prop('disabled', true);
        $('.btn-cancel').prop('disabled', true);
    });

    jQuery('.textbox-timing-open').datetimepicker({
        datepicker: false,
        format: 'H:i',
        mask:true
    });

    jQuery('.textbox-timing-split').datetimepicker({
        datepicker: false,
        format: 'H:i',
        mask:true
    });

    $('.radio-option').change(function () {
        SetDisplayControl($(this).val(), $(this));
    })

    //$('.textbox-timing-open').keypress(function () {
    //    return false;
    //})

    //$('.textbox-timing-split').keypress(function () {
    //    return false;
    //})

    function SetDisplayControl(val, dom) {
        var from_group = dom.parent().siblings().children('.form-group');
        switch (val) {
            case "0":
                from_group.children('.textbox-timing-open').show(0);
                from_group.children('.close-text').hide(0);
                from_group.children('.textbox-timing-split').hide(0);
                from_group.children('.to-text-split').hide(0);
                break;
            case "1":
                from_group.children('.textbox-timing-split').show(0);
                from_group.children('.to-text-split').show(0);
                from_group.children('.textbox-timing-open').hide(0);
                from_group.children('.close-text').hide(0);
                break;
            default:
                from_group.children('.textbox-timing-open').hide(0);
                from_group.children('.close-text').show(0);
                from_group.children('.textbox-timing-split').hide(0);
                from_group.children('.to-text-split').hide(0);
                break;
        }
    }
</script>
