﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.TableOrderingViewModel
@{
    //ViewBag.Title = "Index";
    ViewBag.Title = "Table Ordering";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

<div class="alert alert-warning" role="alert" style="@(@Model.isAddNew ? "display: none;" : "display: block;")"><strong>@Html.LocalizedMessage("Warning")</strong> @Html.LocalizedMessage("AlertTableOrderingIsDisable")</div>

<div class="row">
    <div class="col-md-4"><h2>@Html.LocalizedLabel("TableOrderingSettings")</h2></div>
    @if (Model.ListInventory.Count > 0)
    {
        <div class="col-md-8 queue-head-branch">
            @Html.DropDownListFor(model => model.SelectedBranchId, new SelectList(Model.ListInventory, "_id", "businessID"), new { @class = "queue-list-branchs", @style = "margin-right: 10px;" })
            <input type="button" name="btn-edit" value="Edit" class="btn btn-primary btn-edit" 
                   onclick="location.href = '@Url.Action("Edit", "TableOrdering", new { id = Model.SelectedBranchId })'; return false;" @(@Model.isAddNew ? "" : "disabled") />
        </div>
    }
</div>

@if (Model.ListInventory.Count > 0)
{
    <div id="partial-placeholder" style="display: none;">

    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8 queue-head-branch-btm">
            @Html.DropDownListFor(model => model.SelectedBranchId, new SelectList(Model.ListInventory, "_id", "businessID"), new { @class = "queue-list-branchs", @style = "margin-right: 10px;" })
            <input type="button" name="btn-edit" value="Edit" class="btn btn-primary btn-edit" 
                   onclick="location.href = '@Url.Action("Edit", "TableOrdering", new { id = Model.SelectedBranchId })'; return false;" @(@Model.isAddNew ? "" : "disabled") />
        </div>
    </div>
}
else
{
    <span>@Html.LocalizedLabel("NoBranchForSetting")</span>
}

<script>
    $(".mainMenu").hide();
    $(".settingsMenu").show();

    change_branch($(".queue-list-branchs").val());

    $('.queue-list-branchs').change(function () {
        change_branch($(this).val());
    })

    function change_branch(selected_branch_id) {
        var selected_branch = selected_branch_id;
        $('.queue-list-branchs').val(selected_branch);
        var url = '@Url.Action("Detail", "TableOrdering", new { id = "selected_branch" })';
        url = url.replace("selected_branch", selected_branch);
        $.get(url, function (data) {
            $('#partial-placeholder').html(data);
            $('#partial-placeholder').fadeIn('fast');
            var url = '@Url.Action("Edit", "TableOrdering", new { id = "selected_branch" })';
            url = url.replace("selected_branch", selected_branch);
            $('.btn-edit').attr('onclick', 'location.href = "' + url + '"; return false;')
        })
    }
</script>
