﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.MemberPoint.MemberPointViewModel
@{
    ViewBag.Title = "MemberPoint";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

@using (Html.BeginForm("Edit", "General", FormMethod.Post, new { @encType = "multipart/form-data", @id = "formData" }))
{
<div class="q-toolsbar">
    <div class="col-md-3">
        <h3>@Html.LocalizedLabel("MemberPoint")</h3>
    </div>
    <div class="col-md-3" style="text-align:right;margin-top:30px;">
        <div class="loading" style="display:none;">
            <i class="fa fa-spinner fa-spin"></i>
        </div>
    </div>

    <div class="col-md-6">
    </div>
</div>
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

<div class="q-form">
    <input name="__RequestVerificationToken" type="hidden" value="w0ENG11Aap7FUHwlIRRtZK419-xTHhrTgLHr8f92nkzrV7uMxDeJtswYiv1yxb6YWfY3IlMB25ZmfzZ_3HL58RKYH43wSJdFa-TUfRatNQOvsWtTl_92KcWI0kr-xAq6i2ij1XEHpFgRJ9koRCg9mg2">

    <div class="form-horizontal">
        <div class="col-md-4">
            <h4>@Html.LocalizedLabel("ExchangePoint")</h4>
            <p>@Html.LocalizedLabel("ExchangePointDetail")</p>
        </div>

        <div class="col-md-8">

        </div>

        <div id="div-default">
            <strong>@Html.LocalizedLabel("AmountPoint")</strong>

            @{
                if (!string.IsNullOrEmpty(Model.Amount))
                {
                    <div style="margin-top:10px;" id="ShowMoney">
                        @Model.Currency @Model.Amount
                    </div>
                }
                else
                {
                    <div style="margin-top:10px;" id="ShowMoney">
                        You haven't setup exchange point yet.
                    </div>
                }
            }

            <div style="margin-top:10px;">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">Change</button>
            </div>
            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog" style="width:600px;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="myModalLabel">Change Rate</h4>
                        </div>

                        <div class="modal-body">
                            <div class="col-md-12" id="modalDetailMemberPoint">
                                <div class="row">
                                    @Html.Partial("~/Views/MemberPoint/MemberPointDetail.cshtml")
                                </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" onclick="submitForm()" id="btn-Save">@Html.LocalizedButton("Save")</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" id="btn-Cancel" onclick="ReloadDetail();">@Html.LocalizedButton("Cancel")</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
}
<script>
    $(".mainMenu").hide();
    $(".settingsMenu").show();

    //Save data
    function submitForm() {
        $('#btn-Save').text('Saving...');
        $('#btn-Save').prop('disabled', true);

        var form = $('#formData');

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateInfo", "MemberPoint")',

            data: form.serialize(),
            beforeSend: function () { },
            onsuccess: function () { },
            success: function (result) {
                $('#btn-Save').prop('disabled', false);
                $('#btn-Save').text('Save');
                $('#myModal').modal('hide');
                location.reload();
            },
            error: function () {
                $('#btn-Save').prop('disabled', false);
                $('#btn-Save').text('Save');
            }
        });
    }
</script>