﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.ChangePasswordMerchantManagementViewModel
@{
    ViewBag.Title = "Merchant / ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="q-form">
    @using (Ajax.BeginForm("ChangePassword", "MerchantManagement", new SmoovPOS.UI.Models.ChangePasswordMerchantManagementViewModel(), new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "formid", @encType = "multipart/form-data" }))
    {
        string dateStr = string.Empty;
        Html.AntiForgeryToken();
        @*. ------BEGIN HEADER------ *@
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model.merchantID)
            @Html.HiddenFor(model => model.userID)
            <div class="col-md-4">
                <h3>@ViewBag.Title  @Model.fullName </h3>
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="submit" class="btn btn-primary" style="margin-right:5px;">Save</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Detail", "MerchantManagement", new { id = Model.merchantID })'">Cancel</button>
            </div>
        </div>
        @*. ------END HEADER MerchantID and Full Name ------ *@
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @*5. -------BEGIN MERCHANT INFORMATION------ *@
        <div>
            @*<div>
                @Html.ValidationSummary()
            </div>*@
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("ChangePassword")</h4>
                @*<h4>Change Password</h4>*@
                <p>To reset your password.</p>
            </div>

            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-5 outer">
                        <div class="inner">
                            @*<label for="ShortName">New Password</label>*@
                            <label>@Html.LabelFor(model => model.NewPassword)</label>
                        </div>
                        <div class="inner">
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @maxlength = 100 })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="inner">
                            <label>@Html.LabelFor(model => model.ConfirmPassword)</label>
                            @*<label for="Category">Confirm</label>*@
                        </div>
                        <div class="inner">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @maxlength = 100 })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <hr />
    }

</div>
<script type="text/javascript">
    $("#formid").submit(function (e) {
        e.preventDefault();
        if ($(this).valid()) {
            $.ajax({
                type: "POST",
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function (result) {
                    //do your success logic
                    var url = '@Url.Action("Detail", "MerchantManagement", new { id = Model.merchantID })';
                    window.location.href = url;
                    return;
                },
                beforeSend: function () {
                    $('button[type=submit]').each(function () {
                        $(this).button('loading');
                    });
                    $('button[type=button], .btn-default').each(function () {
                        $(this).attr('disabled', 'disabled');
                    });
                },
                complete: function () {
                }
            });
        }
    });
</script>


