﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model Com.SmoovPOS.Model.SearchMerchantManagementModel
@{
    ViewBag.Title = "Merchant Management";
    int index = 0;
    int totalPrevious = 0;
    int totalNext = 0;

    totalNext = Model.pageCurrent * Model.limit;
    totalPrevious = totalNext - Model.limit + 1;

    if (totalNext > Model.countAll)
    {
        totalNext = Model.countAll;
    }
}

<div class="q-toolsbar">
    <div class="col-md-4">
        <h2>
            @ViewBag.Title
        </h2>
    </div>
    <div class="col-md-8">
        <div>
            <button onclick="location.href = location.href = '@Url.Action("Create", "MerchantManagement")'; return false;" class="btn btn-primary">@Html.LocalizedLabel("AddaMerchant")</button>

        </div>


    </div>
</div>

<div>
    <div class="col-md-6">
        <div id="divpaging">
        </div>
    </div>
    <div class="col-md-6">
        <div style="margin-top:20px;margin-right:-20px;">

            <div class="search-box">
                @*<input id="searchinput" type="search" class="form-control searchinput" placeholder="type something..." value="">*@
                <input type="text" results=5 name=search class="form-control" id="txtSearchButton" />
                <span id="searchclear"><i class="fa fa-times"></i></span>
                <button class="btn btn-primary" id="btnSearchButton">
                    <span class="glyphicon glyphicon-search"></span>

                </button>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover" cellspacing="0" style="padding-top:10px;width:100%;height:40px" id="listMerchant">
    <thead>
        <tr class="header_table">
            <th class="u_title">

                @if (Model.sort == "fullName")
                {
                    <a href="#" onclick="sortListing('1', 'fullName', '@Model.desc.ToString()', '@Model.fullName'); return false;">@Html.LocalizedLabel("Merchant")</a>
                    if (Model.desc)
                    {
                        <i class="fa fa-sort-up"></i>
                    }
                    else
                    {
                        <i class="fa fa-sort-down"></i>
                    }

                }
                else
                {
                    <a href="#" onclick="sortListing('1', 'fullName', '', '@Model.fullName'); return false;">@Html.LocalizedLabel("Merchant")</a>
                    <i class="fa fa-unsorted"></i>
                }
                @*<i class="glyphicon glyphicon-sort" aria-hidden="true" id="iMerchant"></i>*@
                @*<i class="fa fa-fw" id="iMerchant"></i>*@

            </th>
            @*<i class="glyphicon glyphicon-sort" aria-hidden="true" id="iMerchant"></i>*@
            @*<th class="u_title">Merchant <i class="glyphicon glyphicon-sort"></i></th>*@
            <th class="u_title">@Html.LocalizedLabel("email_Title")          </th>
            <th class="u_title">@Html.LocalizedLabel("Phone")</th>
            <th class="u_title">
                @*@Html.LocalizedLabel("servicePacketEndDate")*@
                @if (Model.sort == "servicePacketEndDate")
                {
                    <a href="#" onclick="sortListing('1', 'servicePacketEndDate', '@Model.desc.ToString()', '@Model.fullName'); return false;">@Html.LocalizedLabel("servicePacketEndDate")</a>
                    if (Model.desc)
                    {
                        <i class="fa fa-sort-up"></i>
                    }
                    else
                    {
                        <i class="fa fa-sort-down"></i>
                    }
                }
                else
                {
                    <a href="#" onclick="sortListing('1', 'servicePacketEndDate', '', '@Model.fullName'); return false;">@Html.LocalizedLabel("servicePacketEndDate")</a>
                    <i class="fa fa-unsorted"></i>
                }
            </th>
            <th class="u_title">@Html.LocalizedLabel("ServicePackage")</th>
            <th class="u_title">@Html.LocalizedLabel("Active")</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (@Model.ListMerchantManagements != null && @Model.ListMerchantManagements.Count() > 0)
            {
                string dateStr = string.Empty;
                foreach (var item in Model.ListMerchantManagements)
                {
                    <tr class=@(item.isExpiredDate ? "expiredDate" : "")>
                        <td style="padding-top:20px!important;">     @Html.ActionLink(@item.fullName, "Detail", new { id = @item.merchantID })               </td>
                        <td style="padding-top:20px!important;">                      @item.email</td>
                        <td style="padding-top:20px!important;">                      @item.phone</td>
                        <td style="padding-top:20px!important;">
                            @if (item.servicePacketEndDate != null)
                            {
                                DateTime endDate = item.servicePacketEndDate.GetValueOrDefault();
                                dateStr = endDate.ToString(SmoovPOS.Common.ConstantSmoovs.DefaultFormats.ShortDate);
                            }
                            else
                            {
                                dateStr = string.Empty;
                            }
                            @dateStr
                        </td>
                        <td style="padding-top:20px!important;">
                            <text>@item.servicePacketName</text>

                        </td>
                        <td>
                            @try
                            {
                                @*if (Convert.ToBoolean(item.status))
                                    {
                                        <input type="checkbox" id="switch-@index" class="js-switch" checked value=@item.merchantID />
                                    }
                                    else
                                    {
                                        <input type="checkbox" id="switch-@index" class="js-switch" value=@item.merchantID />
                                    }*@
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default @(item.status == true ? "active" : "") statusMerchant" id="lbl-statusActive-@index" disabled=@(!item.isVerifyLink )>
                                        @*<input type="radio" name="optionsRadios" id="@item.merchantID" value=@item.merchantID class="optionsRadios">*@
                                        @*<input type="radio" id="switch-@index" class="optionsRadios" value=@item.merchantID />*@
                                        <input type="radio" name="@item.merchantID" id="statusActive-@index" value="true" class="optionsRadios">
                                        ON

                                    </label>
                                    <label class="btn btn-default @(item.status == false ? "active" : "") statusMerchant" id="lbl-statusInActive-@index" disabled=@(!item.isVerifyLink )>
                                        @*<input type="radio" name="optionsRadios" id="@item.merchantID" value=@item.merchantID class="optionsRadios">*@
                                        @*<input type="radio" id="switch-@index" class="optionsRadios" value=@item.merchantID />*@
                                        <input type="radio" name="@item.merchantID" id="statusInActive-@index" value="false" class="optionsRadios">
                                        OFF
                                    </label>
                                    @if (!item.isVerifyLink)
                                    {
                                        @*@Html.TextBox("Unverified", new { @style = "text-align:center;" });*@
                                        @Html.Label("(Unverified)", new { @style = "text-align:center;padding-left:20px;padding-top:10px;font-weight:normal" })
                                    }

                                </div>



                            }
                            catch (Exception) { }
                        </td>
                    </tr>

                            index++;
                }
            }
            else
            {
                <tr style="width:100%">
                    <td style="width:100%;text-align:center" colspan="6">

                        @Html.LocalizedMessage("NoMerchantWasFound")
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<div class="q-toolsbar">
    <div class="col-md-6" id="divpaging2">
        @if (Model.countAll > 0)
        {
            <span class="pull-left" style=" margin-top: 27px; margin-right: 10px; ">
                <text>
                    @totalPrevious.ToString() - @totalNext.ToString() of @Model.countAll.ToString()
                </text>
            </span>
            <nav>
                <ul class="pagination">
                    @if (Model.pageGoTo > 1)
                    {
                        <li id="First">
                            <a href="#" aria-label="Previous" onclick="getInformationPaging('1', '@Model.sort', '@Model.desc.ToString()', '@Model.fullName'); return false;"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button first disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    }
                    @if (Model.TotalItemPrevious >= 1)
                    {
                        <li id="Previous">
                            <a href="#" onclick="getInformationPaging('@Model.TotalItemPrevious', '@Model.sort', '@Model.desc.ToString()', '@Model.fullName'); return false;"><span aria-hidden="true">&lsaquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button previous disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    }

                    @if (!string.IsNullOrEmpty(Model.firstKey))
                    {
                        <li id="@Model.firstKey">
                            <a href="#" onclick="getInformationPaging('@Model.firstKey', '@Model.sort', '@Model.desc.ToString()', '@Model.fullName'); return false;">@Model.firstKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.secondKey))
                    {
                        <li id="@Model.secondKey">
                            @*@Html.ActionLink(Model.secondKey, "Index", new { pageGoTo = Int32.Parse(Model.secondKey), sort = Model.sort, desc = Model.desc })*@

                            <a href="#" onclick="getInformationPaging('@Model.secondKey', '@Model.sort', '@Model.desc.ToString()', '@Model.fullName'); return false;">@Model.secondKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.thridKey))
                    {
                        <li id="@Model.thridKey">
                            @*@Html.ActionLink(Model.thridKey, "Index", new { pageGoTo = Int32.Parse(Model.thridKey), sort = Model.sort, desc = Model.desc })*@
                            <a href="#" onclick="getInformationPaging('@Model.thridKey', '@Model.sort', '@Model.desc.ToString()', '@Model.fullName'); return false;">@Model.thridKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.fourthKey))
                    {
                        <li id="@Model.fourthKey">
                            @*@Html.ActionLink(Model.fourthKey, "Index", new { pageGoTo = Int32.Parse(Model.fourthKey), sort = Model.sort, desc = Model.desc })*@
                            <a href="#" onclick="getInformationPaging('@Model.fourthKey', '@Model.sort', '@Model.desc.ToString()', '@Model.fullName'); return false;">@Model.fourthKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.fiveKey))
                    {
                        <li id="@Model.fiveKey">
                            @*@Html.ActionLink(Model.fiveKey, "Index", new { pageGoTo = Int32.Parse(Model.fiveKey), sort = Model.sort, desc = Model.desc })*@
                            <a href="#" onclick="getInformationPaging('@Model.fiveKey', '@Model.sort', '@Model.desc.ToString()', '@Model.fullName'); return false;">@Model.fiveKey</a>
                        </li>
                    }

                    @if (Model.TotalItemNext >= 1)
                    {
                        <li id="Next">
                            @*@Html.ActionLink(" > ", "Index", new { pageGoTo = Model.TotalItemNext, sort = Model.sort, desc = Model.desc })*@
                            <a href="#" onclick="getInformationPaging('@Model.TotalItemNext', '@Model.sort', '@Model.desc.ToString()', '@Model.fullName'); return false;"><span aria-hidden="true">&rsaquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button next disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    }
                    @if (Model.pageGoTo < Model.pageCount)
                    {
                        <li id="Last">
                            @*@Html.ActionLink(" Last ", "Index", new { pageGoTo = Model.pageCount, sort = Model.sort, desc = Model.desc })*@
                            <a href="#" aria-label="Next" onclick="getInformationPaging('@Model.pageCount', '@Model.sort', '@Model.desc.ToString()', '@Model.fullName'); return false;"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button last disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                    }

                </ul>
            </nav>
            @Html.HiddenFor(model => model.pageCurrent);
            @*<div>Showing page @ViewBag.PageCurrent in @Model.pageCount total page</div>*@
        }

    </div>
    <div class="col-md-6">
        <div style="float:right;margin-right:-20px;margin-top:20px;">
            <button onclick="location.href = location.href = '@Url.Action("Create", "MerchantManagement")'; return false;" class="btn btn-primary">@Html.LocalizedLabel("AddaMerchant")</button>
        </div>
    </div>
</div>

<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">
                Are you sure you want to deactivate this merchant?
            </div>
            <div class="modal-footer">
                <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button>

            </div>
        </div>
    </div>
</div>
<script>

    jsMerchantItem = {};
    isDismiss = "False";
    //var elems = document.querySelectorAll('.js-switch');
    var elems = document.querySelectorAll('.optionsRadios');
    $(function () {

        resetPaing();
        // add multiple select / deselect functionality
        $("li").each(function () {
            if (this.id.toString() == $("#pageCurrent").val()) {
                $(this).addClass("active");
            }
        });

        $('#txtSearchButton').keydown(function (event) {
            var keypressed = event.keyCode || event.which;
            if (keypressed == 13) {
                var keySearch = document.getElementById("txtSearchButton").value;
                
                // pageGoTo = Int32.Parse(Model.thridKey), sort = Model.sort, desc = Model.desc
                getInformationPaging(1, '', false, keySearch);
            }
        });

        $('#txtSearchButton').val('@Model.fullName');

        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsMerchantItem.position = this.getAttribute('id').toString();
                var hasActive = $('#lbl-' + jsMerchantItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsMerchantItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActive")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactive")');

                    }

                    $('#modalInactive').modal();
                }
            };

        }
    });

    function dismissPopup() {

        $('#lbl-' + jsMerchantItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsMerchantItem["position"]);
        if (jsMerchantItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsMerchantItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsMerchantItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }

    function confirmUpdate() {
        //setStatus(jsMerchantItem["value"], jsMerchantItem["status"]);
        setStatus(jsMerchantItem["position"]);
        isDismiss = "False";

    }


    /// <summary>
    /// Sets the status.
    /// </summary>
    /// <param name="id">The identifier.</param>
    /// <param name="statusMerchant">The status Merchant.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/9/2015-5:37 PM</datetime>
    @*function setStatus(id, idMerchant) {
        var element = document.getElementById(id);
        var statusMerchant = element.checked ? true : false;
        var yesNo;
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusMerchant", "MerchantManagement")',
            data: {
                id: idMerchant,
                status: statusMerchant
            },
            success: function (status) {
            },
            error: function (status) {
            }

        });

    }*@
    function setStatus(id) {
        var element = document.getElementById(id);

        //var statusMerchant = element.checked ? true : false;
        var statusMerchant = element.value == "true" ? true : false;
        var yesNo;
        var idMerchantManager = element.getAttribute("name");

        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusMerchant", "MerchantManagement")',
            data: {
                id: idMerchantManager,
                status: statusMerchant
            },
            success: function (status) {

                if (status) {

                }
                else {

                }
            },
            error: function (status) {
            }

        });



    }

    $(document).ready(function () {
        $("#searchclear").toggle(false);
        $("#txtSearchButton").keyup(function () {
            $("#searchclear").toggle(Boolean($(this).val()));
        });
        $("#searchclear").click(function () {

            $("#txtSearchButton").val('').focus();
            $(this).hide();
            getInformationPaging('@Model.pageGoTo', '@Model.sort', '@Model.desc', "");
        });
    });

    @*$('#txtSearchButton').change(function () {
        getInformationPaging('@Model.pageGoTo', '@Model.sort', '@Model.desc', "");
    });*@
    $('#btnSearchButton').click(function () {
        getInformationPaging('@Model.pageGoTo', '@Model.sort', '@Model.desc', "");
    });

</script>