﻿@model SmoovPOS.Entity.Models.SearchCategoryModel
@using SmoovPOS.Utility.CustomHTMLHelper
@{
    ViewBag.Title = "Categories";
    Layout = "~/Views/Shared/_LayoutNoScriptForPartial.cshtml";
    int PageDefault = int.Parse(Request["limit"] ?? Model.Paging.limit.ToString());
    int index = 0;
}
<div>

    <div class="row">
        <div class="col-md-6">
            @if (Model.Categories != null && Model.Categories.Count() > 0)
            {
                <ul class="pagination">
                    <li><a style="border: none;background-color: #fff;">@Model.Paging.totalFrom - @Model.Paging.totalTo of @Model.Paging.total</a></li>
                    <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(1,@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-double-left"></i></a></li>
                    <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo - 1),@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-left"></i></a></li>

                    @if (Model.Paging.pageGoTo > 2)
                    {
                        <li> <a href="#" onclick="GoToPage(@Model.Paging.olderKey,true)">@Model.Paging.olderKey</a></li>
                        <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                    }
                    else if (Model.Paging.pageGoTo > 1)
                    {
                        <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                    }
                    <li class="active"> <a> @Model.Paging.pageGoTo </a></li>

                    @if (Model.Paging.firstKey <= Model.Paging.LastPage)
                    {
                        <li> <a href="#" nclick="GoToPage(@Model.Paging.firstKey,true)">@Model.Paging.firstKey</a></li>
                    }
                    @if (Model.Paging.secondKey <= Model.Paging.LastPage)
                    {
                        <li> <a href="#" onclick="GoToPage(@Model.Paging.secondKey,true)">@Model.Paging.secondKey</a></li>
                    }

                    <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo + 1),@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-right"></i></a></li>
                    <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@Model.Paging.LastPage,@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-double-right"></i></a></li>

                </ul>
            }

        </div>
        <div class="col-md-6" style="margin: 20px 0;">
            <div class="input-group">
                <input type="text" name="text" id="text" class="form-control" value="@Model.Paging.text" onkeypress="$('#searchclear').show(); if ($.browser.mozilla){  $('#type').css('margin-left','-4px');}" placeholder="Search category">
                <span id="searchclear" style="display: none;"><i class="fa fa-times"></i></span>
                <input type="hidden" id="type" name="type" value="title" />
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" onclick="Searching()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr class="header_table">
                <th style="width: 50px;">
                    <input type="checkbox" id="selectall" />
                </th>
                <th class="u_title">
                    @Html.ActionLink("Category", "Index", new { sort = "title", type = @Model.Paging.type, text = Model.Paging.text, pageGoto = Model.Paging.pageGoTo, limit = Model.Paging.limit, desc = Model.Paging.desc ? false : true })
                    @if (Model.Paging.sort == "product")
                    {
                        if (Model.Paging.desc)
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                        }
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                    }
                </th>
                <th class="u_title" style="text-transform: none;">
                    @Html.LocalizedLabel("NoOfProduct")
                </th>
                <th class="u_title">
                    @Html.LocalizedLabel("description")
                </th>
                <th class="u_title">
                    @Html.LocalizedLabel("Status")
                </th>
            </tr>
        </thead>
        @if (Model.Categories != null && Model.Categories.Count() > 0)
        {
            foreach (var item in Model.Categories)
            {
                if (item.display)
                {
                    <tr>
                        <td style="width: 50px;">
                            <input type="checkbox" class="case" name="case" value=@item._id />
                        </td>
                        <td>
                            @try
                            {
                                @Html.ActionLink(item.title.ToString(), "Detail", new { id = item._id })
                            }
                            catch (Exception) { }


                        </td>
                        <td>
                            @(item.arrayProduct != null ? item.arrayProduct.Count() : 0)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @try
                            {

                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default @(item.status == true ? "active" : "") statusMerchant" id="lbl-statusActive-@index">
                                        <input type="radio" name="@item._id" id="statusActive-@index" value="true" class="optionsRadios">
                                        @Html.LocalizedLabel("ON")
                                    </label>
                                    <label class="btn btn-default @(item.status == false ? "active" : "") statusMerchant" id="lbl-statusInActive-@index">

                                        <input type="radio" name="@item._id" id="statusInActive-@index" value="false" class="optionsRadios">
                                        @Html.LocalizedLabel("OFF")
                                    </label>


                                </div>
                            }
                            catch { }
                        </td>


                    </tr>
                            index++;
                }
            }
        }
        else
        {
            <tr style="width:100%">
                <td style="width:100%;text-align:center" colspan="5">
                    @Html.LocalizedMessage("NoResultWasFound")
                </td>
            </tr>
        }


    </table>

    <div class="row">
        <div class="col-md-6">
            @if (Model.Categories != null && Model.Categories.Count() > 0)
            {
                <ul class="pagination">
                    <li><a style="border: none;background-color: #fff;">@Model.Paging.totalFrom - @Model.Paging.totalTo of @Model.Paging.total</a></li>
                    <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(1,@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-double-left"></i></a></li>
                    <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo - 1),@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-left"></i></a></li>

                    @if (Model.Paging.pageGoTo > 2)
                    {
                        <li> <a href="#" onclick="GoToPage(@Model.Paging.olderKey,true)">@Model.Paging.olderKey</a></li>
                        <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                    }
                    else if (Model.Paging.pageGoTo > 1)
                    {
                        <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                    }
                    <li class="active"> <a> @Model.Paging.pageGoTo </a></li>

                    @if (Model.Paging.firstKey <= Model.Paging.LastPage)
                    {
                        <li> <a href="#" onclick="GoToPage(@Model.Paging.firstKey,true)">@Model.Paging.firstKey</a></li>
                    }
                    @if (Model.Paging.secondKey <= Model.Paging.LastPage)
                    {
                        <li> <a href="#" onclick="GoToPage(@Model.Paging.secondKey,true)">@Model.Paging.secondKey</a></li>
                    }

                    <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo + 1),@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-right"></i></a></li>
                    <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@Model.Paging.LastPage,@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-double-right"></i></a></li>

                </ul>
            }

        </div>
    </div>
</div>


<script>

    $(function () {



        //---------------- STATUS ACTIVE/ INACTIVE
        jsCustomerItem = {};
        isDismiss = "False";
        var elems = document.querySelectorAll('.optionsRadios');
        // console.log(elems);
        showStatus();
        //---------------- END STATUS ACTIVE/ INACTIVE
        // add multiple select / deselect functionality
        $("#selectall").click(function () {
            $('.case').prop('checked', this.checked);
        });
        // if all checkbox are selected, check the selectall checkbox
        $(".case").click(function () {

            if ($(".case").length == $(".case:checked").length) {
                $("#selectall").prop("checked", true);

            } else {
                $("#selectall").prop("checked", false);
            }

        });
        var elems = document.querySelectorAll('.optionsRadios');
        // console.log(elems);
        showStatus();
    });
    function dismissPopup() {

        $('#lbl-' + jsCategoryItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsCategoryItem["position"]);
        if (jsCategoryItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsCategoryItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsCategoryItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }
    function confirmUpdate() {

        setStatus(jsCategoryItem["position"]);
        isDismiss = "False";

    }
    function setStatus(id) {

        var element = document.getElementById(id);
        var statusCustomer = element.value == "true" ? true : false;
        var yesNo;
        var idCustomer = element.getAttribute("name");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusCategory", "Category")',
            data: {
                id: idCustomer,
                status: statusCustomer
            },
            success: function (status) {


            },
            error: function (status) {
            }

        });
    }

    function showStatus() {
        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsCategoryItem.position = this.getAttribute('id').toString();

                var hasActive = $('#lbl-' + jsCategoryItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsCategoryItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveCategory")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveCategory")');

                    }

                    $('#modalInactive').modal();
                }
            };

        }
    }
    /*
     * Call to controller set active/inactive Category
     * checkActive() : multi active/inactive
     *
     */
    @*function setStatus(id, statusCategory) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusCategory", "Category")',
            data: {
                id: id,
                status: statusCategory
            },
            success: function (status) {
                if (status == false) {
                    alert('please try again.');
                }
            }
        })
    }*@
    function timedRefresh(timeoutPeriod) {
        setTimeout(function () {
            location.reload(true);
        }, timeoutPeriod);
    }
    function GoToPage(page,bool) {
        if(bool){
            var link = "@(Url.Action("Index","Category"))";
            location.href = link +"/Index?sort=" + "@Model.Paging.sort" + "&type=" + $('#type').val() + "&text=" + $('#text').val() + "&pageGoTo=" + page + "&limit=" + @PageDefault;
        }
    }
    function Searching() {
        var link = "@(Url.Action("Index","Category"))";
        location.href = link +"/Index?sort="+ "@Model.Paging.sort" + "&type=" + $('#type').val() + "&text=" + $('#text').val() + "&pageGoTo=" + 1 + "&limit=" + @PageDefault;
    }
    $(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            Searching();
        }
    });
    $( "#searchclear" ).click(function() {
        var link = "@(Url.Action("Index","Category"))";
        location.href = link;
    });
    var input = $('#text');
    input.on('keydown', function() {
        var key = event.keyCode || event.charCode;
        if( key == 8 || key == 46 ){
            var length= $('#text').val().length-1;
            if(length==0){
                $('#searchclear').hide();
            }
        }
    });
    var text= "@Model.Paging.text";
    if(text.length>0){
        $('#searchclear').show();
    }
    setInterval(function(){
        var length= $('#text').val().length;
        if(length==0){
            $('#searchclear').hide();
        }
    },1000)

    function checkActive(obj) {
        var yesNo;
        yesNo =  (obj == 1 || obj==3)?true:false;
        var status =  document.getElementById("statusMultiCategory").value;
        var delChecked = [];

        $("input:checkbox[name=case]:checked").each(function () {
            delChecked.push($(this).val());
        });

        if (delChecked.length == 0) {
            // alert('Please select item !');
            $('#modalSelect').modal();
        }
        else {
            document.getElementById("statusMultiCategory").value =yesNo;
            if (yesNo) {
                $('#modalInactiveMulti').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveCategory")');

            } else {
                $('#modalInactiveMulti').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveCategory")');

            }
            $('#modalInactiveMulti').modal();
        }

    }
    /// <summary>
    /// Updates the status multi.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/10/2015-4:11 PM</datetime>
    function updateStatusMulti()
    {
        var page=1 ;
        if(@Model.Paging.pageGoTo >1)
        {
            page= @Model.Paging.pageGoTo -1 ;
        }



        //---------------------
        var sort="@Model.Paging.sort";
        var type =$('#type').val();
        var text = $('#text').val();
        var pageGoTo = page;
        var limit = @PageDefault;
        //--------------
        var status =  document.getElementById("statusMultiCategory").value;
        var delChecked = [];

        $("input:checkbox[name=case]:checked").each(function () {
            delChecked.push($(this).val());
        });

        if (delChecked.length == 0) {
            // alert('Please select item !');
            $('#modalSelect').modal();
        }
        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("updateStatusMulti", "Category")',
                data: {
                    arrId: delChecked,
                    status: status,
                    sort :sort,
                    type: type,
                    text: text,
                    limit :limit
                },
                success: function (data) {
                    $("#divPartialListing").html(data);
                    //location.reload(true);
                }
            })
        }
    }
</script>