﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.CategoryViewModel

@{
    //ViewBag.Title = "Category";
    ViewBag.Title = "New Category";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    // String urlImgDynamic = "https://s3-ap-southeast-1.amazonaws.com/smoovturnkey/delete-ico.png";
    String urlImgDefault = Url.Content("~/Content/Images/imageDefault.png");
}

@using (Html.BeginForm("Create", "Category", FormMethod.Post, new { @encType = "multipart/form-data" }))
{

    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3>@ViewBag.Title / New Category</h3>
        </div>
        <div class="col-md-8">
            <button type="submit" class="btn btn-primary submit" style="display:none">@Html.LocalizedButton("Create")</button>
            <button type="submit" name="checkSubmit" class="btn btn-primary checkSubmit">@Html.LocalizedButton("Save")</button>
            <button onclick="location.href='@Url.Action("Index", "Category")';return false;" class="btn btn-default" style="margin-right:5px;">@Html.LocalizedButton("Cancel")</button>
        </div>
    </div>
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="q-form">

        @Html.AntiForgeryToken()

        <div class="form-horizontal">


            @Html.ValidationSummary(true)

            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("InformationDetail")</h4>
                <p>@Html.LocalizedLabel("InformationDetailDescript")</p>
                @*<div class="">
                    <select id="status" name="status" class="selectStatus">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>*@
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.categoryName)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.categoryName, new { @class="form-control", @id = "categoryName",  @name = "categoryName", @maxlength = "100"})
                            @Html.ValidationMessageFor(model => model.categoryName)
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.description)
                        </div>
                        <div class="inner">
                            @Html.TextAreaFor(model => model.description, new { @class="form-control", @id="description", @name="description", @rows="5", @maxlength="300"})
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        <div class="form-horizontal">

            <div class="col-md-4">
                <div class="inner">
                    <h4>@Html.LocalizedLabel("Image")</h4>
                    <p>@Html.LocalizedLabel("ImageRepresentsForAllProduct")</p>                
                </div>
            </div>
            <div class="col-md-8">

                <div class="form-group">
                    <div class="col-md-4 outer">
                        <div class="inner">
                        </div>
                        <div class="inner">
                            <div id="uploadPreviewlogo">
                                <div id="group-image">
                                    <input id=" " type="hidden" value="" name="logoImg">
                                </div>
                            </div>
                            <div id="lbl_image">
                                <img src="@urlImgDefault" width="263" height="170" style="border: 1px solid #E3E3E3;border-radius:4px" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 outer">
                        <div class="inner">
                            <input type="text" id="listImageSave" name="listImageSave" style="display:none" />
                            <input type="file" name="image" id="choose" style="display:none" />
                            <label id="upfile1" style="cursor:pointer;margin-top:53px;" class="upfile1">@Html.LocalizedLabel("ChooseFile")</label>
                            <p>@Html.LocalizedLabel("MBSizeLimit")</p>
                            <label id="Errendfile" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("LimitFileImage4MB")</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ACTIVE / INACTIVE-->
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Status")</h4>
                <p>@Html.LocalizedLabel("ControlWhetherThisCategory")</p>
            </div>
            <div class="col-md-8">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default active statusMerchant" id="lbl-statusActive-0">
                        <input type="radio" name="status" id="statusActive-0" value="true" class="optionsRadios">
                        @Html.LocalizedLabel("ON")

                    </label>
                    <label class="btn btn-default statusMerchant" id="lbl-statusInActive-0">
                        <input type="radio" name="status" id="statusInActive-0" value="false" class="optionsRadios">
                        @Html.LocalizedLabel("OFF")
                    </label>
                </div>
                <input id="statusCategory" name="statusCategory" type="hidden" value="true">
            </div>
        </div>

    </div>
    <div class="clearfix">

    </div>
    <div class="q-toolsbar">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <button type="submit" class="btn btn-primary submit" style="display:none">@Html.LocalizedButton("Create")</button>
            <button type="submit" name="checkSubmit" class="btn btn-primary checkSubmit">@Html.LocalizedButton("Save")</button>
            <button onclick="location.href='@Url.Action("Index", "Category")';return false;" class="btn btn-default" style="margin-right:5px;">@Html.LocalizedButton("Cancel")</button>
        </div>
    </div>

     <!-- MODEL POPUP CONFIRM-->
    <div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 380px;">
                <div class="modal-body">
                    @Html.LocalizedMessage("ConfirmDeactiveCategory")
                </div>
                <div class="modal-footer">
                    <button onclick="confirmUpdate()" class="btn btn-default-smoov" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button>
                    <button type="button" class="btn btn-smoov" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button>

                </div>
            </div>
        </div>
    </div>
      <!-- END MODEL POPUP CONFIRM-->
}

<script>
    //upload image
    var isUpload = false;
    $("#upfile1").click(function () {
        // $("#choose").trigger('click');
        if (!isUpload) {
            $("#choose").click();
        }
    });
    $("#choose").change(function () {
        var formData = new FormData();
        var file = document.getElementById("choose").files[0];
        if (file.size && file.size > (4 * 1024 * 1024)) {
            $('#Errendfile').css('display', 'block');

            return false;
        } else {
            $('#Errendfile').css('display', 'none');

            formData.append("FileUpload", file);
            formData.append("imageType", '@SmoovPOS.Common.ConstantSmoovs.Image_Type.Big');
            formData.append("width", '263');
            formData.append("height", '170');
            if ($('#choose').val() != "") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UploadImage", "Upload")',
                    data: formData,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        $("#group-image").remove();
                        $("#uploadPreviewlogo").html(data);
                        $("#showImg").hide();
                        $(".lbl_image").css('display', 'none');
                        var lbl_image = document.getElementById("lbl_image");
                        if (lbl_image != null)
                            lbl_image.setAttribute('style', 'display:none');
                        document.getElementById("choose").value = null; // xoa de co the up image trung
                    },
                    error: function () {
                        isUpload = false;
                    },
                    beforeSend: function () {
                        isUpload = true;
                        $('#upfile1').button('loading');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'margin-top:53px;');
                    },
                    complete: function () {
                        isUpload = false;
                        $('#upfile1').button('reset');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'cursor:pointer;margin-top:53px;');
                    }
                });
            }
        }

    });

    function deleteImage() {
        //$("#group-image").remove();
        //var lbl_image = document.getElementById("lbl_image");
        //lbl_image.setAttribute('style', 'display:important');
        var img = document.getElementById("group-image");
        if (img != null)
            img.parentNode.removeChild(img);

        document.getElementById("logoImg").value = null;

        var lbl_image = document.getElementById("lbl_image");
        if (lbl_image != null)
            lbl_image.setAttribute('style', 'display:important');
    }

    $(function () {
       
        $('.checkSubmit').click(function () {
            $('.submit').prop('disabled', true);
            var listImage = document.getElementById('listImageSave');
            listImage.value = getListImage();
            console.log(listImage.value);
            var categoryName = $('#categoryName').val();
            if (categoryName == "") {
                $('.error-message').show();
            } else {
                $('.submit').prop('disabled', false);
                $('.error-message').hide();
                $('.submit').click();
            }

        })
    });

    /*
    * - check Safari to upload image
    * - Nguyen Anh Dao
    * - Created: 26/11/2014
    */
    $(document).ready(function () {

        //---------------- STATUS ACTIVE/ INACTIVE
        jsCategoryItem = {};
        isDismiss = "False";
        var elems = document.querySelectorAll('.optionsRadios');
        console.log(elems);
        showStatus();
        //---------------- END STATUS ACTIVE/ INACTIVE
        //----------------- check Safari to upload image
        var ua = navigator.userAgent.toLowerCase();
        var check = function (r) {
            return r.test(ua);
        };
        var isChrome = check(/chrome/);
        var isSafari = !isChrome && check(/safari/);
        var isSafari2 = isSafari && check(/applewebkit\/4/); // unique to
        // Safari 2
        var isSafari3 = isSafari && check(/version\/3/);
        var isSafari4 = isSafari && check(/version\/4/);
        if (isSafari || isSafari2 || isSafari3 || isSafari4) {
            $('#choose').css('display', '');
            $('#upfile1').css('display', 'none');
        }
        //----------------- check Safari to upload image

    });

    /*
    * - check when user select image
    * - call function UploadImage and get data to append into preview
    * - Nguyen Anh Dao
    * - Created: 27/11/2014
    */
    var numCount = 0;
    var totalImage = 0;

    /*
     * - check valid Link image
     * - Nguyen Anh Dao
     * - Created: 27/11/2014
     */
    function is_valid_url(url) {
        return url.match(/^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/);
    }
    /*
    * - check and get Link image
    * - put link image to inputLinkS3 to save database
    * - Nguyen Anh Dao
    * - Created: 27/11/2014
    */
    function getListImage() {
        var images = [];
        $('.category-image').each(function () {
            var url = $(this).attr('src');
            if (is_valid_url(url)) {
                images.push($(this).attr('src'));

            }

        });
        //    console.log(images);
        return images;
    }

    /// <summary>
    /// Dismisses the popup.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function dismissPopup() {

        $('#lbl-' + jsCategoryItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsCategoryItem["position"]);
        if (jsCategoryItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsCategoryItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsCategoryItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }      
    }
    /// <summary>
    /// Confirms the update.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function confirmUpdate() {
        $('.submit').prop('disabled', true);
        setStatus(jsCategoryItem["position"]);
        isDismiss = "False";

        console.log('#lbl-' + jsCategoryItem["position"]);
        $('#lbl-' + jsCategoryItem["position"]).addClass("active");
        $('#modalInactive').modal('toggle');
    }
    /// <summary>
    /// Sets the status.
    /// </summary>
    /// <param name="id">The identifier.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function setStatus(id) {

        var element = document.getElementById(id);
        var statusCategory = element.value == "true" ? true : false;
        document.getElementById("statusCategory").value = statusCategory;
    }

    /// <summary>
    /// Shows the status.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/2/2015-6:25 PM</datetime>
    function showStatus() {
        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsCategoryItem.position = this.getAttribute('id').toString();

                var hasActive = $('#lbl-' + jsCategoryItem.position).hasClass('active');
                var statusCategory = e.value == "true" ? true : false;
                document.getElementById("statusCategory").value = statusCategory;
                if (!hasActive) {
                   // $('#modalInactive').modal();
                    isDismiss = "True";
                    jsCategoryItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveCategory")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveCategory")');

                    }

                  //  $('#modalInactive').modal();
                }
            };

        }
    }
</script>