﻿@model Com.SmoovPOS.Entity.Category
@using SmoovPOS.Utility.CustomHTMLHelper
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    String urlImgDefault = Url.Content("~/Content/Images/imageDefault.png");
    string status = string.Empty;    
}
@Html.AntiForgeryToken()
<style>
    .none {
        padding-left : 0px;
    }
</style>
<div class="q-toolsbar">
    <div class="col-md-4">
        <h3>Category / @Model.title</h3>
    </div>
    <div class="col-md-8">
        <button onclick="location.href='@Url.Action("Edit", "Category", new { id = Model._id})';return false;" class="btn btn-primary">Edit</button>
        <button onclick="location.href='@Url.Action("Index", "Category")';return false;" class="btn btn-default" style="margin-right:5px;">Close</button>
    </div>
</div>
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
<div class="form-horizontal">

    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model._id)


    <div class="col-md-4">
        <h4>@Html.LocalizedLabel("InformationDetail")</h4>
        <p>@Html.LocalizedLabel("WriteANameAndDescriptionCategory")</p>       
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-3 none">
                <label for="categoryName"><b>@Html.LocalizedLabel("CategoryName")</b></label>
            </div>
            <div class="col-md-9">
                @Model.title
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 none">
                <label for="description"><b>@Html.LocalizedLabel("description")</b></label>
            </div>
            <div class="col-md-9">
               @(Html.Raw(Model.description))
            </div>
        </div>
      
    </div>

    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

    <div class="col-md-4">
        <h4>Image</h4>
        <p>@Html.LocalizedLabel("ImageRepresentsForAllProduct")</p> 
    </div>
    <div class="col-md-8">
        <div class="form-group">
            @{
                //string urlImage = urlImgDefault;
                var imageUrl = urlImgDefault;
                System.Drawing.Size size = new System.Drawing.Size(0, 0);
                System.Drawing.Image image = null;
                if (string.IsNullOrEmpty(Model.image) || imageUrl == Model.image)
                {
                    imageUrl = urlImgDefault;

                    try
                    {
                        image = (System.Drawing.Bitmap)System.Drawing.Image.FromFile(Server.MapPath(imageUrl));
                    }
                    catch
                    {
                        image = null;
                    }
                }
                else
                {
                    Uri uri = null;
                    if (Uri.TryCreate(Model.image, UriKind.Absolute, out uri))
                    {
                        imageUrl = Model.image;
                    }

                    try
                    {
                        WebRequest request = WebRequest.Create(imageUrl);
                        WebResponse response = request.GetResponse();
                        image = System.Drawing.Image.FromStream(response.GetResponseStream());
                    }
                    catch
                    {
                        image = null;
                    }
                }
                if (image != null)
                {
                    size.Width = image.Width;
                    size.Height = image.Height;
                    size = Com.SmoovPOS.Common.Controllers.PhotosController.CalculateDimensions(size, SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_Resize, SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_Resize);
                }
                <div style="min-width:263px;height:auto;text-align:left;background-color: white;">
                    @if (size.Width > 0 && size.Height > 0)
                    {

                        <img src="@imageUrl" width="@size.Width" height="@size.Height" class="img-rounded category-image" id="thumbnil" style="border: 1px solid #E3E3E3;border-radius:4px;border-style: solid;border-width: 1px;position: relative;" />
                    }
                    else
                    {
                        <img src="@imageUrl" width="263" height="170" id="thumbnil" style="border: 1px solid #E3E3E3;border-radius:4px;border-style: solid;border-width: 1px;position: relative;" class="img-rounded category-image"  />
                    }
                </div>

            }
        </div>

    </div>
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="col-md-4">
        <div>
            <h4>Product</h4>
        </div>
        <div>
            <span id="spanProduct">
                There is @{
                    if (Model.arrayProduct != null)
                    {
                        if (Model.arrayProduct.Count == 1)
                        {
                            <text> 1 product </text>
                        }
                        else if (Model.arrayProduct.Count > 1)
                        {
                            @Model.arrayProduct.Count  <text> products </text>
                        }
                        else
                        {
                            <text>not product </text>
                        }
                    }
                    else
                    {
                        <text>not product </text>
                    }
                }in this category.
            </span>
        </div>
    </div>
    <div class="col-md-8">
        <div class="form-group" style="margin-top:14px;">
            <table class="table">
                @if (Model.arrayProduct.Count()>0)
                {
                    <thead>
                        <tr>
                            <th style="width:200px">@Html.LocalizedLabel("Name")</th>
                            <th>@Html.LocalizedLabel("description")</th>
                         
                        </tr>
                    </thead>
                    int i = -1;
                    foreach (var item in Model.arrayProduct)
                    {
                        i++;
                        <tr>
                            <td>
                                <a href="@Url.Action("ViewDetail", "Product", new { id = item.idProduct })" class="elements"><span>@item.name</span></a>
                            </td>
                            <td>        
                                <span id="@i">@(Html.Raw(item.description))</span>                                               
                            </td>
                        </tr>
                    }
                }

            </table>



        </div>

    </div>
    <!-- ACTIVE / INACTIVE-->
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="form-horizontal">
        <div class="col-md-4">
            <h4>@Html.LocalizedLabel("Status")</h4>
            <p>@Html.LocalizedLabel("ControlWhetherThisCategory")</p>
        </div>
        <div class="col-md-8">
            @if (Model.status)
            {
                status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Active;
            }
            else
            {
                status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Inactive;
            }
            @if (Model.status)
            {
                <span style="color:green;">@Html.DisplayFor(model => status)</span>
            }
            else
            {
                <span style="color:red;">@Html.DisplayFor(model => status)</span>
            }
        </div>
    </div>

</div>
<!-- FOOTER-->
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
<div class="clearfix"></div>
<div class="q-toolsbar">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-8">
        <button onclick="location.href='@Url.Action("Edit", "Category", new { id = Model._id})';return false;" class="btn btn-primary">Edit</button>
        <button onclick="location.href='@Url.Action("Index", "Category")';return false;" class="btn btn-default" style="margin-right:5px;">Close</button>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    for(i=0;i<=@Model.arrayProduct.Count();i++){
        var regex = /(&nbsp;|<([^>]+)>)/ig
     ,   body = $('#'+i).text()
    ,   result = body.replace(regex, "");
        $('#'+i).text(result);
    }
</script>
