﻿@model SmoovPOS.Entity.Models.SearchCategoryModel
@using SmoovPOS.Utility.CustomHTMLHelper
<style>
    input, select, textarea {
        max-width: none;
    }

    span#searchclear {
        position: absolute;
        right: 55px;
        top: 7px;
        cursor: pointer;
    }

    .exampleone {
        -moz-appearance: toolbarbutton;
    }
</style>

@{
    //ViewBag.Title = "Categories";
    ViewBag.Title = "Categories Management";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    int PageDefault = int.Parse(Request["limit"] ?? Model.Paging.limit.ToString());
    //int index = 0;
}

<div class="alert alert-warning" role="alert" style="@(@Model.isAddNew ? "display: none;" : "display: block;")"><strong>@Html.LocalizedMessage("Warning")</strong> @Html.LocalizedMessage("AlertCategoryCountIsLimited")</div>

<div class="q-toolsbar">
    <div class="col-md-4">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="col-md-8">
        <button onclick="location.href='@Url.Action("Create", "Category")';return false;" class="btn btn-primary" style="margin-right:10px" @(@Model.isAddNew ? "" : "disabled")>@Html.LocalizedButton("NewCategory")</button>
        @*<button class="btn btn-smoov" id="1" onclick="checkActive(this.id);" style="margin-right:5px;">@Html.LocalizedButton("Activate")</button>
        <button class="btn btn-smoov" id="2" onclick="checkActive(this.id);" style="margin-right:5px;">@Html.LocalizedButton("Deactivate")</button>*@
        <div class="btn-group" data-toggle="buttons">
            <label id="1" onclick="checkActive(this.id);" class="btn btn-smoov">
                <input type="radio" value="true">
                @Html.LocalizedButton("Activate")

            </label>
            <label class="btn btn-smoov" id="2" onclick="checkActive(this.id);">

                <input type="radio" value="false" class="btn btn-smoov">
                @Html.LocalizedButton("Deactivate")

            </label>
        </div>
        <input id="statusMultiCategory" name="statusMultiCategory" type="hidden">
    </div>
</div>
<div class="q-clear"></div>

<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

<div id="divPartialListing">
  @Html.Partial("~/Views/Category/CategoryListing.cshtml", Model)
</div>





<!-- FOOTER -->

<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
<div class="q-toolsbar">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <button onclick="location.href='@Url.Action("Create", "Category")';return false;" class="btn btn-primary" style="margin-right:10px" @(@Model.isAddNew ? "" : "disabled")>@Html.LocalizedButton("NewCategory")</button>
        @*<button class="btn btn-smoov" id="3" onclick="checkActive(this.id);" style="margin-right:5px;">@Html.LocalizedButton("Activate")</button>
        <button class="btn btn-smoov" id="4" onclick="checkActive(this.id);" style="margin-right:5px;">@Html.LocalizedButton("Deactivate")</button>*@
        <div class="btn-group" data-toggle="buttons">
            <label id="3" onclick="checkActive(this.id);" class="btn btn-smoov">
                <input type="radio" value="true">
                @Html.LocalizedButton("Activate")

            </label>
            <label class="btn btn-smoov" id="4" onclick="checkActive(this.id);">

                <input type="radio" value="false" class="btn btn-smoov">
                @Html.LocalizedButton("Deactivate")

            </label>
        </div>
    </div>
</div>
<!-- END FOOTER -->

<!-- MODEL POPUP CONFIRM -->
<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">
                @Html.LocalizedMessage("ConfirmDeactiveCategory")
            </div>
            <div class="modal-footer">
                <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedButton("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedButton("No")</button>

            </div>
        </div>
    </div>
</div>
<!-- END MODEL POPUP CONFIRM -->
<!-- MODEL POPUP CONFIRM MULTI-->
<div class="modal fade" id="modalInactiveMulti" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-body">
                @Html.LocalizedMessage("ConfirmDeactiveCategory")
            </div>
            <div class="modal-footer">
                <button onclick="updateStatusMulti()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedButton("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedButton("No")</button>

            </div>
        </div>
    </div>
</div>
<!-- END MODEL POPUP CONFIRM MULTI-->
<!-- MODEL POPUP Select-->
<div class="modal fade" id="modalSelect" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-body">
                @Html.LocalizedMessage("PleaseSelectItem")
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default-smoov" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedButton("OK")</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODEL POPUP Select -->


<script language="javascript">
    jsCategoryItem = {};
    isDismiss = "False";
   
   
    $(function () {

        

        //---------------- STATUS ACTIVE/ INACTIVE
        jsCustomerItem = {};
        isDismiss = "False";
        var elems = document.querySelectorAll('.optionsRadios');
        // console.log(elems);
        showStatus();
        //---------------- END STATUS ACTIVE/ INACTIVE
        // add multiple select / deselect functionality
        $("#selectall").click(function () {
            $('.case').prop('checked', this.checked);
        });
        // if all checkbox are selected, check the selectall checkbox
        $(".case").click(function () {

            if ($(".case").length == $(".case:checked").length) {
                $("#selectall").prop("checked", true);

            } else {
                $("#selectall").prop("checked", false);
            }

        });
        var elems = document.querySelectorAll('.optionsRadios');
        // console.log(elems);
        showStatus();
    });
    function dismissPopup() {

        $('#lbl-' + jsCategoryItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsCategoryItem["position"]);
        if (jsCategoryItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsCategoryItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsCategoryItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }
    function confirmUpdate() {

        setStatus(jsCategoryItem["position"]);
        isDismiss = "False";

    }
    function setStatus(id) {

        var element = document.getElementById(id);
        var statusCustomer = element.value == "true" ? true : false;
        var yesNo;
        var idCustomer = element.getAttribute("name");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusCategory", "Category")',
            data: {
                id: idCustomer,
                status: statusCustomer
            },
            success: function (status) {


            },
            error: function (status) {
            }

        });
    }

    function showStatus() {
        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsCategoryItem.position = this.getAttribute('id').toString();

                var hasActive = $('#lbl-' + jsCategoryItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsCategoryItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveCategory")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveCategory")');

                    }

                    $('#modalInactive').modal();
                }
            };

        }
    }

    function timedRefresh(timeoutPeriod) {
        setTimeout(function () {
            location.reload(true);
        }, timeoutPeriod);
    }
    function GoToPage(page,bool) {
        if(bool){
            var link = "@(Url.Action("Index","Category"))";
            location.href = link +"/Index?sort=" + "@Model.Paging.sort" + "&type=" + $('#type').val() + "&text=" + $('#text').val() + "&pageGoTo=" + page + "&limit=" + @PageDefault;
        }
    }
    function Searching() {
        var link = "@(Url.Action("Index","Category"))";
        location.href = link +"/Index?sort="+ "@Model.Paging.sort" + "&type=" + $('#type').val() + "&text=" + $('#text').val() + "&pageGoTo=" + 1 + "&limit=" + @PageDefault;
    }
    $(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            Searching();
        }
    });
    $( "#searchclear" ).click(function() {
        var link = "@(Url.Action("Index","Category"))";
        location.href = link;
    });
    var input = $('#text');
    input.on('keydown', function() {
        var key = event.keyCode || event.charCode;
        if( key == 8 || key == 46 ){
            var length= $('#text').val().length-1;
            if(length==0){
                $('#searchclear').hide();
            }
        }
    });
    var text= "@Model.Paging.text";
    if(text.length>0){
        $('#searchclear').show();
    }
    setInterval(function(){
        var length= $('#text').val().length;
        if(length==0){
            $('#searchclear').hide();
        }
    },1000)

    function checkActive(obj) {
        var yesNo;
        yesNo =  (obj == 1 || obj==3)?true:false;
        var status =  document.getElementById("statusMultiCategory").value;
        var delChecked = [];

        $("input:checkbox[name=case]:checked").each(function () {
            delChecked.push($(this).val());
        });

        if (delChecked.length == 0) {
            // alert('Please select item !');
            $('#modalSelect').modal();
        }
        else {
            document.getElementById("statusMultiCategory").value =yesNo;
            if (yesNo) {
                $('#modalInactiveMulti').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveCategory")');

            } else {
                $('#modalInactiveMulti').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveCategory")');

            }
            $('#modalInactiveMulti').modal();
        }
    }
    /// <summary>
    /// Updates the status multi.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/10/2015-4:11 PM</datetime>
    function updateStatusMulti()
    {
      
        var sort="@Model.Paging.sort";
        var type =$('#type').val();
        var text = $('#text').val();
        var pageGoTo =  @Model.Paging.pageGoTo;
        var limit = @PageDefault;
            //--------------
        var status =  document.getElementById("statusMultiCategory").value;
        var delChecked = [];

        $("input:checkbox[name=case]:checked").each(function () {
            delChecked.push($(this).val());
        });

        if (delChecked.length == 0) {
            // alert('Please select item !');
            $('#modalSelect').modal();
        }
        else {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("updateStatusMulti", "Category")',
                data: {
                    arrId: delChecked,
                    status: status,
                    sort :sort,
                    type: type,
                    text: text,
                    limit :limit
                },
                success: function (data) {
                    $("#divPartialListing").html(data);
                    //location.reload(true);
                }
            })
        }
    }
</script>
