﻿@using SmoovPOS.UI.Models
@model SmoovPOS.UI.Models.QueueModel
@if (@Model.Queue != null)
{
    <div class="row">
        <div class="col-md-4">
            <h4>QR Code</h4>
            <h5>Generate and display QR code for branch.</h5>
        </div>
        <div class="col-md-8">
            <div class="col-md-4">
                <div class="col-md-8">
                    <img class="img-responsive queue-qr-image" src="@Model.Queue.QRCodeThumb" />
                </div>
                <div class="col-md-4">
                    <div class="queue-list-qr-download">
                        <a class="btn btn-xs btn-info" href="https://s3-ap-southeast-1.amazonaws.com/smoovturnkey/test.png">@Model.Queue.BranchName</a><br />
                        <a class="btn btn-xs btn-info" href="https://s3-ap-southeast-1.amazonaws.com/smoovturnkey/test.png">Scan distance 0.8 m</a><br />
                        <a class="btn btn-xs btn-info" href="https://s3-ap-southeast-1.amazonaws.com/smoovturnkey/test.png">Scan distance 1.0 m</a><br />
                        <a class="btn btn-xs btn-info" href="https://s3-ap-southeast-1.amazonaws.com/smoovturnkey/test.png">Scan distance 1.5 m</a><br />
                        <a class="btn btn-xs btn-info" href="https://s3-ap-southeast-1.amazonaws.com/smoovturnkey/test.png">Scan distance 2.5 m</a><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h4>Branch's queue has not been set up!</h4>
}

