﻿@using SmoovPOS.UI.Models
@model SmoovPOS.UI.Models.QueueModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

<div class="row">
    <div class="col-md-4"><h2>Queue Settings</h2></div>
    <div class="col-md-8 queue-head-branch">
        <select id="queue-list-branchs">
            @foreach (var inventory in @Model.ListInventory)
            {
                <option value="@inventory._id">@inventory.businessID</option>
            }
        </select>
        <h4>@Model.ListInventory[0].businessID</h4>
        <input type="hidden" name="branch-id" value="@Model.ListInventory[0]._id" />
        <input type="button" id="btn-edit" name="btn-edit" value="Save" class="btn btn-default" onclick="location.href='@Url.Action("Edit", "Queue")';return false;" />
        <input type="button" id="btn-edit" name="btn-edit" value="Cancel" class="btn btn-default" onclick="location.href='@Url.Action("Index", "Queue")';return false;" />
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h4>QR Code</h4>
        <h5>Generate and display QR code for branch.</h5>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <strong>Reservation Link</strong>
            </div>
            <div class="col-md-9">
                @{
                    string svalue = @Model.Queue == null ? string.Empty : @Model.Queue.ReservationUrl;
                    <input type="text" id="reservation-link" name="reservation-link" value='@svalue' />
                }
            </div>
            <div class="col-md-3">
                <input type="button" class="btn btn-primary" id="qr-generate" name="qr-generate" value="Generate" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                @{
                    string sqr_image = @Model.Queue == null ? string.Empty : @Model.Queue.QRCodeThumb;
                    <img class="img-responsive queue-qr-image" src='@sqr_image' />
                }
            </div>
        </div>
    </div>
</div>