﻿@using SmoovPOS.UI.Models
@model SmoovPOS.UI.Models.QueueModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}
<style>

</style>
<div class="row">
    <div class="col-md-4"><h2>Queue Settings</h2></div>
    <div class="col-md-8 queue-head-branch">
        <select id="queue-list-branchs">
            @foreach (var inventory in @Model.ListInventory)
            {
                <option value="@inventory._id">@inventory.businessID</option>
            }
        </select>
        <input type="button" id="btn-edit" name="btn-edit" value="Edit" class="btn btn-default" onclick="location.href = '@Url.Action("Edit", "Queue", new { branchId = Model.SelectedBranchId })'; return false;" />
    </div>
</div>
<hr />
<div id="partial-placeholder" style="display: none;">

</div>
@*@if (Model.Queue != null)
{
    @Html.Partial("~/Views/Queue/Detail.cshtml", Model.Queue);    
}
else
{
    <h4>No branch has been seleted!</h4>
}*@
<script>
    $(document).ready(function () {
        $('#queue-list-branchs').change(function () {
            var selected_branch = $(this).val();
            $.get('/Merchant/Queue/Detail/' + selected_branch, function (data) {
                $('#partial-placeholder').html(data);
                $('#partial-placeholder').fadeIn('fast');
                $('#btn-edit').attr('onclick', 'location.href = "/Merchant/Queue/Edit?branchId=' + selected_branch + '"; return false;')
            })
        })

        //$('#btn-edit').click(function () {
        //    var selected_branch = $('#queue-list-branchs').val();
        //    window.location = '/Merchant/Queue/Edit/' + selected_branch;
        //})
    });
</script>