﻿@using SmoovPOS.UI.Models.Order
@using SmoovPOS.Utility.CustomHTMLHelper

@model OrderHistoryViewModel

<style>
    tr td {
        background-color: transparent !important;
        padding-top: 10px;
        padding-bottom: 10px;
        vertical-align: top;
        word-break: break-word;
    }

    .divLabel {
        margin-top: 5px;
        margin-left: 6%;
        font-size: 10pt;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    @@media (max-width: 320px) {
        .divLabel {
            margin-left: 3%!important;
        }
    }
</style>

<div style="border:1px solid #D3D2D2; border-radius:5px;">
    <div class="divLabel">
        <label style="font-weight:bold;">
            @Html.LocalizedLabel("CustomerProfile")
        </label>
    </div>

    <table style="width:100%;font-size:9pt">
        <tr style="height:20px;">
            <td style="width:30%;">@Html.LocalizedLabel("Name")</td>
            <td colspan="2">
                @{
                    if (!string.IsNullOrWhiteSpace(Model.customerSender.fullName))
                    {
                        <text >  @Model.customerSender.fullName </text>
                    }
                    else
                    {
                        <text>  @Html.LocalizedLabel("NoName") </text>
                    }
                }
            </td>
        </tr>
        <tr style="height:20px;">
            <td style="width:30%;">@Html.LocalizedLabel("email_Title")</td>
            <td colspan="2">
                @{
                    if (!string.IsNullOrWhiteSpace(Model.customerSender.email))
                    {
                        <text >  @Model.customerSender.email </text>
                    }
                    else
                    {
                        <text> @Html.LocalizedLabel("NoEmail") </text>
                    }
                }
            </td>
        </tr>
        <tr style="height:20px;">
            <td style="width:30%;">@Html.LocalizedLabel("Phone")</td>
            <td colspan="2">
                @{
                    if (!string.IsNullOrWhiteSpace(Model.customerSender.phone))
                    {
                        if (!string.IsNullOrWhiteSpace(@Model.customerSender.phoneRegion) && !string.IsNullOrEmpty(@Model.customerSender.phoneRegion))
                        {
                            <text>@Model.customerSender.phoneRegion - @Model.customerSender.phone</text>
                        }
                        else
                        {
                            <text>@Model.customerSender.phone</text>
                        }
                    }
                    else
                    {
                        <text> @Html.LocalizedLabel("NoPhone") </text>
                    }
                }
            </td>
        </tr>
        <tr>
            <td style="width:30%;">@Html.LocalizedLabel("Address")</td>
           
            <td style="width:70%;">@(Model.customerSender.address != null ? Model.customerSender.address : "")@(Model.customerSender.city != null ? ", " + Model.customerSender.city : "")@(Model.customerSender.state != null ? ", " + Model.customerSender.state : "")@(Model.customerSender.zipCode != null ? " " + Model.customerSender.zipCode : "")@(!string.IsNullOrEmpty(Model.customerSender.country) ? ", " + Model.customerSender.country : "")</td>
        </tr>
    </table>
</div>