﻿@using SmoovPOS.UI.Models.Order
@using SmoovPOS.Utility.CustomHTMLHelper

@model OrderHistoryListingModel

@{
    ViewBag.Title = "Order History";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/dataTables.bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css" href="~/Content/dataTables.tableTools.css" />
<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/Content/dataTables.bootstrap.js"></script>

<style>
    #orderHistory tr{
        background-color: transparent !important;
    }

    #orderHistory th{
        background-color: whitesmoke;
    }

    .dataTables_paginate {
        float: left !important;
        margin-left: 20px!important;
    }

    .dataTables_paginate a{
        color: #428bca;
    }

    .dataTables_paginate.paging_simple_numbers {
        padding-left: 25px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0 !important;
    }

    .pagination > li > a, .pagination > li > span {
        margin-left: -5px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        border: 1px solid white;
    }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        border-color: #ddd !important;
        color: #fff !important;
    }

    .pagination > li > a, .pagination > li > span{
        padding: 4px 10px;
    }
</style>

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home", new { theme = @ViewBag.theme }, null)</li>
    <li class="active">@Html.LocalizedLabel("OrderHistory")</li>
</ol>

<hr />
<div>
    <div>
        <h2>@Html.LocalizedLabel("OrderHistory")</h2>
    </div>

    <div>
        @if (Model != null && Model.listOrderHistory.Count() > 0)
        {            
            <table id="orderHistory" class="display" cellspacing="0" style="padding-top:10px;width:100%">
                <thead>
                    <tr class="header_table">
                        <th class="u_title">@Html.LocalizedLabel("OrderCode")</th>
                        <th class="u_title">@Html.LocalizedLabel("OrderDate")</th>
                        <th class="u_title">@Html.LocalizedLabel("OrderTotal")</th>
                        <th class="u_title">@Html.LocalizedLabel("Status")</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.listOrderHistory)
                    {
                    <tr>
                        <td>@Html.ActionLink(item.orderCode, "Detail", new { orderID = item._id })</td>
                        <td>@item.OrderDateDisplayForCustomer</td>
                        <td>@item.OrderTotalDisplayForCustomer</td>
                        <td>@item.OrderStatusDisplayForCustomer</td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <text>@Html.LocalizedMessage("NoOrderWasFound")</text>
        }
    </div>
</div>

<script>
    $(document).ready(function () {
        var sZeroRecords = "";
        var sEmptyTable = "";
        var sInfoEmpty = ""

        $('#orderHistory').DataTable({
            "aoColumns": [
              { "bSearchable": false },
              { "bSearchable": false },
              { "bSearchable": false },
              { "bSearchable": false }
            ],
            "columns": [
              { "width": "25%" },
              { "width": "25%" },
              { "width": "25%" },
              { "width": "25%" }
            ],
            "pagingType": "full_numbers",
            "bSort": false,
            "dom": 'T<"clear">lfrtip',
            "iDisplayLength": 10,
            "bLengthChange": true,
            "sDom": '<"top"ip>rt<"bottom"ip><"clear">',
            "oLanguage": {
                "oPaginate": {
                    "sFirst": " <i class='fa fa-angle-double-left'></i>", // This is the link to the first page
                    "sPrevious": " <i class='fa fa-angle-left'></i>", // This is the link to the previous page
                    "sNext": " <i class='fa fa-angle-right'></i>", // This is the link to the next page
                    "sLast": " <i class='fa fa-angle-double-right'></i>"
                },
                "sInfoFiltered": "",
                "sInfo": "_START_ - _END_ of _TOTAL_",
                "sInfoEmpty": sInfoEmpty,
                "sEmptyTable": sEmptyTable,
                "sZeroRecords": sZeroRecords
            }
        });

        oTable = $('#orderHistory').dataTable();
    });
</script>