﻿@using SmoovPOS.UI.Models.Order
@using SmoovPOS.Utility.CustomHTMLHelper

@model OrderHistoryViewModel

<style>
    tr td{
        background-color: transparent !important;
        padding-top:10px;
        padding-bottom:10px;
        vertical-align:top;
        word-break:break-word;
    }

    .divLabel {
        margin-top:5px;
        margin-left:6%;
        font-size:10pt;
        padding-top:10px;
        padding-bottom:10px;
    }
    
    @@media (max-width: 320px) {
        .divLabel {
            margin-left: 3% !important;
        }
    }
</style>

<div style="border:1px solid #D3D2D2;margin-top:10px;border-radius: 5px;">
    @{
        if (Model.orderType == 1)
        {
            <div id="div-self-collect">
                <div class="divLabel">
                    <label style="font-weight:bold;">
                        @Html.LocalizedLabel("CollectPoint")
                    </label>
                </div>

                <table style="width:100%;font-size:9pt">
                    <tr style="height:20px;">
                        <td style="width:30%;">@Html.LocalizedLabel("Store")</td>
                        <td colspan="2">
                            @{
                                if (!string.IsNullOrWhiteSpace(Model.inventory.businessID))
                                {
                                    <text > @Model.inventory.businessID </text>
                                }
                                else
                                {
                                    <text> @Html.LocalizedLabel("NoStore") </text>
                                }
                            }
                        </td>
                    </tr>

                    <tr style="height:20px;">
                        <td style="width:30%;">@Html.LocalizedLabel("Address")</td>
                        <td colspan="2" style="word-break: keep-all;">
                            @{if (Model.inventory !=null && !string.IsNullOrWhiteSpace(Model.ShowInventoryAdrress))
                                {
                                    <text > @Model.ShowInventoryAdrress </text>
                                }
                                else
                                {
                                    <text> @Html.LocalizedLabel("NoStore") </text>
                                }
                            }
                        </td>
                    </tr>
                </table>
            </div>
        }
        else
        {
            <div id="div-delivery">
                <div class="divLabel">
                    <label style="font-weight:bold;">
                        @Html.LocalizedLabel("Recipient")
                    </label>
                </div>

                <table style="width:100%;font-size:9pt">
                    <tr style="height:20px;">
                        <td style="width:30%;">@Html.LocalizedLabel("Name")</td>
                        <td colspan="2">
                            @{if (!string.IsNullOrWhiteSpace(Model.customerReceiver.fullName))
                                {
                                    @Model.customerReceiver.fullName
                                }
                                else
                                {
                                    <text> @Html.LocalizedLabel("NoName") </text>
                                }
                            }
                        </td>
                    </tr>

                    <tr style="height:20px;">
                        <td style="width:30%;">@Html.LocalizedLabel("email_Title")</td>
                        <td colspan="2">
                            @{
                                if (!string.IsNullOrWhiteSpace(Model.customerReceiver.email))
                                {
                                    @Model.customerReceiver.email
                                }
                                else
                                {
                                    <text> @Html.LocalizedLabel("NoEmail") </text>
                                }
                            }
                        </td>
                    </tr>

                    <tr style="height:20px;">
                        <td style="width:30%;">@Html.LocalizedLabel("Phone")</td>
                        <td colspan="2">
                            @{
                                if (!string.IsNullOrWhiteSpace(Model.customerReceiver.phone))
                                {
                                    if (!string.IsNullOrWhiteSpace(@Model.customerReceiver.phoneRegion) && !string.IsNullOrEmpty(@Model.customerReceiver.phoneRegion)) 
                                    {
                                        <text>@Model.customerReceiver.phoneRegion - @Model.customerReceiver.phone</text>
                                    }
                                    else
                                    { 
                                        <text>@Model.customerReceiver.phone</text>
                                    }
                                }
                                else
                                {
                                    <text> @Html.LocalizedLabel("NoPhone") </text>
                                }
                            }
                        </td>
                    </tr>
                </table>
              
                @if (Model.serviceShipping != null && Model.serviceShipping.arrayServiceDelivery != null && Model.serviceShipping.arrayServiceDelivery.Count > 0)
                {
                    <div class="divLabel">
                        <b>
                            @Html.LocalizedLabel("ShippingMethod")
                        </b>
                    </div>
                    <table style="width:100%;font-size:9pt">
                        <tr style="height:20px;">
                            <td style="width:30%;">@Model.serviceShipping.arrayServiceDelivery.FirstOrDefault().serviceName</td>
                            <td colspan="2"></td>
                        </tr>
                    </table>                  
                }

                <div class="divLabel">
                    <label style="font-weight:bold;">
                        @Html.LocalizedLabel("ShippingAddress")
                    </label>
                </div>

                <table style="width:100%;font-size:9pt">
                    <tr style="height:20px;">
                        <td style="width:30%;">
                            @{
                                if (Model.customerReceiver != null)
                                {
                                   @(Model.customerReceiver.address != null ? Model.customerReceiver.address : "")@(Model.customerReceiver.city != null ? ", " + Model.customerReceiver.city : "")@(Model.customerReceiver.state != null ? ", " + Model.customerReceiver.state : "")@(Model.customerReceiver.zipCode != null ? " " + Model.customerReceiver.zipCode : "")@(!string.IsNullOrEmpty(Model.customerReceiver.country) ? ", " + Model.customerReceiver.country : "")
                                }
                            }
                        </td>
                    </tr>
                </table>
            </div>
        }
    }
</div>