﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model IEnumerable<Com.SmoovPOS.Entity.DeliverySetting>

<style>
    .q-form .col-md-3 {
        padding-bottom: 0px;
    }

    .top {
        margin-top: 50px;
    }

    .btn-default {
        margin-top: -5px;
    }
</style>

@if (@Model != null && @Model.Count() > 0)
{
    string imgUrl = string.Empty;
    string criteria = string.Empty;
    string estimated = string.Empty;
    string price = string.Empty;
    int i = -1;
    foreach (var delivery in Model)
    {
        i++;
        if (delivery.arrayServiceDelivery != null && delivery.arrayServiceDelivery.Count > 0)
        {
            delivery.arrayServiceDelivery = delivery.arrayServiceDelivery.OrderByDescending(d => d.createdDate).ToList();
        }
        if (delivery.country != null && !string.IsNullOrEmpty(delivery.country.image))
        {
            imgUrl = delivery.country.image;
            if (imgUrl.Contains("~/Content/Images/Country"))
            {
                imgUrl = Url.Content(imgUrl);
            }
        }
        else
        {
            imgUrl = string.Empty;
        }

        <div class="row @(i==0? " ": " top")">
            <div class="col-md-3">
                @if (!string.IsNullOrEmpty(imgUrl))
                {
                    <img src="@imgUrl" style="padding-right:10px;">
                }
                @Html.DisplayFor(m => delivery.country.country)
            </div>
            <div class="col-md-3">
                <a href="#" class="text-muted" data-toggle="modal" data-target="#modalDelete" onclick="setRemove('@delivery._id')">remove this zone</a>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3" style="text-align: right">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModalService" onclick="loadCreateService('@delivery._id','@delivery.country._id','@delivery.country.country')">Add Service</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 lineStyle"><hr style="margin: 0;"></div>
        </div>
        if (delivery.arrayServiceDelivery != null && delivery.arrayServiceDelivery.Count > 0)
        {
            foreach (var service in delivery.arrayServiceDelivery)
            {
                estimated = string.Format("{0} - {1} Business days", service.beginEstimate, service.endEstimate);
                if (service.shippingPrice.ToString().Split('.').Length > 1)
                {
                    price = string.Format(ViewBag.currency + " {0}", service.shippingPrice.ToString().Split('.')[1].Length == 1 ? service.shippingPrice.ToString() + "0" : service.shippingPrice.ToString());
                }
                else
                {
                    price = string.Format(ViewBag.currency + " {0}", service.shippingPrice.ToString() + ".00");
                }
                <div class="row" style="padding-top: 15px;">
                    <div class="col-md-3">
                        <a href="#" data-toggle="modal" data-target="#myModalService" onclick="loadServiceDetail('@delivery._id','@service._id','@delivery.country.country','@service.serviceName')">@Html.DisplayFor(m => service.serviceName)</a>
                        @if (service.isDefault)
                        {
                            <label class="text-muted">(default)</label>
                        }
                    </div>
                    <div class="col-md-3">
                        @*@if (SmoovPOS.Common.ConstantSmoovs.DeliverySetting.Basedonorderweight == SmoovPOS.Common.ConstantSmoovs.Enums.Criterias[service.criteria])
                            {
                                criteria = string.Format("{0} Kg - {1} Kg", service.beginValue, service.endValue);
                            }
                            else
                            {
                                criteria = string.Format(ViewBag.currency + " {0} - " + ViewBag.currency + "  {1}", service.beginValue, service.endValue);
                            }*@
                        @Html.DisplayFor(m => estimated)
                    </div>

                    <div class="col-md-3">
                        @Html.DisplayFor(m => price)

                    </div>
                    <div class="col-md-3">

                    </div>
                </div>
            }
        }
    }
}
else
{
    <div class="row">
        <div class="col-md-12">
            @Html.LocalizedMessage("NoZoneWasFound")
        </div>
    </div>
}




<script>
    function setRemove(id) {
        currentZoneId = id;
    }
    function loadServiceDetail(id, serviceId, country, service) {
        var url = '@Url.Action("ServiceDetail", "Delivery")'
        var data = { id: id, serviceId: serviceId }

        var title = country + ' / ' + service;
        $('#myModalServiceLabel').text(title);

        $('#EditInfoService').css("display", "inline");
        $('#CreateInfoService').css("display", "none");
        $('#SaveInfoService').css("display", "none");
        $('#linkRemoveService').css("display", "none");
        $('#btnCancelSaveInfoService').css("display", "none");
        $('#btnCloseSaveInfoService').css("display", "inline");
        loadService(data, url, true);
    }
    function loadCreateService(id, countryId, country) {
        var url = '@Url.Action("CreateService", "Delivery")';
        var data = { id: id, countryId: countryId }

        var title = country + ' / ' + '@Html.LocalizedLabel("NewService")';
        $('#myModalServiceLabel').text(title);

        $('#EditInfoService').css("display", "none");
        $('#CreateInfoService').css("display", "inline");
        $('#SaveInfoService').css("display", "none");
        $('#linkRemoveService').css("display", "none");
        $('#btnCancelSaveInfoService').css("display", "inline");
        $('#btnCloseSaveInfoService').css("display", "none");
        loadService(data, url, true);
    }

</script>
