﻿@using SmoovPOS.UI.Models
@model SmoovPOS.UI.Models.OrderModel
@using SmoovPOS.Utility.CustomHTMLHelper
<style>
    .col-md-8 {
        margin-left: -20px;
        padding-right: 5px;
    }
</style>

<div style="border:1px solid #D3D2D2; border-radius: 5px;height:auto">

    <div style="margin-top:10px; margin-left:15px;font-size:10pt">
        <b>
            @Html.LocalizedLabel("CustomerProfile")
        </b>
    </div>
    <div style="width:100%;margin-left:10px;font-size:10pt;margin-top:10px;height:auto;padding-right:5px" id="divCustomer">
        <div class="row">
            <div class="col-md-4">@Html.LocalizedLabel("Name")</div>
            <div class="col-md-8">
                @{
                    System.Text.StringBuilder nameShow = new System.Text.StringBuilder();
                    if (!string.IsNullOrWhiteSpace(Model.customerSender.fullName))
                    {
                        nameShow.Append(Model.customerSender.fullName);
                    }
                    else if (!string.IsNullOrWhiteSpace(Model.customerSender.firstName) && !string.IsNullOrWhiteSpace(Model.customerSender.lastName))
                    {
                        nameShow.Append(Model.customerSender.firstName);
                        nameShow.Append(" ");
                        nameShow.Append(Model.customerSender.lastName);

                    }

                    else if (!string.IsNullOrWhiteSpace(Model.customerSender.firstName))
                    {
                        nameShow.Append(Model.customerSender.firstName);

                    }
                    else if (!string.IsNullOrWhiteSpace(Model.customerSender.lastName))
                    {

                        nameShow.Append(Model.customerSender.firstName);
                    }
                    @nameShow.ToString();
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">@Html.LocalizedLabel("email_Title")</div>
            <div class="col-md-8" style="word-break:break-all">
                @{
                
                    if (!string.IsNullOrWhiteSpace(Model.customerSender.email))
                    {
                         @Model.customerSender.email 
                    }


}
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">@Html.LocalizedLabel("Phone")</div>
            <div class="col-md-8">
                @{
                    if (!string.IsNullOrWhiteSpace(Model.customerSender.phone))
                    {
                        if (!string.IsNullOrWhiteSpace(@Model.customerSender.phoneRegion) && !string.IsNullOrEmpty(@Model.customerSender.phoneRegion))
                        {
                            <text>@Model.customerSender.phoneRegion - @Model.customerSender.phone</text>
                        }
                        else
                        {
                            <text>@Model.customerSender.phone</text>
                        }
                    }
                    else
                    {
                        <text>  No Phone </text>
                    }
                }
            </div>
        </div>

        @*<div class="row">
            <div class="col-md-4" style="padding-top:0px;vertical-align:top;padding-right:5px;">@Html.LocalizedLabel("Address")</div>
            <div class="col-md-8">
                <text style="word-break: break-all;">
                    @(Model.customerSender.address != null ? Model.customerSender.address : "")@(Model.customerSender.city != null ? ", " + Model.customerSender.city : "")@(Model.customerSender.state != null ? ", " + Model.customerSender.state : "")@(Model.customerSender.zipCode != null ? " " + Model.customerSender.zipCode : "")@(!string.IsNullOrEmpty(Model.customerSender.country) ? ", " + Model.customerSender.country : "")
                </text>
            </div>
        </div>*@
    </div>

</div>