﻿@using SmoovPOS.UI.Models
@model SmoovPOS.UI.Models.OrderModel
@using SmoovPOS.Utility.CustomHTMLHelper

<div style="border:1px solid #D3D2D2; border-radius: 5px;height:auto">

    <div style="margin-top:10px; margin-left:15px;font-size:10pt">
        <b>
            @Html.LocalizedLabel("DineInPoint")
        </b>
    </div>
    <div style="width:100%;margin-left:10px;font-size:10pt;margin-top:10px;height:auto;padding-right:5px" id="divCustomer">
        <div class="row">
            <div class="col-md-4">@Html.LocalizedLabel("Store")</div>
            <div class="col-md-8">
                @Model.businessName
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">@Html.LocalizedLabel("Address")</div>
            <div class="col-md-8" style="word-break:break-all">
                @string.Join(" ", Model.inventory.streetAddress, Model.inventory.city, Model.inventory.state, Model.inventory.zipCode, Model.inventory.country)
            </div>
        </div>
    </div>

</div>