﻿@using SmoovPOS.UI.Models
@using SmoovPOS.Common
@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.OrderModel
@{
    var currencyVariant = Model.CurrencyDisplay;
}

<style>
    .showButton {
        float: left;
        display: block !important;
        color: #ffffff;
        background-color: #428bca;
        border-color: #428bca;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        border: 1px solid #428bca;
        /*border-radius: 4px;*/
        -webkit-user-select: none;
    }

    .dontShow {
        /*visibility: hidden;*/
        float: left;
        display: block !important;
        color: #D9DDE0;
        background-color: #ffffff;
        border-color: #f7f7f7;
        padding: 6px 12px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: normal;
        line-height: 1.428571429;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: default;
        pointer-events: none;
        border: 1px solid #D9DDE0;
        -webkit-user-select: none;
        /*margin-left: 10px;*/
    }

    .breadcrumb {
        margin-left: -10px !important;
    }


        .breadcrumb .breadcrumbActiveRed a {
            background: hsla(2,64%,58%,1) !important;
            color: white;
        }

            .breadcrumb .breadcrumbActiveRed a:after {
                border-left-color: hsla(2,64%,58%,1) !important;
            }

    i.fa.fa-spinner.fa-spin {
        font-size: 20px;
        margin-top: 15px;
        margin-left: 20px;
    }

    .breadcrumb .breadcrumbActiveRefund a {
        background: #F8D6A8 !important;
        color: white;
    }

        .breadcrumb .breadcrumbActiveRefund a:after {
            border-left-color: #F8D6A8 !important;
        }
</style>
@Html.ValidationSummary(false)
@*<link rel="stylesheet" href="~/Content/breakcumd.css">*@
<link rel="stylesheet" href="~/Content/breakcumd.css">
<link rel="stylesheet" href="~/Content/CustomOfSmoov.css">
<div>
    <div style="background:none" id="breakcumd-Order">
        @{
            if (Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.Refunded).Key)
            {
                <ol class="breadcrumb">

                    <li class=@(Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.Refunded).Key ? "breadcrumbActiveRefund" : "")><a href="#">Refunded</a></li>

                </ol>
            }
            //else if(Model.orderStatus == 7 || @Model.orderType ==2)
            else if (Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.Canceled).Key)
            {
                <ol class="breadcrumb">

                    <li class="breadcrumbActiveRed"><a href="#">Canceled</a></li>

                </ol>
            }
            else
            {
                switch (Model.orderType)
                {
                    case ConstantSmoovs.OrderType.OrderTypeDelivery:
                        <ol class="breadcrumb">

                            <li class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.NewOrder ? "breadcrumbActive" : "")><a href="#">New Order</a></li>
                            <li class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.ReadyForDelivery ? "breadcrumbActive" : "")><a href="#">Ready</a></li>
                            <li class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.OnDelivery ? "breadcrumbActive" : "")><a href="#">On Delivery</a></li>
                            <li class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.Delivered ? "breadcrumbActive" : "")><a href="#">Delivered</a></li>
                            <li class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.Received ? "breadcrumbActive" : "")><a href="#">Received</a></li>
                        </ol>
                        break;
                    case ConstantSmoovs.OrderType.OrderTypeSelfCollect:
                    <ol class="breadcrumb">

                        <li class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.NewOrder ? "breadcrumbActive" : "")><a href="#">New Order</a></li>
                        <li class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.ReadyForCollection ? "breadcrumbActive" : "")><a href="#">Ready</a></li>
                        <li class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.Collected ? "breadcrumbActive" : "")><a href="#">Collected</a></li>
                    </ol>
                        break;
                    case ConstantSmoovs.OrderType.OrderTypeTableOrdering:
                    <ol class="breadcrumb">

                        <li class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.DineInWaiting ? "breadcrumbActive" : "")><a href="#">@ConstantSmoovs.OrderStatus.DineInWaiting</a></li>
                        <li class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.DineInConfirm ? "breadcrumbActive" : "")><a href="#">@ConstantSmoovs.OrderStatus.DineInConfirm</a></li>
                        <li class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.DineInServing ? "breadcrumbActive" : "")><a href="#">@ConstantSmoovs.OrderStatus.DineInServing</a></li>
                        <li class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.DineInDone ? "breadcrumbActive" : "")><a href="#">@ConstantSmoovs.OrderStatus.DineInDone</a></li>
                    </ol>
                        break;
                }
            }
        }


    </div>
    <div id="toolbar-Order">

        @{
            if (Model.isCancelRequest)
            {
                if ((Model.orderType == ConstantSmoovs.OrderType.OrderTypeDelivery
                    && Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.OnDelivery).Key)
                    || (Model.orderType == ConstantSmoovs.OrderType.OrderTypeSelfCollect
                    && Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.ReadyForCollection).Key)
                    )
                {
                    <div class="col-md-8">
                        <label>Your customer request to cancel order</label>
                        <button onclick="ApproveCancel('@Model._id')" style="margin-right:5px;margin-left:10px;" id="btn-approve" class="btn btn-primary">Approve</button>
                        <button onclick="RejectCancel('@Model._id')" style="margin-right:5px;background-color:#D9534F;color:white" id="btn-reject" class="btn btn-default">Reject</button>
                        <div class="loading" style="display:none; margin-top:-10px;">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                    </div>

                }
                else
                {
                    <div class="col-md-8"></div>
                }

            }
            else if (Model.orderType == ConstantSmoovs.OrderType.OrderTypeSelfCollect
            && Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.Refunded).Key)
            {

                <div class="col-md-8">
                    @{
                if (Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.Canceled).Key)
                {
                    <button onclick="UpdateStatusOrder('@Model._id',1,1)" class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.NewOrder ? "showButton" : "dontShow") style="border-top-left-radius:4px;border-bottom-left-radius:4px;" id="btn-order-1">Ready</button>
                        <button onclick="UpdateStatusOrder('@Model._id',5,2)" class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.ReadyForCollection ? "showButton" : "dontShow") id="btn-order-2" style="border-top-right-radius:4px;border-bottom-right-radius:4px;">Collected</button>

                }
                    }
                    <div class="loading" style="display:none; margin-top:-10px;">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    @{
                if (!Model.isCancelRequest)
                {
                    if ((Model.orderType == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.OnPreRequest).Key && Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.Received).Key) || (Model.orderType == ConstantSmoovs.OrderType.OrderTypeSelfCollect && Model.orderStatus == 8) || (Model.orderStatus == 7))
                    {

                        <button data-toggle="modal" data-target="#modelRefundOrder" style="float:right;" class="btn btnFontBlue" id="btn-refund-order">@Html.LocalizedLabel("Refund")</button>
                    }
                    else if (Model.orderType == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.OnPreRequest).Key)
                    {
                        if (Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.ReadyForDelivery).Key)
                        {
                            <button data-toggle="modal" data-target="#modelCancelOrder" style="float:right;" class="btn btnFontBlue" id="btn-cancel-order">Cancel Order</button>
                        }

                    }
                    else if (Model.orderType == ConstantSmoovs.OrderType.OrderTypeSelfCollect)
                    {
                        if (Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.ReadyForCollection).Key)
                        {
                            <button data-toggle="modal" data-target="#modelCancelOrder" style="float:right;" class="btn btnFontBlue" id="btn-cancel-order">Cancel Order</button>
                        }

                    }
                }

                    }

                </div>
            }
            else if (Model.orderType == ConstantSmoovs.OrderType.OrderTypeDelivery && Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.Refunded).Key)
            {
                <div class="col-md-8">
                    <button onclick="UpdateStatusOrder('@Model._id',1,3)" class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.NewOrder ? "showButton" : "dontShow") id="btn-order-3" style="border-top-left-radius:4px;border-bottom-left-radius:4px;">Ready</button>
                    <button onclick="UpdateStatusOrder('@Model._id',2,4)" class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.ReadyForDelivery ? "showButton" : "dontShow") id="btn-order-4">On Delivery</button>
                    <button onclick="UpdateStatusOrder('@Model._id',3,5)" class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.OnDelivery ? "showButton" : "dontShow") id="btn-order-5">Delivered</button>
                    <button onclick="UpdateStatusOrder('@Model._id',4,6)" class=@(Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.Delivered ? "showButton" : "dontShow") id="btn-order-6" style="border-top-right-radius:4px;border-bottom-right-radius:4px;">Received</button>
                    @*<button onclick="UpdateStatusOrder('@Model._id',6)" class=@(Model.OrderStatusDisplay == Constants.OrderStatus.Received ? "showButton" : "dontShow") id="btn-order-7" style="display:none">Archive</button>*@
                    <div class="loading" style="display:none; margin-top:-10px;">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                    @{
                if (!Model.isCancelRequest)
                {
                    if ((Model.orderType == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.OnPreRequest).Key && Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.Received).Key) || (Model.orderType == ConstantSmoovs.OrderType.OrderTypeSelfCollect && Model.orderStatus == 8) || (Model.orderStatus == 7))
                    {

                        <button data-toggle="modal" data-target="#modelRefundOrder" style="float:right;" class="btn btnFontBlue" id="btn-refund-order">@Html.LocalizedLabel("Refund")</button>
                    }
                    else if (Model.orderType == ConstantSmoovs.OrderType.OrderTypeDelivery)
                    {
                        if (Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.ReadyForDelivery).Key)
                        {
                            <button data-toggle="modal" data-target="#modelCancelOrder" style="float:right;" class="btn btnFontBlue" id="btn-cancel-order">Cancel Order</button>
                        }

                    }
                    else if (Model.orderType == ConstantSmoovs.OrderType.OrderTypeSelfCollect)
                    {
                        if (Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.ReadyForCollection).Key)
                        {
                            <button data-toggle="modal" data-target="#modelCancelOrder" style="float:right;" class="btn btnFontBlue" id="btn-cancel-order">Cancel Order</button>
                        }

                    }
                }
                    }
                </div>
            }

            else if (Model.orderType == ConstantSmoovs.OrderType.OrderTypeTableOrdering)
            {
                <div class="col-md-8">
                    @switch (Model.OrderStatusDisplay) 
                    {
                        case ConstantSmoovs.OrderStatus.OnPreRequest:

                            break;
                        case ConstantSmoovs.OrderStatus.DineInWaiting:
                            <label style="display: inline-block;"><strong>Response to this order request &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong></label>
                            <button onclick="UpdateStatusOrder('@Model._id',@ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.DineInConfirm).Key,7)" class="btn btn-primary" id="btn-order-7" style="border-top-left-radius:4px;border-bottom-left-radius:4px;">Approve</button>
                            <button data-toggle="modal" data-target="#modelRefundOrder" style="display: inline-block; margin: 0 20px;" class="btn btn-danger" id="btn-refund-order">Reject</button>
                            break;
                        case ConstantSmoovs.OrderStatus.DineInConfirm:
                        <button onclick="UpdateStatusOrder('@Model._id',@ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.DineInServing).Key,9)" class="btn btn-primary left" id="btn-order-9">Ready</button>
                            break;
                        case ConstantSmoovs.OrderStatus.DineInServing:
                        <button onclick="UpdateStatusOrder('@Model._id',@ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.DineInDone).Key,11)" class="btn btn-primary left" id="btn-order-11" style="border-top-right-radius:4px;border-bottom-right-radius:4px;">Clear table</button>
                            break;
                        case ConstantSmoovs.OrderStatus.DineInDone:

                            break;
                    }

                    @if (Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.DineInConfirm).Key)
                    {
                        <button data-toggle="modal" data-target="#modelRefundOrder" style="display: inline-block; float: right;" class="btn btn-danger" id="btn-refund-order">@Html.LocalizedLabel("Refund")</button>
                    }
                </div>

            }
            else
            {
                <div class="col-md-8"></div>

            }

            @*if (Model.orderType == ConstantSmoovs.OrderType.OrderTypeTableOrdering)
                {
                    if (Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.DineInDone).Key
                        || Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.DineInConfirm).Key
                        || Model.orderStatus == ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == ConstantSmoovs.OrderStatus.DineInServing).Key)
                    {
                        <div class="col-md-8"><button data-toggle="modal" data-target="#modelRefundOrder" style="float:right; display: inline-block;" class="btn btn-danger" id="btn-refund-order">@Html.LocalizedLabel("Refund")</button></div>
                    }

                }*@
        }
        <div class="col-md-4" style="font-size:10pt">
            <div>
                <table>
                    <tr>
                        <td style="width:50%"><b>Last Modified</b></td>
                        <td style="width:50%">
                            @Model.modifiedDateOrderShow
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <table>
                    <tr>
                        <td style="width:50%"><b>Created</b></td>
                        <td style="width:50%">
                            @Model.createDateOrderShow
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modelCancelOrder" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-body">
                @Html.LocalizedMessage("ConfirmCancelOrder")
            </div>
            <div class="modal-footer">
                <button type="button" id="CancelMyOrder" onclick="CancelOrder('@Model._id')" style="padding-left:20px;padding-right:20px;" class="btn btn-primary" data-dismiss="modal">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" style="padding-left:20px;padding-right:20px;">No</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modelRefundOrder" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">@Html.LocalizedLabel("Refund")</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" style="height:30px !important;">
                    <div>@Html.LocalizedLabel("ReasonForRefund")</div>
                </div>
                <div class="form-group" style="margin-top:20px;">
                    @*<input type="text" id="txtReasonRefund" name="txtReasonRefund" maxlength="100" class="form-control" />*@
                    <select id="txtReasonRefund" name="txtReasonRefund" class="form-control">
                        <option value="0" selected>Cancel Order</option>
                        <option value="1">Wrong Order</option>
                        <option value="2">Product Faulty</option>
                    </select>
                </div>
                <table style="border-top: 1px solid #D3D2D2;width:100%;font-size:10pt;margin-top:10px;border-bottom: 1px solid #D3D2D2;">
                    <tr style="height:50px;">
                        @{
                            if (@Model.arrayPayment != null && @Model.arrayPayment.Count() > 0)
                            {
                                foreach (var itemPayment in Model.arrayPayment)
                                {
                                    <td style="align-content:center;width:40%;text-align:left;padding-right:15px;">
                                        @itemPayment.paymentType
                                    </td>
                                    <td style="align-content:center;width:40%;text-align:right;padding-right:15px;">
                                        @currencyVariant&nbsp;@String.Format("{0:0.00}", Math.Round(@itemPayment.charged, 2))
                                    </td>
                                }
                            }
                            else
                            {
                                <td style="align-content:center;width:40%;text-align:right;padding-right:15px;">
                                    <text> </text>
                                </td>
                            }
                        }
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                @if (Model.orderType == ConstantSmoovs.OrderType.OrderTypeTableOrdering && Model.OrderStatusDisplay == ConstantSmoovs.OrderStatus.DineInWaiting)
                {
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="RefundOrder('@Model._id', 'reject')">@Html.LocalizedLabel("Refund") @currencyVariant&nbsp;@String.Format("{0:0.00}", Math.Round(@Model.grandTotal, 2)) </button>
                }
                else
                {
                    <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="RefundOrder('@Model._id', 'refund')">@Html.LocalizedLabel("Refund") @currencyVariant&nbsp;@String.Format("{0:0.00}", Math.Round(@Model.grandTotal, 2)) </button>
                }
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    var index = $('li.breadcrumbActive').index();
    for (i = 0; i <= index; i++) {

        $(".breadcrumb li:eq(" + i + ")").addClass("breadcrumbActive").show();
        //   $(".breadcrumb li:eq(" + index + ")").removeClass("breadcrumb").show();
    }

    //  $(".breadcrumb li:eq(" + index + ")").removeClass("breadcrumbActive").show();
    //var indexButton = $('toolbar-Order').index();
    //for (i = 0; i <= indexButton; i++) {
    //    $(".toolbar-Order button:eq(" + i + ")").addClass("dontShow").show();
    //}

    /// <summary>
    /// Updates the status order.
    /// </summary>
    /// <param name="orderID">The order identifier.</param>
    /// <param name="status">The status.</param>
    /// <param name="idButton">The identifier button.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/24/2015-3:40 PM</datetime>
    function UpdateStatusOrder(orderID, status, idButton) {
        var idBtn = "btn-order-" + idButton;
        var element = document.getElementById(idBtn);
        element.setAttribute("disabled", "disabled");
        setDisableCancel();
        setDisableRefund();
        element.setAttribute("style", "background-color: #808080;border-color: #808080");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateStatusOrder", "Order")',
            data: {
                orderID: orderID,
                status: status
            },
            success: function (result) {

                var div_Main = $('#divAllPartial');
                div_Main.fadeIn();
                div_Main.html(result);
            },
            error: function (data) {
                alert("Error when process!!!");
                element.setAttribute("disabled", true);
                element.setAttribute("style", "background-color: #0094ff;border-color: #0094ff");
                setEnableOrderStatus();
                setEnableCancel();
                setDisableRefund();
            },
            beforeSend: function () {
                $('.loading').css("display", "block");

            },
            complete: function () {
                $('.loading').css("display", "none");

            }
        });
    }


    /// <summary>
    /// Cancels the order.
    /// </summary>
    /// <param name="idOrder">The identifier order.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/24/2015-4:38 PM</datetime>
    function CancelOrder(idOrder) {
        var idBtn = "btn-cancel-order";
        var element = document.getElementById(idBtn);
        element.setAttribute("disabled", "disabled");
        setDisableOrderStatus();
        setDisableRefund();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("CancelOrder", "Order")',
            data: {
                orderID: idOrder
            },
            success: function (result) {

                var div_Main = $('#divAllPartial');
                div_Main.fadeIn();
                div_Main.html(result);
            },
            error: function (data) {
                alert("Error when process!!!");
                element.setAttribute("disabled", true);
                element.setAttribute("style", "background-color: #0094ff;border-color: #0094ff");
                setEnableOrderStatus();
                setEnableRefund();
            },
            beforeSend: function () {
                $('.loading').css("display", "block");

            },
            complete: function () {
                $('.loading').css("display", "none");

            }
        });
    }

    /// <summary>
    /// Refunds the order.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/24/2015-3:51 PM</datetime>
    function RefundOrder(idOrder, type) {
        var reasonRefund = $("#txtReasonRefund option:selected").text();
        var btnRefund = document.getElementById("btn-refund-order");
        btnRefund.setAttribute("disabled", "disabled");
        setDisableOrderStatus();
        setDisableCancel();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RefundOrder", "Order")',
            data: {
                orderID: idOrder,
                reason: reasonRefund,
                type: type
            },
            success: function (result) {

                var div_Main = $('#divAllPartial');
                div_Main.fadeIn();
                div_Main.html(result);
            },
            error: function (data) {
                btnRefund.setAttribute("disabled", true);
                setEnableOrderStatus();
                setEnableCancel();
                //element.setAttribute("disabled", true);
                //element.setAttribute("style", "background-color: #0094ff;border-color: #0094ff");
            },
            beforeSend: function () {
                $('.loading').css("display", "block");

            },
            complete: function () {
                $('.loading').css("display", "none");

            }
        });
    }

    /// <summary>
    /// Approves the cancel.
    /// </summary>
    /// <param name="idOrder">The identifier order.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/24/2015-5:20 PM</datetime>
    function ApproveCancel(idOrder) {

        var idBtn = "btn-approve";
        var element = document.getElementById(idBtn);
        element.setAttribute("disabled", true);
        setDisableCancel();
        setDisableOrderStatus();
        setDisableRefund();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ApproveCancelOrder", "Order")',
            data: {
                orderID: idOrder
            },
            success: function (result) {

                var div_Main = $('#divAllPartial');
                div_Main.fadeIn();
                div_Main.html(result);
            },
            error: function (data) {
                alert("Error when process!!!");
                $(this).setAttribute("disabled", true);
                $(this).setAttribute("style", "background-color: #0094ff;border-color: #0094ff");

                setEnableCancel();
                setEnableOrderStatus();
                setEnableRefund();
            },
            beforeSend: function () {
                $('.loading').css("display", "block");

            },
            complete: function () {
                $('.loading').css("display", "none");

            }
        });
    }

    /// <summary>
    /// Rejects the cancel.
    /// </summary>
    /// <param name="idOrder">The identifier order.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/24/2015-5:28 PM</datetime>
    function RejectCancel(idOrder) {
        var idBtn = "btn-reject";
        var element = document.getElementById(idBtn);
        element.setAttribute("disabled", "disabled");
        setDisableCancel();
        setDisableOrderStatus();
        setDisableRefund();
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RejectCancelOrder", "Order")',
            data: {
                orderID: idOrder,
                reason: "",
                totalRefund: 0.00
            },
            success: function (result) {

                var div_Main = $('#divAllPartial');
                div_Main.fadeIn();
                div_Main.html(result);
            },
            error: function (data) {
                alert("Error when process!!!");
                $(this).setAttribute("disabled", true);
                $(this).setAttribute("style", "background-color: #0094ff;border-color: #0094ff");
                setEnableCancel();
                setEnableOrderStatus();
                setEnableRefund();
            },
            beforeSend: function () {
                $('.loading').css("display", "block");

            },
            complete: function () {
                $('.loading').css("display", "none");

            }
        });
    }

    function setDisableOrderStatus() {

        $('.showButton').each(function () {

            $(this).prop("disabled", true);
        })


    }

    function setEnableOrderStatus() {

        $('.showButton').each(function () {

            $(this).prop("disabled", false);
        })


    }
    function setDisableCancel() {
        $("#btn-cancel-order").prop("disabled", true);
    }
    function setEnableCancel() {
        $("#btn-cancel-order").prop("disabled", false);
    }
    function setDisableRefund() {
        $("#btn-refund-order").prop("disabled", true);
    }
    function setEnableRefund() {
        $("#btn-refund-order").prop("disabled", false);
    }
</script>