﻿@using SmoovPOS.UI.Models
@model SmoovPOS.UI.Models.OrderModel
@{
    ViewBag.Title = "Order Detail / ";

}
<link rel="stylesheet" href="~/Content/print.css" media="print">
<link rel="stylesheet" href="~/Content/breakcumd.css">
<script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>


<style>
    .container {
        max-width: 970px !important;
    }


    .classPrint .col-md-8 {
        width: 66.66666666666666% !important;
        float: left !important;
    }

    .classPrint .col-md-4 {
        width: 33.33333333333333% !important;
        float: left !important;
    }

    .classPrint .col-md-6 {
        width: 50% !important;
        float: left !important;
    }

    #breakcumd-Order {
        font-size: 10pt;
        float: left !important;
        width: 100% !important;
    }

    .q-toolsbar .col-md-8 {
        width: 50.66666666666666% !important;
        float: left !important;
    }

    .q-toolsbar .col-md-4 {
        width: 49.33333333333333% !important;
        float: left !important;
    }

    #page-Order {
        font-size: 10pt;
        float: left !important;
        width: 100% !important;
    }

    .divPrint {
    }
    hr{
      border-top: 0px solid #D9DDE0;
        
    }
    #divCustomer
{
    height:auto;
}
</style>

<div class="q-form" id="divPrint">
    <div class="q-toolsbar" style="padding-left:0px;" id="toolbar-header">
        <div class="col-md-4" id="orderCode" style="margin-left:-20px">

            <h3>@ViewBag.Title @Model.orderCode </h3>

            <div style="font-size:9pt;padding-left:0px;"> <text> @Model.dateAndBranchOrderShow</text></div>

        </div>
        <div class="col-md-8" id="btn-Order">
            <button onclick="CallPrint()" class="btn btn-primary" style="margin-right:5px;padding-left:20px;padding-right:20px">Print</button>

            <button onclick="location.href='@Url.Action( "Detail", new { id = @Model._id })';return false;" class="btn btn-default" style=" border: 1px solid #D9DDE0; color: #0094ff;">Back</button>
        </div>

    </div>
    <div id="page-Order"></div>
    <div id="breakcumd-Order">



    </div>

    <div style="margin-top:30px;" class="classPrint">
        <div class="col-md-8">
            <div id="productList">


                @Html.Partial("~/Views/Order/ProductItem.cshtml", Model)
            </div>

            <div style="margin-top:20px;" id="remark">
                @Html.Partial("~/Views/Order/Remark.cshtml", Model)
            </div>


        </div>
        <div class="col-md-4">
            <div id="customerProfile">
                @Html.Partial("~/Views/Order/CustomerProfile.cshtml", Model)
            </div>

            <div style="margin-top:20px;" id="mapAddress">
                @Html.Partial("~/Views/Order/ShippingAddress.cshtml", Model)
            </div>


        </div>
    </div>

</div>

<script>

  

    function CallPrint() {

        var toolBar = document.getElementById('toolbar-header');
        var breakcumdOrder = document.getElementById('breakcumd-Order');
        breakcumdOrder.setAttribute('style', 'display:none');
        toolBar.setAttribute('style', 'margin-top:-50px;');
        window.print();
        window.close();
        breakcumdOrder.setAttribute('style', 'display:block');
        toolBar.setAttribute('style', 'margin-top:0px;');

    }

</script>
