﻿@using SmoovPOS.Common
@using SmoovPOS.Utility.CustomHTMLHelper

@model SmoovPOS.UI.Models.OrderModel

@{

    var currencyVariant = Model.CurrencyDisplay;
}

<style>
    #editRow tr {
        border-top: 1px solid #D3D2D2;
    }

    .colAdhoc {
        height: 60px;
        padding-top: 10px;
        
    }
     .colPadding5 {
       
        padding-top: 5px;
    }

</style>

<div style="background-color:#f8f8f8;border:1px solid #D3D2D2;border-radius: 5px;">
    <div>
        <table id="order-list" style="width:100%; height:40px;font-size:9pt;border-bottom: 1px dotted #D3D2D2;">
            <tr style="border-bottom:1px solid #D3D2D2;">
                <td style="width:45%;">
                    <b style=" margin-top:10px; padding-left:15px;"> @Html.LocalizedLabel("Item")</b>
                </td>
                <td style="width:15%;"><b style="margin-top:10px;">@Html.LocalizedLabel("Qty")</b></td>
                <td style="width:20%;"><b style="margin-top:10px;">@Html.LocalizedLabel("Price")</b></td>
                <td style="width:20%;text-align:right;padding-right:15px;"><b style="margin-top:10px;">@Html.LocalizedLabel("Total")</b></td>
                @*<td style="width:25%;text-align:right;padding-right:15px;"><b style="margin-top:10px;">Total</b></td>*@
            </tr>
        </table>
    </div>
    @{
        if (Model != null)
        {
            foreach (var item in Model.arrayProduct)
            {
                <div style="margin-top:10px">
                    <div>
                        <label style="margin-left:15px;font-size:10pt"> @item.title</label>
                    </div>
                    <div style="width:100%;font-size:9pt;margin-top:10px" >
                        <table style="width:100%;font-size:9pt">
                            @{
                foreach (var itemVariant in item.arrayVariantOrder)
                {
                    double priceVariant = itemVariant.price;
                    if (item.discount)
                    {
                        var discountItem = item.discountProductItem;
                        priceVariant = discountItem.type == 0 ? priceVariant - (double)Math.Round((decimal)Decimal.Parse(@String.Format("{0:0.00}", priceVariant * discountItem.discountValue / 100)), 2) : priceVariant - discountItem.discountValue;
                        priceVariant = priceVariant > 0 ? priceVariant : 0.00;
                    }
                    <tr>
                        <td style="width:45%;vertical-align: text-top;">
                            <div class="colAdhoc">
                                <div style="padding-left:20px;">
                                    <text>@itemVariant.title @itemVariant.color   @itemVariant.size</text>
                                </div>
                                <div style="padding-left:20px;margin-top:5px;">
                                    <text>@itemVariant.sku</text>
                                </div>
                            </div>
                        </td>

                        <td style="width:15%;vertical-align: text-top; ">
                            <div class="colAdhoc">
                                @itemVariant.quantity
                            </div>
                        </td>

                        <td style="width:20%;vertical-align: text-top;">
                            <div class="colAdhoc">
                                @if (item.discount)
                                {
                                    <div>
                                        <label> @currencyVariant&nbsp;@String.Format("{0:0.00}", Math.Round(priceVariant, 2)) </label>


                                    </div>
                                    <div>
                                        <text class="text-muted"><del>@currencyVariant&nbsp;@String.Format("{0:0.00}", itemVariant.price)</del></text>
                                    </div>
                                }
                                else
                                {
                                    <text> @currencyVariant&nbsp;@String.Format("{0:0.00}", Math.Round(itemVariant.price, 2))</text>
                                }
                            </div>

                        </td>

                        <td style="width:20%;text-align:right;padding-right:15px;vertical-align: text-top;">
                            <div class="colAdhoc">
                                @{
                                double total = 0.00;
                                if (item.discount)
                                {
                                    var discountItem = item.discountProductItem;
                                    double saveMoney = discountItem.type == 0 ? (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (itemVariant.price * itemVariant.quantity) * discountItem.discountValue / 100)), 2) : itemVariant.quantity * discountItem.discountValue;
                                    total = Math.Round(itemVariant.price, 2) * itemVariant.quantity - saveMoney;


                                    <strong> @currencyVariant @String.Format("{0:0.00}", total) </strong>
                                    <br />
                                    <span>@Html.LocalizedLabel("YouSave")</span>
                                    <br />
                                    <span>@currencyVariant @String.Format("{0:0.00}", saveMoney)</span>

                                }
                                else
                                {
                                    total = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (priceVariant * itemVariant.quantity))), 2);
                                    <strong> @currencyVariant @String.Format("{0:0.00}", total) </strong>
                                }
                                }
                            </div>
                        </td>
                    </tr>
                }
                            }
                        </table>
                    </div>
                </div>
            }
        }
    }

    <!---------------------------------------------- ADHOC FOR POS---------------------------------------->
    @{
        if (@Model.arrayAdhocProduct != null && @Model.arrayAdhocProduct.Count() > 0)
        {
            <table style="border-top: 1px dotted #D3D2D2;width:100%;font-size:9pt;padding-top:10px;">

                @foreach (var itemAdHoc in Model.arrayAdhocProduct)
                {
                    
                        double priceAdHoc = itemAdHoc.price;
                        if (itemAdHoc.discount)
                        {
                        var discountItem = itemAdHoc.discountProductItem;
                        priceAdHoc = discountItem.type == 0 ? priceAdHoc - (double)Math.Round((decimal)Decimal.Parse(@String.Format("{0:0.00}", priceAdHoc * discountItem.discountValue / 100)), 2) : priceAdHoc - discountItem.discountValue;
                        priceAdHoc = priceAdHoc > 0 ? priceAdHoc : 0.00;
                        }
                        <tr style="margin-top:10px;padding-top:10px">
                            <td style="width:45%;vertical-align: text-top;">
                                <div class="colAdhoc">
                                    <div style="padding-left:20px;">
                                        <text>@itemAdHoc.title </text>
                                    </div>
                                    <div style="padding-left:20px;margin-top:5px;">
                                        <text>@itemAdHoc.description</text>
                                    </div>
                                </div>

                            </td>

                            <td style="width:15%; vertical-align: text-top;">
                                <div class="colAdhoc">
                                    @itemAdHoc.quantity
                                </div>

                            </td>

                            <td style="width:20%;vertical-align: text-top;">
                                @if (itemAdHoc.discount)
                                {
                                    <div class="colAdhoc">
                                        <label> @currencyVariant&nbsp;@String.Format("{0:0.00}", Math.Round(priceAdHoc, 2)) </label>

                                    </div>
                                    <div class="colAdhoc">

                                        <text class="text-muted"><del>@currencyVariant&nbsp;@String.Format("{0:0.00}", itemAdHoc.price)</del></text>
                                    </div>
                                }
                                else
                                {
                                    <text> @currencyVariant&nbsp;@String.Format("{0:0.00}", Math.Round(itemAdHoc.price, 2))</text>
                            }

                            </td>

                            <td style="width:20%;text-align:right;padding-right:15px;vertical-align: text-top;">
                                @{
                            double total = 0.00;
                            if (itemAdHoc.discount)
                            {
                                var discountItem = itemAdHoc.discountProductItem;
                                double saveMoney = discountItem.type == 0 ? (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (itemAdHoc.price * itemAdHoc.quantity) * discountItem.discountValue / 100)), 2) : itemAdHoc.quantity * discountItem.discountValue;
                                total = Math.Round(itemAdHoc.price, 2) * itemAdHoc.quantity - saveMoney;
                                <div class="colAdhoc">
                                    <strong> @currencyVariant @String.Format("{0:0.00}", total) </strong>
                                    <br />
                                    <span>You Save</span>
                                    <br />
                                    <span>@currencyVariant @String.Format("{0:0.00}", saveMoney)</span>
                                </div>

                            }
                            else
                            {

                                total = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (priceAdHoc * itemAdHoc.quantity))), 2);
                                <strong> @currencyVariant @String.Format("{0:0.00}", total) </strong>
                            }
                                }
                            </td>
                        </tr>

                        }

</table>
        }

    }
    <!----------------------------------------------END ADHOC FOR POS---------------------------------------->
    <!-- TOTAL-->
    <div style="margin-top:10px">
        <table style="border-top: 1px dotted #D3D2D2;width:100%;margin-top:10px;font-size:9pt;padding-top:10px">
            <tr style="margin-top:5px">
                <td style="width:60%"></td>
                <td style="align-content:center; width:20%;" colspan="2">
                    @{
                        if (Model.discountCart)
                        {
                            <div class="colPadding5">
                                <text> @Html.LocalizedLabel("CartDiscount") </text>
                            </div>
                        }
                    }

                    <div class="colPadding5">
                        <text>@Html.LocalizedLabel("TotalDiscount") </text>
                    </div>

                    <div class="colPadding5">
                        <text>@Html.LocalizedLabel("SubTotal") </text>
                    </div>

                    <div class="colPadding5">
                        @{
                            if (Model.orderType == ConstantSmoovs.OrderType.OrderTypeSelfCollect && Model.serviceCharge != null && Model.serviceCharge.serviceChargeValue > 0)
                            {
                                <text>  @Html.LocalizedLabel("ServiceCharge") </text>
                            }
                        }
                    </div>
                    <div class="colPadding5">
                        @{
                            if (Model.listTaxvalue != null && Model.listTaxvalue.Count > 0)
                            {
                                foreach (var itemTax in @Model.listTaxvalue)
                                {
                                    <div>
                                        <text>  @itemTax.taxName </text>
                                    </div>
                                }
                            }
                            else
                            {
                                <text> @Html.LocalizedLabel("Tax") </text>
                            }
                        }
                    </div>
                    <div class="colPadding5">
                        <text>@Html.LocalizedLabel("ShippingFee")</text>
                    </div>

                    <div class="colPadding5">
                        <text>@Html.LocalizedLabel("RoundAmount")</text>
                    </div>
                    <div class="colPadding5">
                        <b>@Html.LocalizedLabel("GrandTotal") </b>

                    </div>
                </td>

                <td style="align-content:center; width:20%;text-align:right;padding-right:15px;">
                    @{
                        if (Model.discountCart)
                        {
                            <div class="colPadding5">
                                <text style="text-align: right;">@currencyVariant @String.Format("{0:0.00}", Model.discountCartValue)</text>
                            </div>
                        }
                    }

                    <div class="colPadding5">
                        <text style="text-align: right;">@currencyVariant @String.Format("{0:0.00}", Model.discount)</text>
                    </div>

                    <div class="colPadding5">
                        <text style="text-align: right;"> @currencyVariant @String.Format("{0:0.00}", Model.subTotal) </text>
                    </div>
                    <div class="colPadding5">
                        @{
                            if (Model.orderType == ConstantSmoovs.OrderType.OrderTypeSelfCollect && Model.serviceCharge != null && Model.serviceCharge.serviceChargeValue > 0)
                            {
                                <text> @currencyVariant @String.Format("{0:0.00}", Model.serviceCharge.serviceChargeValue)</text>
                            }
                        }
                    </div>
                    <div>
                        @{
                            if (Model.listTaxvalue != null && Model.listTaxvalue.Count > 0)
                            {
                                foreach (var itemTax in Model.listTaxvalue)
                                {
                                    <div class="colPadding5">
                                        <text>@currencyVariant  @String.Format("{0:0.00}", itemTax.taxValue) </text>
                                    </div>
                                }
                            }
                            else
                            {
                                <text> @currencyVariant 0.00 </text>
                            }
                        }
                    </div>
                    <div class="colPadding5">
                        <text> @currencyVariant @String.Format("{0:0.00}", Model.ShippingFeeShow)  </text>
                    </div>
                    <div class="colPadding5">
                        <text> @currencyVariant @String.Format("{0:0.00}", Model.roundAmount)  </text>
                    </div>

                    <div class="colPadding5">
                        <strong> @currencyVariant @String.Format("{0:0.00}", Model.grandTotal)  </strong>
                    </div>
                </td>
            </tr>
        </table>
    </div>
        



        <div>
            <table style="width:100%;font-size:9pt;border-top: 1px solid #D3D2D2;margin-top:10px;padding-top:10px;margin-top:10px;min-height:40px">
                <tr style="border-top: 1px solid #D3D2D2;height:30px;margin-bottom:10px " id="editRow">
                    <td style="width:60%" valign="top">
                        <b style="padding-left:15px;">Payment Info:</b>
                    </td>
                    <td style="width:40%;padding-right:15px">
                        <table style="width:100%">
                            @{
                                if (@Model.arrayPayment != null && @Model.arrayPayment.Count() > 0)
                                {
                                    foreach (var itemPayment in Model.arrayPayment)
                                    {

                                        <tr style="margin-top:0px!important">
                                            <td style="align-content:center;width:50%;text-align:left;padding-right:15px;">
                                                <text style="padding-right:10px;">@itemPayment.paymentType </text>

                                            </td>
                                            <td style="align-content:center;width:50%;text-align:right;">
                                                <text> @currencyVariant&nbsp;@String.Format("{0:0.00}", Math.Round(@itemPayment.charged, 2)) </text>
                                            </td>
                                        </tr>

                                    }
                                }
                            }
                        </table>
                    </td>
                </tr>
            </table>
        </div>
    <div style="min-height:40px">
        <table style="width:100%;font-size:9pt;border-top: 1px solid #D3D2D2;margin-top:10px;">
            <tr style="border-bottom:1px solid #D3D2D2;">
                <td style="width:10%;padding-left:15px;padding-top:10px"><b>Remark</b></td>
                <td style="width:90%;padding-left:15px;">
                    @{
                        @Model.remarkShow
                    }
                </td>
            </tr>
        </table>
    </div>
    </div>
