﻿@using SmoovPOS.UI.Models

@model SmoovPOS.UI.Models.OrderModel

@{
    var currencyVariant = Model.CurrencyDisplay;
}

<div style="width:100%;background-color:#f8f8f8;border:1px solid #D3D2D2;border-radius: 5px;">
    <table style="width:100%;margin-top:10px;font-size:10pt;margin-bottom:15px;margin-top:15px;padding-top:15px;">
        <tr>
            <td style="padding-left:15px;width:50%">
                <b>Refund Reason:</b>
                <text style=" word-break: break-all;">@Model.RefundReason</text>
            </td>
            <td style="padding-right:15px;vertical-align: top; text-align: right;width:50%">
                <text>Refund by: </text>
                <text>@Model.RefundByStaff</text>
            </td>
        </tr>
    </table>
    <div style="padding-left:15px;font-size:10pt">
        <b>Refund Time:</b>   @Model.RefundDateShow
    </div>
    <table style="border-top: 1px dotted #D3D2D2;width:100%;font-size:9pt;margin-top:30px;padding-top:15px;">
        <tr style="height:30px;">
            <td style="width:60%;padding-left:15px">
                <b> Refund Information</b>
            </td>
            @{
                if (@Model.refundInfo.arrayPayment != null && @Model.refundInfo.arrayPayment.Count() > 0)
                {
                    foreach (var itemPayment in Model.refundInfo.arrayPayment)
                    {
                        <td style="align-content:center;width:40%;text-align:right;padding-right:15px;">
                            <strong style="padding-right:10px;">@itemPayment.paymentType </strong>
                            <strong stle"> @currencyVariant&nbsp;@String.Format("{0:0.00}", Math.Round(@itemPayment.charged, 2)) </strong>
                        </td>
                    }
                }
                else
                {
                    <td style="align-content:center;width:40%;text-align:right;padding-right:15px;">
                        <text> </text>
                    </td>
                }
            }
        </tr>
    </table>

</div>
