﻿@using SmoovPOS.UI.Models
@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.OrderModel

<div style="">
    <div style="margin-top:5px;margin-bottom:5px;font-size:10pt">
        <text>
            @Html.LocalizedLabel("Remark")
        </text>
    </div>

    <div style="font-size:9pt;border:1px solid #D3D2D2;margin-top:10px;border-radius: 5px;min-height:60px;padding:10px">
        <text name="remark" id="remark" style="margin:10px;word-break:break-all;padding-top:10px">@Model.remarkShow</text>
    </div>
</div>
