﻿@using SmoovPOS.UI.Models
@model SmoovPOS.UI.Models.OrderModel
@using SmoovPOS.Utility.CustomHTMLHelper
<div style="border:1px solid #D3D2D2; border-radius: 5px;">
    @{
        //
        @*<button onclick="OpenInNewTab()"> new map</button>*@


        if (Model.orderType == 1)
        {
            <div id="div-self-collect">
                <div style="margin-top:10px; margin-left:10px;font-size:10pt">
                    <b>
                        @Html.LocalizedLabel("CollectPoint")
                    </b>
                </div>

                <div style="margin-top:15px;font-size:10pt;margin-top:10px">
                    <div class="col-md-4">
                        <text style="width:30%">@Html.LocalizedLabel("Store")</text>

                    </div>
                    <div class="col-md-8" style="font-size: 10pt">
                        @{
            if (Model.inventory != null && !string.IsNullOrWhiteSpace(Model.inventory.businessID))
            {
                <text >  @Model.inventory.businessID </text>
            }
            else
            {
                <text> @Html.LocalizedLabel("NoStore") </text>
            }


                        }
                    </div>

                </div>
                <div style="margin-top:5px; ">

                    @*<div id="div-no-address" style="font-size:10pt">
                            <text style="font-size:10pt;margin-left:5px;display:none" id="lbl-no-address">
                                No shipping address was provided because this order does not require shipping.
                            </text>
                        </div>*@
                    <div id="div_address" style="font-size: 10pt; ">
                        <div class="col-md-4">
                            <text style="font-size:10pt">@Html.LocalizedLabel("Address")</text>
                        </div>
                        <div class="col-md-8">
                            <text id="lbl_address" style="font-size:10pt;word-break: break-all;">Singapore</text>
                        </div>


                    </div>




                </div>
            </div>


        }
        else
        {
            <div id="div-delivery">
                <div style="margin-top:10px; margin-left:15px;">
                    <b style="font-size:10pt">
                        @Html.LocalizedLabel("Recipient")
                    </b>
                </div>
                <!-- RECEIVE-->
                <div style="margin-left:-5px;margin-top:10px;font-size:10pt">
                    <div>
                        <div class="col-md-4">
                            @Html.LocalizedLabel("Name")
                        </div>
                        <div class="col-md-8">
                            @Model.CustomerReceiverFullName
                        </div>
                    </div>
                    <div>
                        <div class="col-md-4">
                            @Html.LocalizedLabel("email_Title")
                        </div>
                        <div class="col-md-8" style="word-break:break-all">
                            @{
            if (!string.IsNullOrWhiteSpace(Model.customerReceiver.email))
            {
                    @Model.customerReceiver.email
            }


                            }
                        </div>

                    </div>
                    <div>
                        <div class="col-md-4">
                            @Html.LocalizedLabel("Phone")
                        </div>
                        <div class="col-md-8">
                            @{
                                if (!string.IsNullOrWhiteSpace(Model.customerReceiver.phone))
                                {
                                    if (!string.IsNullOrWhiteSpace(@Model.customerReceiver.phoneRegion) && !string.IsNullOrEmpty(@Model.customerReceiver.phoneRegion))
                                    {
                                        <text>@Model.customerReceiver.phoneRegion - @Model.customerReceiver.phone</text>
                                    }
                                    else
                                    {
                                        <text>@Model.customerReceiver.phone</text>
                                    }
                                }
                                else
                                {
                                    <text>  @Html.LocalizedLabel("NoPhone") </text>
                                }
                            }
                        </div>
                    </div>
                </div>
               
                <!-- END RECIVER-->
                @if (Model.serviceShipping != null && Model.serviceShipping.arrayServiceDelivery != null && Model.serviceShipping.arrayServiceDelivery.Count > 0)
                {
                    <div style="margin-top:5px; margin-left:15px;font-size:10pt">
                        <b>
                            @Html.LocalizedLabel("ShippingMethod")
                        </b>
                    </div>
                    <div style="margin-top:5px; margin-left:15px;font-size:10pt">

                        <text>
                            @Model.serviceShipping.arrayServiceDelivery.FirstOrDefault().serviceName
                        </text>


                    </div>
                }


                <div style="margin-top:10px;margin-left:15px;font-size:10pt">
                    <b>
                        @Html.LocalizedLabel("ShippingAddress")
                    </b>
                </div>
                <div style="margin-top:5px; margin-left:15px;">    
                    <div id="div_address">
                        <text id="lbl_address" style="font-size:10pt"></text>
                    </div>
                </div>
            </div>
        }

    }

    <div>
        <div style=" margin-left:15px;font-size:10pt;padding-top:20px;text-align:center;font-size:10pt">
            <a href="#" style="color: blue" onclick="OpenInNewTab();"> Click map to view larger</a>
        </div>
        <div id="googleMap" style="width:90%;height:300px; margin:10px;margin-right:20px;"></div>
    </div>

</div>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
<script>
    var latitudeAdd = "0.00";
    var longtitudeAdd = "0.00";
    @*function initialize() {

        var mapProp = {
            center: new google.maps.LatLng(latitudeAdd, longtitudeAdd),
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        var marker = new google.maps.Marker({
            position: new google.maps.LatLng(latitudeAdd, longtitudeAdd),
            map: map,
            title: ''
        });

    }


    function GetLocation() {
        var geocoder = new google.maps.Geocoder();
        var address = '@Model.addressShipping';


        geocoder.geocode({ 'address': address }, function (results, status) {
            // debugger;
            if (status == google.maps.GeocoderStatus.OK) {
                latitudeAdd = results[0].geometry.location.lat();
                longtitudeAdd = results[0].geometry.location.lng();

                // document.getElementById('lbl_address').innerText = address;
                //$('#lbl_address').text(address);
                document.getElementById('lbl_address').innerText = address;
                document.getElementById('lbl_address').textContent = address;
                document.getElementById('div_address').setAttribute('style', 'font-size:10pt');


            } else {
                address = "Singapore";
                document.getElementById('lbl_address').innerText = address;
                document.getElementById('lbl_address').textContent = address;
                //$('#lbl_address').text(address);
                //document.getElementById('div-no-address').setAttribute('style', 'display:none;font-size:10pt');
                latitudeAdd = "1.3667";
                longtitudeAdd = "103.8";
                document.getElementById('div_address').setAttribute('style', 'font-size:10pt');
            }
        });
    };

    $(document).ready(function () {
        GetLocation();
        google.maps.event.addDomListener(window, 'load', initialize);
        GetLocation();
        //alert(latitudeAdd);
        //alert(longtitudeAdd);
    });*@
    function OpenInNewTab() {
        //var lat = parseFloat(latitudeAdd);
        //var log = parseFloat(longtitudeAdd);
        //var addSearch = 'http://maps.google.com/maps/api/geocode/json?address='+ latitudeAdd +',' +longtitudeAdd + '&sensor=false';
        // var urlMap = 'https://www.google.com/maps?q=' + latitudeAdd + '&f=q&hl=en&geocode=&mrt=all&ie=UTF8&hq=&' + 'hnear=' + longtitudeAdd + '&z=14&iwloc=&output=embed';
        @*var urlMap = 'https://www.google.com/maps/place/' + '@Model.addressShipping' + '&z=14&iwloc=&output=embed';*@
        //debugger;
        //var urlMap = addSearch;
        var urlMap = 'https://www.google.com/maps/place/' + latitudeAdd + ',' + longtitudeAdd;

        //  debugger;

        //var urlMap = 'http://maps.google.com/maps?q=' + latitudeAdd + '&f=q&hl=en&geocode=&mrt=all&ie=UTF8&hq=&' + 'hnear=' + longtitudeAdd + '&z=14&iwloc=&output=embed';

        var win = window.open(urlMap, '_blank');
        //  win.focus();
    }
    function loadMap(options) {

        // geocoder docs: http://code.google.com/apis/maps/documentation/geocoding/

        var geocoder = new google.maps.Geocoder();
        var address = '@Model.addressShipping';
        if (!geocoder) {
            if (options.onError)
                options.onError('Failed to create geocoder');
            return;
        }

        geocoder.geocode({
            address: address
        },
            function (results, status) {

                if (status == google.maps.GeocoderStatus.OK) {
                    latitudeAdd = results[0].geometry.location.lat();
                    longtitudeAdd = results[0].geometry.location.lng();

                    // document.getElementById('lbl_address').innerText = address;
                    //$('#lbl_address').text(address);
                    document.getElementById('lbl_address').innerText = address;
                    document.getElementById('lbl_address').textContent = address;
                    document.getElementById('div_address').setAttribute('style', 'font-size:10pt;');
                    document.getElementById('lbl_address').setAttribute('style', 'font-size:10pt;word-break: break-all;');

                }
                else if (status != google.maps.GeocoderStatus.OK) {
                    if (options.onError)
                        options.onError('Geocoder response failed.');
                    address = "Singapore";
                    document.getElementById('lbl_address').innerText = address;
                    document.getElementById('lbl_address').textContent = address;
                    //$('#lbl_address').text(address);
                    //document.getElementById('div-no-address').setAttribute('style', 'display:none;font-size:10pt');
                    latitudeAdd = "1.3667";
                    longtitudeAdd = "103.8";
                    document.getElementById('div_address').setAttribute('style', 'font-size:10pt');
                    document.getElementById('lbl_address').setAttribute('style', 'font-size:10pt;word-break: break-all;');
                    return;
                }
                if (!results.length) {
                    if (options.onError)
                        options.onError('Failed to locate address.');
                    return;
                }

                var myOptions = {
                    zoom: options.zoom,
                    center: results[0].geometry.location,
                    mapTypeId: options.mapType
                };

                var map = new google.maps.Map(document.getElementById(options.idDiv), myOptions);

                var marker = new google.maps.Marker({
                    position: results[0].geometry.location,
                    map: map
                });
            }
        );
    }

    $(document).ready(function () {
        var address = '@Model.addressShipping';
        loadMap({
            address: address,
            idDiv: 'googleMap',
            zoom: 17,
            mapType: google.maps.MapTypeId.ROADMAP,
            onError: function (error) {
                $('#googleMap').html(error);
            }
        });
    });

</script>