﻿@using SmoovPOS.UI.Models
@model SmoovPOS.UI.Models.OrderModel
@using SmoovPOS.Utility.CustomHTMLHelper
@{
    ViewBag.Title = "Order Detail / ";

}

<div class="q-form" id="divOrderPartialAll">
    <div class="q-toolsbar">
        <div class="col-md-4" id="orderCode">
            <h3 style="margin-left:-20px;">@ViewBag.Title @Model.orderCode </h3>
            @*<div style="font-size:9pt;padding-left:0px;"> <text> @Model.dateAndBranchOrderShow</text></div>*@

        </div>
        <div class="col-md-8" id="btn-Order">

            <button onclick="location.href='@Url.Action("Print", "Order", new { id = @Model._id })';return false;" class="btn btn-primary" style="margin-right:5px;padding-left:20px;padding-right:20px">@Html.LocalizedButton("Print")</button>

            <button onclick="location.href='@Url.Action("Index", "Order")';return false;" class="btn btn-default" style=" border: 1px solid #D9DDE0; color: #0094ff;margin-right:20px;">@Html.LocalizedButton("Back")</button>
        </div>

    </div>
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

    <div style="background:none;padding-bottom:20px;" id="breakcumd-Order">

        @Html.Partial("~/Views/Order/OrderStatusFlow.cshtml", Model)

    </div>

    <div style="margin-top:30px;">
        <div class="col-md-8 classPrint">

            @{
                if (@Model.orderStatus == 9 && @Model.refundInfo != null)
                {
                    <div id="refund">

                        @Html.Partial("~/Views/Order/RefundOrder.cshtml", Model)
                    </div>
                    <div class="col-md-12 lineStyle"><hr style="border-top: 0px solid #D3D2D2; " /></div>
                }
            }

            <div id="productList">
                @Html.Partial("~/Views/Order/ProductItem.cshtml", Model)
            </div>
            <div class="col-md-12 lineStyle"><hr style="border-top: 0px solid #D3D2D2; " /></div>
            <div style="margin-top:30px;" id="remark">
                @Html.Partial("~/Views/Order/Remark.cshtml", Model)
            </div>


        </div>
        <div class="col-md-4">
            <div id="customerProfile">
                @Html.Partial("~/Views/Order/CustomerProfile.cshtml", Model)
            </div>
            <div class="col-md-12 lineStyle"><hr style="border-top: 0px solid #D3D2D2; " /></div>
            <div style="margin-top:30px;" id="mapAddress">
                @if (Model.orderType != SmoovPOS.Common.ConstantSmoovs.OrderType.OrderTypeTableOrdering)
                {
                    @Html.Partial("~/Views/Order/ShippingAddress.cshtml", Model)
                }
                else
                {
                    @Html.Partial("~/Views/Order/DineInPoint.cshtml", Model)
                }
                
            </div>


        </div>
    </div>

    <!-- FOOTER-->
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="q-toolsbar">
        <div class="col-md-4" id="orderCode">
            <h3> </h3>
            @*<div style="font-size:9pt;padding-left:0px;"> <text> @Model.dateAndBranchOrderShow</text></div>*@

        </div>
        <div class="col-md-8" id="btn-Order">

            <button onclick="location.href='@Url.Action("Print", "Order", new { id = @Model._id })';return false;" class="btn btn-primary" style="margin-right:5px;padding-left:20px;padding-right:20px">@Html.LocalizedButton("Print")</button>

            <button onclick="location.href='@Url.Action("Index", "Order")';return false;" class="btn btn-default" style=" border: 1px solid #D9DDE0; color: #0094ff;margin-right:20px;">@Html.LocalizedButton("Back")</button>
        </div>

    </div>
    <!-- END FOOTER-->
</div>

