﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.EmailConfigurationViewModel
@{

    ViewBag.Title = "Email Configuration";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}
<link rel="stylesheet" href="~/Scripts/smoovposLibrary.js">
<style>
    .link-show {
        margin-bottom: 15px;
    }

    .col-md-6 {
        display: inline-block;
        padding: 10px !important;
    }

    .col-md-12 > .col-md-4 {
        margin-left: -40px;
    }

</style>

<div class="q-form">
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3 style="padding: 10px; margin-left: -10px;">@ViewBag.Title</h3>

        </div>
    </div>
    <div class="q-clear">
    </div>
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <!-- BODY-->
    <div class="col-md-12">
        <div class="col-md-4">
            <div>
                <b>@Html.LocalizedLabel("EmailSystem")</b>
            </div>
            <div>
                <text>@Html.LocalizedLabel("EmailSystemDescription") </text>
            </div>
            <div style ="margin-top:10px;">
                <select id="emailSystem" name="emailSystem" class="selectStatus">
                    <option id="0" value="0">Default</option>
                    <option id="1" value="1">Private</option>
                </select>
                <div style="margin-top: -30px;margin-left: 100px;position: absolute">
                    <div class="loading" style="display:none;font-size:14pt">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
            </div>
            @*<div style="margin-top:20px;">
                <button class="btn btn-default" style="padding-left: 20px; padding-right: 20px" onclick="ApplyPrivate()">Apply</button>
            </div>*@
        </div>
        <div class="col-md-8">
            <div id="div-default">
                <div>
                    @*<b>@Html.LocalizedLabel("CustomerEmail")</b>*@
                    <b>Default Email</b> 
                </div>
                <div style="margin-top:10px;" >
                    @*<input value="@Model.defaultEmail" disabled class="form-control" style="width:50%;display:inline" id="txtEmailDefault" />*@
                    <input value="noreply@smoovpos.com" disabled class="form-control" style="width:50%;display:inline" id="txtEmailDefault" />
                    <button class="btn btn-default" style="margin-left:10px; padding-left: 20px; padding-right: 20px" onclick="ApplyPrivate()">Apply</button>
                </div>
               
                <div style="margin-top:10px;" >
                    @Html.LocalizedLabel("CustomerEmailDescription")
                </div>
                @*@Html.Partial("~/Views/EmailConfiguration/Default.cshtml", Model)*@
            </div>
            <div id="div-private" style="display:none">
                @Html.Partial("~/Views/EmailConfiguration/Private.cshtml", Model)
            </div>
            <div id="div-test" style="display:none">
                @Html.Partial("~/Views/EmailConfiguration/TestSendMail.cshtml")
            </div>

        </div>
    </div>
    <!-- BODY-->
    <!-- POPUP APPLY-->
    <div class="modal fade" id="modalApply" tabindex="-101" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 350px;">
                <div class="modal-body">
                    Your email configuration has been apply successfully!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" style="padding-left:20px;padding-right:20px">OK</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
      //  var txtEmailDefault = document.getElementById("txtEmailDefault");
        var isApply = '@Model.isApplyMail';
        if(isApply=="True")
        {
          //  txtEmailDefault.value = "@Model.UserName";
          
            $('#emailSystem option[value=1]').attr('selected', 'selected');
            $("#div-default").hide();
            $("#div-private").show();
            $("#div-test").hide();
        }
     //   alert(isApply);
    });
    $(".mainMenu").hide();
    $(".settingsMenu").show();
    $("#emailSystem").change(function () {       
      
        var emailSystem = document.getElementById("emailSystem");
        emailSystem.setAttribute("disabled", "disabled");
        var id = $('#emailSystem').find(":selected").attr("id");      
        switch (id) {
            case "0":
               
                var txtEmailDefault = document.getElementById("txtEmailDefault");
                txtEmailDefault.value = "@Model.defaultEmail";
                emailSystem.removeAttribute("disabled");
                $("#div-default").show();
                $("#div-private").hide();
                $("#div-test").hide();
                break;
                return;
            case "1":
               
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetConfigOfMerchant", "EmailConfiguration")',
                    data: null,
                    success: function (status) {
                        try {
                            var pass = '@Model.PassWord';
                            document.getElementById("PassWord").value = pass;
                        }
                        catch (err) {

                        }
                        $("#div-private").html(status);
                        $("#div-private").show();
                        $("#div-default").hide();
                        $("#div-test").hide();
                        emailSystem.removeAttribute("disabled");
                        return false;
                    },
                    error: function (status) {
                      
                        emailSystem.removeAttribute("disabled");
                    },
                    beforeSend: function () {
                        $('.loading').css("display", "block");

                    },
                    complete: function () {
                        $('.loading').css("display", "none");

                    }

                });
            
                break;
                return;
        }
        return false;
    });

    function ApplyPrivate() {
        var indexChoose = 0;

        var id = $('#emailSystem').find(":selected").attr("id");      
        switch (id) {
            case "0":
                indexChoose = 0;
                break;
            case "1":
                indexChoose = 1;
                break;
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ApplyPrivate", "EmailConfiguration")',
            data: { indexChoose: indexChoose },
            success: function (status) {
                $('#modalApply').modal('show');
            },
            error: function (status) {
            }

        });
    }

</script>

