﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.EmailConfigurationViewModel
@{

    ViewBag.Title = "Email Configuration";
    Layout = "~/Views/Shared/_LayoutNoScriptForPartial.cshtml";
}
<style>
    .colSmoov > .link-show {
        margin-bottom: 15px;
    }

    .colSmoov > .col-md-6 {
        display: inline-block;
        padding: 10px !important;
        margin-left: -10px !important;
    }

    .colSmoov .col-md-4 {
        margin-left: -10px !important;
    }

    .colSmoov .col-md-2 {
        padding: 0px !important;
    }

    .colSmoov > .col-md-12 {
        margin-right: 0px !important;
        padding: 0px !important;
    }
</style>
@using (Ajax.BeginForm("SaveConfigPrivate", "EmailConfiguration", new SmoovPOS.UI.Models.EmailConfigurationViewModel(), new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { autocomplete = "off", @id = "formid", @encType = "multipart/form-data" }))
{
    Html.AntiForgeryToken();

    <div>
        <div class="validation-summary-errors colSmoov">
            <ul>
                <li id="ErrSMTP" style="display:none">
                    Couldn't open connection to server !
                </li>
                <li id="ErrPOP" style="display:none">
                    Couldn't open connection to server !
                </li>
            </ul>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"></div>
        <!-- SMTP -->
        <div class="colSmoov">
            @Html.HiddenFor(model => model.Id)
            <div class="col-md-4">
                <span>Outgoing SMTP Server</span><span style="color:red"> * </span>
                @Html.TextBoxFor(m => m.OutgoingSmtp, new { @class = "form-control", @maxlength = 50, @placeholder = "smtp.gmail.com" })
                @Html.ValidationMessageFor(m => m.OutgoingSmtp)
            </div>
            <div class="col-md-2">
                <span>Outgoing Port</span><span style="color:red"> * </span>

                @Html.TextBoxFor(m => m.OutgoingPort, new { @class = "form-control", @maxlength = 5, @placeholder = "587" })
                @Html.ValidationMessageFor(m => m.OutgoingPort)
            </div>
        </div>
        <!-- POP -->
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"></div>
        <div class="colSmoov">
            <div class="col-md-4">
                <span>Incoming POP3 Server</span><span style="color:red"> * </span>

                @Html.TextBoxFor(m => m.IncomingPop, new { @class = "form-control", @maxlength = 50, @placeholder = "pop.gmail.com" })
                @Html.ValidationMessageFor(m => m.IncomingPop)
            </div>
            <div class="col-md-2">
                <span>Incoming Port</span><span style="color:red"> * </span>
                @Html.TextBoxFor(m => m.IncomingPort, new { @class = "form-control", @maxlength = 5, @placeholder = "995" })
                @Html.ValidationMessageFor(m => m.IncomingPort)
            </div>
        </div>
        <!-- UserName  -->
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"></div>
        <div>
            <div class="col-md-6">
                <span>Email </span><span style="color:red"> * </span>
                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @maxlength = 50, @placeholder = "merchant@example.com", autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.UserName)
            </div>

        </div>

        <!-- Password  -->
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"></div>
        <div>

            <div class="col-md-6">
                <span>Password </span><span style="color:red"> * </span>
                @Html.PasswordFor(m => m.PassWord, new { @class = "form-control", @maxlength = 50, autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.PassWord)
            </div>
        </div>
        <!-- Save  -->
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"></div>
        <div class="col-md-4">

            <button type="button" id="submitConfigPrivate" name="checkSubmit" class="btn btn-primary" style="margin-left: -10px;padding-left:20px;padding-right:20px">@Html.LocalizedButton("Save")</button>
        </div>
    </div>
}
<script>

    $(function () {
        $("input[type='password']").attr("autocomplete", "off");

        $('form[autocomplete="off"] input, input[autocomplete="off"]').each(function () {
            var input = this;
            var name = $(input).attr('name');
            var id = $(input).attr('id');
            if (name == 'UserName') {
                $(input).removeAttr('name');
                $(input).removeAttr('id');
                setTimeout(function () {
                    $(input).attr('name', name);
                    $(input).attr('id', id);
                }, 1);
            }

            if (name == 'PassWord') {
                $(input).removeAttr('name');
                $(input).removeAttr('id');
                var pass = '@Model.PassWord';
                setTimeout(function () {
                    $(input).attr('name', name);
                    $(input).attr('id', id);
                    if (!isBlank(pass) && !isEmpty(pass)) {
                        document.getElementById("PassWord").value = pass;
                    }
                }, 1);
            }
        });
    });
    $('#submitConfigPrivate').click(function () {

        $('#ErrSMTP').css('display', 'none');
        $('#ErrPOP').css('display', 'none');

        var btnSave = document.getElementById("submitConfigPrivate");
        btnSave.setAttribute("disabled", "disabled");
        var form = $("#formid");
        form.removeData('validator');
        form.removeData('unobtrusiveValidation');
        $.validator.unobtrusive.parse(form);
        var checkForm = form.valid();
        var domainSmtp = document.getElementById("OutgoingSmtp").value.trim();
        var portSmtp = parseInt(document.getElementById("OutgoingPort").value.trim());
        var domainPOP = document.getElementById("IncomingPop").value.trim();
        var portPOP = parseInt(document.getElementById("IncomingPort").value.trim());
        var UserName = document.getElementById("UserName").value.trim();
        var PassWord = document.getElementById("PassWord").value.trim();
        if (checkForm) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("ValidSMTP", "EmailConfiguration")',
                data: {
                    hostName: domainSmtp,
                    port: portSmtp
                },
                success: function (result) {

                    if (result == "True") {
                        $('#ErrSMTP').css('display', 'none');
                        $.ajax({
                            type: "POST",
                            url: '@Url.Action("ValidPOP", "EmailConfiguration")',
                            data: {
                                hostName: domainPOP,
                                port: portPOP,
                                user: UserName,
                                pass: PassWord,
                            },
                            success: function (result) {

                                if (result == "True") {
                                    if (checkForm) {

                                        $.ajax({
                                            type: "POST",
                                            url: '@Url.Action("SaveConfigPrivate", "EmailConfiguration")',
                                            data: $("#formid").serialize(),
                                            success: function (result) {

                                                if (result.success) {
                                                    SetEmailChange(UserName);
                                                    $("#div-private").hide();
                                                    $("#div-default").hide();
                                                    $("#div-test").show();

                                                }
                                                else {
                                                    $('#ErrPOP').css('display', 'block');
                                                    console.log("SaveConfigPrivate Error");
                                                }

                                            },
                                            beforeSend: function () {
                                                $('#emailSystem').attr('disabled', 'disabled');
                                                $('#submitConfigPrivate').attr('disabled', 'disabled');
                                                $('#submitConfigPrivate').button('loading');
                                            },
                                            complete: function () {
                                                $('#submitConfigPrivate').button('reset');
                                                $('#submitConfigPrivate').removeAttr('disabled');
                                                $('#emailSystem').removeAttr('disabled');
                                            }
                                        });
                                    }
                                    else {
                                        $('#ErrSMTP').css('display', 'none');
                                        $('#ErrPOP').css('display', 'none');

                                    }
                                }
                                else {
                                    $('#ErrSMTP').css('display', 'none');
                                    $('#ErrPOP').css('display', 'block');
                                    console.log("Config ValidPOP Error");
                                }

                            },
                            beforeSend: function () {
                                $('#emailSystem').attr('disabled', 'disabled');
                                $('#submitConfigPrivate').attr('disabled', 'disabled');
                                $('#submitConfigPrivate').button('loading');
                            },
                            complete: function () {
                                $('#submitConfigPrivate').button('reset');
                                $('#submitConfigPrivate').removeAttr('disabled');
                                $('#emailSystem').removeAttr('disabled');
                            }

                        });

                    }
                    else {
                        $('#ErrPOP').css('display', 'none');
                        $('#ErrSMTP').css('display', 'block');
                        btnSave.removeAttribute("disabled");
                        console.log("TestConnection Error0");
                    }

                },
                beforeSend: function () {
                    $('#emailSystem').attr('disabled', 'disabled');
                    $('#submitConfigPrivate').attr('disabled', 'disabled');
                    $('#submitConfigPrivate').button('loading');
                },
                complete: function () {
                    $('#submitConfigPrivate').button('reset');
                    $('#submitConfigPrivate').removeAttr('disabled');
                    $('#emailSystem').removeAttr('disabled');
                }
            });
        }
        btnSave.removeAttribute("disabled");
    });
   
    $(document).ready(function () {

        // if(pass!=null)
        var portSmtp = parseInt(document.getElementById("OutgoingPort").value.trim());
        var portPOP = parseInt(document.getElementById("IncomingPort").value.trim());
        if (portSmtp == 0) {
            document.getElementById("OutgoingPort").value = "";
        }
        if (portPOP == 0) {
            document.getElementById("IncomingPort").value = "";
        }
        $("#OutgoingPort").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        $("#IncomingPort").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });
    });

    function SetEmailChange(UserName) {
        var txtMailChange = document.getElementById("txtMailChange");
        txtMailChange.value = UserName;

    }
</script>
