﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.EmailConfigurationViewModel

<style>
  
</style>
<div class=".colSmoov">
    <div>
        @Html.LocalizedLabel("EmailAddress")
    </div>
    <div class="col-md-6 colSmoov">
        <input placeholder="merchant@example.com" class="form-control" style=" margin-left: -10px" value="@Model.UserName" disabled  id="txtMailChange"/>
    </div>
    <div class="q-clear">
    </div>
    <div class="col-md-12 lineStyle"></div>
    <div>
        @Html.LocalizedLabel("CustomerEmailDescription")
    </div>
    <div class="q-clear">
    </div>
   
    <div class="q-clear">
    </div>
    <div class="col-md-12 lineStyle"></div>
    <div style="margin-top:10px;">
        <button class="btn btn-default" style="margin-right:10px;" onclick="GetPrivateEmail()" id="btnChangeSend">@Html.LocalizedButton("Change")</button>
        <button class="btn btn-primary" style="padding-left:20px;padding-right:20px" onclick="modalSendmail()" id="btnTestSend">@Html.LocalizedButton("Test")</button>
        <button class="btn btn-default" style="margin-left:10px; padding-left: 20px; padding-right: 20px" onclick="ApplyPrivateTest()" id="btnApply">Apply</button>
        <div style="margin-top: -30px;margin-left: 300px;position: absolute">
            <div class="loadingTest" style="display:none;font-size:14pt">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
</div>

<!-- POPUP MESSAGE-->
<div class="modal fade" id="modalSendMail" tabindex="-2" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-header">
                <b>Send Test Email</b>
            </div>
            <div class="modal-body">
                <input placeholder="customer@example.com" class="form-control" id="txtEmailReceive" style=" margin-left: -10px" />
                <div class="validation-summary-errors" style="margin-top:10px;">
                    <ul>
                        <li id="ErrEmailTest" style="display:none; ">The Email Address field is required.</li>
                        <li id="ErrEmailFormatTest" style="display:none; ">Please enter a valid email address.</li>
                        <li id="ErrUnbableSendMail" style="display:none">
                            Unable to Send emails. Please contact with your admin system for more information!
                        </li>

                    </ul>

                </div>
               
            </div>
            <div class="modal-footer">
              
                <button type="button" class="btn btn-primary" onclick="testSendEmail()" style="padding-left:20px;padding-right:20px" id="btnSendTestMail">Send</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelSend">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- POPUP MESSAGE-->
<div class="modal fade" id="modalMessage" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-body">
                Your Mail has been sent successfully!
            </div>
            <div class="modal-footer">             
                <button type="button" class="btn btn-primary" data-dismiss="modal" style="padding-left:20px;padding-right:20px">OK</button>
            </div>
        </div>
    </div>
</div>
<!-- POPUP APPLY-->
<div class="modal fade" id="modalApplyMail" tabindex="-100" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-body">
                Your email configuration has been apply successfully!
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" style="padding-left:20px;padding-right:20px">OK</button>
            </div>
        </div>
    </div>
</div>
<script>
    //$('#modalSendMail').modal('show');
    function modalSendmail()
    {
        var txtEmailReceive = document.getElementById("txtEmailReceive");
        txtEmailReceive.value = "";
        $('#ErrEmailTest').css('display', 'none');
        $('#ErrEmailFormatTest').css('display', 'none');
        $('#ErrUnbableSendMail').css('display', 'none');
        $('#modalSendMail').modal('show');
    }
    function testSendEmail() {


        var check = true;
        var element = document.getElementById("txtEmailReceive");
        $('#ErrEmailTest').css('display', 'none');
        $('#ErrEmailFormatTest').css('display', 'none');
        $('#ErrUnbableSendMail').css('display', 'none');
        var emailReceive = element.value.trim();
        if (emailReceive.length > 0) {
            // email
            if (emailReceive.length < 1) {
                $('#ErrEmailTest').css('display', 'block');

            } else {
                var isValid = validateEmail(emailReceive);
                var validEmail = Boolean(isValid);
                if (validEmail) {
                    $('#ErrEmailTest').css('display', 'none');
                    $('#ErrEmailFormatTest').css('display', 'none');
                } else {
                    check = false;
                    $('#ErrEmailTest').css('display', 'none');
                    $('#ErrEmailFormatTest').css('display', 'block');
                }
            }

        }
        else {
            check = false;
            $('#ErrEmailTest').css('display', 'block');
            $('#ErrEmailFormatTest').prop('display', 'none');
        }

        if (check) {
            var btnSendTestMail = document.getElementById("btnSendTestMail");
            btnSendTestMail.setAttribute("disabled", "disabled");
            var cancelSend = document.getElementById("cancelSend");
            cancelSend.setAttribute("disabled", "disabled");
            
           
            $.ajax({
                type: 'POST',
                url: '@Url.Action("TestSendEmail", "EmailConfiguration")',
                data: { emailReceive: emailReceive },
                success: function (status) {
                   
                    if (status == "True") {
                        $('#modalSendMail').modal('hide');
                        $('#modalMessage').modal('show');
                      
                        btnSendTestMail.removeAttribute("disabled");
                        cancelSend.removeAttribute("disabled");
                    }
                    else {
                        $('#ErrUnbableSendMail').css('display', 'block');
                       // RemoveDisable();
                        btnSendTestMail.removeAttribute("disabled");
                        cancelSend.removeAttribute("disabled");
                    }
                },
                error: function (status) {
                    $('#ErrUnbableSendMail').css('display', 'block');
                    RemoveDisable();
                    btnSendTestMail.removeAttribute("disabled");
                    cancelSend.removeAttribute("disabled");
                },
                beforeSend: function () {
                    AddDisable();
                 
                    $('#btnSendTestMail').button('loading');
                },
                complete: function () {
                  
                    $('#btnSendTestMail').button('reset');
                    RemoveDisable();
                }
              

            });
        }


    }


    function GetPrivateEmail() {
       
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetConfigOfMerchant", "EmailConfiguration")',
            data: null,
            success: function (status) {
                try {
                    var pass = '@Model.PassWord';
                    document.getElementById("PassWord").value = pass;
                }
                catch (err) {

                }
                var isApply = '@Model.isApplyMail';
                if (isApply == "True") {                   

                    $('#emailSystem option[value=1]').attr('selected', 'selected');
                }
                $("#div-private").html(status);
                $("#div-private").show();
                $("#div-default").hide();
                $("#div-test").hide();
             
                return false;
            },
            error: function (status) {
                RemoveDisable();

            },
            beforeSend: function () {
                AddDisable();
                $('.loadingTest').css("display", "block");

            },
            complete: function () {
                $('.loadingTest').css("display", "none");
                RemoveDisable();
            }
        });


      
    }
    function ApplyPrivateTest() {
       
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ApplyPrivate", "EmailConfiguration")',
            data: { indexChoose: 1 },
            success: function (status) {
                $('#modalApplyMail').modal('show');
                RemoveDisable();
            },
            error: function (status) {
             
            },
            beforeSend: function () {
                AddDisable();
                $('.loadingTest').css("display", "block");

            },
            complete: function () {
                $('.loadingTest').css("display", "none");
                RemoveDisable();
            }

        });
    }
    function AddDisable() {
      
        var btnChangeSend = document.getElementById("btnChangeSend");
        btnChangeSend.setAttribute("disabled", "disabled");

        var btnApply = document.getElementById("btnApply");
        btnApply.setAttribute("disabled", "disabled");

        var btnTestSend = document.getElementById("btnTestSend");
        btnTestSend.setAttribute("disabled", "disabled");

        var emailSystem = document.getElementById("emailSystem");
        emailSystem.setAttribute("disabled", "disabled");
       
    }
    function RemoveDisable()
    {
        btnTestSend.removeAttribute("disabled");
        btnApply.removeAttribute("disabled");
        btnChangeSend.removeAttribute("disabled");
      
        emailSystem.removeAttribute("disabled");
        
    }
   
</script>