﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model Com.SmoovPOS.Entity.WebContent
@{
    ViewBag.Title = "Logo & Image Slide";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    String urlImgDefault = Url.Content("~/Content/Images/imageDefault.png");
}


@*//@using (Html.BeginForm("LogoImageSlide", "WebContent", FormMethod.Post, new { @encType = "multipart/form-data" }))
    //{*@
<div class="row" id="menu-tool">
    <div class="col-xs-12 col-sm-6 col-md-10">
        <h3> Web Content </h3>
    </div>

</div>
<div class="row">
    @Html.HiddenFor(model => model._id, new { id = "id" })
    <div class="col-xs-6 col-md-2" id="content-menu">
        @Html.Partial("MenuLeft")
    </div>
    <div class="col-xs-6 col-md-8">
        <div class="row">
            <div class="col-md-4">
                <label>Logo ( 250 x 150 is perfect size )</label>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 outer">
                @{
                    var imageUrl = urlImgDefault;
                    if (string.IsNullOrEmpty(Model.logo) || imageUrl == Model.logo)
                    {
                        imageUrl = urlImgDefault;
                    }
                    else
                    {
                        Uri uri = null;
                        if (Uri.TryCreate(Model.logo, UriKind.Absolute, out uri))
                        {
                            imageUrl = Model.logo;
                        }
                    }

                <div class="inner">
                    <div id="uploadPreviewlogo">
                        <div id="group-image" style="position: relative;min-width: 250px; min-height: 150px;width: 250px!important;height: 150px!important;">
                            <img src="@imageUrl" id="thumbnil" style="position: absolute;width:auto!important; bottom:0px;" class="img-rounded category-image" onload="SetAutoResizeWidthHeightImage('thumbnil',@SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_WebContentLogo, @SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_WebContentLogo)"/>
                            <div class="q-clear"></div>
                            <button class="btn btn-default" onclick="deleteImage()" style="position: absolute;bottom: 2px;left: 2px;min-width:37px!important;padding-left: 0px!important;padding-right: 0px!important;">   <i class="fa fa-trash">    </i> </button>
                        </div>
                        <input id="logoImg" name="logoImg" type="hidden" value="@imageUrl">
                    </div>
                    <div id="lbl_image" style="display:none">
                        <img src="@Url.Content("~/Content/Images/imageDefault.png")" width="250" height="150" style="border: 1px solid #E3E3E3;border-radius:4px"/>
                    </div>
                </div>
                }
            </div>
            <div class="col-md-8">
                <input type="file" name="image" id="choose" style="display:none" />
                @*<label id="upfile1" style="cursor:pointer" class="upfile1">Browse</label>*@
                <label id="upfile1" style="cursor:pointer;" class="upfile1">@Html.LocalizedLabel("ChooseFile")</label>
                <p>@Html.LocalizedLabel("MBSizeLimit")</p>
                <label id="Errendfile" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("LimitFileImage4MB")</label>
            </div>
        </div>
    </div>
    <div class="col-xs-6 col-md-8">
        <div class="row">
            <div class="col-md-4">
                <label>Slide Image</label>
            </div>
            <div class="col-md-8" style="text-align:right;">
                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalImageSlide" id="btnSubmit">@Html.LocalizedButton("AddImage")</button>
            </div>
        </div>
        <div class="form-group" id="listSlideImage">
            <table class="table" cellspacing="0" style="width:100%;" id="listCollection">
                <tbody>
                    @foreach (var slide in Model.slideImage)
                    {
                        <tr id="group-image_@slide.priority" style="height:110px;">
                            <td width="30px">
                                <label>@slide.priority</label>
                            </td>
                            <td width="210px">
                                <img id="thumbnil_@slide.priority" src="@slide.urlImage" class="img-rounded-slide" onload="SetAutoResizeWidthHeightImage('thumbnil_@slide.priority',200, 100)" />
                            </td>
                            <td>
                                <label style="width:500px;">@slide.targetLink</label>
                            </td>
                            <td width="150px">
                                <button type="button" class="btn btn-default editimage" onclick="editImageSlide(@slide.priority,'@slide.urlImage','@slide.targetLink')" data-toggle="modal" data-target="#myModalEdit">
                                    <i class="fa fa-pencil"></i>
                                </button>
                                <button type="button" class="btn btn-default tnDeleteImage" onclick="deleteImageSlideMode(@slide.priority)" data-toggle="modal" data-target="#modalDelete">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@*}*@
<!-- MODEL Add slide  IMAGE-->
<div class="modal fade" id="modalImageSlide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">Add Slide Image</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-lg-9">
                        <label>Upload Image ( 1250 x 500 is perfect size )</label><br />
                        <p>@Html.LocalizedLabel("MBSizeLimit")</p>
                        <label id="ErrendfileSlide" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("LimitFileImage4MB")</label><br />
                    </div>
                    <div class="col-lg-3">
                        <input type="file" name="chooseslide" id="chooseslide" style="display:none" />
                        <label id="upfile2" style="cursor:pointer;float:right;" class="upfile1">Browse</label>
                    </div>
                </div>
                <div id="uploadPreviewslideImg">

                </div>
                <div class="form-group" style="margin-top:30px;">
                    <label>Target Link:</label>
                    <input type="text" name="targetlink" id="targetlink" style="width:540px;" />

                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="save-add-image" class="btn btn-primary" onclick="saveSlideImage();" data-dismiss="modal" value="Save" />
                <input type="button" id="cancel-add-image" class="btn btn-default" data-dismiss="modal" value="Cancel" />

            </div>
        </div>
    </div>
</div>
<!-- MODEL  IMAGE-->
<!-- MODEL EDIT IMAGE-->
<div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title" id="myModalLabel">Edit Slide Image</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-lg-9">
                        <label>Upload Image ( 1250 x 500 is perfect size )</label>
                        <p>@Html.LocalizedLabel("MBSizeLimit")</p>
                        <label id="ErrendfileSlideEdit" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("LimitFileImage4MB")</label><br />
                    </div>
                    <div class="col-lg-3">
                        <input type="file" name="chooseslideEdit" id="chooseslideEdit" style="display:none" />
                        <label id="upfile4" style="cursor:pointer;float:right;" class="upfile1">Browse</label>
                    </div>
                </div>
                <div id="uploadPreviewslideImgEdit">
                    <div id="group-image_u1">
                        <img id="thumbnil_u1" style="width:400px;height:200px;margin-top:10px;" src="" class="img-rounded-slide">
                        <input id="urlimage_Edit" type="hidden" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label>Target Link:</label>
                    <input type="text" name="targetlinkEdit" id="targetlinkEdit" style="width:540px;" />
                    <input type="hidden" name="priority" id="priority" />
                </div>
            </div>
            <div class="modal-footer">
                <input type="button" id="save-add-image1" class="btn btn-primary" onclick="saveSlideImageEdit();" data-dismiss="modal" value="Save" />
                <input type="button" id="cancel-add-image1" class="btn btn-default" data-dismiss="modal" value="Cancel" />
            </div>
        </div>
    </div>
</div>
<!-- MODEL EDIT IMAGE-->
@* Modal to Delete *@
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="width: 380px;">
        <div class="modal-content">
            <div class="modal-body">
                <input type="hidden" name="priorityIndex" id="priorityIndex" value="" />
                @Html.LocalizedMessage("ConfirmDelete")
            </div>
            <div class="modal-footer">
                <button onclick="deleteImageSlide()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedButton("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="return false;" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedButton("No")</button>

            </div>
        </div>
    </div>
</div>

<script>
    /*
       * - check Safari to upload image
       * - Nguyen Anh Dao
       * - Created: 26/11/2014
       */
    $(document).ready(function () {
        //----------------- check Safari to upload image
        var ua = navigator.userAgent.toLowerCase();
        var check = function (r) {
            return r.test(ua);
        };
        var isChrome = check(/chrome/);
        var isSafari = !isChrome && check(/safari/);
        var isSafari2 = isSafari && check(/applewebkit\/4/); // unique to
        // Safari 2
        var isSafari3 = isSafari && check(/version\/3/);
        var isSafari4 = isSafari && check(/version\/4/);
        if (isSafari || isSafari2 || isSafari3 || isSafari4) {
            $('#choose').css('display', '');
            $('#upfile1').css('display', 'none');
            $('#chooseslide').css('display', '');
            $('#upfile2').css('display', 'none');
            $('#chooseslideEdit').css('display', '');
            $('#upfile4').css('display', 'none');
        }
        //----------------- check Safari to upload image
        //$('#modalImageSlide').on('hidden.bs.modal', function () {
        //    $('#ErrendfileSlide').css('display', 'none');
        //});
        $('#myModalEdit').on('hidden.bs.modal', function () {

            $('#ErrendfileSlideEdit').css('display', 'none');
        });
    });
    $("#upfile1").click(function () {
        // $("#choose").trigger('click');
        $("#choose").click();

    });
    $("#upfile2").click(function () {
        // $("#chooseslide").trigger('click');
        $("#chooseslide").click();

    });
    $("#upfile4").click(function () {
        //  $("#chooseslideEdit").trigger('click');
        $("#chooseslideEdit").click();

    });
    function deleteImage() {

        var r = confirm("Are you sure you want to delete this image");
        if (r == true) {
            var img = document.getElementById("group-image");

            // img.setAttribute('scr', '');
            if (img != null)
                img.parentNode.removeChild(img);
            document.getElementById("choose").value = null;

            var formData = new FormData();

            var _id = $("#id").val();
            formData.append("_id", _id);
            // console.log("data form"+formData.get("id"));

            $.ajax({
                type: 'POST',

                url: '@Url.Action("DeleteLogoImage", "WebContent")',
                data: formData,
                mimeType: "multipart/form-data",
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                }
            });
        }
    }
    function deleteImageSlideMode(priority) {
        $('#priorityIndex').val(priority);
    }
    function deleteImageSlide() {
        var priority = $('#priorityIndex').val();

        //var r = confirm("Are you sure you want to delete this image");
        //if (r == true) {
        var formData = new FormData();

        var _id = $("#id").val();
        formData.append("_id", _id);
        formData.append("priority", priority);
        //console.log("data form" + formData.get("_id") + formData.get("priority"));
        // alert("_id----" + _id + "priority---" + priority);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("DeleteImageSlide", "WebContent")',
            data: {
                priority: priority,
                id: $("#id").val()
            },
            success: function (data) {
                // console.log(data);
                //debugger;
                deleteImageDiv(priority);
                // alert("success!");
            },
            error: function (data) {
                alert("Cannot delete this image. Please try again!");
            }

        });
        //}
    }
    function deleteImageDiv(priority) {
        $('#group-image_' + priority).remove();
        //var element = document.getElementById('group-image_' + priority);
        //if (element != null)
        //    element.parentNode.removeChild(element);
    }
    function editImageSlide(priority, url, targerlink) {

        var formData = new FormData();

        var _id = $("#id").val();
        formData.append("_id", _id);
        formData.append("priority", priority);
        $("#thumbnil_u1").attr('src', url);
        $("#urlimage_Edit").attr('value', url);


        $("#targetlinkEdit").attr('value', targerlink);
        $("#priority").attr('value', priority);
    }
    function is_valid_url(url) {
        return url.match(/^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/);
    }
    function getListImage() {
        var images = [];
        $('.img-rounded').each(function () {
            var url = $(this).attr('src');
            if (is_valid_url(url)) {
                images.push($(this).attr('src'));

            }

        });
        console.log(images);
        return images;
    }

    function getListImageSlide() {
        var Slideimages = [];
        $('.img-rounded-slide').each(function () {
            var url = $(this).attr('src');
            if (is_valid_url(url)) {
                Slideimages.push($(this).attr('src'));

            }

        });
        //console.log(Slideimages);
        return Slideimages;
    }

    function saveSlideImage() {
        var targetLink = $("#targetlink").val();
        var urlLink = $("#urlimage").val();
        var priority = 0;
        var formData = new FormData();
        var _id = $("#id").val();
        formData.append("_id", _id);
        formData.append("targetLink", targetLink);
        formData.append("urlLink", urlLink);
        formData.append("priority", priority);
        // console.log("data form"+formData.get("id"));
        //alert("VOO DOOOOOOOO");
        if (urlLink) {
            $.ajax({
                type: 'POST',

                url: '@Url.Action("SaveImageSlide", "WebContent")',
                data: formData,
                mimeType: "multipart/form-data",
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    //  $("#listSlideImage").html(data);
                    location.reload(true);

                }
            });
        }
        else {
            alert("Please choose a file to upload! ");
        }
    }

    function saveSlideImageEdit() {
        var targetLink = $("#targetlinkEdit").val();
        var urlLink = $("#urlimage_Edit").val();
        var priority = $("#priority").val();
        var formData = new FormData();
        var _id = $("#id").val();
        formData.append("_id", _id);
        formData.append("targetLink", targetLink);
        formData.append("urlLink", urlLink);
        formData.append("priority", priority);
        //console.log("data form" + urlLink);

        if (urlLink) {
            $.ajax({
                type: 'POST',

                url: '@Url.Action("SaveImageSlide", "WebContent")',
                data: formData,
                mimeType: "multipart/form-data",
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    //  $("#listSlideImage").html(data);
                    location.reload(true);

                }
            });
        }
        else {
            alert("Please choose a file to upload! ");
        }
    }


    @*$("#choose").change(function () {
        var formData = new FormData();
        var file = document.getElementById("choose").files[0];
        formData.append("FileUpload", file);
        var _id = $("#id").val();
        formData.append("_id", _id);
        if ($("#choose").val() != "") {
            $.ajax({
                type: 'POST',

                url: '@Url.Action("UploadImage", "WebContent")',
                data: formData,
                mimeType: "multipart/form-data",
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {

                    $("#uploadPreviewlogo").append(data);
                    $("#showImg").hide();

                    document.getElementById("choose").value = null; // xoa de co the up image trung
                }
            });
        }

    });*@
    $("#choose").change(function () {
        var formData = new FormData();
        var file = document.getElementById("choose").files[0];
        if (file.size && file.size > (4 * 1024 * 1024)) {
            $('#Errendfile').css('display', 'block');

            return false;
        } else {
            $('#Errendfile').css('display', 'none');

            formData.append("FileUpload", file);
            formData.append("imageType", '@SmoovPOS.Common.ConstantSmoovs.Image_Type.WebContentLogo');
            var _id = $("#id").val();
            formData.append("_id", _id);
            formData.append("isLogo", true);
            if ($('#choose').val() != "") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UploadImage", "Upload")',
                    data: formData,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        $("#group-image").remove();
                        $("#uploadPreviewlogo").html(data);
                        $("#showImg").hide();
                        $(".lbl_image").css('display', 'none');
                        var lbl_image = document.getElementById("lbl_image");
                        if (lbl_image != null)
                            lbl_image.setAttribute('style', 'display:none');
                        document.getElementById("choose").value = null; // xoa de co the up image trung
                    },
                    error: function () {
                        isUpload = false;
                    },
                    beforeSend: function () {
                        isUpload = true;
                        $('#upfile1').button('loading');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'margin-top:53px;');
                    },
                    complete: function () {
                        isUpload = false;
                        $('#upfile1').button('reset');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'cursor:pointer;margin-top:53px;');
                    }
                });
            }
        }

    });

    var priority = 0;
    $("#chooseslide").change(function () {
        // selDiv = document.querySelector("#uploadPreviewslideImg");
        priority = priority + 1;
        var formData = new FormData();
        var file = document.getElementById("chooseslide").files[0];
        if (file.size && file.size > (4 * 1024 * 1024)) {
            $('#ErrendfileSlide').css('display', 'block');

            return false;
        } else {
            $('#ErrendfileSlide').css('display', 'none');

            formData.append("FileUpload", file);
            // formData.append("priority", priority);
            if ($("#chooseslide").val() != "") {
                $.ajax({
                    type: 'POST',

                    url: '@Url.Action("UploadSlideImage", "WebContent")',
                    data: formData,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        // selDiv.innerHTML += "<div>" +data +"</div>";
                        $("#uploadPreviewslideImg").html(data);

                        //$("#uploadPreviewslideImg").attr("id", "uploadPreviewslideImg" + priority).append(data);
                        $("#showImgSlide").hide();

                        document.getElementById("choose").value = null; // xoa de co the up image trung
                    },
                    beforeSend: function () {
                        $('#save-add-image').attr('disabled', 'disabled');
                        $('#cancel-add-image').attr('disabled', 'disabled');
                        $('#save-add-image1').attr('disabled', 'disabled');
                        $('#cancel-add-image1').attr('disabled', 'disabled');
                    },
                    complete: function () {
                        $('#save-add-image').removeAttr('disabled');
                        $('#cancel-add-image').removeAttr('disabled');
                        $('#save-add-image1').removeAttr('disabled');
                        $('#cancel-add-image1').removeAttr('disabled');
                    }
                });
            }
        }
    });
    $("#chooseslideEdit").change(function () {
        // selDiv = document.querySelector("#uploadPreviewslideImg");
        priority = priority + 1;
        var formData = new FormData();
        var file = document.getElementById("chooseslideEdit").files[0];
        if (file.size && file.size > (4 * 1024 * 1024)) {
            $('#ErrendfileSlideEdit').css('display', 'block');

            return false;
        } else {
            $('#ErrendfileSlideEdit').css('display', 'none');

            formData.append("FileUpload", file);
            // formData.append("priority", priority);
            if ($("#chooseslideEdit").val() != "") {
                $.ajax({
                    type: 'POST',

                    url: '@Url.Action("UploadSlideImageEdit", "WebContent")',
                    data: formData,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        // selDiv.innerHTML += "<div>" +data +"</div>";

                        $("#uploadPreviewslideImgEdit").html(data);

                        //$("#uploadPreviewslideImg").attr("id", "uploadPreviewslideImg" + priority).append(data);
                        $("#showImgSlide").hide();

                        document.getElementById("chooseslideEdit").value = null; // xoa de co the up image trung
                    }
                });
            }
        }
    });


    $('#btnSaveImg').click(function () {
        var listImage = document.getElementById('logoImg');
        listImage.value = getListImage();
        var listImageSlide = document.getElementById('slideImg');
        listImageSlide.value = getListImageSlide();
        alert(listImageSlide.value);
        $("#save").click();
    });




</script>