﻿

@model Com.SmoovPOS.Entity.WebContent
@{
    ViewBag.Title = "Term & Conditions";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

@using (Ajax.BeginForm("TermConditions", "WebContent", new AjaxOptions { HttpMethod = "POST" }, new { @encType = "multipart/form-data" }))
{
    <div class="row" id="menu-tool">
        <div class="col-xs-12 col-sm-6 col-md-10">
            <h3> Web Content </h3>
        </div>
        <div class="col-xs-6 col-md-2">
            <input type="submit" class="btn btn-primary save" name="Save" value="Save">
            <input type="button" class="btn btn-default viewMode" name="ViewMode" onclick="FillDataToModal()" value="View Mode">
        </div>
    </div>
    <div class="row">
        @Html.HiddenFor(model => model._id)
        <div class="col-xs-6 col-md-2" id="content-menu">
            @Html.Partial("MenuLeft")
        </div>

        <div class="col-xs-6 col-md-9" id="content-view">
            <h3>Term Conditions</h3>
            @Html.TextAreaFor(model => model.termAndCondition, new { @class = "ckeditor", @id = "termcondition" })
        </div>
    </div>
    <br />
    <div class="row" id="menu-tool">
        <div class="col-xs-12 col-sm-6 col-md-10">
        </div>
        <div class="col-xs-6 col-md-2">
            <input type="submit" class="btn btn-primary save" name="Save" value="Save">
            <input type="button" class="btn btn-default viewMode" name="ViewMode" onclick="FillDataToModal()" value="View Mode">
        </div>
    </div>
}



<!-- Modal -->
<div class="modal fade" id="ViewMode" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">@ViewBag.Title</h4>
            </div>
            <div class="modal-body" id="DataViewMode">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary">Save changes</button>*@
            </div>
        </div>
    </div>
</div>

<script>
    function FillDataToModal() {
        var value = CKEDITOR.instances['termcondition'].getData();
        $('#DataViewMode').html(value);
        $('#ViewMode').modal();
    }
    $('form').submit(function () {
        $(this).find("input[type='submit']").prop('disabled', true);
    });
</script>

