﻿

<div>
    <div id="header-mail">
        <label>
            Hi [FirstNameOfCustomer],

        </label>

        <div>
            [OrderAmendDetail]We will do a refund back to you.
        </div>

        <div>
            <div style="margin-top:30px;">
                Sincerely,
            </div>
            <div>
                [BusinessName]
            </div>
        </div>
    </div>
</div>



