﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.TakeAwaySettingViewModel
<style>
    .textbox-timing {
        width: 70px;
    }
</style>
@if (@Model != null || @Model == null && !ViewBag.IsDisabled)
{
    <div class="row">
        <hr />
        <div class="col-md-3">
            <h4>@Html.LocalizedLabel("TableOrdering")</h4>
            <span>@Html.LocalizedLabel("TableOrderingDescription")</span>
        </div>
        <div class="col-md-8 col-md-offset-1">
            <div class="col-md-12">
                @Html.CheckBoxFor(model => model.AcceptTakeAway, ViewBag.IsDisabled ? new { @disabled = true, } : (object)new { }) @Html.LocalizedLabel("AcceptTableOrdering")<br /><br />
                @*<strong>@Html.LocalizedLabel("InstructionsCustomers")</strong><br />
                @Html.TextAreaFor(model => model.TableOrderingSetting.Instructions, ViewBag.IsDisabled ? new { @disabled = true, @rows = 3, @class = "form-control", @placeholder = @Html.LocalizedLabel("InstructionsCustomersPlaceHolder") } : (object)new { @rows = 3, @class = "form-control", @placeholder = @Html.LocalizedLabel("InstructionsCustomersPlaceHolder") })*@
            </div>
            <div class="col-md-8">
            </div>
        </div>
        <div class="clearfix"></div>
        <!---------------------->
        <hr />
        <div class="col-md-3">
            <h4>@Html.LocalizedLabel("AvailableTime")</h4>
            <span>@Html.LocalizedLabel("AvailableTimeContent")</span>
        </div>
        <div class="col-md-8 col-md-offset-1">
            <div class="table-responsive">
                <table class="table" style="margin: 0 15px;">
                    @*<thead>
                            <tr>
                                <th width="30%" class="left">@Html.LocalizedLabel("Day")</th>
                                <th width="30%" class="center">@Html.LocalizedLabel("Opening")</th>
                                <th width="10%" class="center"></th>
                                <th width="30%" class="center">@Html.LocalizedLabel("Closing")</th>
                            </tr>
                        </thead>*@
                    <tbody>
                        @for (int i = 0; i < 7; i++)
                        {
                            var listDayOfWeek = new string[] { "Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday" };
                            var dayOfWeek = listDayOfWeek[i];

                            var option_open = Model.ListDayOfWeekSetting == null ? false : Model.ListDayOfWeekSetting[i] == null ? false : Model.ListDayOfWeekSetting[i].Option == 0 ? true : false;
                            var option_split = Model.ListDayOfWeekSetting == null ? false : Model.ListDayOfWeekSetting[i] == null ? false : Model.ListDayOfWeekSetting[i].Option == 1 ? true : false;
                            var option_close = Model.ListDayOfWeekSetting == null ? false : Model.ListDayOfWeekSetting[i] == null ? false : Model.ListDayOfWeekSetting[i].Option == 2 ? true : false;
                            if (option_open == option_split == option_close == false)
                            {
                                option_close = true;
                            }
                            <tr>
                                <th width="40%"><label>@Html.LocalizedLabel(dayOfWeek)</label></th>
                                @if (option_open)
                                {
                                    <th class="form-inline left">
                                        <label>@Model.ListDayOfWeekSetting[i].Open_Opening&nbsp;@Html.LocalizedLabel("To").ToString().ToLower()&nbsp;@Model.ListDayOfWeekSetting[i].Open_Closing</label>
                                    </th>
                                }
                                @if (option_split)
                                {
                                    <th class="form-inline left">
                                        <label>@Model.ListDayOfWeekSetting[i].Split_OpeningStart&nbsp;@Html.LocalizedLabel("To").ToString().ToLower()&nbsp;@Model.ListDayOfWeekSetting[i].Split_OpeningEnd &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; @Model.ListDayOfWeekSetting[i].Split_ClosingStart&nbsp;@Html.LocalizedLabel("To").ToString().ToLower()&nbsp;@Model.ListDayOfWeekSetting[i].Split_ClosingEnd</label>
                                    </th>
                                }
                                @if (option_close || option_close == option_split == option_open == false)
                                {
                                    <th class="form-inline left">
                                        <label class="close-text">@Html.LocalizedLabel("Closed")</label>
                                    </th>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>
        <!---------------------->
        <hr />
    </div>
}
else
{
    <span>@Html.LocalizedLabel("BranchNotSetting")</span>
}

