﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.Entity.Models.SearchCollectionModel
@{

    ViewBag.Title = "Collection";
    int index = 0;
    int totalPrevious = 0;
    int totalNext = 0;

    totalNext = Model.pageCurrent * Model.limit;
    totalPrevious = totalNext - Model.limit + 1;

    if (totalNext > Model.countAll)
    {
        totalNext = Model.countAll;
    }
}
<style>
    span#searchclear {
        position: absolute;
        right: 80px;
        top: 7px;
        cursor: pointer;
    }

    .search-box {
        position: relative;
        width: 100%;
    }

    #txtSearchCollection {
        max-width: 100% !important;
        width: 80% !important;
        right: 60px;
        position: absolute;
    }

    #btnSearchCollection {
        position: absolute;
        width: 65px;
        right: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    a:hover, a:focus {
        outline: 0;
        /*color: #000000;*/
        color: #428bca;
    }




    .inner-addon {
        position: relative;
    }

        /* style icon */
        .inner-addon .glyphicon {
            position: absolute;
            padding: 10px;
            pointer-events: none;
        }

    /* align icon */
    .left-addon .glyphicon {
        left: 5px;
        top: -1px;
    }

    .right-addon .glyphicon {
        right: 0px;
    }

    /* add padding  */
    .left-addon input {
        padding-left: 30px;
    }

    .right-addon input {
        padding-right: 30px;
    }

    .dataTables_paginate {
        float: left !important;
    }

    .dataTables_filter {
        display: none;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        border: 1px solid white;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0 !important;
    }

    .dataTables_paginate.paging_simple_numbers {
        padding-left: 25px;
    }

    .searching {
        float: right;
    }

    #myInputTextField, #myInputTextField1 {
        width: 370px;
        max-width: inherit;
    }

    /* ==CSS for Datatables Grid== */
    .dataTables_info {
        margin-top: 2px;
        margin-right: 10px;
    }

    .pagination > li > a, .pagination > li > span {
        margin-left: -5px;
    }

    #listCollection_filter {
        display: block !important;
        margin-top: 3px !important;
    }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        /*background-color: #eee !important;*/
        border-color: #ddd !important;
        color: #fff !important;
    }


    .dataTables_paginate a {
        color: #428bca;
    }

    .pagination > li > a, .pagination > li > span {
        padding: 4px 10px;
    }

    .header_table {
        background-color: transparent;
        color: #000;
        border-bottom: 2px solid #ddd;
    }
</style>
<div>
    <!-- header-->
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3>
                @ViewBag.Title
            </h3>
        </div>
        <div class="col-md-8">
            <div>
                <button onclick="location.href = '@Url.Action("Create", "Collection")'; return false;" class="btn btn-primary" @(Model.isAddNew ? "" : "disabled")>@Html.LocalizedLabel("AddCollection")</button>
                @*<button onclick="Updatedata();" class="btn btn-primary Updatedata">Update Database</button>*@
            </div>
        </div>
    </div>
    <!-- search-->
    @*<div>
            <div class="col-md-6">
                <div id="divpaging">
                </div>
            </div>
            <div class="col-md-6">
                <div style="margin-top:20px;margin-right:-20px;">

                    <div class="search-box">

                        <input type="text" results=5 name=search class="form-control" id="txtSearchCollection" />
                        <span id="searchclear"><i class="fa fa-times"></i></span>
                        <button class="btn btn-primary" id="btnSearchCollection">
                            <span class="glyphicon glyphicon-search"></span>

                        </button>
                    </div>
                </div>
            </div>
        </div>*@

    <!-- table list collection -->
    <div class="q-clear">
    </div>
    <div class="col-md-12 lineStyle" style="margin-top:10px;"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <table class="table" cellspacing="0" style="padding-top:10px;width:100%;height:40px;margin-top:10px" id="listCollection">
        <thead>
            <tr class="header_table">
                <th class="u_title">
                    @Html.LocalizedLabel("Collection")
                </th>

                <th class="u_title" style="width:200px">@Html.LocalizedLabel("Items")</th>
                <th class="u_title" style="background:none;width:150px">@Html.LocalizedLabel("Active")</th>
            </tr>
        </thead>
        <tbody>
            @if (@Model.ListCollection != null && @Model.ListCollection.Count() > 0)
            {
                //string dateStr = string.Empty;
                string countProductStr = string.Empty;
                foreach (var item in @Model.ListCollection)
                {
                    <tr>
                        <td>@Html.ActionLink(@item.name, "Detail", new { id = @item._id })   </td>
                        <td>
                            @*@item.modifiedDate*@
                            @*@if (item.modifiedDate != null)
                                {
                                    DateTime date = item.modifiedDate;
                                    dateStr = date.ToString(SmoovPOS.Common.ConstantSmoovs.DefaultFormats.JqueryDate);
                                }
                                else
                                {
                                    dateStr = string.Empty;
                                }*@
                            @if (item.arrayProduct != null)
                            {
                                countProductStr = item.arrayProduct.Count().ToString();
                            }
                            else
                            {
                                countProductStr = string.Empty;
                            }
                            @countProductStr
                        </td>
                        <td>
                            @try
                            {

                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default @(item.status == true ? "active" : "") statusMerchant" id="lbl-statusActive-@index">
                                        <input type="radio" name="@item._id" id="statusActive-@index" value="true" class="optionsRadios">
                                        ON

                                    </label>
                                    <label class="btn btn-default @(item.status == false ? "active" : "") statusMerchant" id="lbl-statusInActive-@index">

                                        <input type="radio" name="@item._id" id="statusInActive-@index" value="false" class="optionsRadios">
                                        OFF
                                    </label>


                                </div>

                            }
                            catch (Exception) { }

                        </td>
                    </tr>
                            index++;
                }
            }
        </tbody>
    </table>

    <!--  paging bottom -->
    <!--         -->
    <div class="q-toolsbar">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <div>
                <button onclick="location.href = '@Url.Action("Create", "Collection")'; return false;" class="btn btn-primary" @(Model.isAddNew ? "" : "disabled")>@Html.LocalizedLabel("AddCollection")</button>
            </div>
        </div>
    </div>
</div>


<script>
    /// <summary>
    /// Set status for Collection Item
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/27/2015-3:25 PM</datetime>
    jsCollectionItem = {};
    isDismiss = "False";
    var elems = document.querySelectorAll('.optionsRadios');
    $(function () {

        resetPaing();
        $("li").each(function () {
            if (this.id.toString() == $("#pageCurrent").val()) {
                $(this).addClass("active");
            }
        });

        $('#txtSearchCollection').keydown(function (event) {
            var keypressed = event.keyCode || event.which;
            if (keypressed == 13) {
                var keySearch = document.getElementById("txtSearchCollection").value;
                getInformationPaging(1, '', false, keySearch);
            }
        });

        $('#txtSearchCollection').val('@Model.fullName');

        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {
                jsCollectionItem.position = this.getAttribute('id').toString();
                var hasActive = $('#lbl-' + jsCollectionItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsCollectionItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveCollection")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveCollection")');

                    }

                    $('#modalInactive').modal();
                }
            };

        }


        //////       jquery data table         //////////
        var sZeroRecords = "No collection was found.";
        var sEmptyTable = "No collection was found.";
        var sInfoEmpty = ""

        $('#listCollection').DataTable({
            "aaSorting": [],
            "aoColumns": [
              { "bSearchable": true },
              { "bSearchable": false },
              { "bSearchable": false }
            ],
            "columns": [
              { "width": "30%" },
              { "width": "30%" },
              { "width": "20%" }
            ],
            "pagingType": "full_numbers",
            "bSortClasses": false,
            //"order": [[0, "desc"]],
            "dom": 'T<"clear">lfrtip',
            "iDisplayLength": 25,
            "bLengthChange": true,
            "sDom": '<"top"ipf>rt<"bottom"ip><"clear">',
            "oLanguage": {
                "oPaginate": {
                    "sFirst": "<i class='fa fa-angle-double-left'></i>", // This is the link to the first page
                    "sPrevious": "<i class='fa fa-angle-left'></i>", // This is the link to the previous page
                    "sNext": "<i class='fa fa-angle-right'></i>", // This is the link to the next page
                    "sLast": "<i class='fa fa-angle-double-right'></i>"
                },
                "sInfoFiltered": "",
                "sInfo": "_START_ - _END_ of _TOTAL_",
                "sInfoEmpty": sInfoEmpty,
                "sEmptyTable": sEmptyTable,
                "sZeroRecords": sZeroRecords,
            }

        });

        $('#listCollection_filter').text('').html('<div class="searching"><div class="inner-addon left-addon"><i class="glyphicon glyphicon-search"></i><input type="text" id="myInputTextField" class="form-control" placeholder="Search " /></div></div>')

        oTable = $('#listCollection').dataTable();

        $('#myInputTextField').keyup(function () {
            oTable.fnFilter($(this).val());
        });

        //////////////     jquery data table       /////////////////
    });

    /// <summary>
    /// Dismisses the popup.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/27/2015-3:25 PM</datetime>
    function dismissPopup() {

        $('#lbl-' + jsCollectionItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsCollectionItem["position"]);
        if (jsCollectionItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsCollectionItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsCollectionItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }
    /// <summary>
    /// Confirms the update.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/27/2015-3:24 PM</datetime>
    function confirmUpdate() {

        setStatus(jsCollectionItem["position"]);
        isDismiss = "False";

    }
    /// <summary>
    /// Sets the status.
    /// </summary>
    /// <param name="id">The identifier.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/27/2015-3:24 PM</datetime>
    function setStatus(id) {

        var element = document.getElementById(id);
        var statusCollection = element.value == "true" ? true : false;
        var yesNo;
        var idCollection = element.getAttribute("name");

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateStatusCollection", "Collection")',
            data: {
                id: idCollection,
                status: statusCollection
            },
            success: function (status) {

            },
            error: function (status) {
            }

        });
    }
    @*function Updatedata() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateListCollectioninProductItem", "Collection")',
            data: {
            },
            success: function (status) {
                $('.Updatedata').hide();
            },
            error: function (status) {
            }

        });
    }*@
</script>