﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.CollectionViewModel
@{
    //ViewBag.Title = "Collection / Detail / ";
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    String urlImgDefault = Url.Content("~/Content/Images/imageDefault.png");
}

<div class="q-form">
    @using (Html.BeginForm("Detail", "Collection", FormMethod.Post, new { @encType = "multipart/form-data" }))
    {
        string status = string.Empty;
        @*. ------BEGIN HEADER ------ *@
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model._id)
            <div class="col-md-4">
                <h3><span class="parant-title">@ViewBag.Title</span>  @Model.name </h3>
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary" style="margin-right:10px;padding-left:20px;padding-right:20px" onclick="location.href='@Url.Action("Edit", "Collection", new { id = Model._id })'">Edit</button>

                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Collection")'">Close</button>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @*. ------BEGIN FORM ------
            @*. ------Collection Detail ------ *@
        <div>
            <div class="col-md-4">
                <div><h4>@Html.LocalizedLabel("CollectionDetail")</h4></div>
                <div>@Html.LocalizedLabel("CollectionDetailDescription")</div>

            </div>
            <div class="col-md-8">
                <div>
                                        @{
        //string urlImage = urlImgDefault;
        var imageUrl = urlImgDefault;
        System.Drawing.Size size = new System.Drawing.Size(0, 0);
        System.Drawing.Image image = null;
        if (string.IsNullOrEmpty(Model.image) || imageUrl == Model.image)
        {
            imageUrl = urlImgDefault;

            try
            {
                image = (System.Drawing.Bitmap)System.Drawing.Image.FromFile(Server.MapPath(imageUrl));
            }
            catch
            {
                image = null;
            }
        }
        else
        {
            Uri uri = null;
            if (Uri.TryCreate(Model.image, UriKind.Absolute, out uri))
            {
                imageUrl = Model.image;
            }

            try
            {
                WebRequest request = WebRequest.Create(imageUrl);
                WebResponse response = request.GetResponse();
                image = System.Drawing.Image.FromStream(response.GetResponseStream());
            }
            catch
            {
                image = null;
            }
        }
        if (image != null)
        {
            size.Width = image.Width;
            size.Height = image.Height;
            size = Com.SmoovPOS.Common.Controllers.PhotosController.CalculateDimensions(size, SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_Resize, SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_Resize);
        }
        <div style="min-width:130px;height:auto;text-align:left;background-color: white;">
            @if (size.Width > 0 && size.Height > 0)
            {
                <img src="@imageUrl" width="@size.Width" height="@size.Height" class="img-rounded category-image" id="thumbnil" />
            }
            else
            {
                <img src="@imageUrl" width="130" height="80" id="thumbnil" style="border-style: solid;border-width: 1px;position: relative;" class="img-rounded category-image" />
            }
        </div>
        @*try
        {
            if (!string.IsNullOrWhiteSpace(@Model.image))
            {
                Uri uri = null;
                if (Uri.TryCreate(@Model.image, UriKind.Absolute, out uri))
                {
                    urlImage = @Model.image;
                }
            }
              <img src="@urlImage" style="border: 1px solid #E3E3E3;border-radius:4px" />
        }
        catch
        {

        }*@
                    }


                </div>
                <div class="form-group" style="margin-top:10px;">
                    <div>
                        <h4 for="name">@Html.LocalizedLabel("Name")</h4>
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.name)
                    </div>
                </div>
                <div class="form-group">
                    <div>

                        <b for="name">@Html.LocalizedLabel("description")</b>
                    </div>
                    <div>
                        @Html.DisplayFor(model => model.description)
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>

        <hr />
        @*. ------Date Range ------ *@
        @*<div>
            <div class="col-md-4">
                <div><b>@Html.LocalizedLabel("DateRange")</b> </div>
                <div>@Html.LocalizedLabel("DateRangeDescription")</div>

            </div>
            <div class="col-md-8">
                <div class="form-group ">

                    <div style="float:left;width:50%">
                        <div>
                            <b>@Html.LocalizedLabel("BeginDate")</b>
                        </div>
                        <div>
                            @Model.beginDate.ToString()
                        </div>
                    </div>
                    <div>
                        <div>
                            <b>@Html.LocalizedLabel("EndDate")</b>
                        </div>
                        <div>
                            <span>@(Model.isNeverExpires ? "Never Expire" : @Model.endDate.ToString())</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="q-clear">
        </div>

        <hr />*@
        @*. ------Product------ *@
        <div>
            <div class="col-md-4">
                <div>
                    <h4>@Html.LocalizedLabel("Products")</h4>
                </div>
                <div>
                    @Html.LocalizedLabel("ProductsCollectionDescription")
                </div>
                <div class="form-group sortCollectiontitle">
                    <div>
                        <div class="inner">
                            <br />
                            <b>@Html.LocalizedLabel("defaultSortProduct")</b>
                        </div>
                        <div class="inner">
                            @Html.DropDownListFor(m => m.defaultSortProduct, Model.defaultSortList, new { @class = "form-control", @disabled = "disabled", @style = "width:270px" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8" id="ListProductsApply" style="@(Model.arrayProduct != null && Model.arrayProduct.Count() > 10 ? "max-height:700px;overflow-y:scroll;" : "")">
                <table class="table table-striped">
                    @if (Model.arrayProduct.Count() > 0)
                    {
                        <thead>
                            <tr>
                                <th width="100px"></th>
                                <th>Product</th>
                                <th width="30%">Category</th>
                            </tr>
                        </thead>
                        foreach (var item in Model.arrayProduct)
                        {

                            <tr>
                                <td style="text-align:right">
                                    @{
                            imageUrl = urlImgDefault;
                            size = new System.Drawing.Size(0, 0);
                            image = null;
                            if (string.IsNullOrEmpty(item.urlImageProduct) || imageUrl == item.urlImageProduct)
                            {
                                try
                                {
                                    image = (System.Drawing.Bitmap)System.Drawing.Image.FromFile(Server.MapPath(imageUrl));
                                }
                                catch
                                {
                                    image = null;
                                }
                            }
                            else
                            {
                                Uri uri = null;
                                if (Uri.TryCreate(item.urlImageProduct, UriKind.Absolute, out uri))
                                {
                                    imageUrl = item.urlImageProduct;
                                }
                                try
                                {
                                    WebRequest request = WebRequest.Create(imageUrl);
                                    WebResponse response = request.GetResponse();
                                    image = System.Drawing.Image.FromStream(response.GetResponseStream());
                                }
                                catch
                                {
                                    image = null;
                                }
                            }
                            if (image != null)
                            {
                                size.Width = image.Width;
                                size.Height = image.Height;
                                size = Com.SmoovPOS.Common.Controllers.PhotosController.CalculateDimensions(size, SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List_S, SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_List_S);
                            }

                            //Console.WriteLine("Image size: {0}x{1}", image.Width, image.Height);

                                    }
                                    <div style="width:80px;height:auto;text-align:center;background-color: white;">
                                        @if (size.Width > 0 && size.Height > 0)
                                        {
                                            <img src="@imageUrl" width="@size.Width" height="@size.Height" />
                                        }
                                        else
                                        {
                                            <img src="@imageUrl" width="@SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List_S" height="@SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_List_S" />
                                        }
                                    </div>
                                </td>
                                <td style="padding-top:20px;">
                                    @Html.DisplayFor(modelItem => item.name)
                                </td>
                                <td style="padding-top:20px;">

                                    @if (!string.IsNullOrWhiteSpace(item.categoryName))
                                    {
                                        @Html.DisplayFor(modelItem => item.categoryName)
                                    }
                                    else
                                    {
                                        <label id="lblCategory">N/A</label>
                                    }

                                </td>
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
        
        <div class="q-clear"></div>

        <hr />
        @*. ------Status ------ *@
        <div>
            <div class="col-md-4">
                <div>
                    <div>
                        <h4>@Html.LocalizedLabel("Status")</h4>
                    </div>
                    <div>
                        @Html.LocalizedLabel("StatusCollectionDescription")
                    </div>
                </div>

            </div>
            <div class="col-md-8">
                @*<div>
                        <label class="@(@Model.status ? "activeStatusBackground" : "inactiveStatusBackground")">@(@Model.status ? "Active" : "Inactive")</label>
                    </div>*@
                @*<div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-default @(Model.status == true ? "active" : "") statusMerchant disabled" id="lbl-statusActive">
                        <input type="radio" name="optionsRadios" id="statusActive" value="true" class="optionsRadios">
                        ON

                    </label>
                    <label class="btn btn-default @(Model.status == false ? "active" : "") statusMerchant disabled" id="lbl-statusInActive">
                        <input type="radio" name="optionsRadios" id="statusInActive" value="false" class="optionsRadios">
                        OFF
                    </label>
                </div>*@
                @if (Model.status)
                {
                    status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Active;
                }
                else
                {
                    status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Inactive;
                }
                @if (Model.status)
                {
                    <span style="color:green;">@Html.DisplayFor(model => status)</span>
                }
                else
                {
                    <span style="color:red;">@Html.DisplayFor(model => status)</span>
                }
            </div>
        </div>
        <div class="q-clear">
        </div>

        <hr />
        @*. ------BEGIN FOOTER ------ *@
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model._id)
            <div class="col-md-4"></div>

            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary" style="margin-right:10px;padding-left:20px;padding-right:20px" onclick="location.href='@Url.Action("Edit", "Collection", new { id = Model._id })'">Edit</button>

                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "Collection")'">Close</button>
            </div>
        </div>
    }
</div>