﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.CollectionViewModel
@{
    //ViewBag.Title = "Collection / Edit / ";
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    String urlNoImage = Url.Content("~/Content/Images/avatarDefault.jpg");
    String urlImgDefault = string.IsNullOrEmpty(Model.image) ? Url.Content("~/Content/Images/imageDefault.png") : Model.image;

    System.Drawing.Size size = new System.Drawing.Size(0, 0);
    System.Drawing.Image image = null;
    if (urlNoImage == urlImgDefault)
    {
        try
        {
            image = (System.Drawing.Bitmap)System.Drawing.Image.FromFile(Server.MapPath(urlImgDefault));
        }
        catch
        {
            image = null;
        }
    }
    else
    {
        try
        {
            WebRequest request = WebRequest.Create(urlImgDefault);
            WebResponse response = request.GetResponse();
            image = System.Drawing.Image.FromStream(response.GetResponseStream());
        }
        catch
        {
            image = null;
        }
    }
    if (image != null)
    {
        size.Width = image.Width;
        size.Height = image.Height;
        size = Com.SmoovPOS.Common.Controllers.PhotosController.CalculateDimensions(size, SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_Resize, SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_Resize);
    }
}
<style>
    .unlimit {
        margin-top: 30px;
    }

    #searchProduct {
        max-width: none;
    }

    .listproduct {
        height: 235px !important;
    }

    .listproductItem {
        border: 1px solid #D3D2D2;
        height: 200px;
        overflow-y: auto;
    }

    .productItem {
        margin: 10px;
    }

    .buttonApply {
        width: 100px;
        margin-top: 10px;
    }

    .trproduct td {
        vertical-align: inherit;
    }

    .sortCollectiontitle {
        margin-top: 30px;
        color: darkgray;
    }

</style>

<script type="text/javascript" src="~/Scripts/underscore.js"></script>
<script type="text/javascript" src="~/Content/jquery.datetimepicker.js"></script>
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />

<link href="~/Content/jquery-ui-datetime.css" rel="stylesheet" type="text/css" />

<div class="q-form">
    @using (Ajax.BeginForm("Edit", "Collection", null, new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "formid", @encType = "multipart/form-data" }))
    {
        Html.AntiForgeryToken();
        @*<div class="q-Collection">*@
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model._id)
            @*@Html.HiddenFor(model => model.selectedProducts)*@
            <div class="col-md-4">
                <h3><span class="parant-title">@ViewBag.Title</span>  @Model.name </h3>
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary" style=" margin-right:10px;padding-left:20px;padding-right:20px;" id="btnSubmit">@Html.LocalizedButton("Save")</button>
                <button type="button" data-toggle="modal" data-target="#modalDelete" class="btn btnCloseSmoov" style="margin-right:10px;padding-left:20px;padding-right:20px;" id="btnDelete">@Html.LocalizedLabel("Delete")</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Detail", "Collection", new { id=Model._id})'" id="btnCancel">@Html.LocalizedButton("Cancel")</button>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("CollectionDetail")</h4>
                <p>@Html.LocalizedLabel("CollectionDetailDescription")</p>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-4 outer">
                        <div class="inner">
                        </div>
                        @if (!string.IsNullOrEmpty(Model.image))
                        {
                            <div class="inner">
                                <div id="uploadPreviewlogo">
                                    <div id="group-image" style="position: relative;min-width: 263px; min-height: 170px;width: 263px!important;height: 170px!important;">
                                        <img src="@urlImgDefault" width="@size.Width" height="@size.Height" id="thumbnil" style="position: absolute;width: @size.Width px!important;height: @size.Height px!important;bottom:0px;" class="img-rounded category-image">
                                        <div class="q-clear"></div>
                                        <button class="btn btn-default" onclick="deleteImage()" style="position: absolute;bottom: 2px;left: 2px;min-width:37px!important;padding-left: 0px!important;padding-right: 0px!important;">   <i class="fa fa-trash">    </i> </button>
                                    </div>
                                    <input id="logoImg" name="logoImg" type="hidden" value="@urlImgDefault">
                                </div>
                                <div id="lbl_image" style="display:none">
                                    <img src="@urlNoImage" width="263" height="170" style="border: 1px solid #E3E3E3;border-radius:4px">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="inner">
                                <div id="uploadPreviewlogo">
                                    <div id="group-image">
                                        <input id="logoImg" type="hidden" value="" name="logoImg">
                                    </div>
                                </div>
                                <div id="lbl_image">
                                    <img src="@urlImgDefault" width="263" height="170" style="border: 1px solid #E3E3E3;border-radius:4px" />
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-md-8 outer">
                        <div class="inner">
                            <input type="text" id="listImageSave" name="listImageSave" style="display:none" />
                            <input type="file" name="image" id="choose" style="display:none" />
                            <label id="upfile1" style="cursor:pointer;margin-top:53px;" class="upfile1">@Html.LocalizedLabel("ChooseFile")</label>
                            <p>@Html.LocalizedLabel("MBSizeLimit")</p>
                            <label id="Errendfile" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("LimitFileImage4MB")</label>
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.name)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control", @maxlength = 100, @placeholder = @Html.LocalizedLabel("collectionName_placeholder") })
                            @Html.ValidationMessageFor(m => m.name)
                        </div>
                    </div>
                </div>
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.description)
                        </div>
                        <div class="inner">
                            @Html.TextAreaFor(m => m.description, new { @class = "form-control", @rows = 5, @maxlength = 500 })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Products")</h4>
                <p>@Html.LocalizedLabel("ProductsDescription")</p>
                <div>
                    <button data-toggle="modal" data-target="#myModalEdit" class="btn btn-default buttonApply" id="buttonApply">Add</button>
                </div>
                <div class="form-group sortCollectiontitle">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.defaultSortProduct)
                        </div>
                        <div class="inner">
                            @Html.DropDownListFor(m => m.defaultSortProduct, Model.defaultSortList, new { @class = "form-control", @style = "width:270px" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-10 outer">

                        <div id="ListProductsApply">
                            <div class="loading" style="display:none">
                                <i class="fa fa-spinner fa-spin"></i>
                            </div>
                            @if (@Model.arrayProduct.Count() > 0)
                            {
                                { Html.RenderPartial("~/Views/Collection/SelectProduct.cshtml", Model.arrayProduct); }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Status")</h4>
                <p>@Html.LocalizedLabel("StatusCollectionDescription")</p>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-12 outer">
                        <div class="inner">
                            <label>@Html.LocalizedLabel("Active")</label>
                        </div>
                        <div class="inner">
                            @try
                            {
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default @(Model.status == true ? "active" : "") statusMerchant " id="lbl-statusActive-0">
                                        @*<label class="btn btn-default @(Model.status == true ? "active" : "") statusMerchant" id="lbl-statusActive-0">*@
                                        <input type="radio" name="@Model._id" id="statusActive-0" value="true" class="optionsRadios">
                                        ON

                                    </label>
                                    <label class="btn btn-default @(Model.status == false ? "active" : "") statusMerchant " id="lbl-statusInActive-0">
                                        @*<label class="btn btn-default @(Model.status == false ? "active" : "") statusMerchant" id="lbl-statusInActive-0">*@

                                        <input type="radio" name="@Model._id" id="statusInActive-0" value="false" class="optionsRadios">
                                        OFF
                                    </label>


                                </div>
                            }
                            catch { }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="q-toolsbar">
            <div class="col-md-4">
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="button" class="btn btn-primary" style=" margin-right:10px;padding-left:20px;padding-right:20px;" id="btnSubmit1">@Html.LocalizedButton("Save")</button>
                <button type="button" data-toggle="modal" data-target="#modalDelete" class="btn btnCloseSmoov" style="margin-right:10px;padding-left:20px;padding-right:20px;" id="btnDelete1">@Html.LocalizedLabel("Delete")</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Detail", "Collection", new { id=Model._id})'" id="btnCancel1">@Html.LocalizedButton("Cancel")</button>
            </div>
        </div>
        <hr />
            <!-- MODEL Add product-->
        <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Select Product</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" style="height:30px !important;">
                            <div><label>Select Category</label></div>
                            <div>

                                <select id="category" name="category" class="form-control">
                                    <option value="all">All categories</option>
                                    @foreach (var cate in Model.listCategories)
                                    {
                                        <option value="@cate._id">@cate.title</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:60px;">
                            <input type="text" id="searchProduct" name="searchProduct" placeholder="Product name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="checkAll" /> Check all
                        </div>
                        <ul class="form-group listproductItem">
                            @foreach (var prod in Model.listProductItems)
                            {
                                var check = Model.arrayProduct.Select(l => l._id).ToList().Contains(prod._id) ? "checked" : "";
                                var disableproduct = Model.arrayProduct.Select(l => l._id).ToList().Contains(prod._id) ? "disabled" : "";
                                var message = disableproduct == "disabled" ? "*" : "";
                                <li class="productItem" data-type="@prod.categoryId">
                                    <label><input type="checkbox" id="@prod._id" @check @disableproduct />&nbsp;&nbsp;@prod.name&nbsp;@message</label>

                                </li>
                            }
                        </ul>
                        <p>*&nbsp;Already in another Collection.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary selectProduct" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
            <!-- MODEL  Add product-->
        @*</div>*@

    }
</div>

<!-- MODEL POPUP CONFIRM-->
<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">
                @Html.LocalizedMessage("ConfirmDeactiveCollection")
            </div>
            <div class="modal-footer">
                <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button>

            </div>
        </div>
    </div>
</div>
<!-- modal delete collection -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 380px;">
        <div class="modal-content">
            <div class="modal-body">
                Are you sure you want to delete this Collection?
            </div>
            <div class="modal-footer">
                <button onclick="location.href='@Url.Action("Delete", "Collection", new { id = Model._id })';return false;" class="btn btn-primary">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
            </div>
        </div>
    </div>
</div>
<!-- modal delete collection -->
<script type="text/javascript">
    var selectProduct = [];
    $('#btnSubmit1').click(function (e) {
        $('#btnSubmit').click();
    });
    $('#btnSubmit').click(function (e) {
        var check = true;
        //var checkExpires = $('#neverExpires').is(':checked');
        //if (!checkExpires) {
        //    var beginDate = $('#beginDate').val().trim();
        //    var endDate = $('#endDate').val().trim();
        //    var begin = new Date($('#beginDate').val());
        //    var end = new Date($('#endDate').val());

        //    if (endDate.length < 1) {
        //        $('#ErrendDate').css('display', 'block');
        //        check = false;
        //    } else {
        //        $('#ErrendDate').css('display', 'none');
        //        if (end < begin) {
        //            $('#ErrendAfter').css('display', 'block');
        //            check = false;
        //        } else {
        //            $('#ErrendAfter').css('display', 'none');
        //        }
        //    }
        //}

        var form = $("#formid");
        var checkForm = form.valid();
        if (checkForm && check) {
            $("#formid").submit();
        }
        else {
            if (checkForm) {
                $('#endDate').focus();
            }

            $('#btnSubmit').button('reset');
            $('#btnSubmit1').button('reset');

            $('button[type=button], .btn-default').each(function () {
                if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                    $(this).removeAttr('disabled');
                }
            });
        }
        return false;
    });


    var countSubmit = 0;
    $("#formid").submit(function (e) {
        if (countSubmit == 0) {
            e.preventDefault();
            if ($(this).valid()) {
                countSubmit = 1;
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (result) {
                        var url = '@Url.Action("Detail", "Collection", new { id=Model._id})';
                        window.location.href = url;
                        return;
                    },
                    beforeSend: function () {
                        $('#btnSubmit').button('loading');
                        $('#btnSubmit1').button('loading');
                        $('button[type=button], .btn-default').each(function () {
                            if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                                $(this).attr('disabled', 'disabled');
                            }
                        });
                        //$('#btnCancel').attr('disabled', 'disabled');
                        //$('#btnCancel1').attr('disabled', 'disabled');
                        //$('#btnDelete').attr('disabled', 'disabled');
                        //$('#btnDelete1').attr('disabled', 'disabled');
                    },
                    complete: function () {
                    }
                });

            }
            else {
                //do your success logic
                $('#btnSubmit').button('reset');
                $('#btnSubmit1').button('reset');
                $('button[type=button], .btn-default').each(function () {
                    if ($(this).id != 'btnSubmit' && $(this).id != 'btnSubmit1') {
                        $(this).removeAttr('disabled');
                    }
                });
                //$('#btnCancel').removeAttr('disabled');
                //$('#btnCancel1').removeAttr('disabled');
                //$('#btnDelete').removeAttr('disabled');
                //$('#btnDelete1').removeAttr('disabled');
            }
        }
    });

    $(function () {

        jsCollectionItem = {};
        isDismiss = "False";
        //var elems = document.querySelectorAll('.optionsRadios');
        //console.log(elems);

        showStatus();
        //if ($('#selectedProducts').val() != '') {
        //    selectedProducts = $('#selectedProducts').val().split(",");
        //}

        //$("#beginDate").keypress(function (e) {
        //    return false;
        //});
        //$("#endDate").keypress(function (e) {
        //    return false;
        //});
        $('#CollectionValue').maskMoney();
        //var check = $('#neverExpires').is(':checked');
        //if (check) {
        //    $('#datetimepicker2').hide();
        //} else {
        //    $('#datetimepicker2').show();
        //}
        //if ($('#unlimited').is(':checked')) {
        //    $('#timeUse').attr("disabled", "disabled");
        //} else {
        //    $('#timeUse').removeAttr("disabled");
        //}
        $("#CollectionValue").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }
        });

        //$('#beginDate').datetimepicker({
        //    minDate: 0,
        //    onShow: function (ct) {
        //        this.setOptions({
        //            maxDate: jQuery('#endDate').val() ? jQuery('#endDate').val() : false
        //        })
        //    },
        //    format: 'm/d/Y H:m:s',
        //    timepicker: true
        //});
        //$('#endDate').datetimepicker({
        //    minDate: 0,
        //    onShow: function (ct) {
        //        this.setOptions({
        //            minDate: jQuery('#beginDate').val() ? jQuery('#beginDate').val() : false
        //        })
        //    },
        //    format: 'm/d/Y H:m:s',
        //    timepicker: true
        //});

        filterProducts($("#category").val(), "");

        //$("#checkSubmit1").click(function () {
        //    $("#checkSubmit").click();
        //});

        //$("#checkSubmit").click(function () {
        //    var check = true;
        //    var name = $('#CollectionName').val().trim();
        //    var Collection = $('#CollectionValue').val().trim();
        //    var beginDate = $('#beginDate').val().trim();
        //    var endDate = $('#endDate').val().trim();
        //    var timeUse = $('#timeUse').val().trim();
        //    var begin = new Date($('#beginDate').val());
        //    var end = new Date($('#endDate').val());
        //    if (end < begin) {
        //        $('#ErrendAfter').css('display', 'block');
        //        check = false;
        //    } else {
        //        $('#ErrendAfter').css('display', 'none');
        //    }
        //    if (!$('#unlimited').is(':checked')) {
        //        if (timeUse.length < 1) {
        //            $('#ErrtimeUse').css('display', 'block');
        //            check = false;
        //        } else {
        //            $('#ErrtimeUse').css('display', 'none');
        //        }
        //    } else { $('#ErrtimeUse').css('display', 'none'); }

        //    if (name.length < 1) {
        //        $('#ErrName').css('display', 'block');
        //        check = false;
        //    } else {
        //        $('#ErrName').css('display', 'none');
        //    }
        //    if (Collection.length < 1) {
        //        $('#ErrCollection').css('display', 'block');
        //        check = false;
        //    } else {
        //        $('#ErrCollection').css('display', 'none');
        //    }
        //    if (beginDate.length < 1) {
        //        $('#ErrbeginDate').css('display', 'block');
        //        check = false;
        //    } else {
        //        $('#ErrbeginDate').css('display', 'none');
        //    }

        //    var checkExpires = $('#neverExpires').is(':checked');
        //    if (!checkExpires) {
        //        if (endDate.length < 1) {
        //            $('#ErrendDate').css('display', 'block');
        //            check = false;
        //        } else {
        //            $('#ErrendDate').css('display', 'none');
        //        }
        //    }
        //    //submit form
        //    if (check) {
        //        $('#checkSubmit').prop('disabled', true);
        //        $("#submit").click();
        //    }

        //});

        var selectedProducts = $('.trproduct td input:hidden');

        for (i = 0; i < selectedProducts.length; i++) {
            selectProduct.push(selectedProducts[i].value);
        }

        $("#category").change(function () {
            filterProducts($("#category").val(), $("#searchProduct").val());
            checkCheckAll();
        });

        $("#searchProduct").keyup(function () {
            filterProducts($("#category").val(), $("#searchProduct").val());
            checkCheckAll();
        });

        $(".listproductItem li input:checkbox").change(function () {
            checkCheckAll();
        });

        $('#myModalEdit').on('hidden.bs.modal', function () {
            $("#searchProduct").val("");
            filterProducts($("#category").val(), $("#searchProduct").val());
            for (var i = 0; i < $(".listproductItem li input:checkbox").length; i++) {
                var checkboxid = $(".listproductItem li input:checkbox")[i].id;
                if (selectProduct.indexOf(checkboxid) > -1) {
                    $("#" + checkboxid).prop('checked', true);
                }
                else {
                    $("#" + checkboxid).prop('checked', false);
                }
            }
            checkCheckAll();
        })

        $('#myModalEdit').on('shown.bs.modal', function () {
            checkCheckAll();
        })

        $('.selectProduct').click(function () {
            selectProduct = []
            var checkedProductsFromModal = $(".listproductItem li input:checked");
            for (var i = 0; i < $(".listproductItem li input:checked").length; i++) {
                var checkboxidFromModal = $(".listproductItem li input:checked")[i].id;
                selectProduct.push(checkboxidFromModal);
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SelectProduct", "Collection")',
                data: {
                    id: '@Model._id',
                    selectProduct: selectProduct
                },
                success: function (result) {
                    $("#ListProductsApply").html(result);
                },
                beforeSend: function () {
                    $('.loading').css("display", "block");
                },
                complete: function () {
                    $('.loading').css("display", "none");
                }
            });
        });

        $("#checkAll").change(function () {
            var availableProducts = $(".listproductItem li input:checkbox");
            if ($("#checkAll").is(":checked")) {
                $(".listproductItem li input:enabled").each(function () {
                    if (this.parentNode.parentNode.style.display == "list-item") {
                        this.checked = true;
                    }
                });
            }
            else {
                $(".listproductItem li input:enabled").each(function () {
                    if (this.parentNode.parentNode.style.display == "list-item") {
                        this.checked = false;
                    }
                });
            }
        });
        //upload image
        var ua = navigator.userAgent.toLowerCase();
        var checkBrowser = function (r) {
            return r.test(ua);
        };
        var isChrome = checkBrowser(/chrome/);
        var isSafari = !isChrome && checkBrowser(/safari/);
        var isSafari2 = isSafari && checkBrowser(/applewebkit\/4/); // unique to
        // Safari 2
        var isSafari3 = isSafari && checkBrowser(/version\/3/);
        var isSafari4 = isSafari && checkBrowser(/version\/4/);
        if (isSafari || isSafari2 || isSafari3 || isSafari4) {
            $('#choose').css('display', '');
            $('#upfile1').css('display', 'none');
        }
        //----------------- check Safari to upload image
        if ('@Model.isNeverExpires.ToString()' == 'True') {
            $('#neverExpires').prop("checked", true);
            $('#neverExpires').trigger("change");
        }
    });
    function FocusControl(elementID) {
        $('#' + elementID).focus();
    }
    function checkCheckAll() {
        if ($(".listproductItem li[style='display: list-item;'] input:checked:enabled").length < $(".listproductItem li[style='display: list-item;'] input:enabled").length) {
            $("#checkAll").prop('checked', false);
        }
        else {
            if ($(".listproductItem li[style='display: list-item;'] input:checked:enabled").length == 0) {
                $("#checkAll").prop('checked', false);
            }
            else {
                $("#checkAll").prop('checked', true);
            }
        }
    }

    function expires() {
        var check = $('#neverExpires').is(':checked');
        if (check) {
            $('#datetimepicker2').hide();
        } else {
            $('#datetimepicker2').show();
        }
    }

    function showProductByCategory(category) {
        $(".listproductItem li").hide();
        $(".listproductItem li[data-type='" + category + "']").show();
    }

    function filterProducts(category, input) {
        $(".listproductItem li").hide();
        if (category == "all") {
            if (input == undefined || (input != undefined && input.trim() == "")) {
                $(".listproductItem li").show();
            }
            else {
                $(".listproductItem li:contains('" + input + "')").show();
            }
        }
        else {
            if (input != undefined && input.trim() != "") {
                $(".listproductItem li[data-type='" + category + "']:contains('" + input + "')").show();
            }
            else {
                $(".listproductItem li[data-type='" + category + "']").show();
            }
        }
    }
    function saveProduct() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SelectProduct", "Collection")',
            data: {
                selectProduct: selectProduct
            },
            success: function (status) {
                if (status == false) {
                    alert('please try again.');
                }
            }
        });
    }
    function deleteProduct(self) {
        var product_id = $(self).parents("tr").find("input:hidden")[0].value;
        var indexItem = selectProduct.indexOf(product_id);
        selectProduct.splice(indexItem, 1);
        $(".listproductItem li input:checkbox").filter("[id='" + product_id + "']").attr('checked', false);
        $(".listproductItem li input:checkbox").filter("[id='" + product_id + "']").removeAttr('disabled');
        $(self).parents("tr").remove();

        $('#ListProductsApply').removeAttr('style');
        if (selectProduct.length > 10) {
            $('#ListProductsApply').attr('style', 'max-height:700px;overflow-y:scroll;');
        }
    }

    function getTodaysDate(val) {
        var t = new Date, day, month, year = t.getFullYear();
        if (t.getDate() < 10) {
            day = "0" + t.getDate();
        }
        else {
            day = t.getDate();
        }
        if ((t.getMonth() + 1) < 10) {
            month = "0" + (t.getMonth() + 1 - val);
        }
        else {
            month = t.getMonth() + 1 - val;
        }

        return (day + '/' + month + '/' + year);
    }

    $.expr[":"].contains = $.expr.createPseudo(function (arg) {
        return function (elem) {
            return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
        };
    });
    //upload image
    var isUpload = false;
    $("#upfile1").click(function () {
        // $("#choose").trigger('click');
        if (!isUpload) {
            $("#choose").click();
        }
    });
    $("#choose").change(function () {
        var formData = new FormData();
        var file = document.getElementById("choose").files[0];
        if (file.size && file.size > (4 * 1024 * 1024)) {
            $('#Errendfile').css('display', 'block');

            return false;
        } else {
            $('#Errendfile').css('display', 'none');

            formData.append("FileUpload", file);
            formData.append("imageType", '@SmoovPOS.Common.ConstantSmoovs.Image_Type.Big');
            formData.append("width", '263');
            formData.append("height", '170');
            if ($('#choose').val() != "") {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UploadImage", "Upload")',
                    data: formData,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        $("#group-image").remove();
                        $("#uploadPreviewlogo").html(data);
                        $("#showImg").hide();
                        $(".lbl_image").css('display', 'none');
                        var lbl_image = document.getElementById("lbl_image");
                        if (lbl_image != null)
                            lbl_image.setAttribute('style', 'display:none');
                        document.getElementById("choose").value = null; // xoa de co the up image trung
                    },
                    error: function () {
                        isUpload = false;
                    },
                    beforeSend: function () {
                        isUpload = true;
                        $('#upfile1').button('loading');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'margin-top:53px;');
                    },
                    complete: function () {
                        isUpload = false;
                        $('#upfile1').button('reset');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'cursor:pointer;margin-top:53px;');
                    }
                });
            }
        }

    });

    function deleteImage() {
        //$("#group-image").remove();
        //var lbl_image = document.getElementById("lbl_image");
        //lbl_image.setAttribute('style', 'display:important');
        var img = document.getElementById("group-image");
        if (img != null)
            img.parentNode.removeChild(img);

        document.getElementById("logoImg").value = null;

        var lbl_image = document.getElementById("lbl_image");
        if (lbl_image != null)
            lbl_image.setAttribute('style', 'display:important');
    }

    /// <summary>
    /// Dismisses the popup.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function dismissPopup() {

        $('#lbl-' + jsCollectionItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsCollectionItem["position"]);
        if (jsCollectionItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsCollectionItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsCollectionItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }
    /// <summary>
    /// Confirms the update.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function confirmUpdate() {

        setStatus(jsCollectionItem["position"]);
        isDismiss = "False";

    }
    /// <summary>
    /// Sets the status.
    /// </summary>
    /// <param name="id">The identifier.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function setStatus(id) {

        var element = document.getElementById(id);
        var statusCollection = element.value == "true" ? true : false;
        var yesNo;
        var idCollection = element.getAttribute("name");
        console.log(statusCollection);

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateStatusCollection", "Collection")',
            data: {
                id: idCollection,
                status: statusCollection
            },
            success: function (status) {

            },
            error: function (status) {
            }

        });
    }

    function showStatus() {
        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsCollectionItem.position = this.getAttribute('id').toString();

                var hasActive = $('#lbl-' + jsCollectionItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsCollectionItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveCollection")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveCollection")');

                    }

                    $('#modalInactive').modal();
                }
            };

        }
    }
</script>
