﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.Entity.Models.SearchCollectionModel
@{
    //ViewBag.Title = "Index";
    ViewBag.Title = "Collection";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

<div class="alert alert-warning" role="alert" style="@(@Model.isAddNew ? "display: none;" : "display: block;")"><strong>@Html.LocalizedMessage("Warning")</strong> @Html.LocalizedMessage("AlertCollectionCountIsLimited")</div>

<div>
    @Html.Partial("~/Views/Collection/CollectionListing.cshtml", Model)
</div>

<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">
                @Html.LocalizedMessage("ConfirmDeactiveCollection")
            </div>
            <div class="modal-footer">
                <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button>

            </div>
        </div>
    </div>
</div>

<script>
    /// <summary>
    /// Gets the information paging.
    /// </summary>
    /// <param name="pageGoTo">The page go to.</param>
    /// <param name="sort">The sort.</param>
    /// <param name="desc">The desc.</param>
    /// <param name="search">The search.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/27/2015-3:26 PM</datetime>
    function getInformationPaging(pageGoTo, sort, desc, search) {     
        var searchInput = $("#txtSearchCollection").val();
        var descConvert = false;
        if (desc != '') {
            descConvert = (desc == 'True');
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SearchCollection", "Collection")',
            data: { pageGoTo: pageGoTo, sort: sort, desc: descConvert, search: searchInput },
            success: function (result) {
                $('#div_main').fadeIn();
                $('#div_main').html(result);
                if ($("#txtSearchCollection").val() != '') {
                    $("#searchclear").toggle(true);
                }
            },
            error: function (status) {
            }
        });
    }
    /// <summary>
    /// Resets the paing.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/27/2015-3:26 PM</datetime>
    function resetPaing() {

       
        $('#divpaging').fadeIn();
        $('#divpaging').html($('#divpaging2').html());
    }
    /// <summary>
    /// Sorts the listing.
    /// </summary>
    /// <param name="pageGoTo">The page go to.</param>
    /// <param name="sort">The sort.</param>
    /// <param name="desc">The desc.</param>
    /// <param name="search">The search.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/27/2015-3:26 PM</datetime>
    function sortListing(pageGoTo, sort, desc, search) {
      
        var descConvert = 'False';
        if (desc != '' && desc == 'False') {
            descConvert = 'True';
        }

        getInformationPaging(pageGoTo, sort, descConvert, search);
    }
</script>