﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/" + ViewBag.theme + "_Home.cshtml";
}



<div id="carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        @{
            int i = 0;
            foreach (var item in ViewBag.slideImage)
            {
                i++;

                <div class="item @(i==1?" active":"")">
                    <a href="@item.targetLink"> <img src="@item.urlImage" alt=""></a>
                </div>
            }
        }
    </div>
    <ol class="carousel-indicators">
        @{
            int j = -1;
            foreach (var item in ViewBag.slideImage)
            {
                j++;
                <li data-target="#carousel" data-slide-to="@j"></li>
            }
        }

    </ol>
    


    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>