﻿@using online.Models

@model ProductByCategoryModel

@{
    ViewBag.Title = "BestSeller";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
    int PageDefault = int.Parse(Model.Paging.limit.ToString() ?? "20");
    int pageGoTo = Model.Paging.pageGoTo + 1;
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home", new { theme = @ViewBag.theme }, null)</li>
    <li class="active">Best Seller</li>
</ol>

<div id="q-product-catgory" style="margin-left: -15px; margin-right: -15px;">
    @if (Model.ProductItemList != null && Model.ProductItemList.Count() > 0)
    {
        foreach (var productitem in @Model.ProductItemList)
        {
            var discount = productitem.DiscountProductItem;

            var imagePath = "";
            // get price min of Variant
            productitem.arrayVarient.Sort((var1, var2) => var1.price.CompareTo(var2.price));
            var smallestProductItem = productitem.arrayVarient[0];
            double minPriceVariant = smallestProductItem.price;
            double minPriceDiscount = 0;
            var discountbanner = "";
            if (discount != null)
            {
                double disprice = 0;
                if (discount.type == 0)
                {
                    disprice = minPriceVariant * discount.discountValue / 100;
                    string strDisprice = disprice.ToString("N2");
                    disprice = double.Parse(strDisprice);
                }
                else
                {
                    disprice = discount.discountValue;
                }
                minPriceDiscount = minPriceVariant - disprice;
                minPriceDiscount = minPriceDiscount < 0 ? 0 : minPriceDiscount;
                discountbanner = discount.type == 0 ? discount.discountValue + " %" : ViewBag.currency + " " + discount.discountValue;
            }
            else
            {
                minPriceDiscount = smallestProductItem.price;
            }


            imagePath = smallestProductItem.image.imageDetault;
            if (imagePath == "0" || imagePath == "" || imagePath.Contains("Content/Images/imageDefault.png"))
            {
                var indexImage = productitem.image.imageDetault;
                int number = -1;
                try
                {
                    number = int.Parse(indexImage);
                }
                catch
                {

                }
                if (number >= 0)
                {
                    imagePath = productitem.image.arrayImage.Count() > 0 ? productitem.image.arrayImage[number] : Url.Content("~/Content/images/imageDefault.png");
                }
                else
                {
                    imagePath = imagePath = Url.Content("~/Content/images/imageDefault.png");
                }

            }
            var productname = @productitem.title.Length > 30 ? @productitem.title.Substring(0, 30) + "..." : @productitem.title;

            <div class="discount-product col-md-3" style="display: block; margin-bottom: 40px;" title="@productname" id="@productitem.">
                <div class="discount-product-item">
                    <a href='@Url.Action("ProductDetail", "Product", new { productItemId = productitem._id })'>
                        <div class="discount-product-thumb img-thumbnail">
                            @if (productitem.discount && productitem.DiscountProductItem != null)
                            {
                                <div class="discount-banner">
                                    <span>&nbsp;&nbsp;@discountbanner</span>
                                    <span>OFF</span>
                                </div>
                            }
                            <img src="@imagePath" class="img-responsive image-fix" alt="@productitem.title" style="vertical-align: middle; max-height: 100%; max-width: 100%;" data-holder-rendered="true">
                        </div>
                    </a>
                    <div class="product-info">
                        @{

                            <div class="product-name">@productname</div>
                        }
                        @if (productitem.discount && productitem.DiscountProductItem != null)
                        {
                            <div class="product-price"><strong>@ViewBag.currency&nbsp;@String.Format("{0:0.00}", Math.Round(minPriceDiscount, 2))&nbsp; &nbsp;</strong></div><div class="product-dis-price"><del>@ViewBag.currency&nbsp;@String.Format("{0:0.00}", Math.Round(minPriceVariant, 2))</del></div>
                        }
                        else
                        {
                            <div class="product-price"><strong>@ViewBag.currency&nbsp;@String.Format("{0:0.00}", Math.Round(minPriceDiscount, 2))</strong></div>
                        }

                    </div>

                </div>
            </div>
        }

        @Html.HiddenFor(m => m.Paging.pageCurrent)
        @Html.HiddenFor(m => m.Paging.limit)
        @Html.HiddenFor(m => m.Currency)
        @Html.HiddenFor(m => m.countOfBestSellerProduct)
        <input type="hidden" name="checkReload" id="checkReload" value="0" />
    }
    else
    {
        <h4 class="col-md-12 center-block">No product found.</h4>
    }

</div>

@if (Model.ProductItemList.Count() == PageDefault)
{
    <div class="loading">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div id="loadMore">
        <button type="button" onclick="loadMoreProductItem()" class="btn btn-info">Load more</button>
    </div>
}

<script>
    function loadMoreProductItem() {
        var pageGoTo = parseInt($('#Paging_pageCurrent').val()) + 1;
        var limit = parseInt($('#Paging_limit').val());
        var countOfBestSellerProduct = parseInt($('#countOfBestSellerProduct').val());
        var currency = $('#Currency').val();

        var formData = {
            limit: limit,
            pageGoTo: pageGoTo,
            currency: currency,
            countOfBestSellerProduct: countOfBestSellerProduct
        }
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadMoreBestSellerProduct", "BestSeller")',
            data: formData,
            success: function (result) {
                $('#Paging_pageCurrent').val(pageGoTo.toString());

                $('#loadMore').removeAttr('style');
                if (!result.isLoadMore) {
                    $('#loadMore').attr('style', 'display:none');
                }

                var htmlAppend = '';
                var html = "";

                result.Data.ProductItemList.forEach(function (item) {
                    var index = item.image.imageDetault;
                    var imagePath = "@Url.Content("~/Content/images/imageDefault.png")";
                    var link = "@Url.Action("ProductDetail", "Product")";

                    item.arrayVarient.sort(function (a, b) { return a - b });
                    var smallestProductItem = item.arrayVarient[0];
                    var minPriceVariant = smallestProductItem.price;
                    var minPriceDiscount = 0;
                    var discountbanner = "";
                    var currency = "@ViewBag.currency";
                    link = link + "?productItemId=" + item._id;
                    if (parseInt(index) >= 0) {
                        imagePath = item.image.arrayImage.length > 0 ? item.image.arrayImage[parseInt(index)] : imagePath;
                    } else {
                        imagePath = item.image.imageDetault;
                    }

                    var minPriceDiscount = 0;
                    var subhtml = "<div class='discount-product col-md-3' style='display: block; margin-bottom: 40px;' title='" + item.title + "'><div class='discount-product-item'><a href='" + link + "'><div class='discount-product-thumb img-thumbnail'>";
                    if (item.discount) {
                        minPriceDiscount = item.DiscountProductItem.type == 0 ? minPriceVariant - minPriceVariant * item.DiscountProductItem.discountValue / 100 : minPriceVariant - item.DiscountProductItem.discountValue;
                        minPriceDiscount = minPriceDiscount < 0 ? 0 : minPriceDiscount;
                        discountbanner = item.DiscountProductItem.type == 0 ? item.DiscountProductItem.discountValue + " %" : @ViewBag.currency + " " + item.DiscountProductItem.discountValue;
                        subhtml += "<div class='discount-banner'><span>&nbsp;&nbsp;" + discountbanner + "</span><span>OFF</span></div>";
                    }
                    subhtml += "<img src='" + imagePath + "' class='img-responsive image-fix' alt='" + item.title + "' style='vertical-align: middle; max-height: 100%; max-width: 100%;' data-holder-rendered='true'></div></a>";
                    subhtml += "<div class='product-info'><div class='product-name'>" + item.title + "</div>";
                    if (item.discount) {
                        subhtml += "<div class='product-price'><strong>" + currency + "&nbsp;" + minPriceDiscount.toFixed(2) + "&nbsp; &nbsp;</strong></div><div class='product-dis-price'><del>" + currency + "&nbsp;" + minPriceVariant.toFixed(2) + "</del></div>";
                    }
                    else {
                        subhtml += "<div class='product-price'><strong>" + currency + "&nbsp;" + minPriceVariant.toFixed(2) + "</strong></div>";
                    }
                    subhtml += "</div></div></div>";
                    html += subhtml;
                });

                $('#q-product-catgory').append(html);
                $('html, body').animate({
                    scrollTop: $("#loadMore").offset().top
                }, 1000);
            },
            error: function (error) {
                console.log(error);
            },
            beforeSend: function () {
                $('.loading').css("display", "block");
                $('#loadMore').css("display", "none");
            },
            complete: function () {
                $('.loading').css("display", "none");
                $('#checkReload').val("1");
            }
        });
    }
</script>