﻿@model Com.SmoovPOS.Entity.VariantOption
@{  Layout = null; }

<tr id="tr_@(Model.Index)__index">
    <td style="vertical-align:top">
        <input type="hidden" class="iOptionHidden" value="@(Model.Index)" />
        @Html.DropDownListFor(m => m.Name, Model.OptionNameList, new { @class = "form-control", @onchange = "DropDownListBiz(event)" })
        <input type="text" class="form-control" style="display:none; margin-top:5px;" />
    </td>
    <td>
        <input type='text' id='VariantOption_@(Model.Value)__Value' class="bootstrap-tagsinput form-control" style="width:100%" data-role="tagsinput" />
    </td>
    <td style="vertical-align:central">
        <img src="@Url.Content("~/Content/Images/cancel.jpg")" class="img-remove-option" style="vertical-align:central" width="15" height="15"
             onclick="DeleteVariantOption('tr_@(Model.Index)__index')" />
    </td>
</tr>
