﻿@{
    ViewBag.Title = "success";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
}

<div class="q-form-signup">
    <div class="row">
        <div class="col-md-12 s-title">
            <h3>Sign Up</h3>
            <p></p>
        </div>
    </div>

    <div class="s-content">
        <div class="row">
            <div class="col-md-12"><h4>Error !</h4></div>
            <p>.</p>
        </div>

    </div>

    <div class="s-button">
        <div class="row">
            <button type="submit" id="btn-submit" class="btn btn-default">OK</button>
        </div>
    </div>
</div>


