﻿@{
    ViewBag.Title = "Change Password";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
}
@model SmoovPOS.UI.Models.Customer.CustomerChangePasswordViewModel
@using SmoovPOS.Utility.CustomHTMLHelper
<style>
    .s-alert {
    width: 100%;
}
</style>
@using (Html.BeginForm("ChangePassword", "Customer", FormMethod.Post, new { @encType = "multipart/form-data", @id = "frm" }))
{
    <div class="q_form_myProfile">
        <div class="row">
            <div class="col-md-12 s-title changepw">
                <h3>@Html.LocalizedLabel("ChangePassword")</h3>
                <p></p>
            </div>
        </div>
        <div class="s_changepw_profile">
            @Html.HiddenFor(model => model.email)
            <div class="row">
                <div class="col-md-12">
                    <div class="s-alert">
                        <div class="alert alert-success" role="alert" style="display: none;" id="mess_success">
                            <strong>@Html.LocalizedMessage("WellDone") </strong> @Html.LocalizedMessage("ChangePassSuccess")
                        </div>
                    </div>
                    <div class="s-alert">
                        <div class="alert alert-danger" role="alert" style="display: none;" id="mess_wrong_password">
                            <strong>@Html.LocalizedMessage("Error") </strong> @Html.LocalizedMessage("PasswordNotFound")
                        </div>
                    </div>
                    <div class="s-alert">
                        <div class="alert alert-danger" role="alert" style="display: none;"  id="mess_error">
                            <strong>@Html.LocalizedMessage("Error") </strong> @Html.LocalizedMessage("TryAgain")
                        </div>
                    </div>
                </div>      
            </div>
            <div class="row frm">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", @maxlength = 50, placeholder = "Current Password" })
                    <div id="ErrCurrentPassword" class="error-message" style="display: none; ">@Html.LocalizedMessage("ErrCurrentPassword")</div>
                    <div id="ErrCurrentPasswordTooShort" class="error-message" style="display: none; ">@Html.LocalizedMessage("ErrPasswordTooShort")</div>

                </div>
            </div>
            <div class="row frm">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.password, new { @class = "form-control", @maxlength = 50, placeholder = "New Password" })
                    <div id="ErrPassword" class="error-message" style="display: none; ">@Html.LocalizedMessage("ErrPassword")</div>
                    <div id="ErrPasswordTooShort" class="error-message" style="display: none; ">@Html.LocalizedMessage("ErrPasswordTooShort")</div>

                </div>
            </div>
            <div class="row frm">
                <div class="col-md-12">
                    @Html.PasswordFor(m => m.passwordConfirm, new { @class = "form-control", @maxlength = 50, placeholder = "Confirm New Password" })
                    @Html.ValidationMessageFor(m => m.passwordConfirm)
                    <div id="ErrConfirmPassword" class="error-message" style="display: none; ">@Html.LocalizedMessage("ErrConfirmPassword")</div>
                    <div id="ErrPasswordNotMatch" class="error-message" style="display: none; ">@Html.LocalizedMessage("ErrPasswordNotMatch")</div>

                </div>
            </div>
            <div class="row frm">
                <div class="col-md-12 s_button">
                    <br />
                    <button type="button" class="btn btn-cancel" onclick="location.href = '@Url.Action("MyProfile", "Customer", new { email=Model.email })'">@Html.LocalizedLabel("Cancel") </button>
                    <button type="button" class="btn btn-save submit">@Html.LocalizedLabel("Save")</button>
                </div>
            </div>
            <div class="loading" style="display:none">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $(document).keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                validateBeforeSubmit()
            }
        });

        $('.submit').click(function () {
            validateBeforeSubmit();
        })
        function validateBeforeSubmit() {
            reset();
            var check = false;
            check = Validation();
            if (check) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("MD5Password", "Customer")',
                    data: {
                        oldPassword: "@Model.OldPassword",
                        password: $('#OldPassword').val().trim()
                    },
                    success: function (result) {
                        if (result=="True") {
                            ChangePassword();
                            $('#mess_wrong_password').css('display', 'none');
                        } else {
                            $('#mess_wrong_password').css('display', 'block');
                        }
                    },
                    error: function (error) {
                        console.log(error);
                    },
                    beforeSend: function () {

                    },
                    complete: function () {

                    }
                });
            }
        }
        function ChangePassword() {

            $.ajax({
                type: "POST",
                url: '@Url.Action("ChangePassword", "Customer")',
                data: {
                    email: "@Model.email",
                    password: $('#password').val().trim()
                },
                success: function (result) {
                    if (result) {
                        $('#mess_success').css('display', 'block');
                        $('.frm').css("display", "none");
                    } else {
                        $('#mess_error').css('display', 'none');
                    }
                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function () {

                },
                complete: function () {

                }
            });
        }
        function Validation() {
            reset();
            var check = true;
            var password = $('#password').val().trim();
            var confirmPassword = $('#passwordConfirm').val().trim();
            var OldPassword = $('#OldPassword').val().trim();

            if (OldPassword.length < 1) {
                $('#ErrCurrentPassword').css('display', 'block');
                check = false;
            } else {
                $('#ErrCurrentPassword').css('display', 'none');
            }

            if (password.length < 1) {
                $('#ErrPassword').css('display', 'block');
                check = false;
            } else {
                $('#ErrPassword').css('display', 'none');
            }

            if (confirmPassword.length < 1) {
                $('#ErrConfirmPassword').css('display', 'block');
                check = false;
            } else {
                $('#ErrConfirmPassword').css('display', 'none');
            }

            if (password.length > 1 && password.length <= 5) {
                $('#ErrPasswordTooShort').css('display', 'block');
                check = false;

            } else {
                $('#ErrPasswordTooShort').css('display', 'none');
            }

            if (password != confirmPassword) {
                $('#ErrPasswordNotMatch').css('display', 'block');
                check = false;
            } else {
                $('#ErrPasswordNotMatch').css('display', 'none');
            }

            return check;
        }
        function reset() {
            $('#ErrPasswordNotMatch').css('display', 'none');
            $('#ErrPasswordTooShort').css('display', 'none');
            $('#ErrPassword').css('display', 'none');
            $('#ErrConfirmPassword').css('display', 'none');
            $('#ErrCurrentPassword').css('display', 'none');
            $('#mess_error').css('display', 'none');
            $('#mess_wrong_password').css('display', 'none');
            $('#mess_success').css('display', 'none');
        }
    });
</script>
