﻿@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
}
<style>
    .validation-summary-errors{
        text-align: center; 
    }
</style>
<div class="q-form-signup">
    <div class="row">
        <div class="col-md-12 s-title">
            <h3>FORGOT YOUR PASSWORD</h3>
            <p class="s-p-forgot"></p>
        </div>
    </div>
   
    <div class="s-content">
        <div class="col-md-12">
            <div class="s-alert">
                <div class="alert alert-success" role="alert" style="display: none;" id="alert">
                    <strong>Well done!</strong> A reset link has been sent to your email address.
                </div>
            </div>
        </div>         
        <p>To reset your password, please enter the email address you use to login.</p>
        <p>An email with a link to reset your password will be sent to your registered account.</p>
        <div class="col-md-12">
            <div class="validation-summary-errors">
                <ul>
                    <li id="ErrEmail" style="display: none; ">The Email Address field is required.</li>
                    <li id="ErrEmailInvalid" style="display: none; ">The Email Address format is incorrect.</li>
                    <li id="ErrEmailNotFound" style="display: none; ">The Email Address you entered was not found.</li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row q-reset-password">
            <div class="col-md-12">
                <form>
                    <div class="form-group">
                        <input type="email" class="form-control" id="username" name="username" placeholder="Email Address">
                    </div>
                </form>
            </div>
        </div>


    </div>

    <div class="s-button">
        <div class="row">
            <button type="button" id="btn-submit" class="btn btn-default">CONTINUE</button>
        </div>
    </div>
    <div class="loading">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#btn-submit').click(function () {
            validateBeforeSubmit();
        })
        $(document).keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                validateBeforeSubmit();
            }
        });

        function validateBeforeSubmit() {
            var check = false;
            check = Validation();
            if (check) {
                submitForm();
            }
        }

        function submitForm() {
            var formData = {
                email: $('#username').val().trim()
            };

            $.ajax({
                type: "POST",
                url: '@Url.Action("VerifyEmailForResetPassword", "Customer")',
                data: formData,
                success: function (result) {
                    if (parseInt(result) == 1) {
                        $('#alert').css('display', 'block');
                    } else {
                        $('#ErrEmailNotFound').css('display', 'block');
                        $('#alert').css('display', 'none');
                        $('.s-button').css("display", "block");
                    }
                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function () {
                    $('.loading').css("display", "block");
                    $('.s-button').css("display", "none");
                },
                complete: function () {
                    $('.loading').css("display", "none");
                }
            });

        }

        function Validation() {
            reset();
            var check = true;
            var email = $('#username').val().trim();

            if (email.length < 1) {
                $('#ErrEmail').css('display', 'block');
                $('#ErrEmailInvalid').css('display', 'none');
                check = false;
                exit;
            } else if (!validateEmail(email)) {
                $('#ErrEmailInvalid').css('display', 'block');
                $('#ErrEmail').css('display', 'none');
                check = false;
                exit;
            } else {
                $('#ErrEmail').css('display', 'none');
                $('#ErrEmailInvalid').css('display', 'none');
            }
            return check;
        }

        function reset() {
            $('#ErrEmail').css('display', 'none');
            $('#ErrEmailNotFound').css('display', 'none');
            $('#ErrEmailInvalid').css('display', 'none');
        }
    })
</script>