﻿@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
}
@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.Customer.CustomerViewModel
<div class="q_form_myProfile">
    <div class="row">
        <div class="col-md-12 s-title">
            <h3>@Html.LocalizedLabel("AccountInformation")</h3>
            <p></p>
            <h4>@Html.LocalizedLabel("PersonalInformation")</h4>
        </div>
    </div>
    <div class="s-content">
        <div class="row">
            <div class="col-md-3">
                <label>@Html.LocalizedLabel("fullName")</label>
            </div>
            <div class="col-md-9">
                <p>@Model.firstName @Model.lastName</p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>@Html.LocalizedLabel("email_Title")</label>
            </div>
            <div class="col-md-9">
                <p>@Model.email</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>@Html.LocalizedLabel("ContactNumber")</label>
            </div>
            <div class="col-md-9">
                @if (!string.IsNullOrEmpty(Model.phone))
                {
                    <p>@Model.phoneRegion @Model.phone</p>
                }
                else
                {
                    <p>N/A</p>
                }

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label>@Html.LocalizedLabel("TimeZone")</label>
            </div>
            <div class="col-md-9">
                @{
                    foreach (var item in Model.listDefaultTimeZones)
                    {
                        string value = item.Key.ToString();
                        if (value == Model.timeZoneFullName)
                        {
                            <p>@item.Key @item.Value</p>
                        }
                    }
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label><label>@Html.LocalizedLabel("Address")</label></label>
            </div>
            <div class="col-md-9">
                @if (!string.IsNullOrEmpty(Model.address))
                {
                    <p>@(Model.address != null ? Model.address : "")@(Model.city != null ? ", " + Model.city : "")@(Model.state != null ? ", " + Model.state : "")@(Model.zipCode != null ? " " + Model.zipCode : "")@(Model.country != null ? ", " + Model.country : "")</p>

                }
                else
                {
                    <p>N/A</p>
                }
                @*<p>@Model.address, @Model.city, @Model.zipCode@(Model.state!=null?", "+Model.state:""), @Model.country</p>*@
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label><label>@Html.LocalizedLabel("Promos")</label></label>
            </div>
            <div class="col-md-9">
                @if (Model.acceptsNewsletter)
                {
                    <p>
                        <input type="checkbox" class="checkbox" id="" checked disabled style="display:inline;" /> @Html.LocalizedLabel("AcceptNewsletter")
                    </p>
                }
                else
                {
                    <p>
                        <input type="checkbox" class="checkbox" id="" disabled style="display:inline;" /> @Html.LocalizedLabel("AcceptNewsletter")
                    </p>
                }

                @if (Model.acceptsSms)
                {
                    <p>
                        <input type="checkbox" class="checkbox" id="" checked disabled style="display:inline;" /> @Html.LocalizedLabel("AcceptSms")
                    </p>
                }
                else
                {
                    <p>
                        <input type="checkbox" class="checkbox" id="" disabled style="display:inline;" /> @Html.LocalizedLabel("AcceptSms")
                    </p>
                }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <br />
                <button type="button" onclick="location.href ='@Url.Action("EditProfile", "Customer", new { email = Model.email }, null)'" class="btn btn-default">@Html.LocalizedButton("Edit")</button>
                <button type="button" onclick="location.href ='@Url.Action("ChangePassword", "Customer", new { email = Model.email }, null)'" class=" btn btn-cancel">@Html.LocalizedLabel("ChangePassword") </button>

            </div>
        </div>
    </div>
</div>