﻿@model Com.SmoovPOS.Entity.Customer
@{
    ViewBag.Title = "Sign up";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";

}
@using (Html.BeginForm("SignUp", "Customer", FormMethod.Post, new { @encType = "multipart/form-data", @id = "frm" }))
{
    <div class="q-form-signup">
        <div class="row">
            <div class="col-md-12 s-title">
                <h3>Sign Up</h3>
                <p style="margin-left: 125px;"></p>
            </div>
        </div>
        <div class="s-content">
            <div class="row">
                <div class="col-md-12"><h4>Nice to meet you !</h4></div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="validation-summary-errors">
                            <ul>
                                <li id="ErrFirstNameRequired" style="display:none">The First Name field is required.</li>
                                <li id="ErrLastNameRequired" style="display:none">The Last Name field is required.</li>

                                <li id="ErrEmail" style="display: none; ">The Email Address field is required.</li>
                                <li id="ErrConfirmEmail" style="display: none; ">The Confirm Email Address field is required.</li>

                                <li id="ErrEmailNotFound" style="display: none; ">The Email Address you entered was not found.</li>
                                <li id="ErrConfirmEmailNotFound" style="display: none; ">The Confirm Email Address you entered was not found.</li>

                                <li id="ErrEmailInvalid" style="display: none; ">The Email Address format is incorrect.</li>
                                <li id="ErrConfirmEmailInvalid" style="display: none; ">The Confirm Email Address format is incorrect.</li>

                                <li id="ErrConfirmEmailExist" style="display: none; ">The Email is exist.</li>
                                <li id="ErrEmailNotMatch" style="display: none; ">Your emails do not match.</li>

                                <li id="ErrPassword" style="display: none; ">The Password field is required.</li>
                                <li id="ErrConfirmPassword" style="display: none; ">The Confirm Password field is required.</li>
                                <li id="ErrPasswordNotMatch" style="display: none; ">Your passwords do not match.</li>

                                <li id="ErrPasswordTooShort" style="display: none; ">Your password must be at least 6 characters long.</li>

                                <li id="ErrAgree" style="display: none; ">You must accept the terms of use and privacy policy to continue.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" maxlength="50">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" maxlength="50">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="confirmEmail" name="confirmEmail" placeholder="Confirm Email ">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password (6 characters or more)" maxlength="50">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" maxlength="50">
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="agree" id="agree" value="1"> I agree to the @Html.ActionLink("Terms of Use", "TermConditions", "Home", new { theme = @ViewBag.theme }, null) and @Html.ActionLink("Privacy Policy", "TermConditions", "Home", new { theme = @ViewBag.theme }, null)
                            </label>
                        </div>

                    </form>
                </div>
            </div>
            <div class="s-button">
                <div class="row">
                    <button type="button" id="btn-button" class="btn btn-default">Submit</button>
                </div>
            </div>
            <div class="loading">
                <i class="fa fa-spinner fa-spin"></i>
            </div>
        </div>
    </div>
}

<script>


    $(document).ready(function () {

        $(document).keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                validateBeforeSubmit()
            }
        });

        $('#btn-button').click(function () {
            validateBeforeSubmit()
        })
        function validateBeforeSubmit() {
            var check = false;
            check = Validation();
            if (check) {
                if ($("#agree").is(':checked')) {
                    $("#ErrAgree").hide();
                    checkEmailExist($('#email').val());
                }
                else
                    $("#ErrAgree").show();
            } else {
                $('#ErrConfirmEmailExist').css('display', 'none');
            }
        }
        function checkEmailExist(email) {
            $.ajax({
                type: "POST",
                url: '@Url.Action("checkEmailCustomerExist", "Customer")',
                data: {
                    email: email
                },
                success: function (result) {
                    if (parseInt(result) == 1) {
                        $('#ErrConfirmEmailExist').css('display', 'block');
                    } else {
                        $('#ErrConfirmEmailExist').css('display', 'none');
                        $('#frm').submit();
                    }
                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function () {
                    $('.loading').css("display", "block");
                },
                complete: function () {
                    $('.loading').css("display", "none");
                }
            });
        }
        function Validation() {
            reset();
            var check = true;
            var firstName = $('#firstName').val().trim();
            var lastName = $('#lastName').val().trim();
            var email = $('#email').val().trim();
            var confirmEmail = $('#confirmEmail').val().trim();
            var password = $('#password').val().trim();
            var confirmPassword = $('#confirmPassword').val().trim();

            if (firstName.length < 1) {
                $('#ErrFirstNameRequired').css('display', 'block');
                check = false;
                return;
            } else {
                $('#ErrFirstNameRequired').css('display', 'none');
            }

            if (lastName.length < 1) {
                $('#ErrLastNameRequired').css('display', 'block');
                check = false;
                return;
            } else {
                $('#ErrLastNameRequired').css('display', 'none');
            }
            if (email.length < 1) {
                $('#ErrEmail').css('display', 'block');
                $('#ErrEmailInvalid').css('display', 'none');
                check = false;
                return;
            } else if (!validateEmail(email)) {
                $('#ErrEmailInvalid').css('display', 'block');
                $('#ErrEmail').css('display', 'none');
                check = false;
                return;
            } else {
                $('#ErrEmail').css('display', 'none');
                $('#ErrEmailInvalid').css('display', 'none');
            }

            if (confirmEmail.length < 1) {
                $('#ErrConfirmEmail').css('display', 'block');
                $('#ErrConfirmEmailInvalid').css('display', 'none');
                check = false;
                return;
            } else if (!validateEmail(confirmEmail)) {
                $('#ErrConfirmEmailInvalid').css('display', 'block');
                $('#ErrConfirmEmail').css('display', 'none');
                check = false;
                return;
            } else {
                $('#ErrConfirmEmailInvalid').css('display', 'none');
                $('#ErrConfirmEmail').css('display', 'none');
            }


            if (email != confirmEmail) {
                $('#ErrEmailNotMatch').css('display', 'block');
                check = false;
                return;
            } else {
                $('#ErrEmailNotMatch').css('display', 'none');
            }

            if (password.length < 1) {
                $('#ErrPassword').css('display', 'block');
                check = false;
                return;
            } else {
                $('#ErrPassword').css('display', 'none');
            }

            if (confirmPassword.length < 1) {
                $('#ErrConfirmPassword').css('display', 'block');
                check = false;
                return;
            } else {
                $('#ErrConfirmPassword').css('display', 'none');
            }

            if (password.length > 1 && password.length <= 5) {
                $('#ErrPasswordTooShort').css('display', 'block');
                check = false;
                return;
            } else {
                $('#ErrPasswordTooShort').css('display', 'none');
            }

            if (password != confirmPassword) {
                $('#ErrPasswordNotMatch').css('display', 'block');
                return;
            } else {
                $('#ErrPasswordNotMatch').css('display', 'none');
            }

            return check;
        }
        function reset() {
            $('#ErrPasswordNotMatch').css('display', 'none');
            $('#ErrPasswordTooShort').css('display', 'none');
            $('#ErrPassword').css('display', 'none');
            $('#ErrConfirmPassword').css('display', 'none');
            $('#ErrEmailNotMatch').css('display', 'none');
            $('#ErrConfirmEmailNotFound').css('display', 'none');
            $('#ErrConfirmEmail').css('display', 'none');
            $('#ErrEmail').css('display', 'none');
            $('#ErrEmailNotFound').css('display', 'none');
            $('#ErrLastNameRequired').css('display', 'none');
            $('#ErrFirstNameRequired').css('display', 'none');
            $('#ErrConfirmEmailExist').css('display', 'none');
        }
    });


</script>
