﻿

<div>
    <div id="header-mail">
        <label>
            Hi [FirstNameOfCustomer],
        </label>
        <div style="margin-top:10px;">
            We have received your request to reset your password.
        </div>
        <div>
            Please click on the following link to continue that process. This link can only be used once.
        </div>
        <div>
            <a href="[LinkResetPasswork]">[LinkResetPasswork]</a>
        </div>
        <div>
            If you have any questions or need additional assistance with your account, please contact us.
        </div>
        <div>            
            <div style="margin-top:20px;">
                Sincerely,
            </div>
            <div>
                [BusinessName]
            </div>
        </div>
    </div>

</div>

