﻿

<div>
    <div id="header-mail">
        <label>
            Hi [FirstNameOfCustomer],

        </label>
        <div style="margin-top:10px;">
            Thank you for signup with [BusinessName]! We're excited to have you join us and start shopping. We look forward to servicing you.
        </div>       
        <div>
            <div style="margin-top:10px;">
                Visit us again at: <a href="[OnlineshopLink]"> [OnlineshopLink]</a>
            </div>
            <div style="margin-top:30px;">
                Sincerely,
            </div>
            <div>
                [BusinessName]
            </div>
        </div>
    </div>

</div>

