﻿@media (min-width: 320px) {
    
}

@media (max-width: 320px) {
    .tableTotal tr th, td {
        padding-left: 10px !important;
        padding-right: 5px !important;
    }

    /*only for online/OrderHistory.table"orderHistory" on Iphone*/
    #orderHistory tr th:nth-child(2), #orderHistory tr td:nth-child(2){
        display: none;
    }

    #orderHistory tr th:nth-child(3), #orderHistory tr td:nth-child(3){
        display: none;
    }

    .dataTables_wrapper .dataTables_info {
        display:none;
    }
    /*------------end------------*/
}

@media(max-width:480px) {
    .s_edit_profile {
        width: 100%;
    }

    .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
        margin-bottom: 10px;
        padding-right: 5px !important;
        padding-left: 5px !important
    }
}

@media (min-width: 768px) {
    #q-menu-responsive {
        display: none;
    }

    #q-menu .nav > li > a {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .navbar-right .dropdown-menu {
        right: auto;
    }
}

@media (max-width: 768px) {
    #footer .col-md-4 {
        padding: 15px;
    }

    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

        ul.banner-social-buttons > li:last-child {
            margin-bottom: 0;
        }
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}