﻿body {
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */

@media (min-width: 1024px) {
    .dashboard_body {
        width: 75%;
    }
}
@media (min-width: 1200px) {
    .dashboard_body {
        width: 50%;
    }
}


@media (max-width: 1200px) { 
 
}

@media (max-width: 768px) { 
    .img-remove-option {
        margin-top: 0;
    }
}

@media (max-width: 480px) { 
 
}