﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.Employee.EmployeeViewModel
@*<script type="text/javascript" src="~/Scripts/dataTables.tableTools.js"></script>*@
<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>
<link href="~/Content/jquery.dataTables.css" rel="stylesheet" type="text/css" />
@*<link href="~/Content/dataTables.tableTools.css" rel="stylesheet" type="text/css" />*@
@{
    ViewBag.Title = "Employee Management";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    int index = 0;
}
<link rel="stylesheet" type="text/css" href="~/Content/dataTables.bootstrap.css" />
<link rel="stylesheet" type="text/css" href="~/Content/jquery.dataTables.css" />
<link rel="stylesheet" type="text/css" href="~/Content/dataTables.tableTools.css" />
<script type="text/javascript" src="~/Scripts/jquery.dataTables.js"></script>
<script type="text/javascript" src="~/Content/dataTables.bootstrap.js"></script>
<style>
    .modal-footer button{
        width: 80px;        
    }
    
    /* enable absolute positioning */
    .inner-addon {
        position: relative;
    }

        /* style icon */
        .inner-addon .glyphicon {
            position: absolute;
            padding: 10px;
            pointer-events: none;
        }

    /* align icon */
    .left-addon .glyphicon {
        left: 5px;
        top: -1px;
    }

    .right-addon .glyphicon {
        right: 0px;
    }

    /* add padding  */
    .left-addon input {
        padding-left: 30px;
    }

    .right-addon input {
        padding-right: 30px;
    }

    .dataTables_paginate {
        float: left !important;
    }

    .dataTables_filter {
        display: none;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        border: 1px solid white;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0 !important;
    }

    .dataTables_paginate.paging_simple_numbers {
        padding-left: 25px;
    }

    .searching {
        float: right;
    }

    #myInputTextField {
        width: 370px;
        max-width: inherit;
    }

    /* ==CSS for Datatables Grid== */
    .dataTables_info {
        margin-top: 2px;
        margin-right: 10px;
    }

    .pagination > li > a, .pagination > li > span {
        margin-left: -5px;
    }

    #contributors_filter {
        display: block !important;
        margin-top: 3px !important;
    }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        border-color: #ddd !important;
        color: #fff !important;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
        color: #428bca;
    }

    .dataTables_paginate a{
        color: #428bca;
    }

    .pagination > li > a, .pagination > li > span{
        padding: 4px 10px;
    }

    .header_table {
        background-color: transparent;
        color: #000;
        border-bottom: 2px solid #ddd;
    }
</style>

<div class="alert alert-warning" role="alert" style="@(@Model.isAddNew ? "display: none;" : "display: block;")"><strong>@Html.LocalizedMessage("Warning")</strong> @Html.LocalizedMessage("AlertEmployeeCountIsLimited")</div>

<div class="q-toolsbar">
    <div class="col-md-4">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="col-md-8">
        <button onclick="location.href='@Url.Action("Create", "Employee")';return false;" class="btn btn-primary" @(@Model.isAddNew ? "" : "disabled")>New Employee</button>
    </div>
</div>

<div class="q-clear"></div>

<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

<table class="table display" id="contributors" cellspacing="0" width="100%">
    <thead>
        <tr class="header_table">
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone No</th>
            <th class="u-title" style="background:none">Status</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.listEmployees != null && !String.IsNullOrEmpty(Model.listEmployees.ToString()))
        {
            foreach (var item in Model.listEmployees)
            {
                try
                {
                    <tr class="employee_margin">
                        <td>@Html.DisplayFor(modelItem => item.EmployeeId)</td>
                        <td>
                            @try
                            {
                                @Html.ActionLink(item.fullName.ToString(), "Detail", new { id = item._id })
                            }
                            catch (Exception) { }
                        <td>
                            @if (item.email.Equals("") || item.email == null)
                            {
                                <text>N/A</text>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.email)
                            }
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.phone)</td>
                        <td>
                            @try
                        {

                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default @(item.status == true ? "active" : "") statusMerchant" id="lbl-statusActive-@index">
                                    <input type="radio" name="@item._id" id="statusActive-@index" value="true" class="optionsRadios">
                                    @Html.LocalizedLabel("ON")
                                </label>
                                <label class="btn btn-default @(item.status == false ? "active" : "") statusMerchant" id="lbl-statusInActive-@index">

                                    <input type="radio" name="@item._id" id="statusInActive-@index" value="false" class="optionsRadios">
                                    @Html.LocalizedLabel("OFF")
                                </label>


                            </div>
                        }
                            catch { }
                        </td>
                    </tr>
                }
                catch
                {

                }
                index++;
            }
        }

    </tbody>
</table>
<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">
                Do you want to deactivate this employee?
            </div>
            <div class="modal-footer">
                <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-default-smoov" style="padding-left:20px;padding-right:20px">@Html.LocalizedButton("Yes")</button>
                <button type="button" class="btn btn-smoov" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedButton("No")</button>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="q-toolsbar">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-8">
        <button onclick="location.href='@Url.Action("Create", "Employee")';return false;" class="btn btn-primary" @(@Model.isAddNew ? "" : "disabled")>New Employee</button>
    </div>
</div>

<script language="javascript">
    // init datatable with jquery
    $(document).ready(function () {
        var sZeroRecords = "No employee was found.";
        var sEmptyTable = "No employee was found.";
        var sInfoEmpty = ""

        $('#contributors').DataTable({
            "aoColumns": [
              { "bSearchable": true },
              { "bSearchable": false },
              { "bSearchable": false },
              { "bSearchable": false },
              { "bSearchable": false }
            ],
            "columns": [
              { "width": "20%" },
              { "width": "20%" },
              { "width": "20%" },
              { "width": "20%" },
              { "width": "20%" }
            ],
            "pagingType": "full_numbers",
            "bSortClasses": false,
            "order": [[1, "desc"]],
            "dom": 'T<"clear">lfrtip',
            "iDisplayLength": 25,
            "bLengthChange": true,
            "sDom": '<"top"ipf>rt<"bottom"ip><"clear">',
            "oLanguage": {
                "oPaginate": {
                    "sFirst": "<i class='fa fa-angle-double-left'></i>", // This is the link to the first page
                    "sPrevious": "<i class='fa fa-angle-left'></i>", // This is the link to the previous page
                    "sNext": "<i class='fa fa-angle-right'></i>", // This is the link to the next page
                    "sLast": "<i class='fa fa-angle-double-right'></i>"
                },
                "sInfoFiltered": "",
                "sInfo": "_START_ - _END_ of _TOTAL_",
                "sInfoEmpty": sInfoEmpty,
                "sEmptyTable": sEmptyTable,
                "sZeroRecords": sZeroRecords,
            }
        });
        var elems = document.querySelectorAll('.optionsRadios');
        // console.log(elems);
        $('.dataTables_filter').text('').html('<div class="searching"><div class="inner-addon left-addon"><i class="glyphicon glyphicon-search"></i><input type="text" id="myInputTextField" class="form-control" placeholder="Search employee" /></div></div>')

        showStatus();
    });

    jsProductItem = {};
    isDismiss = "False";
    
    function dismissPopup() {

        $('#lbl-' + jsProductItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsProductItem["position"]);
        if (jsProductItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsProductItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsProductItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }
    /// <summary>
    /// Confirms the update.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function confirmUpdate() {

        setStatus(jsProductItem["position"]);
        isDismiss = "False";

    }
    function setStatus(id) {

        var element = document.getElementById(id);
        var statusCustomer = element.value == "true" ? true : false;
        var yesNo;
        var idCustomer = element.getAttribute("name");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusEmployee", "Employee")',
            data: {
                id: idCustomer,
                status: statusCustomer
            },
            success: function (status) {


            },
            error: function (status) {
            }

        });
    }

    /*
     * Call to controller set active/inactive Category
     * checkActive() : multi active/inactive
     *
     */
    @*function setStatus(id, statusCategory) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusEmployee", "Employee")',
            data: {
                id: idCustomer,
                status: statusCustomer
            },
            success: function (status) {
                if (status == false) {
                    alert('please try again.');
                }
            }
        })
    }*@
    function showStatus() {
        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsProductItem.position = this.getAttribute('id').toString();

                var hasActive = $('#lbl-' + jsProductItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsProductItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveEmployee")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveEmployee")');

                    }

                    $('#modalInactive').modal();
                }
            };

        }
    }
</script>