﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>@ViewBag.Title - Table Order</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <style>
        .dropdown-menu {
            min-width: 100% !important;
        }

        .container {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .body-content {
            padding-left: 0px !important;
            padding-right: 0px !important;
        }

        .footer {
            padding-top: 20px;
            position: relative;
            bottom: 0px;
        }

        .q-form {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }

        #q-cart-count {
            color: white;
            font-size: 13px;
            background: black;
            border-radius: 14px;
            padding: 3px 5px;
        }
    </style>

    <style media="screen and (min-device-height:568px)">
        .body-content {
            min-height: 460px;
        }
    </style>

    <style media="screen and (min-device-height:768px)">
        .body-content {
            min-height: 600px;
        }
    </style>
</head>

<body>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" style="border: none; margin-bottom: 0px;">
        <div class="col-md-12 col-xs-12" style="text-align: center; color: white; background-color: #DA3756; position: relative; min-height: 50px;">
            <div style="display: inline-block; float: left; font-size: x-large; margin: 10px 0 0 0;position: absolute;left: 15px;">
                <input type="hidden" id="hfCategoryName" value="" />

                <a href='#' onclick="LoadListProduct(); return false;" style="color:white;display:none;left: 15px;" id="backToList">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </div>
            <div style="display: inline-block; vertical-align: middle!important; margin-top: 10px;font-size: 22px;" id="titleTableOrdering">@ViewBag.TableOrder.stationName (@ViewBag.TableOrder.TitleHostOrClient)</div>

            <div style="font-size: x-large; float: right; display: block;right: 15px;position: absolute;margin-top: -38px;" id="addToCart_icon">
                <a href='#' onclick="LoadMyCart(); return false;" style="color: white;" id="addToCart">
                    <p style="margin:10px 24px 0 0;">
                        <i class="fa fa-shopping-cart"></i>
                    </p>
                    <p style="margin:-48px 0 0 0;">
                        @{
                            int count = 0;
                            if (ViewBag.countOfItemsInCart != null)
                            {
                                count = @ViewBag.countOfItemsInCart;
                            }
                        }
                        <span id="q-cart-count">@count</span>
                    </p>
                </a>
            </div>
            <div style="font-size: x-large; float: right; display: block;right: 15px;position: absolute;margin-top: -38px;" id="changeHost_icon">
                <a href='#' data-toggle="modal" data-target="#modalChangeHost" style="color: white;" id="changeHost">
                    <p style="margin:10px 24px 0 0;">
                        <i class="fa fa-user"></i>
                    </p>
                    <p style="margin:-48px 0 0 0;">
                        <i class="fa fa-refresh" style="text-shadow: 0 0 3px #000; font-size: 14px;"></i>
                    </p>
                </a>
            </div>
        </div>
    </div>

    <div id="bodyMain" class="body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)

    <div class="footer container-fluid">
        <div class="row">
            <div class="col-md-12 col-xs-12" style="font-size:small;color:grey;">
                <span>@ViewBag.businessName <i class="fa fa-copyright"></i> 2015 - All Rights Reserved</span>
            </div>
        </div>
    </div>

    <div id="divContainer" style="display:none;">
        <div id="divLogin" class="login">
            <div>
                Your Name:<br />
                <input id="txtNickName" type="text" class="textBox" />
            </div>
            <div id="divButton">
                <input id="btnStartChat" type="button" class="submitButton" value="Start Chat" />
            </div>
        </div>

        <div id="divChat" class="chatRoom">
            <div class="title">
                Welcome to Chat Room [<span id='spanUser'></span>]

            </div>
            <div class="content">
                <div id="divChatWindow" class="chatWindow">
                </div>
                <div id="divusers" class="users">
                </div>
            </div>
            <div class="messageBar">
                <input class="textbox" type="text" id="txtMessage" />
                <input id="btnSendMsg" type="button" value="Send" class="submitButton" />
            </div>
        </div>

        <input id="hdId" type="hidden" />
        <input id="hdUserName" type="hidden" />
        <input id="hdUserOwner" type="hidden" />
    </div>

    <!-- modal delete discount -->
    <div class="modal fade" id="modalChangeHost" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="z-index: 9999;">
        <div class="modal-dialog">
            <div class="modal-content">
                <input type="hidden" id="selected-client-id" value="" />
                <div class="modal-header text-center">
                    Assign Host
                </div>
                <div class="modal-body" id="list-client">
                </div>
                <div class="modal-footer center-block">
                    <button id="change-host" class="btn btn-primary" onclick="ChangingHost(); return false;" data-dismiss="modal">Assign</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!--Script references. -->
    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/signalr/hubs"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script>
        var isMyCart = false;
        var isPaymentDone = false;
        var isHost = false;
        $("#addToCart_icon").show(0);
        $("#changeHost_icon").hide(0);

        function SetAutoResizeWidthHeightImage(elementResizeId, maxWidth, maxHeight) {
            var imageItem = $('#' + elementResizeId);
            var sourceWidth = imageItem.width();
            var sourceHeight = imageItem.height();

            if (sourceWidth > 0 && sourceHeight > 0) {
                AutoResizeWidthHeightImage(elementResizeId, sourceWidth, sourceHeight, maxWidth, maxHeight);
            }
        }

        function AutoResizeWidthHeightImage(elementResizeId, sourceWidth, sourceHeight, maxWidth, maxHeight) {
            var size = CalculateDimensions(sourceWidth, sourceHeight, maxWidth, maxHeight);
            var destWidth = size[0];
            var destHeight = size[1];

            elementResize = $('#' + elementResizeId);
            elementResize.removeAttr('width');
            elementResize.removeAttr('height');
            elementResize.attr('width', destWidth);
            elementResize.attr('height', destHeight);
            elementResize.css('Width', destWidth.toFixed(0).toString() + 'px');
            elementResize.css('Height', destHeight.toFixed(0).toString() + 'px');
        }

        function CalculateDimensions(sourceWidth, sourceHeight, maxWidth, maxHeight) {
            var widthPercent = maxWidth / sourceWidth;
            var heightPercent = maxHeight / sourceHeight;

            var percent = widthPercent;
            if (heightPercent < widthPercent && heightPercent != 0) {
                percent = heightPercent;
            }

            var destWidth = (sourceWidth * percent);
            var destHeight = (sourceHeight * percent);

            var size = new Array(2);
            size[0] = destWidth;
            size[1] = destHeight;

            return size;
        }

        function ChangingHost() {
            //window.location = 'http://www.google.com.vn';
            var device = $('input[name=client]:radio:checked').val();
            if (device != '') {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangingHost", "TableOrder")',
                    data: { memberID: device },
                    success: function (result) {
                        if (result.success == true) {
                            SendMessageTableOrder('@SmoovPOS.Common.ConstantSmoovs.StationTable.ChangedHost');
                        }
                    },
                    error: function () {
                    },
                    beforeSend: function () {
                    },
                    complete: function () {
                    }
                });
            }
        }

        function SyncSessionCache() {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SyncSessionCache", "TableOrder")',
                data: {},
                success: function (result) {
                    //updateCart();
                    $('#q-cart-count').text(result.count);
                    if (isMyCart == true) {
                        LoadMyCart();
                    }
                },
                error: function () {
                },
                beforeSend: function () {
                },
                complete: function () {
                }
            });
        }

        function ChangedHost() {
            //window.location = 'http://www.google.com.vn';
            var hdId = $('#hdId').val();
            var device = $('input[name=client]:radio:checked').val();
            if (device != '') {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ChangedHost", "TableOrder")',
                    data: { id: hdId, device: device },
                    success: function (result) {
                        if (result.success == true) {
                            //$('#modalChangeHost').toggle();
                            //updateCart();
                            $('#q-cart-count').text(result.count);
                            isHost = result.isHost;
                            if (isMyCart) {
                                LoadMyCart();
                            }
                            $('#titleTableOrdering').html(result.titleTableOrdering);
                        }
                    },
                    error: function () {
                    },
                    beforeSend: function () {
                    },
                    complete: function () {

                    }
                });
            }
        }
        function LoadListProduct() {
            $('#backToList').css('display', 'none');
            isMyCart = false;
            $.ajax({
                type: "GET",
                url: '@Url.Action("ProductList", "TableOrder")',
                data: {},
                success: function (result) {
                    $('#bodyMain').html(result);
                    $("#changeHost_icon").hide(0);
                    $("#addToCart").show();
                },
                error: function () {
                },
                beforeSend: function () {
                },
                complete: function () {

                }
            });
            //updateCart();
        }

        function LoadPaymentDone() {
            $('#backToList').css('display', 'none');
            $("#addToCart").hide();
            isMyCart = false;
            window.location.href = '@Url.Action("PaymentDone", "TableOrder")'
            //updateCart();
        }

        function LoadMyCart() {
            $('#backToList').css('display', 'inline');
            if (isMyCart != true) {
                LoadListMember();
            }
            isMyCart = true;
            $.ajax({
                type: "GET",
                url: '@Url.Action("MyCart", "TableOrder")',
                data: {},
                success: function (result) {

                    $('#bodyMain').html(result);
                    CheckHostOrClient();
                    //if (isHost == true) {
                    //    LoadListMember();
                    //}
                    $("#addToCart").hide();
                },
                error: function () {
                },
                beforeSend: function () {
                },
                complete: function () {

                }
            });
            //updateCart();
        }

        function LoadListMember() {
            var stationid = '@ViewBag.TableOrder.id.ToString()';
            $.ajax({
                type: "GET",
                url: '@Url.Action("LoadListMember", "TableOrder")',
                data: { id: stationid },
                success: function (result) {
                    if (result.success == true) {
                        var data = '';
                        if (result.value.length > 0) {
                            for (var i = 0; i < result.value.length; i++) {
                                var select_default = i == 0 ? 'checked' : '';
                                data += '<p><input type="radio" class="select-client" name="client" value="' + result.value[i].memberID + '" ' + select_default + ' />&nbsp;&nbsp;' + result.value[i].fullName + '</p>'
                            }
                            $('#change-host').show();
                        }
                        else {
                            data += 'No guest was found.';
                            $('#change-host').hide();
                        }

                        $('#list-client').html(data);
                    }
                },
                error: function () {
                },
                beforeSend: function () {
                },
                complete: function () {
                }
            });
        }

        function LoadProductById(productId) {
            $('#backToList').css('display', 'inline');
            isMyCart = false;
            $("#addToCart").show();
            $.ajax({
                type: "GET",
                url: '@Url.Action("ProductDetail", "TableOrder")',
                data: { productItemId: productId },
                success: function (result) {
                    $('#bodyMain').html(result);
                },
                error: function () {
                },
                beforeSend: function () {
                },
                complete: function () {
                }
            });

            //updateCart();
        }

        function updateCartInCache(id) {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetCountProductInCache", "TableOrder")',
                data: { id: id },
                success: function (result) {
                    if (parseInt(result) > -1) {
                        $('#q-cart-count').text(result);
                    }
                },
                error: function (error) {
                },
                beforeSend: function () {
                },
                complete: function () {
                }
            });
        }
        function updateCart() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("GetCountProductInTableCart", "TableOrder")',
                success: function (result) {
                    if (parseInt(result) > -1) {
                        $('#q-cart-count').text(result);
                    }
                },
                error: function (error) {
                },
                beforeSend: function () {
                },
                complete: function () {
                }
            });
        }

        var chatHub;
        $(document).ready(function () {
            setScreen(false);
            if ('@ViewBag.TableOrder.isHost.ToString()' == 'True') {
                isHost = true;
            }
            StartHubs();
        });
        function StartHubs() {
            // Declare a proxy to reference the hub.
            chatHub = $.connection.chatHub;
            //$.connection.hub.start({ transport: 'longPolling' }).done(function (myHubConnection) { });
            registerClientMethods(chatHub);
            // Start Hub
            $.connection.hub.start({ transport: 'longPolling' }).done(function () {
                registerEvents(chatHub)
            });
            $.connection.hub.start({ transport: 'longPolling' }).fail(function () {
                registerEvents(chatHub)
            });
        }
        function setScreen(isLogin) {
            if (!isLogin) {
                $("#divChat").hide();
                $("#divLogin").show();
            }
            else {
                $("#divChat").show();
                $("#divLogin").hide();
            }

        }
        function connectionByEmail() {
            chatHub.server.connect('@ViewBag.TableOrder.email', '@ViewBag.TableOrder.id');
        }
        function registerEvents(chatHub) {
            connectionByEmail();
        }

        function registerClientMethods(chatHub) {

            // Calls when user successfully logged in
            chatHub.client.onConnected = function (id, userName, allUsers, messages) {
                setScreen(true);
                $('#hdId').val(id);
                $('#hdUserName').val(userName);
                $('#spanUser').html(userName);

                // Add All Users
                for (i = 0; i < allUsers.length; i++) {

                    AddUser(chatHub, allUsers[i].ConnectionId, allUsers[i].UserName);
                }
                // Add Existing Messages
                for (i = 0; i < messages.length; i++) {

                    AddMessage(messages[i].UserName, messages[i].Message);
                }
                console.log(userName + ' -> Connected');

            }

            // On New User Connected
            chatHub.client.onNewUserConnected = function (stationId, id, name) {
                AddUser(chatHub, stationId, id, name);
            }


            // On User Disconnected
            chatHub.client.onUserDisconnected = function (stationId, id, userName) {
                if (isHost == true && '@ViewBag.TableOrder.id' == stationId) {
                    LoadListMember();
                }
                $('#' + id).remove();
                var ctrId = 'private_' + id;
                $('#' + ctrId).remove();
                var disc = $('<div class="disconnect">"' + userName + '" logged off.</div>');
            }

            chatHub.client.messageReceived = function (userName, message) {
                console.log(message);
                AddMessage(userName, message);
            }

            chatHub.client.sendPrivateMessage = function (windowId, fromUserName, message) {
                AddMessage(fromUserName, message);
            }
        }

        function AddUser(chatHub, stationId, id, name) {
            if (isHost == true && '@ViewBag.TableOrder.id' == stationId) {
                LoadListMember();
            }
            var userId = $('#hdId').val();
            var code = "";
            if (userId == id) {
                code = $('<div class="loginUser">' + name + "</div>");
            }
            else {
                code = $('<a id="' + id + '" class="user" >' + name + '<a>');
                $(code).dblclick(function () {
                    var id = $(this).attr('id');
                    if (userId != id)
                        OpenPrivateChatWindow(chatHub, id, name);
                });
            }
        }

        function AddMessage(userName, message) {
            console.log(message);

            if (isHost == true && message == '@SmoovPOS.Common.ConstantSmoovs.StationTable.SubmitTableOrder') {
                updateCartInCache('@ViewBag.TableOrder.id');
                if (isMyCart == true) {
                    LoadMyCart();
                }
            }
            if (isHost != true && message == '@SmoovPOS.Common.ConstantSmoovs.StationTable.PaymentTableOrder') {
                LoadPaymentDone();
            }

            if (isHost != true && message == '@SmoovPOS.Common.ConstantSmoovs.StationTable.RemoveItemTableOrder') {
                SyncSessionCache();
            }

            if (message == '@SmoovPOS.Common.ConstantSmoovs.StationTable.ChangedHost') {
                ChangedHost();
            }
            if (message == ('@ViewBag.TableOrder.orderId' + '~' + '@SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.DineInConfirm).Key')
                || message == ('@ViewBag.TableOrder.orderId' + '~' + '@SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.Refunded).Key')
                || message == ('@ViewBag.TableOrder.orderId' + '~' + '@SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.DineInServing).Key')
                || message == ('@ViewBag.TableOrder.orderId' + '~' + '@SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.DineInDone).Key')) {
                if (isPaymentDone == false) {
                    LoadPaymentDone();
                }

                UpdateStatusOrderTable("@ViewBag.TableOrder.orderId", message);
            }
            if (message == ('@ViewBag.TableOrder.orderId' + '~' + '-1')) {
                window.location.href = '@Url.Action("ClearHost", "TableOrder")';
            }
        }

        function OpenPrivateChatWindow(chatHub, id, userName) {
            var ctrId = 'private_' + id;
            if ($('#' + ctrId).length > 0) return;
            createPrivateChatWindow(chatHub, id, ctrId, userName);
        }

        function createPrivateChatWindow(chatHub, userId, ctrId, userName) {

            var div = '<div id="' + ctrId + '" class="ui-widget-content draggable" rel="0">' +
                       '<div class="header">' +
                          '<div  style="float:right;">' +
                              '<img id="imgDelete"  style="cursor:pointer;" src="' + '@Url.Content("~/Content/Images/delete.png")' + '"/>' +
                   '</div>' +

                   '<span class="selText" rel="0">' + userName + '</span>' +
               '</div>' +
               '<div id="divMessage" class="messageArea">' +

               '</div>' +
               '<div class="buttonBar">' +
                  '<input id="txtPrivateMessage" class="msgText" type="text"   />' +
                  '<input id="btnSendMessage" class="submitButton button" type="button" value="Send"   />' +
               '</div>' +
            '</div>';

            var $div = $(div);

            // DELETE BUTTON IMAGE
            $div.find('#imgDelete').click(function () {
                $('#' + ctrId).remove();
            });

            // Send Button event
            $div.find("#btnSendMessage").click(function () {

                $textBox = $div.find("#txtPrivateMessage");
                var msg = $textBox.val();
                if (msg.length > 0) {

                    chatHub.server.sendPrivateMessage(userId, msg);
                    $textBox.val('');
                }
            });

            // Text Box event
            $div.find("#txtPrivateMessage").keypress(function (e) {
                if (e.which == 13) {
                    $div.find("#btnSendMessage").click();
                }
            });
            AddDivToContainer($div);
        }
        function SendMessageTableOrder(message) {
            try {
                var userId = $('#hdId').val();
                if (userId != '') {
                    chatHub.server.sendPrivateMessage(userId, message);
                }
                else {
                    connectionByEmail();
                    chatHub.server.sendMessageToAll('@ViewBag.TableOrder.email', message);
                }
            } catch (e) {
                StartHubs();
                connectionByEmail();
                var userId = $('#hdId').val();
                if (userId != '') {
                    chatHub.server.sendPrivateMessage(userId, message);
                }
                else {
                    chatHub.server.sendMessageToAll('@ViewBag.TableOrder.email', message);
                }
            }

        }
        function AddDivToContainer($div) {
            $('#divContainer').prepend($div);
            $div.draggable({

                handle: ".header",
                stop: function () {
                }
            });
        }

        function CheckHostOrClient() {
            if (isHost == true) {
                $("#changeHost_icon").show(0);
            }
            else {
                $("#changeHost_icon").hide(0);
            }
        }


    </script>

</body>

</html>
