﻿@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>@ViewBag.titleHomePage </title>

    @Styles.Render("~/Content/css_theme_1")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    <style type="text/css">
        .social {
            text-align: center;
            list-style: none;
            float: right;
            margin-top: 38px !important;
        }

            .social li {
                display: inline-block;
                width: 42px;
                height: 42px;
                overflow: hidden;
                line-height: 42px;
                background: #fff;
                border-radius: 100%;
                margin-bottom: .5em;
                margin-left: 10px !important;
            }

                .social li a {
                    display: block;
                    width: 100%;
                    height: 200%;
                    position: relative;
                    top: 0;
                }

                    .social li a i {
                        font-size: 24px;
                        color: #282828;
                    }

        .btnSubscribe {
            display: inline;
            float: right;
            width: 35%;
            text-transform: none;
            padding: 6px 6px 6px 6px;
            background-color: #98989E;
            border-radius: 0px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }

            .btnSubscribe:hover {
                color: white;
                background-color: #77777B;
            }

        .btnSubscribeAlert {
            height: 34px;
            width: 34px;
            position: absolute;
            top: 53px;
            right: 99px;
            display: none;
            z-index: 33;
        }
    </style>
</head>

<body>

    <div id="q-top-menu">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation" style="background: #fff;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right" id="q-menu-responsive">
                        <li class=@(ViewBag.Class=="home"?"active":"")>@Html.ActionLink("Home", "Index", "Home", new { theme = "" }, null) </li>
                        <li class="@(ViewBag.Class=="product"?"dropdown active":"dropdown")">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Products<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("AllProducts", "Product", new { theme = "" }, null)">All Categories</a></li>
                                @{
                                    foreach (var item in ViewBag.listCategoryActive)
                                    {
                                <li><a href="@Url.Action("ProductByCategory", "Product", new { category = @item.name }, null)">@item.name</a></li>
                                    }
                                }
                            </ul>
                        </li>
                        <li>
                            <a href="#" class="dropdown-toggle @(ViewBag.Class == "collection" ? "dropdown active":"dropdown" )" data-toggle="dropdown" aria-expanded="true">Collections<span class="caret"></span></a>

                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("Index", "Collection", new { theme = "" }, null)">All Collections</a></li>
                                @{
                                    foreach (var item in ViewBag.listCollection)
                                    {
                                        var collectionname = @item.name.Length > 30 ? @item.name.Substring(0, 30) + "..." : @item.name;
                                <li><a href="@Url.Action("ProductByCollection", "Collection", new { id = @item.id, theme = "" }, null)">@collectionname</a></li>
                                    }
                                }
                            </ul>
                        </li>
                        <li>
                            <a href="#">@(ViewBag.Class == "BestSeller" ? "active" : "")>@Html.ActionLink("Best Seller", "Index", "BestSeller", new { theme = "" }, null)</a>
                        </li>
                        <li>
                            <a href="#">@(ViewBag.Class == "discount" ? "active" : "")>@Html.ActionLink("Discount", "Index", "Discount", new { theme = "" }, null)</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right" id="q-menu-icon">

                    @if (HttpContext.Current.Session[SmoovPOS.Common.ConstantSmoovs.Users.firstName] != null && HttpContext.Current.Session[SmoovPOS.Common.ConstantSmoovs.Users.userName] != null && !string.IsNullOrEmpty(HttpContext.Current.Session[SmoovPOS.Common.ConstantSmoovs.Users.firstName].ToString()) && !string.IsNullOrEmpty(HttpContext.Current.Session[SmoovPOS.Common.ConstantSmoovs.Users.userName].ToString()))
                    {
                        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right hide" }))
                        {
                            @Html.AntiForgeryToken()
                           }
                        <li>
    
                            <a style="padding-bottom: 5px;" href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                Welcome  @HttpContext.Current.Session[SmoovPOS.Common.ConstantSmoovs.Users.firstName]!
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@Url.Action("MyProfile", "Customer")">My Profile</a></li>
                                <li><a href="@Url.Action("Index", "OrderHistory")">Order History</a></li>
                            </ul>

                        </li>
                        <li><a class="q-top-menu-signup" href="@Url.Action("SignOut", "Customer")">Log off</a></li>
                       }
                       else
                       {
                        <li><a style="padding-right: 0px;" class="q-top-menu-signin" href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a></li>
                        <li><a class="q-top-menu-signup" href="@Url.Action("signup", "Customer" , new { theme="" }, null)">Sign Up</a> </li>
                        <li><a class="q-top-menu-signin" href="@Url.Action("signin", "Customer" , new { theme="" }, null)">|  Sign In</a></li>
                        }
                        <li><a href="@Url.Action("wishlist", "Product" , new { theme="" }, null)"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>@(ViewBag.countOfWishList > -1 ? Html.Raw("<span id='q-wishlist-count'>" + ViewBag.countOfWishList + "</span>") : "")</a></li>
                        <li><a href="@Url.Action("mycart", "Product" , new { theme="" }, null)"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span><span id="q-cart-count">@ViewBag.countOfCart</span></a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>
    </div>

    @if (@ViewBag.previewtheme != "1")
    {
        <div id="q-menu" class="container">
            <div class="row">
                <div class="col-md-5">
                    <img src="@ViewBag.logo">

                </div>
                <div class="col-md-7">
                    <div id="navbar-menu" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>@Html.ActionLink("Home", "Index", "Home", new { theme = "" }, new { @class = ViewBag.Class == "home" ? "active" : "" }) </li>
                            <li>
                                @*<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">Products<span class="caret"></span></a>*@
                                <a href="#" class="dropdown-toggle @(ViewBag.Class == "product" ? "dropdown active" : "dropdown")" data-toggle="dropdown" aria-expanded="true">Products<span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("AllProducts", "Product", new { theme = "" }, null)">All Categories</a></li>
                                    @{
                                        foreach (var item in ViewBag.listCategoryActive)
                                        {
                                    <li><a href="@Url.Action("ProductByCategory", "Product", new { category = @item.name }, null)">@item.name</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                            <li>
                                <a href="#" class="dropdown-toggle @(ViewBag.Class == "collection" ? "dropdown active":"dropdown" )" data-toggle="dropdown" aria-expanded="true">Collections<span class="caret"></span></a>

                                <ul class="dropdown-menu">
                                    <li><a href="@Url.Action("Index", "Collection", new { theme = "" }, null)">All Collections</a></li>
                                    @{
                                        foreach (var item in ViewBag.listCollection)
                                        {
                                            var collectionname = @item.name.Length > 30 ? @item.name.Substring(0, 30) + "..." : @item.name;
                                    <li><a href="@Url.Action("ProductByCollection", "Collection", new { id = @item.id, theme = "" }, null)">@collectionname</a></li>
                                        }
                                    }
                                </ul>

                            </li>
                            <li>@Html.ActionLink("Best Seller", "Index", "BestSeller", new { theme = "" }, new { @class = ViewBag.Class == "BestSeller" ? "active" : "" }) </li>
                            <li>@Html.ActionLink("Discount", "Index", "Discount", new { theme = "" }, new { @class = ViewBag.Class == "discount" ? "active" : "" }) </li>
                            <li class="q-search">
                                <button type="button" class="btn btn-default btn-lg" style="border:0px;" id="q-search">
                                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                                </button>
                                <ul class="dropdown-menu q-menu-search" role="menu">
                                    <form class="navbar-form" role="search">
                                        <div class="input-group add-on" style="width: 100%;">
                                            <input type="text" class="form-control" name="search-product" id="search-product" placeholder="Search">
                                            <div class="input-group-btn">
                                                <button class="btn btn-default" onclick="checkSearch(); return false;" style="min-width: 50px!important; width: 50px!important; padding-left:5px; padding-right: 5px;"><i class="glyphicon glyphicon-search"></i></button>
                                            </div>
                                        </div>
                                    </form>

                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    }
    else
    {
        <div id="q-menu" class="container">
            <div class="row">
                <div class="col-md-5">
                    <img src="@ViewBag.logo">

                </div>
            </div>
        </div>
    }

    <div class="container main">
        @RenderBody()
    </div>
    <!-- /container -->

    <div id="footer" style="color:white;">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <ul class="q-ul-nobullet">
                        <li class=@(ViewBag.Class =="home" ?"active":"")>@Html.ActionLink("About Us", "About", "Home", new { theme = "" }, null) </li>
                        <li>@Html.ActionLink("FAQs", "FAQs", "Home", new { theme = "" }, null) </li>
                        <li>@Html.ActionLink("Shipping Information", "ShippingInfo", "Home", new { theme = "" }, null)</li>
                        <li>@Html.ActionLink("Return & Exchange", "ReturnExchange", "Home", new { theme = "" }, null)</li>
                        <li>@Html.ActionLink("Contact Us", "Contact", "Home", new { theme = "" }, null) </li>
                    </ul>
                </div>

                <div class="col-md-4" style="float:right;">
                    <div class="q-btt-subscribe">
                        <h4 style="float:right;">Subscribe To Receive Exclusive Promos</h4>
                        <div class="loading-subscribe">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                        <span id="AlertSubscribeSuccessfull" class="btnSubscribeAlert" style="color:#3c763d;"><i class="fa fa-check"></i></span>
                        <span id="AlertSubscribeFailed" class="btnSubscribeAlert" style="color:#ce4844;"><i class="fa fa-close"></i></span>
                        <div class="input-group">
                            <input type="text" class="form-control" id="emailSubscribe" onchange="resetAlert();" placeholder="Enter your email">
                            <span class="input-group-btn">
                                <button type="button" class="btn btnSubscribe" id="btnSubscribe" onclick="subscribeNewsletter(); return false;">Subscribe</button>
                            </span>
                        </div>
                    </div>

                    <ul class="social">
                        @if (!String.IsNullOrEmpty(ViewBag.Social.facebook))
                        {
                        <li><a id="social-icon" href="@ViewBag.Social.facebook" target="_blank"><i class="fa fa-fw"></i></a></li> }
                        @if (!String.IsNullOrEmpty(ViewBag.Social.twitter))
                        {
                        <li><a id="social-icon" href="@ViewBag.Social.twitter" target=" _blank"><i class="fa fa-fw"></i></a></li> }
                        @if (!String.IsNullOrEmpty(ViewBag.Social.youtube))
                        {
                        <li><a id="social-icon" href="@ViewBag.Social.youtube" target=" _blank"><i class="fa fa-fw"></i></a></li> }
                        @if (!String.IsNullOrEmpty(ViewBag.Social.googlePlus))
                        {
                        <li><a id="social-icon" href="@ViewBag.Social.googlePlus" target=" _blank"><i class="fa fa-fw"></i></a></li> }
                    </ul>
                </div>

                <div class="col-md-12" style="font-size:small;color:grey;">
                    <div style="float:left;">
                        <i class="fa fa-copyright"></i>
                        <text>@ViewBag.businessName - All Rights Reserved</text>
                    </div>

                    <div style="float:right;">
                        @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Home", new { theme = "" }, new { @style = "font-size:small;color:grey;" })
                        |
                        @Html.ActionLink("Terms & Conditions ", "TermConditions", "Home", new { theme = "" }, new { @style = "font-size:small;color:grey;" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)

    <script>
        function checkSearch() {
            var search = $("#search-product").val();
            if (search) {
                location.href = "/Product/SearchProduct?searchCondition=" + $('#search-product').val();
            } else {
                alert("Please enter text to search.");
            }
        }

        $("#q-menu .dropdown-menu").niceScroll();

        function subscribeNewsletter() {
            var email = $('#emailSubscribe').val().trim()

            if (email.length < 1) {
                //Display failed status
                $('#AlertSubscribeFailed').css('display', 'block');
            }
            else {
                if (validateEmail(email)) {
                    var formData = {
                        email: email
                    };

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("SubscribeNewsletter", "Customer")',
                        data: formData,
                        success: function (result) {
                            //Hidden other alerts
                            resetAlert();
                            //Display successfull status
                            $('#AlertSubscribeSuccessfull').css('display', 'block');
                            //Disable section
                            $('#emailSubscribe').attr('disabled', 'disabled');
                            $('#btnSubscribe').attr('disabled', 'disabled');
                        },
                        error: function (error) {
                            console.log(error);
                            //Hidden other alerts
                            resetAlert();
                            //Display failed status
                            $('#AlertSubscribeFailed').css('display', 'block');
                        },
                        beforeSend: function () {
                            $('.loading-subscribe').css("display", "block");
                        },
                        complete: function () {
                            $('.loading-subscribe').css("display", "none");
                        }
                    });
                }
                else {
                    //Hidden other alerts
                    resetAlert();
                    //ErrEmailIsInvalid
                    $('#AlertSubscribeFailed').css('display', 'block');
                }
            }
        }

        function resetAlert() {
            //Hidden all alerts
            $('#AlertSubscribeSuccessfull').css('display', 'none');
            $('#AlertSubscribeFailed').css('display', 'none');
        }
    </script>
</body>
</html>
