﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.DeviceToken.DeviceViewModel

@{
    //ViewBag.Title = "Index";
    ViewBag.Title = "Device List";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

<style>
    .q-toolsbar h3 {
        margin-top: 40px;
    }
    .ManageDevice {
        table-layout: auto !important;
    }

        .ManageDevice tr td {
            vertical-align: middle !important;
        }

        .ManageDevice .first_tr {
            font-weight: bold;
        }
</style>

<div class="q-toolsbar">
    <div class="col-md-4">
        <h3>@Html.LocalizedLabel("DeviceList")</h3>
    </div>

    <div class="col-md-8">
        
    </div>
</div>
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

<div class="q-form">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="col-md-4">
            <h4>@Html.LocalizedLabel("TokenList")</h4>
            <text>@Html.LocalizedLabel("SubTitleDeviceList")</text>
            <br />
            <br />
            @*<input type="button" class="btn btn-primary submit" onclick='AddNewItem()'  style="width:120px;" value="Add" />*@
            </div>
        </div>

        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-12">
                    <div id="partialListing">
                        @Html.Partial("~/Views/ManageDevice/Listing.cshtml", Model.manageDevice!=null?Model.manageDevice: new SmoovPOS.Entity.DeviceToken.ManageDevice())
                    </div>
                </div>
            </div>
        </div>
</div>
@Html.Partial("~/Views/ManageDevice/Delete.cshtml", null)
<div id="frm_edit"></div>


<script>
    $(".mainMenu").hide();
    $(".settingsMenu").show();
    function AddNewItem() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Add", "ManageDevice")',
            data: { },
            success: function (result) {
                $('#frm_edit').html(result);
                $('#ModalTitle').text("@Html.LocalizedLabel("AddDevice")");
                $('#modalDetailItem').modal();
                $('#OS option[value=IOS]').attr('selected', 'selected');
            }
        });
    }
    function EditItem(id, uuid, os) {
        $.ajax({
            type: "GET",
            url: '@Url.Action("Edit", "ManageDevice")',
            data: {
                uuid: id
            },
            success: function (result) {
                $('#frm_edit').html(result);
                $('#ModalTitle').text("@Html.LocalizedLabel("DetailDevice")");
                $('#modalDetailItem').modal();
                $('#OS option[value=' + os + ']').attr('selected', 'selected');
            }
        });

    }
</script>


