﻿@model SmoovPOS.UI.Models.StationDetailViewModel

@using (Html.BeginForm("EditStationItem", "Station", FormMethod.Post, new { @encType = "multipart/form-data", @id = "formData" }))
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(model => model.BranchName)
    @Html.HiddenFor(model => model.BranchIndex)
    @Html.HiddenFor(model => model.StationID)

    <div class="row">
        <div class="col-md-12 add-Station">
            <div class="form-group">
                @Html.LabelFor(model => model.StationName)<span style="color:red"> *</span>
                @Html.TextBoxFor(m => m.StationName, new { @class = "form-control", @maxlength = 35 })
                @Html.ValidationMessageFor(m => m.StationName)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 add-Station">
            <div class="form-group">
                @Html.LabelFor(model => model.StationSize)<span style="color:red"> *</span>
                @Html.TextBoxFor(m => m.StationSize, new { @class = "form-control", @maxlength = 3 })
                @Html.ValidationMessageFor(m => m.StationSize)
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $("#StationSize").keypress(function (e) {
        isChangeDetail = true;
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });

    $("#StationName").keydown(function (e) {
        isChangeDetail = true;
    });

    $("#StationSize").keydown(function (e) {
        isChangeDetail = true;
    });
</script>