﻿@model IEnumerable<SmoovPOS.Entity.Menu.Menu>
@{
    ViewBag.Title = "AllProducts";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home", new { theme = @ViewBag.theme }, null)</li>
    <li class="active">All Categories</li>
</ol>

@*<h2>All Categories</h2>*@

<div class="q-product">
    <div class="row" id="q-product-catgory">
        @foreach (var cate in Model)
        {
            var imagePath = cate.url;
            <div class="col-md-3">
                @*<div class="thumbnail">
                    <a href="@Url.Action("ProductByCategory", "Product", new {category =  cate.name},null)">
                        <img src="@(!string.IsNullOrEmpty(imagePath) ? imagePath : Url.Content("~/Content/images/imageDefault.png"))"
                             data-holder-rendered="true" style="vertical-align: middle; max-height: 100%; max-width: 100%; display: block;">
                    </a>
                </div>*@
                <a href="@Url.Action("ProductByCategory", "Product", new {category =  cate.name},null)">
                    <div class="img-thumbnail collectionItem">
                        <img src="@(!string.IsNullOrEmpty(imagePath) ? imagePath : Url.Content("~/Content/images/imageDefault.png"))"
                             class="img-responsive image-fix" alt="@cate.name" style="vertical-align: middle; max-height: 100%; max-width: 100%;" data-holder-rendered="true">
                    </div>
                </a>
                <div class="q-product-info">
                    <div class="q-product-title">
                        <h4> <a href="@Url.Action("ProductByCategory", "Product", new { category = cate.name }, null)">@cate.name</a></h4>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
