﻿@using online.Models
@using Com.SmoovPOS.Entity

@model MyCart

@{
    ViewBag.Title = "CheckOut";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";

    var remember = "";
    try
    {
        remember = Request.Cookies["remember"].Value;
    }
    catch
    {
        Response.Cookies["username"].Value = "";
        Response.Cookies["password"].Value = "";
        Response.Cookies["remember"].Value = "0";
    }
}

<style>
    .checkout .btn-primary {
        background-color: #000;
        border-color: #000;
        height: 32px;
    }

    .title_checkout {
        padding-left: 15px;
        margin-bottom: 40px;
    }

        .title_checkout p {
            border-bottom: 2px solid;
            margin-left: 290px;
            margin-top: -15px;
            margin-right: 15px;
        }

    .line_or {
        text-align: center;
        background: url('../Content/images/line-or.jpg') -53px 0px;
        height: 34px;
        vertical-align: middle;
    }

    .checkout .tablecart {
        table-layout: auto !important;
    }

        .checkout .tablecart tr td {
            border-top: 0px dashed #ddd !important;
            /*padding: 8px 30px !important;*/
        }

    #end_tr td {
        border-bottom: 0px dashed #ddd !important;
    }

    #first_tr {
        background-color: #f0f0f0;
        text-transform: uppercase;
        font-weight: bold;
    }

    .c-footer {
        border-bottom: 1px solid #ddd !important;
    }

    .c-second_tr td {
        border-bottom: 1px dashed #ddd !important;
    }

    .tablecart td {
        text-align: left;
    }
</style>

<div class="checkout">
    <div class="row">
        <div class="col-md-12">
            <div class="title_checkout"><h3 style="text-transform:uppercase;">Checkout Progress</h3><p></p></div>
            <div class="col-md-6">
                <div class="form-group">
                    <h5 style="text-transform:uppercase;font-weight:bold;">Checkout as member</h5>
                    <br />
                    <div class="col-ms-10">
                        @using (Html.BeginForm("SignIn", "Customer", FormMethod.Post, new { @encType = "multipart/form-data", @id = "frm" }))
                        {
                            <div class="validation-summary-errors" style="width:100%">
                                <ul>
                                    <li id="ErrAccountNotFound" style="display: none; ">Email address or password is incorrect. Please try again.</li>
                                    <li id="ErrAccountNotVerify" style="display: none; ">Please verify your account by following the instructions in the email.</li>
                                    <li id="ErrAccountNotActive" style="display: none; ">Your account is inactive.</li>
                                    <li id="ErrEmail" style="display: none; ">The Email Address field is required.</li>
                                    <li id="ErrEmailNotFound" style="display: none; ">The Email Address you entered was not found.</li>
                                    <li id="ErrPassword" style="display: none; ">The Password field is required.</li>
                                </ul>
                            </div>
                            <form>
                                <div>
                                    <input type="email" id="username" name="username" value="@Request.Cookies["username"].Value" placeholder="Your email address" style="width:200px;">
                                    <input type="password" id="password" name="password" value="@Request.Cookies["password"].Value" placeholder="Password" style="width:200px;">
                                    <button type="button" id="btn-login" style="float:right;width:120px;" class="btn btn-primary">Login</button>
                                </div>
                                <div class="checkbox" style="width:75%;">
                                    <label class="s-lbl-remember">
                                        <input type="checkbox" name="remember" @(remember.Equals("1") ? " checked" : "") id="remember"> Remember me
                                    </label>
                                    <a href="@Url.Action("ForgotPassword", "Customer")" style="float:right;">Forgot your password ?</a>
                                </div>
                            </form>
                        }
                    </div>
                </div>

                <div class="form-group">
                    <div class="line_or"><label style="font-weight:normal;margin-top:5px;margin-left:-3px;">OR</label></div>
                </div>

                <div class="form-group">
                    <h5 style="text-transform:uppercase;font-weight:bold;">Checkout as guest</h5>
                    <br />
                    <div class="col-ms-10">
                        <p style="float:left;color: gray;">Process to checkout order without account</p>
                        <input type="button" name="Go" value="Go" style="float:right;width:120px;" class="btn btn-primary" onclick="location.href='@Url.Action("Payment", "Product")';return false;" />
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <table class="table tablecart">
                    <tr><td colspan="3"><h5 style="text-transform:uppercase;font-weight:bold;">Review Your Order</h5></td></tr>
                    <tr id="first_tr">
                        <td style="width:300px;">ITEMS</td>
                        <td>QTY</td>
                        <td>SUB TOTAL</td>
                    </tr>
                    @try
                    {
                        if (Model.listProductItems.Count() > 0)
                        {
                            int count = Model.listProductItems.Count();
                            int i = 0;
                            foreach (var item in Model.listProductItems)
                            {
                                double totalItem = 0;
                                foreach (var varient in item.arrayVarient)
                                {
                                    if (varient.isCheckedToCheckOut)
                                    {
                                        i++;
                                        if (count != i)
                                        {
                                            <tr class="c-second_tr">
                                                <td>
                                                    <span>@item.name </span><br />
                                                    <span style="font-style:italic;">@varient.title @varient.color @varient.size</span>
                                                    @if (!string.IsNullOrEmpty(varient.variantRemark))
                                                    {
                                                        <br />
                                                        <span style="font-style:italic">* @varient.variantRemark</span>
                                                    }
                                                </td>
                                                <td>@varient.quantity</td>
                                                @{
                                            if(item.discount)
                                            {
                                                if (item.DiscountProductItem.type == 0)
                                                {
                                                    var saveMoney = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (varient.price * varient.quantity * item.DiscountProductItem.discountValue / 100))), 2);
                                                    totalItem = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (varient.price * varient.quantity) - saveMoney)), 2);
                                                }
                                                else
                                                {
                                                    totalItem = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (varient.price * varient.quantity) - item.DiscountProductItem.discountValue * varient.quantity)),2);
                                                    totalItem = totalItem > 0 ? totalItem : 0.00;
                                                }
                                            }
                                            else
                                            {
                                                totalItem = @varient.quantity * @varient.price;
                                            }
                                                }
                                                <td>@ViewBag.currency  @String.Format("{0:0.00}", totalItem)</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr id="end_tr">
                                                <td>
                                                    <span>@item.name </span><br />
                                                    <span style="font-style:italic;">@varient.title @varient.color @varient.size</span>                                                    
                                                    @if (!string.IsNullOrEmpty(varient.variantRemark))
                                                    {
                                                        <br />
                                                        <span style="font-style:italic">* @varient.variantRemark</span>
                                                    }
                                                </td>
                                                <td>@varient.quantity</td>
                                                @{
                                            if(item.discount)
                                            {
                                                if (item.DiscountProductItem.type == 0)
                                                {
                                                    var saveMoney = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (varient.price * varient.quantity * item.DiscountProductItem.discountValue / 100))), 2);
                                                    totalItem = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (varient.price * varient.quantity) - saveMoney)), 2);
                                                }
                                                else
                                                {
                                                    totalItem = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (varient.price * varient.quantity) - item.DiscountProductItem.discountValue * varient.quantity)),2);
                                                    totalItem = totalItem > 0 ? totalItem : 0.00;
                                                }
                                              //  totalItem = varient.quantity * Math.Round(variantPrice, 2) > 0 ? varient.quantity * Math.Round(variantPrice, 2) : 0.00;
                                            }
                                            else
                                            {
                                                totalItem = varient.quantity * varient.price;
                                            }
                                                }
                                                <td>@ViewBag.currency  @String.Format("{0:0.00}", totalItem)</td>
                                            </tr>
                                        }
                                    }
                                }
                            }
                        }
                    }
                    catch (Exception e)
                    {
                        e.Message.ToString();
                    }

                    <tr class="c-footer">
                        <td colspan="3"></td>
                    </tr>
                    @{
                        var total = Model == null || Model.listProductItems == null || Model.listProductItems.Count == 0
                        ? 0
                        : Model.receiptValue.subTotal;
                        string tax = string.Format("{0:N}", 0);
                    }
                    @if (Model.receiptValue.discountTotal > 0)
                    {
                        <tr>
                            <td colspan="2">Total Discount</td>
                            <td>@ViewBag.currency  @String.Format("{0:0.00}", Model.receiptValue.discountTotal)</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2">Sub Total</td>
                        <td>@ViewBag.currency  @String.Format("{0:0.00}", total)</td>
                    </tr>
                    @if (Model.receiptValue.listTaxOrder != null)
                    {
                        foreach (Com.SmoovPOS.Entity.TaxValue item in Model.receiptValue.listTaxOrder)
                        {
                            <tr>
                                <td colspan="2">@item.taxName</td>
                                <td>@ViewBag.currency @String.Format("{0:0.00}", item.taxValue)</td>
                            </tr>
                        }
                    }
                    @if (Model.receiptValue.rountAmt != 0)
                    {
                        <tr>
                            <td colspan="2">Round Amount</td>
                            <td>@ViewBag.currency  @String.Format("{0:0.00}", Model.receiptValue.rountAmt)</td>
                        </tr>
                    }
                    <tr class="c-footer">
                        <td colspan="3"></td>
                    </tr>
                    <tr style="font-weight:bold;">
                        <td colspan="2">Total</td>
                        <td> @ViewBag.currency @String.Format("{0:0.00}", Model.receiptValue.grandTotal)</td>
                    </tr>
                    <tr style="font-weight:bold;">
                        <td colspan="2"></td>
                        <td>
                            <input type="button" name="Edit" value="Edit" class="btn btn-primary" style="float:right;width:95px;" onclick="location.href='@Url.Action("MyCart", "Product")';return false;" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btn-login').click(function () {
            validateBeforeLogin();
        })

        function validateBeforeLogin() {
            var check = false;
            check = Validation();
            if (check) {
                submitForm();
            }
        }

        function submitForm() {
            //Set default "remember me" checkbox
            var checked = false;
            if ($('#remember').is(":checked")) {
                checked = true;
            }

            var formData = {
                username: $('#username').val().trim(),
                password: $('#password').val().trim(),
                remember: checked
            };
            console.log(formData);

            $.ajax({
                type: "POST",
                url: '@Url.Action("SignIn", "Customer")',
                data: formData,
                success: function (result) {
                    if (parseInt(result) == 1) {
                        //success --> redirect to payment page
                        location.href = "@Url.Action("Payment", "Product")";
                    }
                    else if (parseInt(result) == 2) {
                        //success but account isn't active
                        $('#ErrAccountNotFound').css('display', 'none');
                        $('#ErrAccountNotVerify').css('display', 'block');
                        $('#ErrAccountNotActive').css('display', 'none');
                    }
                    else if (parseInt(result) == 3) {
                        //this account has been disabled by merchant
                        $('#ErrAccountNotFound').css('display', 'none');
                        $('#ErrAccountNotVerify').css('display', 'none');
                        $('#ErrAccountNotActive').css('display', 'block');
                    }
                    else {
                        //fail! Don't exist
                        $('#ErrAccountNotFound').css('display', 'block');
                        $('#ErrAccountNotActive').css('display', 'none');
                        $('#ErrAccountNotVerify').css('display', 'none');
                    }
                },
                error: function (error) {
                    console.log(error);
                },
                beforeSend: function () {
                    $('#btn-login').button('loading');
                },
                complete: function () {
                    $('#btn-login').button('reset');
                }
            });
        }

        function Validation() {
            reset();

            var check = true;
            var email = $('#username').val().trim();
            var password = $('#password').val().trim();

            if (email.length < 1) {
                $('#ErrEmail').css('display', 'block');
                $('#ErrEmailNotFound').css('display', 'none');
                check = false;
                exit;
            } else if (!validateEmail(email)) {
                $('#ErrEmailNotFound').css('display', 'block');
                $('#ErrEmail').css('display', 'none');
                check = false;
                exit;
            } else {
                $('#ErrEmail').css('display', 'none');
                $('#ErrEmailNotFound').css('display', 'none');
            }

            if (password.length < 1) {
                $('#ErrPassword').css('display', 'block');
                check = false;
                exit;
            } else {
                $('#ErrPassword').css('display', 'none');
            }

            return check;
        }

        function reset() {
            $('#ErrPassword').css('display', 'none');
            $('#ErrEmail').css('display', 'none');
            $('#ErrEmailNotFound').css('display', 'none');
        }
    })
</script>