﻿@using online.Models

@model PaymentModel

<script type="text/javascript" src="~/Scripts/jquery.validate.js"></script>

@{
    ViewBag.Title = "CheckoutProcess";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
}

<style>
    .checkout-process .btn-primary, .label-default {
        background-color: #000;
        border-color: #000;
        height: 32px;
    }

    .title_checkout {
        padding-left: 15px;
        margin-bottom: 40px;
    }

        .title_checkout p {
            border-bottom: 2px solid;
            margin-left: 290px;
            margin-top: -15px;
            margin-right: 15px;
        }

    .line_or {
        text-align: center;
        background: url('../Content/images/line-or.jpg') -53px 0px;
        height: 34px;
        vertical-align: middle;
    }

    .checkout-process .tablecart {
        table-layout: auto !important;
    }

        .checkout-process .tablecart tr td {
            border-top: 0px dashed #ddd !important;
        }

    #end_tr td {
        border-bottom: 0px dashed #ddd !important;
    }

    #first_tr {
        background-color: #f0f0f0;
        text-transform: uppercase;
        font-weight: bold;
    }

    .c-footer {
        border-bottom: 1px solid #ddd !important;
    }

    .c-second_tr td {
        border-bottom: 1px dashed #ddd !important;
    }

    .labelstyle {
        font-weight: 400;
        margin-top: 0px;
    }

    .inputstyle {
        max-width: none;
    }

    .checkout-process {
        margin-bottom: 30px;
    }

    .button-pay {
        margin-top: 20px;
    }

    .self-conponent .storepoint {
        margin-bottom: 20px;
    }

    .self-conponent .storename {
        margin-bottom: 10px;
    }

    .tablecart td {
        text-align: left;
    }

    .checkboxstyle {
        margin-left: 20px;
    }
</style>

<div class="checkout-process">
    <div class="row">
        <div class="col-md-12">
            <div class="title_checkout"><h3 style="text-transform:uppercase;">Checkout Progress</h3><p></p></div>

            @*<div class="validation-summary-errors">
                <ul>
                    <li id="ErrOrderType" style="display:none">The Order Type is required.</li>
                </ul>
            </div>*@

            <div class="col-md-8">
                <div class="form-group">
                    <div>
                        <h4><span class="label label-default">1</span> <span>Collection Method</span></h4>
                    </div>
                    <div class="col-md-4">
                        <label class="radio labelstyle">
                            Order Type
                        </label>
                    </div>
                    <div class="col-md-8">
                        <div class="btn-group" data-toggle="buttons">
                            @{
                                if (Model.checkoutSetting != null && Model.checkoutSetting.acceptDelivery)
                                {
                                    <label class="btn btn-default active orderTypeChoose">
                                        <input type="radio" name="optionsRadios" id="delivery" value="delivery" class="optionsRadios" checked="checked">
                                        &nbsp;&nbsp;&nbsp;Delivery&nbsp;&nbsp;&nbsp;
                                    </label>
                                }
                                if (Model.checkoutSetting != null && Model.checkoutSetting.acceptSelfCollection)
                                {
                                    <label class="btn @(!Model.checkoutSetting.acceptDelivery? " active": "") btn-default orderTypeChoose">
                                        <input type="radio" name="optionsRadios" id="self-collect" value="self-collect" class="optionsRadios" )>
                                        Self-collect
                                    </label>
                                }
                            }
                        </div>
                    </div>
                </div>

                <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
                @if (Model.checkoutSetting != null && Model.checkoutSetting.acceptDelivery)
                {
                    <div class="q-deliverly">
                        @Html.Partial("~/Views/Product/PaymentDelivery.cshtml", Model)
                    </div>
                }
                @if (Model.checkoutSetting != null && Model.checkoutSetting.acceptSelfCollection)
                {
                    <div class="q-self-collect" style="display:none">
                        @Html.Partial("~/Views/Product/PaymentSelfCollect.cshtml", Model)
                    </div>
                }
            </div>

            <div class="col-md-4">
                <table class="table tablecart">
                    <tr><td colspan="3"><h5 style="text-transform:uppercase;font-weight:bold;">Review Your Order</h5></td></tr>
                    <tr id="first_tr">
                        <td style="width:300px;">ITEMS</td>
                        <td>QTY</td>
                        <td>SUB TOTAL</td>
                    </tr>
                    @try
                    {
                        if (Model.mycart.listProductItems.Count() > 0)
                        {
                            int count = Model.mycart.listProductItems.Count();
                            int i = 0;
                            foreach (var item in Model.mycart.listProductItems)
                            {
                                double totalItem = 0.00;
                                foreach (var varient in item.arrayVarient)
                                {
                                    if (varient.isCheckedToCheckOut)
                                    {
                                        i++;

                                        if (item.discount)
                                        {
                                            if (item.DiscountProductItem.type == 0)
                                            {
                                                var saveMoney = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (varient.price * varient.quantity * item.DiscountProductItem.discountValue / 100))), 2);
                                                totalItem = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (varient.price * varient.quantity) - saveMoney)), 2);
                                            }
                                            else
                                            {
                                                totalItem = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (varient.price * varient.quantity) - item.DiscountProductItem.discountValue * varient.quantity)),2);
                                                totalItem = totalItem > 0 ? totalItem : 0.00;
                                            }
                                        }
                                        else
                                        {
                                            totalItem = @varient.quantity * @varient.price;
                                        }
                                        if (count != i)
                                        {
                                            <tr class="c-second_tr">
                                                <td>
                                                    <span>@item.name </span><br />
                                                    <span style="font-style:italic;">@varient.title @varient.color @varient.size</span>                                                   
                                                    @if (!string.IsNullOrEmpty(varient.variantRemark))
                                                    {
                                                        <br />
                                                        <span style="font-style:italic">* @varient.variantRemark</span>
                                                    }
                                                </td>
                                                <td>@varient.quantity</td>

                                                <td>@ViewBag.currency  @String.Format("{0:0.00}", totalItem)</td>
                                            </tr>
                                        }
                                        else
                                        {
                                            <tr id="end_tr">
                                                <td>
                                                    <span>@item.name </span><br />
                                                    <span style="font-style:italic;">@varient.title @varient.color @varient.size</span>
                                                    @if (!string.IsNullOrEmpty(varient.variantRemark))
                                                    {
                                                        <br />
                                                        <span style="font-style:italic">* @varient.variantRemark</span>
                                                    }
                                                </td>
                                                <td>@varient.quantity</td>

                                                <td>@ViewBag.currency  @String.Format("{0:0.00}", totalItem)</td>
                                            </tr>
                                        }
                                    }
                                }
                            }
                        }
                    }
                    catch (Exception e)
                    {
                        e.Message.ToString();
                    }

                    <tr class="c-footer">
                        <td colspan="3"></td>
                    </tr>
                    @{
                        var subTotal = Model.mycart == null || Model.mycart.listProductItems == null || Model.mycart.listProductItems.Count == 0
                        ? 0
                        : Model.mycart.receiptValue.subTotal;
                    }
                    @if (Model.mycart.receiptValue.discountTotal > 0)
                    {
                        <tr>
                            <td colspan="2">Total Discount</td>
                            <td>@ViewBag.currency @String.Format("{0:0.00}", Model.mycart.receiptValue.discountTotal)</td>
                        </tr>
                    }
                    <tr>
                        <td colspan="2">Sub Total</td>
                        <td>@ViewBag.currency @String.Format("{0:0.00}", Model.mycart.receiptValue.subTotal) </td>
                    </tr>
                    @if (Model.mycart.receiptValue.listTaxOrder != null)
                    {
                        foreach (Com.SmoovPOS.Entity.TaxValue item in Model.mycart.receiptValue.listTaxOrder)
                        {
                            <tr>
                                <td colspan="2">@item.taxName</td>
                                <td>@ViewBag.currency @String.Format("{0:0.00}", item.taxValue)</td>
                            </tr>
                        }
                    }
                    <tr class="shippingFee">
                        <td colspan="2">Shipping Fee</td>
                        <td><span id="shippingFeeOrder">@string.Format("{0} {1}", ViewBag.currency, 0.00)</span></td>
                    </tr>
                    @{
                        var rountAmt = "display:none;";
                        if (Model.mycart.receiptValue.rountAmt != 0)
                        {
                            rountAmt = string.Empty;
                        }
                    }
                    <tr id="rountAmtTr" style="@rountAmt">
                        <td colspan="2">Round Amount</td>
                        <td>
                            <input id="grandTotal" type="hidden" name="Language" value="@(Model.mycart.receiptValue.grandTotal - Model.mycart.receiptValue.rountAmt)" />
                            <span id="rountAmtSpan">@ViewBag.currency @String.Format("{0:0.00}", Model.mycart.receiptValue.rountAmt)</span>
                        </td>
                    </tr>
                    <tr class="c-footer">
                        <td colspan="3"></td>
                    </tr>
                    <tr style="font-weight:bold;">
                        <td colspan="2">Grand Total</td>
                        <td><span id="grandTotalSpan">@ViewBag.currency @String.Format("{0:0.00}", Model.mycart.receiptValue.grandTotal)</span></td>
                    </tr>
                    <tr style="font-weight:bold;">
                        <td colspan="2"></td>
                        <td>
                            <input type="button" name="Edit" value="Edit" class="btn btn-primary" onclick="location.href='@Url.Action("MyCart", "Product")';return false;" />
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        var isSelfCollect = "@Model.checkoutSetting.acceptSelfCollection";
        var isDelivery = "@Model.checkoutSetting.acceptDelivery";
        if (isDelivery == "False" && isSelfCollect == "True") {
            $('.q-deliverly').hide();
            $('.q-self-collect').show();
        }
        var dictReceipt =  @(new HtmlString(Json.Encode(Model.mycart.receiptValue)));
        var currentcy = "@ViewBag.currency";
        console.log(dictReceipt);
        $('input[name="optionsRadios"]').change(function (e) {
            var result = $(this).val();
            if (result == "delivery") {
                $('.q-deliverly').show();
                $('.q-self-collect').hide();
                $('.shippingFee').show();
                SumGrandTotal();
                $("#buyer_firstname").val($("#buyer_firstnameS").val());
                $("#buyer_lastname").val($("#buyer_lastnameS").val());
                $("#buyer_email").val($("#buyer_emailS").val());
                $("#buyer_contact").val($("#buyer_contactS").val());
                $("#buyer_mobile").val($("#buyer_mobileS").val());
                $("#buyer_address").val($("#buyer_addressS").val());
                $("#buyer_country").val($("#buyer_countryS").val());
                $("#buyer_city").val($("#buyer_cityS").val());
                $("#buyer_state").val($("#buyer_stateS").val());
                $("#buyer_postcode").val($("#buyer_postcodeS").val());
            } else if (result == "self-collect") {
                $('.q-deliverly').hide();
                $('.q-self-collect').show();
                $('.shippingFee').hide();
                if (dictReceipt.rountAmt !== 0) {
                    $('#rountAmtSpan').text(currentcy +" "+ parseFloat(dictReceipt.rountAmt).toFixed(2).toString());
                    $('#rountAmtTr').removeAttr("style");
                } else {
                    $('#rountAmtTr').attr("style", "display:none;");
                }
                $('#grandTotalSpan').text(currentcy +" "+ parseFloat(dictReceipt.grandTotal).toFixed(2).toString());
                $("#buyer_firstnameS").val($("#buyer_firstname").val());
                $("#buyer_lastnameS").val($("#buyer_lastname").val());
                $("#buyer_emailS").val($("#buyer_email").val());
                $("#buyer_contactS").val($("#buyer_contact").val());
                $("#buyer_mobileS").val($("#buyer_mobile").val());
                $("#buyer_addressS").val($("#buyer_address").val());
                $("#buyer_countryS").val($("#buyer_country").val());;
                $("#buyer_cityS").val($("#buyer_city").val());
                $("#buyer_stateS").val($("#buyer_state").val());
                $("#buyer_postcodeS").val($("#buyer_postcode").val());
            }
        });
    });
</script>