﻿@using online.Models

@model PaymentModel

@{
    var grandTotal = Model.mycart == null || Model.mycart.listProductItems == null || Model.mycart.listProductItems.Count == 0 ? 0 : Model.mycart.receiptValue.grandTotal;
}

@*****************************************Buyer's information **************************************************** *@

@using (Html.BeginForm("PaymentOrder", "Product", FormMethod.Post, new { @encType = "multipart/form-data", @id = "paymentDeliverly" }))
{
    <input type="hidden" name="optionPayment" value="selfCollect" />
    <input type="hidden" value="@grandTotal" name="grandTotal" />
    <div class="self-conponent">
        <div class="validation-summary-errors-delivery">
            <ul>
                <li id="ErrBuyerFullNameS" style="display:none">The Buyer's Name field is required.</li>
                <li id="ErrBuyerEmailS" style="display:none">The Buyer's Email field is required.</li>
                <li id="ErrBuyerContactS" style="display: none; ">The Buyer's Contact is required.</li>
                <li id="ErrBuyerAddressS" style="display: none; ">The Billing Address is required.</li>
                <li id="ErrEmailFormatS" style="display: none; ">Please enter a valid email address.</li>
                <li id="ErrCheckPoint" style="display: none; ">The Pickup Point is required.</li>
            </ul>
        </div>
        <div>
            <h4><span class="label label-default">2</span> <span>Buyer's Information</span></h4>
        </div>
        <br />
        <div class="form-group">
            <div class="col-md-4">
                Buyer's Name *
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="buyer_firstnameS" name="buyer_firstnameS" placeholder="First Name" maxlength="30" value="@Model.member.firstName" />
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="buyer_lastnameS" name="buyer_lastnameS" placeholder="Last Name" maxlength="30" value="@Model.member.lastName" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Buyer's Email *</div>
            </div>
            <div class="col-md-8">
                <label></label>
                <input type="text" class="form-control inputstyle" id="buyer_emailS" name="buyer_emailS" placeholder="Buyer's Email" maxlength="30" value="@Model.member.email" @(!string.IsNullOrEmpty(@Model.member.email) ? "readonly" : "") />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Buyer's Contact *</div>
            </div>
            <div class="col-md-3">
                <label for="contactS"></label>
                <input type="text" class="form-control inputstyle" id="buyer_contactS" name="buyer_contactS" placeholder="+65" maxlength="5" value="@Model.member.phoneRegion"/>
            </div>
            <div class="col-md-5">
                <label></label>
                <input type="text" class="form-control inputstyle" id="buyer_mobileS" name="buyer_mobileS" placeholder="Mobile Number" maxlength="30" value="@Model.member.phone"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Billing Address *</div>
            </div>
            <div class="col-md-8">
                <label></label>
                <input type="text" class="form-control inputstyle" id="buyer_addressS" name="buyer_addressS" placeholder="Street Address" maxlength="50" value="@Model.member.address" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div></div>
            </div>
            <div class="col-md-3">
                <label for="country"></label>
                <select id="buyer_countryS"  name="buyer_countryS" class="form-control">
                  @if (Model.member.country != null)
                  {
                      foreach (var item in Model.arrCountry.arrayCountry)
                      {
                        <option @(item.Contains(Model.member.country) ? " selected" : "") value="@item">@item</option>
                      }
                  }
                  else
                  {
                      foreach (var item in Model.arrCountry.arrayCountry)
                      {
                        <option value="@item">@item</option>
                      }
                  }
                </select>
                @*@Html.DropDownListFor(m => m.country, Model.countrys, new { @class = "form-control" })*@

            </div>
            <div class="col-md-5">
                <label></label>
                <input type="text" class="form-control inputstyle" id="buyer_cityS" name="buyer_cityS" placeholder="City" maxlength="30" value="@Model.member.city"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div></div>
            </div>
            <div class="col-md-5">
                <label></label>
                <input type="text" class="form-control inputstyle" id="buyer_stateS" name="buyer_stateS" placeholder="State (optional)" maxlength="20" value="@Model.member.state"/>
              @*  @Html.DropDownListFor(m => m.area, Model.areas, new { @class = "form-control" })*@

             </div>
            <div class="col-md-3">
                <label></label>
                <input type="text" class="form-control inputstyle" id="buyer_postcodeS" name="buyer_postcodeS" placeholder="Postal Code" maxlength="20" value="@Model.member.zipCode" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Pickup Point</div>
            </div>
            <div class="col-md-8">
                <label></label>
                @foreach (var item in Model.arrInventory)
                {
                    <div class="storepoint">
                        <div class="storename checkboxstyle">
                            <label class="radio labelstyle">
                                <input type="radio" class="buyer_pickupS" name="buyer_pickupS" id="buyer_pickupS" value="@item._id">@item.businessID
                            </label>
                        </div>
                        <div>
                            @item.addressCombine
                        </div>
                    </div>
                }
            </div>
        </div>
        <div style="clear: both"></div>
        @*<div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Time Estimated</div>
            </div>
            <div class="col-md-8">
                <label></label>
                <div>@Model.arrServiceShipping[0].timeEstimate</div>
            </div>
        </div>*@
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Time Estimated</div>
            </div>
            <div class="col-md-8">
                <label></label>
                @if (string.IsNullOrEmpty(Model.checkoutSetting.beginDateSelf) && string.IsNullOrEmpty(Model.checkoutSetting.endDateSelf))
                {
                    <div>N/A</div>
                }
                else
                {
                    <div>@Model.checkoutSetting.beginDateSelf - @Model.checkoutSetting.endDateSelf Business Days</div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <label></label>
                <div>Instructions</div>
            </div>
            <div class="col-md-8">
                <label></label>
                <div>
                    @if(string.IsNullOrEmpty(Model.checkoutSetting.instructionsSelfCollection))
                    {
                       <text>N/A</text>
                    }
                    else
                    {
                        <textarea style="width:100%; height:100px; overflow: hidden; border-style: none ;resize: none;" readonly>@Model.checkoutSetting.instructionsSelfCollection</textarea>

                    }
                </div>
            </div>
        </div>
        @*****************************************End Buyer's information ************************************************** *@

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>


        @*****************************************Payment information **************************************************** *@

        <div>
            <h4><span class="label label-default">3</span> <span>Payment</span></h4>
        </div>
        <div class="form-group">
            <div class="col-md-4">
                <div>Payment Type</div>
            </div>
            <div class="col-md-8">
                <label class="radio labelstyle">
                    <input type="radio" name="smoovpayS" id="smoovpayS" value="true" checked>
                    Smoovpay
                </label>
            </div>
        </div>
        <div style="margin-top:50px;">
            <div>By selecting credit card, you agree to the terms and conditions of the smoovepay agreement.</div>
        </div>
    </div>

    @*****************************************Recipent Payment information **************************************************** *@

    <div class="button-pay">
        <input type="submit" name="Go" value="Pay" id="paymentS" style="display:none;" class="btn btn-primary" />
        <input type="button" name="Go" value="Pay" id="check_paymentS" style="width:200px;" class="btn btn-primary" />
    </div>
}

<script>
    $(document).ready(function () {
        $("#country").change(function () {
            var url = '@Url.Action("LoadAreas", "Product")';
            var data = { id: $("#country").val() }

            loadService(data, url, 'area');
        });
        $("#check_paymentS").click(function () {
            var check = true;
            var buyer_firstname = $('#buyer_firstnameS').val().trim();
            var buyer_lastname = $('#buyer_lastnameS').val().trim();
            var buyer_email = $('#buyer_emailS').val().trim();
            var buyer_contact = $('#buyer_mobileS').val().trim();
            var buyer_address = $('#buyer_addressS').val().trim();
            var buyer_city = $('#buyer_cityS').val().trim();
            var buyer_state = $('#buyer_stateS').val().trim();
            var buyer_postcode = $('#buyer_postcodeS').val().trim();
            var scrollTop = $('html, body').animate({ scrollTop: 100 }, 700);

            var arrCheckPoint = $('.self-conponent').find(".buyer_pickupS:checked");
            console.debug(arrCheckPoint.length);
            if (arrCheckPoint.length == 0) {
                $('#ErrCheckPoint').css('display', 'block');
                scrollTop;
                check = false;
            }
            else {
                $('#ErrCheckPoint').css('display', 'none');
            }

            if (buyer_firstname.length < 1 || buyer_lastname.length < 1) {
                $('#ErrBuyerFullNameS').css('display', 'block');
                scrollTop;
                check = false;
            } else {
                $('#ErrBuyerFullNameS').css('display', 'none');
            }

            if (buyer_contact.length < 1) {
                $('#ErrBuyerContactS').css('display', 'block');
                scrollTop;
                check = false;
            } else {
                $('#ErrBuyerContactS').css('display', 'none');
            }
            if (buyer_address.length < 1 || buyer_city.length < 1 || buyer_postcode.length < 1) {
                $('#ErrBuyerAddressS').css('display', 'block');
                scrollTop;
                check = false;
            } else {
                $('#ErrBuyerAddressS').css('display', 'none');
            }
            if (buyer_email.length < 1) {
                $('#ErrBuyerEmailS').css('display', 'block');
                scrollTop;
                check = false;
            } else {

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("ValidationEmail", "Product")',
                    data: {
                        email: buyer_email,
                    },
                    success: function (data) {
                        if (data == "True") {
                            $('#ErrEmailFormatS').css('display', 'none');
                            $('html, body').stop();
                        } else {
                            check = false;
                            $('#ErrEmailFormatS').css('display', 'block');
                        }
                    },
                    error: function (data) {
                        return false;
                    }
                });
                $('#ErrBuyerEmailS').css('display', 'none');
            }
            setTimeout(function () {
                if (check) {
                    $("#paymentS").click();
                    $('html, body').stop();
                    $("#paymentS").attr("disabled", true);
                }
            }, 1000);
        });
    });
</script>