﻿@using online.Models
@model ProductByCategoryModel

@{
    ViewBag.Title = "Product by Category";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
    int PageDefault = int.Parse(Model.Paging.limit.ToString() ?? "25");
    int pageGoTo = Model.Paging.pageGoTo + 1;

}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home", new { theme = @ViewBag.theme }, null)</li>
    <li>@Html.ActionLink("All Categories", "AllProducts", "Product", new { theme = @ViewBag.theme }, null)</li>
    <li class="active">@ViewBag.category</li>
</ol>

@*<h3>@Model.Category</h3>*@
<div id="q-product-catgory" style="margin-left: -15px; margin-right: -15px;">
    @if (Model.ProductItemList != null && Model.ProductItemList.Count() > 0)
    {
        foreach (var productitem in @Model.ProductItemList)
        {
            var discount = productitem.DiscountProductItem;

            var imagePath = "";
            // get price min of Variant
            productitem.arrayVarient.Sort((var1, var2) => var1.price.CompareTo(var2.price));
            var smallestProductItem = productitem.arrayVarient[0];
            double minPriceVariant = smallestProductItem.price;
            double minPriceDiscount = 0;
            var discountbanner = "";
            if (discount!=null)
            {
                double disprice = 0;
                if (discount.type == 0)
                {
                    disprice = minPriceVariant * discount.discountValue / 100;
                    string strDisprice = disprice.ToString("N2");
                    disprice = double.Parse(strDisprice);
                }
                else
                {
                    disprice = discount.discountValue;
                }
                minPriceDiscount = minPriceVariant - disprice;
                minPriceDiscount = minPriceDiscount < 0 ? 0 : minPriceDiscount;
                if (discount.type == 0)
                {
                    discountbanner = discount.discountValue + " %";
                }
                else
                {
                    discountbanner = ViewBag.currency + " " + discount.discountValue;
                }
                
            }
            else
            {
                minPriceDiscount = smallestProductItem.price;
            }


            imagePath = smallestProductItem.image.imageDetault;
            if (imagePath == "0" || imagePath == "" || imagePath.Contains("Content/Images/imageDefault.png"))
            {
                var indexImage = productitem.image.imageDetault;
                int number = -1;
                try
                {
                    number = int.Parse(indexImage);
                }
                catch
                {

                }
                if (number >= 0)
                {
                    imagePath = productitem.image.arrayImage.Count() > 0 ? productitem.image.arrayImage[number] : Url.Content("~/Content/images/imageDefault.png");
                }
                else
                {
                    imagePath = imagePath = Url.Content("~/Content/images/imageDefault.png");
                }

            }
            var productname = @productitem.title.Length > 30 ? @productitem.title.Substring(0, 30) + "..." : @productitem.title;

            <div class="discount-product col-md-3" style="display: block; margin-bottom: 40px;" title="@productname" id="@productitem.">
                <div class="discount-product-item">
                    <a href='@Url.Action("ProductDetail", "Product", new { productItemId = productitem._id })'>
                        <div class="discount-product-thumb img-thumbnail">
                            @if (productitem.discount && productitem.DiscountProductItem != null)
                            {
                                <div class="discount-banner">
                                    <span>&nbsp;&nbsp;@discountbanner</span>
                                    <span>OFF</span>
                                </div>
                            }
                            <img src="@imagePath" class="img-responsive image-fix" alt="@productitem.title" style="vertical-align: middle; max-height: 100%; max-width: 100%;" data-holder-rendered="true">
                        </div>
                    </a>
                    <div class="product-info">
                        @{

                            <div class="product-name">@productname</div>
                        }
                        @if (productitem.discount && productitem.DiscountProductItem != null)
                        {
                            <div class="product-price"><strong>@ViewBag.currency&nbsp;@String.Format("{0:0.00}", Math.Round(minPriceDiscount, 2))&nbsp; &nbsp;</strong></div><div class="product-dis-price"><del>@ViewBag.currency&nbsp;@String.Format("{0:0.00}", Math.Round(minPriceVariant, 2))</del></div>
                        }
                        else
                        {
                            <div class="product-price"><strong>@ViewBag.currency&nbsp;@String.Format("{0:0.00}", Math.Round(minPriceDiscount, 2))</strong></div>
                        }

                    </div>

                </div>
            </div>
        }


        <input type="hidden" name="paging" id="paging" value="@PageDefault~@pageGoTo~@Model.Paging.pageCurrent~@Model.Paging.sort~false~@ViewBag.category" />
        <input type="hidden" name="checkReload" id="checkReload" value="0" />
    }
    else
    {
        <h4>There aren't item at this moment.</h4>
    }

</div>
@if (Model.ProductItemList.Count() == PageDefault)
{
    <div class="loading">
        <i class="fa fa-spinner fa-spin"></i>
    </div>
    <div id="loadMore">
        <button type="button" onclick="loadMore()" class="btn btn-info">Load more</button>
    </div>
}
<script>
    function loadMore() {
        var paging = $('#paging').val().split("~");
        var formData = {
            limit: paging[0],
            pageGoTo: paging[1],
            pageCurrent: paging[2],
            sort: paging[3],
            desc: paging[4],
            category: paging[5]
        }
        console.log(formData);

        $.ajax({
            type: "POST",
            url: '@Url.Action("LoadProductByCategory", "Product")',
            data: formData,
            success: function (result) {
                console.log(result);
                $('#paging').val(result.Data.Paging.limit + "~" + (result.Data.Paging.pageGoTo + 1) + "~" + result.Data.Paging.pageCurrent + "~" + result.Data.Paging.sort + "~" + false + "~" + result.Data.Category + "~");
                var htmlAppend = '';
                var html = "";
                result.Data.ProductItemList.forEach(function (item) {
                    var index = item.image.imageDetault;
                    var imagePath = "@Url.Content("~/Content/images/imageDefault.png")";
                    var link = "@Url.Action("ProductDetail", "Product")";

                    item.arrayVarient.sort(function (a, b) { return a - b });
                    var smallestProductItem = item.arrayVarient[0];
                    var minPriceVariant = smallestProductItem.price;
                    var minPriceDiscount = 0;
                    var discountbanner = "";
                    var currency = "@ViewBag.currency";
                    link = link + "?productItemId=" + item._id;
                    if (parseInt(index) >= 0) {
                        imagePath = item.image.arrayImage.length > 0 ? item.image.arrayImage[parseInt(index)] : imagePath;
                    } else {
                        imagePath = item.image.imageDetault;
                    }
                    //html += "<div class='col-md-3'> <div class='thumbnail'> <a href=' " + link + "'><img src='" + imagePath + "' data-holder-rendered='true' style='width:300px;height:200px;'> </a> </div><div class='q-product-info'>  <div class='q-product-title'><h4>" + item.title + "</h4> </div>      <div class='q-product-price'>  <span class='price-left'> @Model.Currency " + item.price + " </span>  <span class='price-right'>  @Model.Currency " + item.priceCompare + '  </span>  </div> </div>  </div>';
                    var minPriceDiscount = 0;
                    var subhtml = "<div class='discount-product col-md-3' style='display: block; margin-bottom: 40px;' title='" + item.title + "'><div class='discount-product-item'><a href='" + link + "'><div class='discount-product-thumb img-thumbnail'>";
                    if (item.discount) {
                        minPriceDiscount = item.DiscountProductItem.type == 0 ? minPriceVariant - minPriceVariant * item.DiscountProductItem.discountValue / 100 : minPriceVariant - item.DiscountProductItem.discountValue;
                        minPriceDiscount = minPriceDiscount < 0 ? 0 : minPriceDiscount;
                        discountbanner = item.DiscountProductItem.type == 0 ? item.DiscountProductItem.discountValue + " %" : "@ViewBag.currency" + " " + item.DiscountProductItem.discountValue;
                        subhtml += "<div class='discount-banner'><span>&nbsp;&nbsp;" + discountbanner + "</span><span>OFF</span></div>";
                    }
                    subhtml += "<img src='" + imagePath + "' class='img-responsive image-fix' alt='" + item.title + "' style='vertical-align: middle; max-height: 100%; max-width: 100%;' data-holder-rendered='true'></div></a>";
                    subhtml += "<div class='product-info'><div class='product-name'>" + item.title + "</div>";
                    if (item.discount) {
                        subhtml += "<div class='product-price'><strong>" + currency + "&nbsp;" + minPriceDiscount.toFixed(2) + "&nbsp; &nbsp;</strong></div><div class='product-dis-price'><del>" + currency + "&nbsp;" + minPriceVariant.toFixed(2) + "</del></div>";
                    }
                    else {
                        subhtml += "<div class='product-price'><strong>" + currency + "&nbsp;" + minPriceVariant.toFixed(2) + "</strong></div>";
                    }
                    subhtml += "</div></div></div>";
                    html += subhtml;
                });

                $('#q-product-catgory').append(html);
                $('html, body').animate({
                    scrollTop: $("#loadMore").offset().top
                }, 1000);
                if (result.Data.ProductItemList.length < parseInt(result.Data.Paging.limit)) {
                    $('#loadMore').css('display', 'none');
                } else {
                    $('#loadMore').css("display", "block");
                }

            },
            error: function (error) {
                console.log(error);
            },
            beforeSend: function () {
                $('.loading').css("display", "block");
                $('#loadMore').css("display", "none");
            },
            complete: function () {
                $('.loading').css("display", "none");
                $('#checkReload').val("1");
            }
        });
    }
    if (parseInt($('#checkReload').val()) == 1) {
        document.location.reload(true);
    }

</script>
