﻿@model Com.SmoovPOS.Entity.WishList

@{
    ViewBag.Title = "WishList";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";
    
    int count = 0;
    try
    {
        foreach (var itemnumber in Model.arrayProductItem)
        {
            foreach (var varientnumber in itemnumber.arrayVarient)
            {
                count++;
            }
        }
    }
    catch (Exception) { }
}

<div class="wish-title"><h4>WISHLIST (@count items)</h4><p></p></div>
@if (@count > 0)
{
    <div class="q-content">
        <div class="q-mycart">
            <table class="table tablecart">
                <thead>
                    <tr>
                        <th class="col-md-2"></th>
                        <th class="col-md-4" style="text-align: left; padding-left: 19px;">PRODUCT NAME</th>
                        <th class="col-md-2">PRICE</th>
                        <th class="col-md-2"></th>
                        <th class="col-md-2">ACTION</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.arrayProductItem.Count() > 0)
                    {
                        foreach (var productItem in Model.arrayProductItem)
                        {
                            foreach (var varient in productItem.arrayVarient)
                            {
                                <tr id="varientID_">
                                    @{
                                        var tmpImage = varient.image.imageDetault;
                                        var imagePath = "";

                                        if (tmpImage.Length > 4)
                                        {
                                            imagePath = varient.image.imageDetault;
                                        }
                                        else
                                        {
                                            if (int.Parse(tmpImage) == 0)
                                            {
                                                if (varient.image.arrayImage != null && varient.image.arrayImage.Count() > 0)
                                                {
                                                    imagePath = varient.image.arrayImage[int.Parse(varient.image.imageDetault)];
                                                }
                                                else
                                                {
                                                    imagePath = Url.Content("~/Content/images/imageDefault.png");
                                                }
                                            }
                                            else if (int.Parse(tmpImage) > 0)
                                            {
                                                imagePath = varient.image.arrayImage[int.Parse(varient.image.imageDetault)];
                                            }
                                            else
                                            {
                                                imagePath = varient.image.imageDetault;
                                            }
                                        }
                                    }
                                    <td>
                                        <img id="q-img-large" src="@(!string.IsNullOrEmpty(imagePath) ? imagePath : Url.Content("~/Content/images/imageDefault.png"))"
                                             data-holder-rendered="true" class="img-varientmycart">
                                    </td>
                                    <td style="text-align: left">
                                        <div class="titleitem"> @productItem.title</div>
                                        <span>@varient.title @varient.color @varient.size</span>

                                    </td>
                                    <td class="titleitem">
                                        <span>@ViewBag.currency </span><span class="currentPrice">@varient.price</span>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("removeVariantWish", "Product", new { productItemId = productItem._id, varientId = varient._id }, null)" id="removeVarient_@varient._id"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                    </td>
                                    <td>
                                        <button type="button" id="addToCart" class="btn btn-default w_addtocart" onclick="AddToCart('@productItem._id','@varient._id')">Add To Cart</button>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    <tr>
                        <td colspan="6" style="background: #F4F4F4">
                            <div class="control-group">
                                <div class="col-md-12">
                                    @{
    var category = Model == null || Model.arrayProductItem == null || Model.arrayProductItem.Count == 0 ? "" : Model.arrayProductItem[0].categoryName;
                                    }
                                    <div class="q-continueFromWish">
                                        <button onclick="location.href='@Url.Action("AllProducts", "Product", new { category = category, theme = @ViewBag.theme }, null)';return false;" class="btn btn-default">Continue Shopping</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <div>There is no item in wishlist.</div>
}

<script>
    var data = @(new HtmlString(Json.Encode(Model.arrayProductItem)));
    console.debug(data);

    function AddToCart(productItemID , varientID){
        console.debug(productItemID + varientID);
        var productItem = null;
        for(var i=0;i<data.length;i++){
            if(data[i]._id == productItemID){
                productItem = data[i];
                console.debug(productItem);

                for( var j=0;j<productItem.arrayVarient.length;j++)
                {
                    if(productItem.arrayVarient[j]._id == varientID)
                    {
                        var varient = productItem.arrayVarient[j];
                        varient.quantity = 1;
                        productItem.arrayVarient = [];
                        productItem.arrayVarient.push(varient);
                        console.debug(productItem);
                        addProductItemToCart(productItem)
                    }
                }
            }
        }
    }

    function addProductItemToCart(productItem){
        console.log(productItem);
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddToCart", "Product")',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify($.convertJSONDates(productItem)),
            success: function (result) {
                document.getElementById('removeVarient_'+productItem.arrayVarient[0]._id).click();
            },
            error: function (error) {
                console.log(error);
            },
            beforeSend: function () {
            },
            complete: function () {
            }
        });
    }

    //Convert Date
    (function ($) {

        // replacer RegExp
        var dateISO = /\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:[.,]\d+)?Z/i;
        //var dateNet = /\/Date\((\d+)(?:[-\+]\d+)?\)\//i;
        var dateNet = /\/Date\((-?\d+)\)\//

        var jsonDateConverter = function (value) {
            if (typeof (value) == "string") {
                if (dateISO.test(value)) {
                    return new Date(value);
                }
                if (dateNet.test(value)) {
                    return new Date(parseInt(dateNet.exec(value)[1], 10));
                }
            }
            return value;
        };

        var converter = function (json) {
            $.each(json, function (k, v) {
                if (typeof v == 'object') {
                    // recurse
                    if (v != null) {
                        converter(v);
                    }
                }
                else {
                    json[k] = jsonDateConverter(v);
                }
            });
            return json;
        };

        $.convertJSONDates = converter;

    })(jQuery);
</script>