﻿@using online.Models
@model online.Models.CollectionItemListingModel
@{
    ViewBag.Title = "AllCollections";
    Layout = "~/Views/Shared/" + ViewBag.theme + ".cshtml";

    var productItemList = 0;
}


<div class="container">
    <ol class="breadcrumb">
        <li>@Html.ActionLink("Home", "Index", "Home", new { theme = @ViewBag.theme }, null)</li>
        <li>@Html.ActionLink("All Collections", "Index", "Collection", new { theme = @ViewBag.theme }, null)</li>
        <li>@Model.Collection.name</li>
    </ol>
    <div class="discount">
        <div class="row">
            @{
                if (Model.ProductItemList != null && Model.ProductItemList.Count() > 0)
                {
                    productItemList = Model.ProductItemList.Count();
                    int index = 1;
                    foreach (var productitem in @Model.ProductItemList)
                    {
                        var discount = productitem.DiscountProductItem;

                        var imagePath = "";
                        var smallestProductItem = new Com.SmoovPOS.Entity.VarientItem();
                        double minPriceVariant = 0;
                        // get price min of Variant
                        productitem.arrayVarient.OrderBy(v => v.status).ThenBy(r => r.price);
                        if (productitem.arrayVarient.Count() > 0)
                        {
                            smallestProductItem = productitem.arrayVarient[0];
                            minPriceVariant = smallestProductItem.price;
                        }
                        else
                        {
                            minPriceVariant = productitem.price;
                        }
                        double minPriceDiscount = 0;
                        var discountbanner = "";
                        if (discount != null)
                        {
                            double disprice = 0;
                            if (discount.type == 0)
                            {
                                disprice = minPriceVariant * discount.discountValue / 100;
                                string strDisprice = disprice.ToString("N2");
                                disprice = double.Parse(strDisprice);
                            }
                            else
                            {
                                disprice = discount.discountValue;
                            }
                            minPriceDiscount = minPriceVariant - disprice;
                            minPriceDiscount = minPriceDiscount < 0 ? 0 : minPriceDiscount;
                            discountbanner = discount.type == 0 ? discount.discountValue + " %" : ViewBag.currency + " " + discount.discountValue;
                        }
                        else
                        {
                            minPriceDiscount = smallestProductItem.price;
                        }
                        imagePath = smallestProductItem.image.imageDetault;
                        if (imagePath == "0" || imagePath == "" || imagePath.Contains("Content/Images/imageDefault.png"))
                        {
                            var indexImage = productitem.image.imageDetault;
                            int number = -1;
                            try
                            {
                                number = int.Parse(indexImage);
                            }
                            catch
                            {

                            }
                            if (number >= 0)
                            {
                                imagePath = productitem.image.arrayImage.Count() > 0 ? productitem.image.arrayImage[number] : Url.Content("~/Content/images/imageDefault.png");
                            }
                            else
                            {
                                imagePath = imagePath = Url.Content("~/Content/images/imageDefault.png");
                            }
                        }
                        var productname = @productitem.title.Length > 30 ? @productitem.title.Substring(0, 30) + "..." : @productitem.title;
                        
                        <div class="discount-product col-md-3" style="display: block; margin-bottom: 40px;" id="@index">
                            <div class="discount-product-item">
                                <a href='@Url.Action("ProductDetail", "Product", new { productItemId = productitem._id, collectionId = Model.Collection._id })'>
                                    <div class="discount-product-thumb img-thumbnail">
                                        @if (productitem.discount && productitem.DiscountProductItem != null)
                                        {
                                            <div class="discount-banner">
                                                <span>&nbsp;&nbsp;@discountbanner</span>
                                                <span>OFF</span>
                                            </div>
                                        }                                        
                                        <img src="@imagePath" class="img-responsive image-fix" alt="@productitem.title" style="vertical-align: middle; max-height: 100%; max-width: 100%;" data-holder-rendered="true">
                                    </div>
                                </a>
                                <div class="product-info">
                                    <div class="product-name">@productname</div>
                                    <div class="product-price"><strong>@ViewBag.currency&nbsp;@String.Format("{0:0.00}", Math.Round(minPriceDiscount, 2))</strong></div>&nbsp;&nbsp;
                                    @if (productitem.discount && productitem.DiscountProductItem != null)
                                    {
                                        <div class="product-dis-price"><del>@ViewBag.currency&nbsp;@String.Format("{0:0.00}", @Math.Round(minPriceVariant, 2))</del></div>
                                    }
                                </div>

                            </div>
                        </div>
                        index++;
                    }
                }
                else
                {
                    <h4 class="col-md-12 center-block">There isn't product at this moment.</h4>
                }
            }
        </div>
    </div>
    <div class="row" style="margin: 20px 0;">
        <input type="button" class="btn btn-info center-block" value="Load more" id="load-more" step="1" style="display: none;" />
    </div>
</div>


<script>
    var itemcount = @productItemList;
    var nextstep = 0;
    $(document).ready(function () {
        var defaultNumberItem = 20;
        $('.discount-product').hide();
        LoadMoreProduct(0);

        $('#load-more').click(function () {
            nextstep = parseInt($('#load-more').attr("step"));
            LoadMoreProduct(nextstep);
            $('#load-more').attr("step", parseInt($('#load-more').attr("step")) + 1);
        })

        if (itemcount <= 20){
            $('#load-more').hide();
        }
    });

    function LoadMoreProduct(step) {
        for (var i = 1; i <= 20; i++) {
            var itemid = step * 20 + i;
            if (step == 0) {
                $('.discount-product[id="' + itemid + '"]').fadeIn();
            }
            else {
                $('.discount-product[id="' + itemid + '"]').slideDown(1000);
            }
        }
        if (itemcount - ((step + 1) * 20) > 0){
            $('#load-more').show();
        }
        else{
            $('#load-more').hide();
        }
    }

</script>