﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.Entity.Settings.AccountSmoovpay
<style>
     .pay_info {
        margin-left: 20px;
    }
    .pay_info .pay_button {
       margin-top: 30px;
       margin-bottom: 30px;
       text-align: left;
    }
    .pay_info  button {
      margin-right: 30px; 
    }
    .pay_info .row a{
        color: #428bca
    }
</style>
<div class="pay_info">
    <div class="row">
        <h4>@Html.LocalizedMessage("SmoovPayAccount"): @Model.emailAddress</h4>
        <p>@Html.LocalizedMessage("SmoovPayInfo")</p>
    </div>
    <div class="row pay_button">
        <button type="button" class="btn btn-default" onclick="$('#SubmitFormTest').click()">@Html.LocalizedButton("TestSandbox")</button>
        <button type="button" class="btn btn-default" onclick="UpdateAccount()">@Html.LocalizedButton("Edit")</button>
        <button type="button" onclick="$('#ModalRemove').modal();" class="btn btn-default">@Html.LocalizedButton("Remove")</button>
    </div>
    <div class="row">
        <a target="_blank" href="https://merchant.smoovpay.com/">@Html.LocalizedMessage("LearnMoreSmoovPay") > </a>
       <div style="height: 10px"></div>
        <a target="_blank" href="https://merchant.smoovpay.com/terms">@Html.LocalizedMessage("ReviewTheSmoovPay") > </a>
    </div>
</div>

<div class="modal fade" id="ModalRemove" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 350px;">
            <div class="modal-body">
                Do you want to delete this account?
            </div>
            <div class="modal-footer">
                <button onclick="location.href='@Url.Action("RemoveAccount", "SettingCheckout")';return false;" data-dismiss="modal" class="btn btn-default-smoov">@Html.LocalizedButton("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Html.LocalizedButton("No")</button>
            </div>
        </div>
    </div>
</div>

@{  
    string transactionId = Guid.NewGuid().ToString().Replace("-", string.Empty).ToLowerInvariant();
    string urlPay = System.Configuration.ConfigurationManager.AppSettings[SmoovPOS.Common.ConstantSmoovs.AppSettings.UrlFormPostSmoovPay];
    string action = "pay";
    string dataToBeHashed = Model.secretKey
               + Model.emailAddress
               + action
               + transactionId
               + System.Configuration.ConfigurationManager.AppSettings[SmoovPOS.Common.ConstantSmoovs.AppSettings.PriceTestSandbox]
               + ViewBag.currency;

    var sha1 = new System.Security.Cryptography.SHA1CryptoServiceProvider();
    var passwordBytes = System.Text.Encoding.UTF8.GetBytes(dataToBeHashed);
    var passwordHash = sha1.ComputeHash(passwordBytes);
    var signature = BitConverter.ToString(passwordHash).Replace("-", string.Empty).ToLowerInvariant();
}
<form action="@urlPay" method="post" id="paysmoov" target="_blank">
    <input type="hidden" name="action" value="pay" />
    <input type="hidden" name="skip_success_page" value="1" />
    <input type="hidden" name="currency" value="@ViewBag.currency" />
    <input type="hidden" name="version" value="2.0" />

    <input type="hidden" name="item_name_1" value="product 1" />
    <input type="hidden" name="item_description_1" value="This is a product for test sand box" />
    <input type="hidden" name="item_quantity_1" value="1" />
    <input type="hidden" name="item_amount_1" value="0" />

    <input type="hidden" name="merchant" value="@Model.emailAddress" />
    <input type="hidden" name="ref_id" value="@transactionId" />
    <input type="hidden" name="discount_amount" value="123.5" />
    <input type="hidden" name="delivery_charge" value="0" />
    <input type="hidden" name="tax_amount" value="0" />
    <input type="hidden" name="tax_percentage" value="25" />
    <input type="hidden" name="total_amount" value="@System.Configuration.ConfigurationManager.AppSettings[SmoovPOS.Common.ConstantSmoovs.AppSettings.PriceTestSandbox]" />
    <input type="hidden" name="str_url" value="http://@Request.Url.Host@Url.Action("Strhandle", "SettingCheckout")" />
    <input type="hidden" name="success_url" value="http://@Request.Url.Host@Url.Action("SuccessUrl", "SettingCheckout")" />
    <input type="hidden" name="cancel_url" value="http://@Request.Url.Host@Url.Action("CancelUrl", "SettingCheckout")" />
    <input type="hidden" name="signature" value="@signature" />
    <input type="hidden" name="signature_algorithm" value="sha1" />
    <input type="submit" id="SubmitFormTest" style="display: none" />
</form>



<script>

    function UpdateAccount() {
        $('.pay_signup').css("display", "none");
        $('.pay_signin').css("display", "block");
        $('.pay_info').css("display", "none");
        $("#frmSignIn").attr("action", '@Url.Action("UpdateAccountSmoovPay", "SettingCheckout")');
        $('#UserName').val("@Model.emailAddress");
        $('#Password').val("@Model.password");
    }
    function RemoveAccount() {

    }
</script>