﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.Setting.SignUpSmoovpayViewModel
@{
    ViewBag.Title = @Html.LocalizedMessage("SignupSmoovPayAccount");
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

<div class="col-md-12">
    <h3>@Html.LocalizedLabel("CheckoutSetting")</h3>
</div>

@using (Ajax.BeginForm("Signup", "SettingCheckout", new SmoovPOS.UI.Models.Setting.SignUpSmoovpayViewModel(), new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "formid", @encType = "multipart/form-data" }))
{

    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="q-form">
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedMessage("PaymentMode")</h4>
                <h5>@Html.LocalizedMessage("EnableSmoovPay")</h5>
            </div>
            <div class="col-md-8">
                @Html.ValidationMessage("keyName",new { @style = "margin-left: -10px"})
                <div class="form-group">
                    <h4 style="padding-left: 5px;">@Html.LocalizedMessage("SignupSmoovPayAccount")</h4>
                </div>
                <div class="form-group">

                    <label style="font-weight: bold;padding-left: 5px;">@Html.LocalizedLabel("AccountInformation")</label>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="categoryName">@Html.LocalizedLabel("UserNameForLogin") </label><span style="color: red"> * </span>
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @maxlength = 50, @placeholder = @Html.LocalizedLabel("email") })
                            @Html.ValidationMessageFor(m => m.UserName)
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label style="font-weight: bold;padding-left: 5px;">@Html.LocalizedLabel("BusinessInformation")</label>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="businessName">@Html.LocalizedLabel("CompanyName") </label><span style="color: red"> * </span>
                            @Html.TextBoxFor(m => m.CompanyName, new { @class = "form-control", @maxlength = 50, @Placeholder = "Company name" })
                            @Html.ValidationMessageFor(m => m.CompanyName)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="businessDisplayName">@Html.LocalizedLabel("BusinessDisplayName_2")</label><span style="color: red"> * </span>
                            @Html.TextBoxFor(m => m.BusinessDisplayName, new { @class = "form-control", @maxlength = 50, @Placeholder = "Business Display Name" })
                            @Html.ValidationMessageFor(m => m.BusinessDisplayName)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="password">@Html.LocalizedLabel("ContactPerson") </label><span style="color: red"> * </span>
                            @Html.TextBoxFor(m => m.ContactPerson, new { @class = "form-control", @maxlength = 50, @Placeholder = "Contact person" })
                            @Html.ValidationMessageFor(m => m.ContactPerson)
                        </div>
                    </div>
                    <div class="col-md-6" style="padding-left: 7px;padding-right: 0px;">
                        <div class="col-md-12" style="padding-bottom: 0px;padding-left: 0px;">
                            <label for="password">@Html.LocalizedLabel("MobileNumber")</label><span style="color: red"> * </span>
                        </div>
                        <div class="col-md-4" style="padding-left: 0px;">
                            @Html.TextBoxFor(m => m.PhoneRegion, new { @class = "form-control", @maxlength = 50, @placeholder ="+65" })
                            @Html.ValidationMessageFor(m => m.PhoneRegion)
                        </div>
                        <div class="col-md-8" style="padding-left: 0px;padding-right: 0px;">
                            @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", @maxlength = 50 })
                            @Html.ValidationMessageFor(m => m.PhoneNumber)
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                       <div class="form-group">
                           <label for="businessDisplayName">@Html.LocalizedLabel("country") </label><span style="color: red"> * </span>
                           @Html.DropDownListFor(m => m.Country, Model.Countrys, new { @class = "form-control" })
                       </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.Agree) @Html.LocalizedMessage("AgreeSmoovpay")                                
                                </label>                            
                            </div>
                            <div>@Html.ValidationMessageFor(m => m.Agree)</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" id="pay_signup_submit" style="margin-right:5px;">@Html.LocalizedButton("SignUp")</button>
                            <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "SettingCheckout")'">@Html.LocalizedButton("Cancel")</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}

<script type="text/jscript">
    $(".mainMenu").hide();
    $(".settingsMenu").show();
    //Custom jQuery validation unobtrusive script and adapters
    jQuery.validator.unobtrusive.adapters.add("checkboxtrue", function (options) {
        if (options.element.tagName.toUpperCase() == "INPUT" && options.element.type.toUpperCase() == "CHECKBOX") {
            options.rules["required"] = true;
            if (options.message) {
                options.messages["required"] = options.message;
            }
        }
    });
    $(function () {
        $('#pay_signup_submit').click(function (e) {
            var form = $("#formid");
            var checkForm = form.valid();
            if (checkForm) {
                $('#pay_signup_submit').text('Please wait...');
                $('.btn').attr('disabled', true);
                $('#formid').submit();
            }
        })
    })
 </script>