﻿@using SmoovPOS.Common
@using SmoovPOS.Utility.CustomHTMLHelper

@model SmoovPOS.UI.Models.SaleViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

<script type="text/javascript" src="~/Content/jquery.datetimepicker.js"></script>
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />

<style>
    .hide-calendar
    {
        display:none!important;
        visibility:hidden!important
    }

    .loading {
        text-align: center;
        display: none;
        font-size: 24px;
        margin-right: 12px;
    }
</style>
    
<div>
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3>@ViewBag.Title</h3>
        </div>
    </div>

    <div class="q-clear"></div>

    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

    <div>
        @using (Html.BeginForm("GenerateReport", "Sale", FormMethod.Post, new { @encType = "multipart/form-data" }))
        {
            <!------------ START TAB AND CALENDAR ------------>
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#" role="tab" data-toggle="tab" onclick="loadPeriod('DailyReport')">@Html.LocalizedLabel("Daily")</a></li>
                    <li><a href="#" role="tab" data-toggle="tab" onclick="loadPeriod('WeeklyReport')">@Html.LocalizedLabel("Weekly")</a></li>
                    <li><a href="#" role="tab" data-toggle="tab" onclick="loadPeriod('MonthlyReport')">@Html.LocalizedLabel("Monthly")</a></li>
                    <li style="display:inline;float:right;width:300px;height:32px;">
                        <div class="form-group">
                            <div style="float:left;">
                                <div class="loading">
                                    <i class="fa fa-spinner fa-spin"></i>
                                </div>
                            </div>
                            
                            <div style="margin-left:24px;">
                                <div id="dtpDailyReport" class="input-group date" style="display:inline-block;">
                                    <input type="text" class="form-control" id="strDailyReport" name="strDailyReport" style="width:240px;" value='@DateTime.Today.ToString("dd MMM yyyy")' />
                                    <span class="add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <div id="dtpWeeklyReport" class="input-group date" style="display:none;">
                                    <input type="text" class="form-control" id="strWeeklyReport" name="strWeeklyReport" style="width:240px;" />
                                    <span class="add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                                <div id="dtpMonthlyReport" class="input-group date" style="display:none;">
                                    <input type="text" class="form-control" id="strMonthlyReport" name="strMonthlyReport" style="width:240px;" />
                                    <span class="add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        }

        <div class="q-clear"></div>

        <div class="col-md-12 lineStyle"></div>
        <!------------ END TAB AND CALENDAR ------------>

        <div class="tab-content">
            <div class="tab-pane active" id="DailyReport">
                @Html.Partial("~/Views/Sale/SalePartial.cshtml")
            </div>
            <div class="tab-pane" id="WeeklyReport">
                @Html.Partial("~/Views/Sale/SalePartial.cshtml")
            </div>
            <div class="tab-pane" id="MonthlyReport">
                @Html.Partial("~/Views/Sale/SalePartial.cshtml")
            </div>
        </div>
    </div>
</div>

<!------------ START Default Datetimepicker Set Up ------------>
<script>
    //Default daily report datetimepicker
    $('#dtpDailyReport').datetimepicker({
        timepicker: false,
        weeks: true,
        dayOfWeekStart: 1,
        onShow: function (dp, $input) {
            $('.xdsoft_calendar').removeClass("hide-calendar");
        },
        onSelectDate: function (dp, $input) {
            var date = new Date($input.val());

            $('#strDailyReport').val(date.dateFormat("d M Y"));

            generateReport('DailyReport');
        }
    });

    //Default weekly report datetimepicker
    $('#dtpWeeklyReport').datetimepicker({
        timepicker: false,
        weeks: true,
        dayOfWeekStart: 1,
        onShow: function (dp, $input) {
            $('.xdsoft_calendar').removeClass("hide-calendar");
        },
        onSelectDate: function (dp, $input) {
            var date = new Date($input.val());

            var startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 1);//+1 because start day of week = Monday //+0 if start day of week = Sunday
            var endDate = new Date(date.getFullYear(), date.getMonth(), startDate.getDate() + 6);

            $('#strWeeklyReport').val(startDate.dateFormat("d M Y") + " - " + endDate.dateFormat("d M Y"));

            generateReport('WeeklyReport');
        }
    });

    //Default monthly report datetimepicker
    $('#dtpMonthlyReport').datetimepicker({
        timepicker: false,
        changeMonth: true,
        changeYear: true,
        onShow: function (dp, $input) {
            $('.xdsoft_calendar').addClass("hide-calendar");
        },
        onChangeMonth: function (dp, $input) {
            $('#strMonthlyReport').val(dp.dateFormat("M Y"));

            generateReport('MonthlyReport');
        },
        onClose: function (dp, $input) {
            $('#dtpMonthlyReport').val(dp);
        }
    });
</script>
<!------------ END Default Datetimepicker Set Up ------------>

<script>
    function loadPeriod(tabName) {
        switch (tabName) {
            case 'DailyReport':
                $('#dtpDailyReport').css('display', 'inline-block');
                $('#dtpWeeklyReport').css('display', 'none');
                $('#dtpMonthlyReport').css('display', 'none');
                resetDailyReport();
                generateReport(tabName);
                break;

            case 'WeeklyReport':
                $('#dtpDailyReport').css('display', 'none');
                $('#dtpWeeklyReport').css('display', 'inline-block');
                $('#dtpMonthlyReport').css('display', 'none');
                resetWeeklyReport();
                generateReport(tabName);
                break;

            case 'MonthlyReport':
                $('#dtpDailyReport').css('display', 'none');
                $('#dtpWeeklyReport').css('display', 'none');
                $('#dtpMonthlyReport').css('display', 'inline-block');
                resetMonthlyReport();
                generateReport(tabName);
                break;
        }
    }

    function resetDailyReport() {
        var fullDate = new Date();

        $('#strDailyReport').val(fullDate.dateFormat("d M Y"));
    }

    function resetWeeklyReport() {
        var fullDate = new Date();

        var startDate = new Date(fullDate.getFullYear(), fullDate.getMonth(), fullDate.getDate() - fullDate.getDay() + 1);//+1 because start day of week = Monday //+0 if start day of week = Sunday
        var endDate = new Date(fullDate.getFullYear(), fullDate.getMonth(), startDate.getDate() + 6);

        var currentWeek = startDate.dateFormat("d M Y") + " - " + endDate.dateFormat("d M Y");

        $('#strWeeklyReport').val(currentWeek);
    }

    function resetMonthlyReport() {
        var fullDate = new Date();

        $('#strMonthlyReport').val(fullDate.dateFormat("M Y"));
    }

    function generateReport(tabName) {
        $('.loading').css('display', 'inline');

        var strReportType = tabName;
        var strReportPeriod = "";

        switch (strReportType) {
            case 'DailyReport':
                strReportPeriod = $('#strDailyReport').val();
                break;

            case 'WeeklyReport':
                strReportPeriod = $('#strWeeklyReport').val();
                break;

            case 'MonthlyReport':
                strReportPeriod = $('#strMonthlyReport').val();
                break;
        }

        $.ajax({
            url: "@ViewBag.Url" + '/Sale/GenerateReport',
            type: 'POST',
            data: {
                strReportType: strReportType,
                strReportPeriod: strReportPeriod
            },
            beforeSend: function () {
            },
            success: function (data) {
                $('#' + strReportType).html(data);
                $('.tab-pane').removeClass('active');
                $('#' + strReportType).addClass('active');
            },
            error: function () {
            },
            complete: function (result) {
                $('.loading').css('display', 'none');
            }
        });
    }
</script>