﻿@using SmoovPOS.Utility.CustomHTMLHelper

@model SmoovPOS.UI.Models.SaleViewModel

@{
    Layout = "~/Views/Shared/_LayoutNoScriptForPartial.cshtml";
}

<style>
    .styleVarriant {
        margin-top: 10px;
        margin-left: 10px;
    }
</style>

<div>
    <div class="col-md-3">
        <ul style="background-color:#FF6050;height:100px;">
            <li ng-click="" id="">
                <div style="font-weight: bold;color:white;padding-left:20px;padding-top:20px;">@Html.LocalizedLabel("TotalSales")</div>
                <div style="font-size:20pt;color:white;padding-left:20px;padding-bottom:20px;">
                    <text class="text-muted" style="color: white;">@Model.Currency&nbsp;@String.Format("{0:0.00}", @Model.TotalSales)</text>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul style="background-color:#1DB9C5;height:100px;">
            <li ng-click="" id="">
                <div style="font-weight: bold;color:white;padding-left:20px;padding-top:20px;">@Html.LocalizedLabel("TotalRevenue")</div>
                <div style="font-size:20pt;color:white;padding-left:20px;padding-bottom:20px;">
                    <text class="text-muted" style="color: white;">@Model.Currency&nbsp;@String.Format("{0:0.00}", @Model.TotalRevenue)</text>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul style="background-color:#0090D9;height:100px;">
            <li ng-click="" id="">
                <div style="font-weight: bold;color:white;padding-left:20px;padding-top:20px;">@Html.LocalizedLabel("TotalNumberOfOrders")</div>
                <div style="font-size:20pt;color:white;padding-left:20px;padding-bottom:20px;">
                    <text class="text-muted" style="color: white;">@Model.TotalNumberOfOrders.ToString()</text>
                </div>
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul style="background-color:#FF7E0C;height:100px;">
            <li ng-click="" id="">
                <div style="font-weight: bold;color:white;padding-left:20px;padding-top:20px;">@Html.LocalizedLabel("AverageOrderSize")</div>
                <div style="font-size:20pt;color:white;padding-left:20px;padding-bottom:20px;">
                    <text class="text-muted" style="color: white;">@Model.Currency&nbsp;@String.Format("{0:0.00}", @Model.AverageOrderSize)</text>
                </div>
            </li>
        </ul>
    </div>
</div>

<div>
    <div class="col-md-6" style="padding-top:20px;">
        @*Need element "new { ReloadTriggerTime = @DateTime.UtcNow}" to force "SmoovPayTransactionChart" reloading each time page reload*@
        @*<img class="img-responsive" id="SmoovPayTransactionChart" src="@Url.Action("DisplaySmoovPayTransactionChart", "Sale", new { ReloadTriggerTime = @DateTime.UtcNow })" />*@
    </div>
</div>