﻿@model SmoovPOS.UI.Models.ChangePasswordMerchantManagementViewModel
@using SmoovPOS.Utility.CustomHTMLHelper
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}
<div class="q-form">
    @using (Ajax.BeginForm("ChangePassword", "MerchantManagement", new SmoovPOS.UI.Models.ChangePasswordMerchantManagementViewModel(), new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "formid", @encType = "multipart/form-data" }))
    {
        string dateStr = string.Empty;
        Html.AntiForgeryToken();
        @*. ------BEGIN HEADER------ *@
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model.merchantID)
            @Html.HiddenFor(model => model.userID)
            <div class="col-md-4">
                <h3><span class="parant-title">@Html.LocalizedLabel("MerchantProfile")</span> / @Html.LocalizedLabel("ChangePassword")</h3>
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <div class="loading" style="display:none">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-right:5px;">Save</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("ViewProfile", "General")'">Cancel</button>
            </div>
        </div>
        @*. ------END HEADER MerchantID and Full Name ------ *@
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @*5. -------BEGIN MERCHANT INFORMATION------ *@
        <div>
            @*<div>
                    @Html.ValidationSummary()
                </div>*@
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("ChangePassword")</h4>
                @*<h4>Change Password</h4>*@
                <p>To change your password.</p>
            </div>
            @*currentPassword*@
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-12">
                        <div>
                            <label>@Html.LabelFor(model => model.CurrentPassword)</label>
                        </div>
                        <div style="width:48%">
                            @Html.PasswordFor(m => m.CurrentPassword, new { @class = "form-control", @maxlength = 100 })
                            @Html.ValidationMessageFor(m => m.CurrentPassword)
                            <br><text class="ErrPasswordNotMatch validation-summary-errors" style="display: none;">@Html.LocalizedMessage("WrongPassword")</text>                     
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6 outer">
                        <div >
                            @*<label for="ShortName">New Password</label>*@
                            <label>@Html.LabelFor(model => model.NewPassword)</label>
                        </div>
                        <div >
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", @maxlength = 100 })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div >
                            <label>@Html.LabelFor(model => model.ConfirmPassword)</label>
                            @*<label for="Category">Confirm</label>*@
                        </div>
                        <div >
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @maxlength = 100 })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <hr />
    }

</div>
<script type="text/javascript">
    $("#formid").submit(function (e) {
        $('.ErrPasswordNotMatch').css('display', 'none');
        e.preventDefault();
        if ($(this).valid()) {           
            var currentPassword = $('#CurrentPassword').val() ;
            $.ajax({
                type: "POST",
                url: '@Url.Action("IsMatchPassword", "General")',
                data: {
                    currentPassword: currentPassword,
                    newPassword: $('#NewPassword').val()
                },
                success: function (result) {
                 
                    if (result) {
                        $(".ErrPasswordNotMatch").fadeIn("slow");
                        $('button[type=submit]').each(function () {
                            $(this).html('Save');                          
                        });
                      
                    } else {   //do your success logic
                        var url = '@Url.Action("ViewProfile", "General")';
                        window.location.href = url;
                        return;
                    }
                   
                },
                beforeSend: function () {
                    $('button[type=submit]').each(function () {
                        $(this).html('loading');
                    });
                    $('button[type=button], .btn-default').each(function () {
                        $(this).attr('disabled', 'disabled');
                    });
                },
                complete: function () {
                    $('.loading').css('display', 'none');
                }
            });
            }
    });
</script>
