﻿@{
    ViewBag.Title = "Update Profile";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}
@model SmoovPOS.UI.Models.General.MerchantManagementViewModel
@using SmoovPOS.Utility.CustomHTMLHelper
@{
    var subDomain = !String.IsNullOrEmpty(Model.SubDomain) ? Model.SubDomain.Split('/')[2].Split('.')[0] : Model.SubDomain;
    var domain = !String.IsNullOrEmpty(Model.Domain) ? Model.Domain.Split('/')[2] : Model.Domain;
    Model.SubDomain = subDomain;
    Model.Domain = domain;
}
<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />

<style>
    .update_profile .right {
        text-align: right;
        padding-right: 40px;
    }

    .pull-right {
        z-index: 10;
        right: 0px;
        top: 2px;
        padding: 5px 40px;
        position: absolute;
        /* font-weight: 300; */
        color: #9e9e9e;
        font-size: 16px;
    }

    .form-group-smoov {
        margin-bottom: 0px;
    }
</style>
@{string dateDoBStr = string.Empty;}
@using (Html.BeginForm("UpdateProfile", "General", FormMethod.Post, new { @encType = "multipart/form-data", @id = "frm" }))
{

    <input type="hidden" name="idMerchant" value="@Model.merchantID" />
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3>Update Profile</h3>
        </div>
        <div class="col-md-8">
            <button type="button" name="Submit" class="btn btn-default-smoov submit">Save</button>
            <button onclick="location.href='@Url.Action("Index", "Home")';return false;" class="btn btn-default" style="margin-right:5px;">Cancel</button>
        </div>
    </div>
    <div class="col-md-12 lineStyle"><hr /></div>
    <div class="q-form update_profile">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">

            <div class="col-md-4">
                <h4>Business Details</h4>
                <h5>Your store information shows up on your storefront. Subdomain or domain help to connect to you online shop.</h5>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="categoryName">@Html.LabelFor(model => model.businessName) *</label>
                            @Html.TextBoxFor(m => m.businessName, new { @class = "form-control", maxlength = "50" })
                            @Html.ValidationMessageFor(m => m.businessName)
                            <div id="ErrBusinessNameRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrBusinessNameRequired")</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="TitleHomePage">@Html.LabelFor(model => model.titleHomePage)</label>
                            @Html.TextBoxFor(m => m.titleHomePage, new { @class = "form-control", maxlength = "50" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-group-smoov">
                            <input type="radio" name="CheckSubdomain" id="CheckSubdomain" value="true" @(Model.CheckSubdomain == true ? " checked" : "")> @Html.LabelFor(model => model.SubDomain)
                        </div>
                    </div>
                    <div class="col-md-10">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.SubDomain, new { @class = "form-control", maxlength = "50" })
                            <div id="ErrSubDomainRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrSubDomainRequired")</div>
                            <span class="pull-right">@ViewBag.urlSite</span>
                            <div id="ErrSubDomainExist" class="error-message" style="display:none">@Html.LocalizedMessage("ErrSubDomainExist")</div>
                            <span id="iconCheckSubdomain" class="pull-right" style="margin-right: -60px;display:none"><img style="width: 20px;" src="@Url.Content("~/Content/Upload/Check-icon.png")" /></span>
                            <span id="iconUnCheckSubdomain" class="pull-right" style="margin-right: -60px;display:none"><img style="width: 20px;" src="@Url.Content("~/Content/Upload/unCheck.png")" /></span>
                        </div>
                    </div>

                    <div class="col-md-2 right">
                        <div class="form-group">
                            <input class="btn btn-default-smoov" id="btt-subdomain" type="button" value="Verify" onclick="checkUrlExist($('#SubDomain').val(),true)">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-group-smoov">
                            <input type="radio" name="CheckSubdomain" id="CheckDomain" value="false" @(Model.CheckSubdomain == false ? " checked" : "")> @Html.LabelFor(model => model.Domain)
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group">
                            <input type="text" class="form-control" value="http://" disabled="disabled">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.Domain, new { @class = "form-control", maxlength = "50" })
                            <div id="ErrDomainExist" class="error-message" style="display:none">@Html.LocalizedMessage("ErrDomainExist")</div>
                             <div id="ErrDomainRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrDomainRequired")</div>
                             <span id="iconCheckDomain" class="pull-right" style="margin-right: -60px;display:none"><img style="width: 20px;" src="@Url.Content("~/Content/Upload/Check-icon.png")" /></span>
                            <span id="iconUnCheckDomain" class="pull-right" style="margin-right: -60px;display:none"><img style="width: 20px;" src="@Url.Content("~/Content/Upload/unCheck.png")" /></span>
                        </div>
                    </div>

                    <div class="col-md-2 right" style="padding-top: 0px">
                        <div class="form-group">
                            <input class="btn btn-default-smoov" type="button" id="btt-domain" value="Verify" onclick="checkUrlExist($('#Domain').val(), false)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @* -----------------------End Information Detail----------------------- *@
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("ProfileInformation") </h4>
                <h5>All information relevant to the account.</h5>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="TitleAccount">@Html.LabelFor(model => model.title)</label>
                            <select class="form-control" name="TitleAccount" id="TitleAccount">
                                <option @(Model.title == "Dr" ? "  selected" : "") value="Dr">Dr</option>
                                <option @(Model.title == "Mr" ? "  selected" : "") value="Mr">Mr</option>
                                <option @(Model.title == "Mrs" ? " selected" : "") value="Mrs">Mrs</option>
                                <option @(Model.title == "Ms" ? "  selected" : "") value="Ms">Ms</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="FirstName">@Html.LabelFor(model => model.firstName) *</label>
                            @Html.TextBoxFor(m => m.firstName, new { @class = "form-control", maxlength = "50" })
                            <div id="ErrFirstNameRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrFirstNameRequired")</div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="LastName" style="padding-top: 5px;">&nbsp</label>
                            @Html.TextBoxFor(m => m.lastName, new { @class = "form-control", maxlength = "50" })
                            <div id="ErrLastNameRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrLastNameRequired")</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group">
                            <label for="PhoneRegion">@Html.LabelFor(model => model.phone) *</label>
                            @Html.TextBoxFor(m => m.phoneRegion, new { @class = "form-control", maxlength = "5" })
                            <div id="ErrPhoneRegionRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrPhoneRegionRequired")</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="PhoneNumber" style="padding-top: 5px;">&nbsp</label>
                            @Html.TextBoxFor(m => m.phone, new { @class = "form-control", maxlength = "12" })

                            <div id="ErrPhoneNumberRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrPhoneNumberRequired")</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Gender">@Html.LabelFor(model => model.gender)</label>
                            <select class="form-control" name="Gender" id="Gender">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="PhoneNumber">@Html.LabelFor(model => model.birthday) *</label>
                            <div id="datetimepicker1" class="input-append date">
                                @if (Model.birthday != null)
                                {
                                    DateTime bd = Model.birthday.GetValueOrDefault();
                                    dateDoBStr = bd.ToString(SmoovPOS.Common.ConstantSmoovs.DefaultFormats.JqueryDate);
                                }
                                <input data-format="MM/dd/yyyy" value="@dateDoBStr" type="text" class="form-control" id="birthday" name="birthday" maxlength="50" />

                                @*@Html.TextBoxFor(m => m.birthday, new { @class = "form-control", maxlength = "50" })*@
                                <span class="add-on">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                                <div id="ErrBirthdayRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrBirthdayRequired")</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="Address">@Html.LabelFor(model => model.address) *</label>
                            @Html.TextBoxFor(m => m.address, new { @class = "form-control", maxlength = "50" })
                            <div id="ErrAddressRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrAddressRequired")</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="City">@Html.LabelFor(model => model.city) *</label>
                            @Html.TextBoxFor(m => m.city, new { @class = "form-control", maxlength = "50" })
                            <div id="ErrCityRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrCityRequired")</div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="State">@Html.LabelFor(model => model.region)</label>
                            @Html.TextBoxFor(m => m.region, new { @class = "form-control", maxlength = "50" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="ZipCode">@Html.LabelFor(model => model.zipCode) *</label>
                            @Html.TextBoxFor(m => m.zipCode, new { @class = "form-control", maxlength = "15" })
                            <div id="ErrZipCodeRequired" class="error-message" style="display:none">@Html.LocalizedMessage("ErrZipCodeRequired")</div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="Country">@Html.LabelFor(model => model.country) </label>
                            <select id="Country" name="Country" class="form-control">
                                @foreach (var item in ViewBag.countries[0].arrayCountry)
                                {
                                    <option @(item==Model.country?" selected": "") value="@item">@item</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 lineStyle"><hr /></div>
        <div class="q-toolsbar">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <button type="button" name="Submit" class="btn btn-default-smoov submit">Save</button>
                <button onclick="location.href='@Url.Action("Index", "Home")';return false;" class="btn btn-default" style="margin-right:5px;">Cancel</button>
            </div>
        </div>

    </div>
}

<script>
    $(document).ready(function () {
        $('#birthday').attr('data-format', 'MM/dd/yyyy');
        validateSpecialCharactor("SubDomain");
        //$("#SubDomain").keypress(function (e) {
        //    //if the letter is not digit then display error and don't type anything
        //    if (e.which == 46) {
        //        //display error message
        //        //   $("#errmsg").html("Digits Only").show().fadeOut("slow");
        //        return false;
        //    }
        //});
        var CheckSubdomain = "@Model.CheckSubdomain";

        if (CheckSubdomain == "True") {
            $('#SubDomain').removeAttr("disabled", "disabled");
            $('#Domain').attr("disabled", "");
        } else {
            $('#Domain').removeAttr("disabled", "");
            $('#SubDomain').attr("disabled", "disabled");
        }
        $('input:radio[name="CheckSubdomain"]').change(function () {
            if ($(this).val() === 'true') {
                $('#Domain').attr("disabled", "disabled");
                $('#SubDomain').removeAttr("disabled", "");
            }
            else if ($(this).val() === 'false') {
                $('#SubDomain').attr("disabled", "disabled");
                $('#Domain').removeAttr("disabled", "");

            }
        });


        $("#phoneRegion").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                //   $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
        $("#phone").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                //   $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
        $("#zipCode").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                //   $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
        $('#SubDomain').change(function () {
            reset();
            // $("#CheckSubdomain").attr("checked", "checked");
        })
        $('#Domain').change(function () {
            reset();
            if ($('#Domain').val().length > 1) {
                //  $("#CheckDomain").prop("checked", true);
            } else if ($('#Domain').val() == null || $('#Domain').val() == '') {
                //   $("#CheckSubdomain").prop("checked", true);
                $('#SubDomain').val("@Model.SubDomain");
            }

        })
        $(function () {
            var picker = $('#datetimepicker1').datetimepicker({
                language: 'pt-BR',
                endDate: new Date(),
                format: 'MM/dd/yyyy'
            });
        })

        $(document).keypress(function (event) {
            var keycode = (event.keyCode ? event.keyCode : event.which);
            if (keycode == '13') {
                validateBeforeSubmit()
            }
        });
        $('.submit').click(function () {
            validateBeforeSubmit()
        })
        function validateBeforeSubmit() {
            var check = true;
            check = Validation();
            if (check) {
                checkSubDomainBySubmit();
            }
        }
        function Validation() {
            reset();
            var check = true;
            var BusinessName = $('#businessName').val().trim();
            var SubDomain = $('#SubDomain').val().trim();
            var Domain = $('#Domain').val().trim();
            var FirstName = $('#firstName').val().trim();
            var LastName = $('#lastName').val().trim();
            var Birthday = $('#birthday').val().trim();
            var Address = $('#address').val().trim();
            var City = $('#city').val().trim();
            var ZipCode = $('#zipCode').val().trim();
            var PhoneRegion = $('#phoneRegion').val().trim();
            var Phone = $('#phone').val().trim();
            var checkSubDomain = $("input[name='CheckSubdomain']:checked").val();
            if (BusinessName.length < 1) {
                $('#ErrBusinessNameRequired').css('display', 'block');
                check = false;
            } else {
                $('#ErrBusinessNameRequired').css('display', 'none');
            }
            if (checkSubDomain == "true") {
                if (SubDomain.length < 1) {
                    $('#ErrSubDomainRequired').css('display', 'block');
                    check = false;
                } else {
                    $('#ErrSubDomainRequired').css('display', 'none');
                }
            } else {
                if (Domain.length < 1) {
                    $('#ErrDomainRequired').css('display', 'block');
                    check = false;
                } else {
                    $('#ErrDomainRequired').css('display', 'none');
                }
            }

            if (FirstName.length < 1) {
                $('#ErrFirstNameRequired').css('display', 'block');
                check = false;
            } else {
                $('#ErrFirstNameRequired').css('display', 'none');
            }
            if (LastName.length < 1) {
                $('#ErrLastNameRequired').css('display', 'block');
                check = false;
            } else {
                $('#ErrLastNameRequired').css('display', 'none');
            }
            if (Birthday.length < 1) {
                $('#ErrBirthdayRequired').css('display', 'block');
                check = false;
            } else {
                $('#ErrBirthdayRequired').css('display', 'none');
            }
            if (Address.length < 1) {
                $('#ErrAddressRequired').css('display', 'block');
                check = false;
            } else {
                $('#ErrAddressRequired').css('display', 'none');
            }
            if (City.length < 1) {
                $('#ErrCityRequired').css('display', 'block');
                check = false;
            } else {
                $('#ErrCityRequired').css('display', 'none');
            }
            if (ZipCode.length < 1) {
                $('#ErrZipCodeRequired').css('display', 'block');
                check = false;
            } else {
                $('#ErrZipCodeRequired').css('display', 'none');
            }
            if (PhoneRegion.length < 1) {
                $('#ErrPhoneRegionRequired').css('display', 'block');
                check = false;
            } else {
                $('#ErrPhoneRegionRequired').css('display', 'none');
            }
            if (Phone.length < 1) {
                $('#ErrPhoneNumberRequired').css('display', 'block');
                check = false;
            } else {
                $('#ErrPhoneNumberRequired').css('display', 'none');
            }
            return check;
        }
        function reset() {
            $('#ErrZipCodeRequired').css('display', 'none');
            $('#ErrCityRequired').css('display', 'none');
            $('#ErrAddressRequired').css('display', 'none');
            $('#ErrBirthdayRequired').css('display', 'none');
            $('#ErrLastNameRequired').css('display', 'none');
            $('#ErrFirstNameRequired').css('display', 'none');
            $('#ErrSubDomainRequired').css('display', 'none');
            $('#ErrBusinessNameRequired').css('display', 'none');
            $('#ErrSubDomainExist').css('display', 'none');
            $('#ErrDomainExist').css('display', 'none');
            $('#ErrSubDomainExist').css('display', 'none');
            $('#iconCheckSubdomain').css('display', 'none');
            $('#iconUnCheckSubdomain').css('display', 'none');
            $('#iconCheckDomain').css('display', 'none');
            $('#iconUnCheckDomain').css('display', 'none');
            $('#ErrSubDomainRequired').css('display', 'none');
            $('#ErrDomainRequired').css('display', 'none');
        }

    })
    function resetCheckDomain() {
        $('#ErrSubDomainExist').css('display', 'none');
        $('#ErrDomainExist').css('display', 'none');
        $('#iconCheckSubdomain').css('display', 'none');
        $('#iconUnCheckSubdomain').css('display', 'none');
        $('#iconCheckDomain').css('display', 'none');
        $('#iconUnCheckDomain').css('display', 'none');
    }
    function checkUrlExist(url, isSubDomain) {
        resetCheckDomain();
        var SubDomain = isSubDomain ? $('#SubDomain').val().trim() : $('#Domain').val().trim();
        var checkLength = true;

        if (SubDomain.length < 1) {
            if (isSubDomain) {
                $('#ErrSubDomainRequired').css('display', 'block');
            } else {
                $('#ErrDomainRequired').css('display', 'block');
            }
            checkLength = false;
        } else {
            $('#ErrSubDomainRequired').css('display', 'none');
        }
        var check = true;
        if (check && checkLength) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CheckUrlExist", "General")',
                data: {
                    url: url,
                    isSubDomain: isSubDomain
                },
                success: function (status) {
                    if (status == 1) {
                        var urlOld = isSubDomain ? "@Model.SubDomain" : "@Model.Domain";
                        if (SubDomain != urlOld) {
                            if (isSubDomain) {
                                $('#iconUnCheckSubdomain').css('display', 'block');
                                $('#ErrSubDomainExist').css('display', 'block');
                            } else {
                                $('#iconUnCheckDomain').css('display', 'block');
                                $('#ErrDomainExist').css('display', 'block');
                            }
                            exit;
                        } else {
                            if (isSubDomain) {
                                $('#iconCheckSubdomain').css('display', 'block');

                            } else {
                                $('#iconCheckDomain').css('display', 'block');
                            }
                            return 1;
                        }

                    } else {
                        if (isSubDomain) {
                            $('#iconCheckSubdomain').css('display', 'block');
                            $('#ErrSubDomainExist').css('display', 'none');
                        } else {
                            $('#iconCheckDomain').css('display', 'block');
                            $('#ErrDomainExist').css('display', 'none');
                        }                      
                       
                    }
                    

                }
            })
        }

    }

    function checkSubDomainBySubmit() {
        var checkSubDomain = $("input[name='CheckSubdomain']:checked").val();
        if (checkSubDomain == "true") {
            var SubDomain = $('#SubDomain').val().trim();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CheckUrlExist", "General")',
                data: {
                    url: SubDomain,
                    isSubDomain: true
                },
                success: function (status) {
                    if (status == 1) {
                        if (SubDomain == "@Model.SubDomain") {
                            $('#frm').submit();
                        } else {
                            $('#iconUnCheckSubdomain').css('display', 'block');
                            $('#iconCheckSubdomain').css('display', 'none');
                            $('#ErrSubDomainExist').css('display', 'block');
                        }
                    } else {
                        $('#iconUnCheckSubdomain').css('display', 'none');
                        $('#iconCheckSubdomain').css('display', 'block');
                        $('#ErrSubDomainExist').css('display', 'none');
                        $('#frm').submit();

                    }
                }
            })
        } else {
            var Domain = $('#Domain').val().trim();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("CheckUrlExist", "General")',
                data: {
                    url: Domain,
                    isSubDomain: false
                },
                success: function (status) {
                    if (status == 1) {
                        if (Domain == "@Model.Domain") {
                            $('#frm').submit();
                        } else {
                            $('#iconUnCheckDomain').css('display', 'block');
                            $('#iconCheckDomain').css('display', 'none');
                            $('#ErrDomainExist').css('display', 'block');
                        }
                    } else {
                        $('#iconUnCheckDomain').css('display', 'none');
                        $('#iconCheckDomain').css('display', 'block');
                        $('#ErrDomainExist').css('display', 'none');
                        $('#frm').submit();
                    }
                }
            })
        }

    }



</script>