﻿@model Com.SmoovPOS.Model.MerchantManagementModel
@using SmoovPOS.Utility.CustomHTMLHelper
@{
    ViewBag.Title = "Update Profile";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}


<script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
<link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />

<style>
    .update_profile .right {
        text-align: right;
        padding-right: 40px;
    }

    .pull-right {
        z-index: 10;
        right: 0px;
        top: 2px;
        padding: 5px 40px;
        position: absolute;
        /* font-weight: 300; */
        color: #9e9e9e;
        font-size: 16px;
    }

    .form-group-smoov {
        margin-bottom: 0px;
    }
    .update_profile label {
        font-weight: bold
    }
</style>
@{
   string dateDoBStr = string.Empty;
  string dateStartStr = string.Empty;
  }
@using (Html.BeginForm("UpdateProfile", "General", FormMethod.Post, new { @encType = "multipart/form-data", @id = "frm" }))
{
    <input type="hidden" name="idMerchant" value="@Model.merchantID" />
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3>Merchant Profile</h3>
        </div>
        <div class="col-md-8">
            <button type="button" name="Submit" class="btn btn-default-smoov submit" onclick="location.href='@Url.Action("UpdateProfile", "General")'">Update</button>
            <button type="button" name="Submit" class="btn btn-default-smoov submit" onclick="location.href='@Url.Action("ChangePassword", "General")'">Change Password</button>
            <button onclick="location.href='@Url.Action("Index", "Home")';return false;" class="btn btn-default" style="margin-right:5px;">Cancel</button>
        </div>
    </div>
    <div class="col-md-12 lineStyle"><hr /></div>
    <div class="q-form update_profile">
        @Html.AntiForgeryToken()
        <div class="form-horizontal">

            <div class="col-md-4">
                <h4>Business Details</h4>
                <h5>Your store information shows up on your storefront. Subdomain or domain help to connect to you online shop.</h5>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">@Html.LocalizedLabel("businessName")</label>
                            <p>@Model.businessName</p>
                           </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">@Html.LocalizedLabel("email") </label>
                            <p>@Model.email</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">@Html.LocalizedLabel("SubDomain")</label>
                            <p>@(Model.CheckSubdomain==true?Model.SubDomain: Model.Domain)</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">@Html.LocalizedLabel("TitleHomePage") </label>
                            <p>@Model.titleHomePage</p>
                        </div>
                    </div>
                </div>              
            </div>
        </div>
        @* -----------------------End Information Detail----------------------- *@
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("ProfileInformation") </h4>
                <h5>@Html.LocalizedLabel("AllInformation")</h5>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">@Html.LocalizedLabel("MerchantName") </label>
                            <p>@Model.firstName @Model.lastName </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">@Html.LocalizedLabel("Birthday")</label>
                            @if (Model.birthday != null)
                            {
                                DateTime bd = Model.birthday.GetValueOrDefault();
                                dateDoBStr = bd.ToString(SmoovPOS.Common.ConstantSmoovs.DefaultFormats.JqueryDate);
                            }
                            <p>@dateDoBStr</p>
                        </div>
                    </div>
                </div>            
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">@Html.LocalizedLabel("MobileNumber")</label>
                            <p>@(!string.IsNullOrEmpty(Model.phoneRegion) ? "" + Model.phoneRegion + " " + Model.phone : "") </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">@Html.LocalizedLabel("servicePacketStartDate")</label>
                            @if (Model.servicePacketStartDate != null)
                            {
                                DateTime bd = Model.servicePacketStartDate.GetValueOrDefault();
                                dateStartStr = bd.ToString(SmoovPOS.Common.ConstantSmoovs.DefaultFormats.JqueryDate);
                            }
                            else
                            {
                                dateStartStr = string.Empty;
                            }
                           <p>@Html.DisplayFor(model => dateStartStr)</p>
                        </div>
                    </div>
                </div>    
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">@Html.LocalizedLabel("Address") </label>
                            <p>@(Model.address != null ? Model.address : "")@(Model.city != null ? ", " + Model.city : "")@(Model.region != null ? ", " + Model.region : "")@(Model.zipCode != null ? " " + Model.zipCode : "")@(Model.country != null ? ", " + Model.country : "")</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for=""></label>
                            <p></p>
                        </div>
                    </div>
                </div>    
                         
            </div>
        </div>
        <div class="col-md-12 lineStyle"><hr /></div>
        <div class="q-toolsbar">
            <div class="col-md-4">
              
            </div>
            <div class="col-md-8">
                <button type="button" name="Submit" class="btn btn-default-smoov submit" onclick="location.href='@Url.Action("UpdateProfile", "General")'">Update</button>
                <button type="button" name="Submit" class="btn btn-default-smoov submit" onclick="location.href='@Url.Action("ChangePassword", "General")'">Change Password</button>
                <button onclick="location.href='@Url.Action("Index", "Home")';return false;" class="btn btn-default" style="margin-right:5px;">Cancel</button>
            </div>
        </div>

    </div>
}
