﻿@using SmoovPOS.UI.Models;
@model SmoovPOS.UI.Models.DiscountInformation
@using SmoovPOS.Utility.CustomHTMLHelper

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}
<style>
    .unlimit {
        margin-top: 30px;
    }

    #searchProduct {
        max-width: none;
    }

    .listproduct {
        height: 235px !important;
    }

    .listproductItem {
        border: 1px solid #D3D2D2;
        height: 200px;
        overflow-y: auto;
    }

    .productItem {
        margin: 10px;
    }

    .buttonApply {
        width: 100px;
        margin-top: 10px;
    }

    .trproduct td {
        vertical-align: inherit;
    }

    .q-toolsbarbottom {
        text-align: right;
        margin-top: 125px;
    }

    label {
        line-height: 24px;
    }

    .modal-footer button {
        width: 80px;
    }
</style>

<script type="text/javascript" src="~/Scripts/underscore.js"></script>
<script type="text/javascript" src="~/Content/jquery.datetimepicker.js"></script>
<link href="~/Content/jquery.datetimepicker.css" rel="stylesheet" type="text/css" />

@using (Html.BeginForm("Edit", "Discount", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    <input type="hidden" name="discount_id" value="@Model.discount._id" />
    <div class="q-discount">
        <div class="q-toolsbar">
            <div class="col-md-4">
                <h3><span class="parant-title">Discount / Edit </span>/ @Model.discount.name</h3>
            </div>
            <div class="col-md-8">
                <button type="button" id="checkSubmit" name="checkSubmit" class="btn btn-primary">Save</button>
                <button data-toggle="modal" data-target="#myModalExpire" class="btn btn-danger">Expire</button>
                <button data-toggle="modal" data-target="#myModal" class="btn btn-danger">Delete</button>
                <button onclick="location.href='@Url.Action("Detail", "Discount", new { id = Model.discount._id, isExpired = true })';return false;" class="btn btn-default" style="margin-right:5px;">Cancel</button>
                <button type="submit" id="submit" class="btn btn-primary" style="display:none">Create</button>
            </div>
        </div>

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        <div class="q-content">
            <div class="form-horizontal">
                <div class="col-md-4">
                    @*<h4>Discount Detail</h4>
                    <h5>Create your discount code, and specify the usage limit.</h5>*@
                    <h4>@Html.LocalizedLabel("discountDetail")</h4>
                    <p>@Html.LocalizedLabel("discountDescript")</p>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="col-md-6">
                            <label for="discountName"><strong>Name</strong></label><span style="color:red"> * </span>
                            <input type="text" class="form-control" id="discountName" name="discountName" maxlength="50" value="@Model.discount.name">
                            <label id="ErrName" style="display:none" class="validation-summary-errors">The Name field is required.</label>
                        </div>
                        <div class="col-md-4">
                        </div>
                        <div class="col-md-2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                            <div><label for="discountType"><strong>Type</strong></label></div>
                            <div>
                                <select id="discountType" name="discountType" class="form-control">
                                    <option value="0" @(Model.discount.type == 0 ? "selected=selected" : "")>Percent</option>
                                    <option value="1" @(Model.discount.type == 1 ? "selected=selected" : "")>Value</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label for="discountName"><strong>Discount</strong></label><span style="color:red"> * </span>
                            <input type="text" class="form-control" id="discountValue" name="discountValue" maxlength="50" value="@String.Format("{0:0.00}", @Model.discount.discountValue)">
                            <label id="ErrDiscount" style="display:none" class="validation-summary-errors">The Discount field is required.</label>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

            <div class="form-horizontal">
                <div class="col-md-4">
                    <h4>Date Range</h4>
                </div>
                <div class="col-md-8">
                    <div class="form-group">
                        <div class="col-md-3">
                            <label for="birthday"><strong>Begin Date</strong></label>
                            <div id="beginDateStyle1" class="input-append date">
                                <input type="text" class="form-control" id="beginDate" name="beginDate" value="@TimeZoneInfo.ConvertTimeFromUtc(Model.discount.beginDate, TimeZoneInfo.FindSystemTimeZoneById(ViewBag.TimeZoneFullName)).ToString("yyyy/MM/dd H:mm")" />
                                <label id="ErrbeginDate" style="display:none" class="validation-summary-errors">The begin date is required.</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <label><input style="display: inline-block;" type="checkbox" id="neverExpires" name="neverExpires" onchange="expires()" value="true" @(Model.discount.neverExpired ? "checked='checked'" : "") /><strong>&nbsp;Never Expire</strong></label>

                            <div id="beginDateStyle2" class="input-append date">
                                <input type="text" class="form-control" id="endDate" name="endDate" value="@(Model.discount.neverExpired ? "" : TimeZoneInfo.ConvertTimeFromUtc(Model.discount.endDate, TimeZoneInfo.FindSystemTimeZoneById(ViewBag.TimeZoneFullName)).ToString("yyyy/MM/dd H:mm"))" />
                                <label id="ErrendDate" style="display:none" class="validation-summary-errors">The end date is required.</label>
                                <label id="ErrendAfter" style="display:none" class="validation-summary-errors">end date must be after begin date.</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

            <div class="form-horizontal">
                <div class="col-md-4">
                    <h4>Apply for Products</h4>
                    <h5>Select product you want to apply this discount.</h5>
                    <div class="">
                        <button data-toggle="modal" data-target="#myModalEdit" class="btn btn-primary buttonApply" id="buttonApply">Add</button>
                    </div>
                </div>
                <div class="col-md-8">
                    <div id="ListProductsApply">
                        <div class="loading" style="display:none">
                            <i class="fa fa-spinner fa-spin"></i>
                        </div>
                        @if (@Model.discount.ListProductItems.Count > 0)
                        {
                            { Html.RenderPartial("~/Views/Discount/SelectProduct.cshtml", Model); }
                        }
                    </div>
                </div>
            </div>

            <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        </div>

        <div class="q-toolsbar">
            <div class="col-md-4">
            </div>
            <div class="col-md-8">
                <button type="button" id="checkSubmit1" name="checkSubmit1" class="btn btn-primary">Save</button>
                <button data-toggle="modal" data-target="#myModalExpire" class="btn btn-danger">Expire</button>
                <button data-toggle="modal" data-target="#myModal" class="btn btn-danger">Delete</button>
                <button onclick="location.href='@Url.Action("Detail", "Discount", new { id = Model.discount._id, isExpired = true })';return false;" class="btn btn-default" style="margin-right:5px;">Cancel</button>
            </div>
        </div>

        <!-- MODEL Add product-->
        <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Select Product</h4>
                    </div>
                    <div class="modal-body">
                        <div class="form-group" style="height:30px !important;">
                            <div><label>Select Category</label></div>
                            <div>
                                <select id="category" name="category" class="form-control">
                                    <option value="all">All categories</option>
                                    @foreach (var cate in Model.listCategories)
                                    {
                                        <option value="@cate._id">@cate.title</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="margin-top:60px;">
                            <input type="text" id="searchProduct" name="searchProduct" placeholder="Product name" class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="checkbox" id="checkAll" /> Check all
                        </div>
                        <ul class="form-group listproductItem">
                            @foreach (var prod in Model.listProductItems)
                            {
                                var check = Model.listDiscountProductItems.Select(l => l.productID).ToList().Contains(prod.productID) ? "checked" : "";
                                var disableproduct = Model.listDiscountProductItems.Select(l => l.productID).ToList().Contains(prod.productID) ? "disabled" : "";
                                var message = disableproduct == "disabled" ? "*" : "";
                                <li class="productItem" data-type="@prod.categoryId">
                                    <label><input type="checkbox" id="@prod.productID" @check @disableproduct />&nbsp;&nbsp;@prod.title&nbsp;@message</label>
                                </li>
                            }
                        </ul>
                        <p>*&nbsp;Already in another discount.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary selectProduct" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-default cancelSelect" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- MODEL  Add product-->
        <!-- modal delete discount -->
        <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 350px;">
                    <div class="modal-body">
                        Are you sure you want to delete this Discount?
                    </div>
                    <div class="modal-footer">
                        <button onclick="location.href='@Url.Action("Delete", "Discount", new {id = Model.discount._id })';return false;" class="btn btn-primary">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- modal expire discount -->
        <div class="modal fade" id="myModalExpire" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 350px;">
                    <div class="modal-body">
                        Are you sure you want to expire this Discount?
                    </div>
                    <div class="modal-footer">
                        <button onclick="location.href='@Url.Action("updateStatus", "Discount", new { id = Model.discount._id, status = false })';return false;" class="btn btn-primary">Yes</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
<script type="text/javascript" src="~/Scripts/smoovposLibrary.js"></script>
<script>
    var selectProduct = [];

    $(function () {
        $("#beginDate").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            return false;
        });
        $("#endDate").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            return false;
        });
        $('#discountValue').maskMoney();
        var check = $('#neverExpires').is(':checked');
        if (check) {
            $('#beginDateStyle2').hide();
        } else {
            $('#beginDateStyle2').show();
        }
        
        $("#discountValue").keydown(function (e) {
            // Allow: backspace, delete, tab, escape, enter and .
            if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                // Allow: Ctrl+A
                (e.keyCode == 65 && e.ctrlKey === true) ||
                // Allow: home, end, left, right
                (e.keyCode >= 35 && e.keyCode <= 39)) {
                // let it happen, don't do anything
                return;
            }
            // Ensure that it is a number and stop the keypress
            if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                e.preventDefault();
            }

            if (($("#discountType").val() == 0 && $("#discountValue").val() >= 100)) {
                e.preventDefault();
            }
        });

        $("#discountValue").change(function () {
            if (($("#discountType").val() == 0 && $("#discountValue").val() > 100)) {
                $("#discountValue").val("100");
            }
        })

        $('#beginDate').datetimepicker({
            minDate: 0,
            onShow: function (ct) {
                this.setOptions({
                    maxDate: jQuery('#endDate').val() ? jQuery('#endDate').val() : false
                })
            },
            format: 'Y/m/d H:00',
            timepicker: true
        });
        $('#endDate').datetimepicker({
            minDate: 0,
            onShow: function (ct) {
                this.setOptions({
                    minDate: jQuery('#beginDate').val() ? jQuery('#beginDate').val() : false
                })
            },
            format: 'Y/m/d H:00',
            timepicker: true
        });

        $("#checkSubmit1").click(function () {
            $("#checkSubmit").click();
        });

        filterProducts($("#category").val(), "");

        $("#checkSubmit").click(function () {
            var check = true;
            var name = $('#discountName').val().trim();
            var discount = $('#discountValue').val().trim();
            var beginDate = $('#beginDate').val().trim();
            var endDate = $('#endDate').val().trim();
            var begin = new Date($('#beginDate').val());
            var end = new Date($('#endDate').val());
            if (end < begin) {
                $('#ErrendAfter').css('display', 'block');
                check = false;
            } else {
                $('#ErrendAfter').css('display', 'none');
            }

            if (name.length < 1) {
                $('#ErrName').css('display', 'block');
                check = false;
            } else {
                $('#ErrName').css('display', 'none');
            }
            if (discount.length < 1) {
                $('#ErrDiscount').css('display', 'block');
                check = false;
            } else {
                $('#ErrDiscount').css('display', 'none');
            }
            if (beginDate.length < 1) {
                $('#ErrbeginDate').css('display', 'block');
                check = false;
            } else {
                $('#ErrbeginDate').css('display', 'none');
            }

            var checkExpires = $('#neverExpires').is(':checked');
            if (!checkExpires) {
                if (endDate.length < 1) {
                    $('#ErrendDate').css('display', 'block');
                    check = false;
                } else {
                    $('#ErrendDate').css('display', 'none');
                }
            }
            //submit form
            if (check) {
                $('#checkSubmit').prop('disabled', true);
                $("#submit").click();
            }

        });

        var selectedProducts = $('.trproduct td input:hidden');

        for (i = 0; i < selectedProducts.length; i++) {
            selectProduct.push(selectedProducts[i].value);
        }

        $("#category").change(function () {
            filterProducts($("#category").val(), $("#searchProduct").val());
            checkCheckAll();
        });

        $("#searchProduct").keyup(function () {
            filterProducts($("#category").val(), $("#searchProduct").val());
            checkCheckAll();
        });

        $(".listproductItem li input:checkbox").change(function () {
            checkCheckAll();
        });

        $('#myModalEdit').on('shown.bs.modal', function () {
            $("#searchProduct").val("");
            filterProducts($("#category").val(), $("#searchProduct").val());
            for (var i = 0; i < $(".listproductItem li input:checkbox").length; i++) {
                var checkboxid = $(".listproductItem li input:checkbox")[i].id;
                if (selectProduct.indexOf(checkboxid) > -1) {
                    $("#" + checkboxid).prop('checked', true);
                }
                else {
                    $("#" + checkboxid).prop('checked', false);
                }
            }
            checkCheckAll();
        })

        $('#myModalEdit').on('hidden.bs.modal', function () {
            checkCheckAll();
        })

        $('.selectProduct').click(function () {
            selectProduct = []
            var checkedProductsFromModal = $(".listproductItem li input:checked");
            for (var i = 0; i < $(".listproductItem li input:checked").length; i++) {
                var checkboxidFromModal = $(".listproductItem li input:checked")[i].id;
                selectProduct.push(checkboxidFromModal);
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("SelectProduct", "Discount")',
                data: {
                    selectProduct: selectProduct
                },
                success: function (result) {
                    $("#ListProductsApply").html(result);
                },
                beforeSend: function () {
                    $('.loading').css("display", "block");

                },
                complete: function () {
                    $('.loading').css("display", "none");
                }
            });
        });

        $("#checkAll").change(function () {
            var availableProducts = $(".listproductItem li input:checkbox");
            if ($("#checkAll").is(":checked")) {
                $(".listproductItem li input:enabled").each(function () {
                    if (this.parentNode.parentNode.style.display == "list-item") {
                        this.checked = true;
                    }
                });
            }
            else {
                $(".listproductItem li input:enabled").each(function () {
                    if (this.parentNode.parentNode.style.display == "list-item") {
                        this.checked = false;
                    }
                });
            }
        });
    });

    function checkCheckAll() {
        if ($(".listproductItem li[style='display: list-item;'] input:checked:enabled").length < $(".listproductItem li[style='display: list-item;'] input:enabled").length) {
            $("#checkAll").prop('checked', false);
        }
        else {
            if ($(".listproductItem li[style='display: list-item;'] input:checked:enabled").length == 0) {
                $("#checkAll").prop('checked', false);
            }
            else {
                $("#checkAll").prop('checked', true);
            }
        }
    }

    function expires() {
        var check = $('#neverExpires').is(':checked');
        if (check) {
            $('#beginDateStyle2').hide();
        } else {
            $('#beginDateStyle2').show();
        }
    }

    function showProductByCategory(category) {
        $(".listproductItem li").hide();
        $(".listproductItem li[data-type='" + category + "']").show();
    }

    function filterProducts(category, input) {
        $(".listproductItem li").hide();
        if (category == "all") {
            if (input == undefined || (input != undefined && input.trim() == "")) {
                $(".listproductItem li").show();
            }
            else {
                $(".listproductItem li:contains('" + input + "')").show();
            }
        }
        else {
            if (input != undefined && input.trim() != "") {
                $(".listproductItem li[data-type='" + category + "']:contains('" + input + "')").show();
            }
            else {
                $(".listproductItem li[data-type='" + category + "']").show();
            }
        }
    }
    function saveProduct() {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("SelectProduct", "Discount")',
            data: {
                selectProduct: selectProduct
            },
            success: function (status) {
                if (status == false) {
                    alert('please try again.');
                }
            }
        });
    }
    function deleteProduct(self) {
        var product_id = $(self).parents("tr").find("input:hidden")[0].value;
        var indexItem = selectProduct.indexOf(product_id);
        selectProduct.splice(indexItem, 1);
        $(".listproductItem li input:checkbox").filter("[id='" + product_id + "']").attr('checked', false);
        $(self).parents("tr").remove();

    }

    function getTodaysDate(val) {
        var t = new Date, day, month, year = t.getFullYear();
        if (t.getDate() < 10) {
            day = "0" + t.getDate();
        }
        else {
            day = t.getDate();
        }
        if ((t.getMonth() + 1) < 10) {
            month = "0" + (t.getMonth() + 1 - val);
        }
        else {
            month = t.getMonth() + 1 - val;
        }

        return (day + '/' + month + '/' + year);
    }

    $.expr[":"].contains = $.expr.createPseudo(function (arg) {
        return function (elem) {
            return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
        };
    });
</script>