﻿@using SmoovPOS.Utility.CustomHTMLHelper

@model SmoovPOS.UI.Models.TableOrderViewModel

@{
    //ViewBag.Title = "My Cart";
    string isAuthenticated = "false";
    if (HttpContext.Current.Session[SmoovPOS.Common.ConstantSmoovs.Users.userName] != null && !string.IsNullOrEmpty(HttpContext.Current.Session[SmoovPOS.Common.ConstantSmoovs.Users.userName].ToString()))
    {
        isAuthenticated = "true";
    }
    int count = 0;
    int countOfCheckedVariant = 0;
    if (Model.listProductItems != null)
    {
        foreach (var item in Model.listProductItems)
        {
            foreach (var variant in item.arrayVarient)
            {
                count++;
                if (variant.isCheckedToCheckOut) { countOfCheckedVariant++; }
            }
        }
    }
    var selectAll = (count == countOfCheckedVariant) ? "checked" : "";
    var btnPay = Html.LocalizedButton("PAY");
    if (!Model.isHost)
    {
        btnPay = Html.LocalizedButton("SUBMIT");
    }
    btnPay = string.Format("{0} {1} {2}", btnPay, Model.currency, Model.receiptValue.grandTotal);
}

<style>
    .col-md-6 {
        padding-left: 0px;
        padding-right: 0px;
    }

    .loading {
        display: block;
    }

    .discount-product-cart {
        max-width: 110px;
        max-height: 90px;
    }

    .header-Cart-Backgroud {
        background: #F4F4F4;
    }

    .tablecart tbody tr {
        /*height: 100px !important;*/
    }

    .fix-image-cart {
        max-height: 80px;
    }
</style>

@*<div class="cart-title"><h4>MY CART(@count items)</h4><p></p></div>
    <div class="q-select-varient"></div>*@
@if (@count > 0)
{
    var totalVariantItem = 0;
    var isStock = "";
    <div class="q-content" style="margin-top:15px">
        <div id="cartToCheckout" class="q-mycart">
            <table class="table tablecart">
                <tbody>
                    @if (Model.listProductItems.Count() > 0)
                    {
                        foreach (var item in Model.listProductItems)
                        {
                            foreach (var variant in item.arrayVarient)
                            {
                                <tr id="variantSku_@(variant._id + item.userOwner)" class="item_cart">
                                    <td>
                                        <table width="100%">
                                            <tr>
                                                @{
                                var tmpImage = variant.image.imageDetault;
                                var imagePath = "";

                                if (tmpImage != null && tmpImage.Length > 4)
                                {
                                    imagePath = variant.image.imageDetault;
                                }
                                else
                                {
                                    if (tmpImage != null && int.Parse(tmpImage) == 0)
                                    {
                                        if (variant.image.arrayImage != null && variant.image.arrayImage.Count() > 0)
                                        {
                                            imagePath = variant.image.arrayImage[int.Parse(variant.image.imageDetault)];
                                        }
                                        else
                                        {
                                            imagePath = Url.Content("~/Content/images/imageDefault.png");
                                        }
                                    }
                                    else if (tmpImage != null && int.Parse(tmpImage) > 0)
                                    {
                                        imagePath = variant.image.arrayImage[int.Parse(variant.image.imageDetault)];
                                    }
                                    else
                                    {
                                        imagePath = variant.image.imageDetault;
                                    }
                                }

                                double variantPrice = variant.price;
                                double variantPriceDiscount = variant.price;
                                var isProductSelected = variant.isCheckedToCheckOut ? "checked" : "";
                                var isDisplayWarningOfVariantQuantity = (variant.quantityInStock >= 0 && variant.quantity > variant.quantityInStock) ? "block" : "none";
                                if (variant.quantity > variant.quantityInStock && variant.quantityInStock >= 0)
                                {
                                    isStock = "disabled='disabled'";
                                }
                                var isDisplayDecrease = (variant.quantity > 1) ? "" : "disabled='disabled'";

                                totalVariantItem = totalVariantItem + variant.quantity;
                                                }
                                                @*<td style="padding-left:8px!important;vertical-align:middle;">
                                                        <input type="checkbox" class="checkbox" id="@variant.sku" @isProductSelected onchange="selectCheckBox('@item._id','@variant.sku');" />
                                                    </td>*@
                                                <td width="30%">
                                                    <div class="discount-product-cart">
                                                        @if (item.discount)
                                                        {
                                                            var discountbanner = item.DiscountProductItem.type == 0 ? item.DiscountProductItem.discountValue + " %" : ViewBag.currency + " " + item.DiscountProductItem.discountValue;
                                                            // variantPriceDiscount = item.DiscountProductItem.type == 0 ? variantPriceDiscount - variantPriceDiscount * item.DiscountProductItem.discountValue / 100 : variantPriceDiscount - item.DiscountProductItem.discountValue;
                                                            variantPriceDiscount = item.DiscountProductItem.type == 0 ? variantPriceDiscount - (double)Math.Round((decimal)Decimal.Parse(@String.Format("{0:0.00}", variantPriceDiscount * item.DiscountProductItem.discountValue / 100)), 2) : variantPriceDiscount - item.DiscountProductItem.discountValue;

                                                            variantPriceDiscount = variantPriceDiscount > 0 ? variantPriceDiscount : 0;
                                                        }

                                                        <img id="q-img-large" src="@(!string.IsNullOrEmpty(imagePath) ? imagePath : Url.Content("~/Content/images/imageDefault.png"))"
                                                             data-holder-rendered="true" class="img-responsive img-thumbnail fix-image-cart">
                                                    </div>
                                                </td>

                                                <td style="text-align:left;vertical-align:middle;">
                                                    <div class="titleitem"> @item.name</div>
                                                    <span>@variant.title @variant.color @variant.size</span>
                                                    @if (!string.IsNullOrEmpty(variant.variantRemark))
                                                    {
                                                        <br />
                                                        <span style="font-style:italic">* @variant.variantRemark</span>
                                                    }
                                                </td>

                                                <td style="vertical-align:middle;" width="25%">
                                                    <div id="warning-qty-varient-@(variant._id + item.userOwner)" style="color:red;font-style:italic;display:@isDisplayWarningOfVariantQuantity;">Only @variant.quantityInStock item(s) left.</div>
                                                    <button type="button" id="btnDecrease-@(variant._id + item.userOwner)" @isDisplayDecrease class="btn btn-default btnDecrease" style="width: 50px;display:none;" onclick="DecreaseQty('@(variant._id + item.userOwner)','@item._id',@variant.quantityInStock); return false;"><strong>-</strong></button>
                                                    <input id="qtyvarient__@(variant._id + item.userOwner)" name="qtyvarient" class="q-qtyvarient form-control" value="@variant.quantity" oninput="changeQuantity('@(variant._id + item.userOwner)','@item._id',@variant.quantityInStock);" pattern="[0-9]+([,\.][0-9]+)?" style="width:50px;display:inline!important;text-align: center;" size="9" maxlength="9" min="1" />
                                                    <button type="button" id="btnIncrease-@(variant._id + item.userOwner)" class="btn btn-default btnDecrease" style="width: 50px;display:none;" onclick="IncreaseQty('@(variant._id + item.userOwner)','@item._id',@variant.quantityInStock); return false;"><strong>+</strong></button>
                                                    @*</td>
                                                        <td style="vertical-align:middle;">*@
                                                    <br />
                                                    @{
                                                        //   var totalItem1 =  (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}",  variantPriceDiscount)))*variant.quantity;
                                                        var totalItem = 0.00;
                                                        if (item.DiscountProductItem != null && item.discount)
                                                        {
                                                            if (item.DiscountProductItem.type == 0)
                                                            {
                                                                var saveMoney = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (variant.price * variant.quantity * item.DiscountProductItem.discountValue / 100))), 2);
                                                                totalItem = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (variant.price * variant.quantity) - saveMoney)), 2);
                                                            }
                                                            else
                                                            {
                                                                totalItem = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", (variant.price * variant.quantity) - item.DiscountProductItem.discountValue * variant.quantity)), 2);
                                                                totalItem = totalItem > 0 ? totalItem : 0.00;
                                                            }
                                                        }
                                                        else
                                                        {
                                                            totalItem = (double)Math.Round((decimal)Decimal.Parse(String.Format("{0:0.00}", variant.price * variant.quantity)), 2);
                                                        }

                                                    }
                                                    <div class="control-group">
                                                        <span>@ViewBag.currency </span><span class="currentsubTotal" id="totalItem-@(variant._id + item.userOwner)">@String.Format("{0:0.00}", totalItem)</span>
                                                        <br />
                                                        @if (Model.isHost)
                                                        {
                                                            <span>@item.userID</span>
                                                        }
                                                        else
                                                        {
                                                            <span>@SmoovPOS.Common.ConstantSmoovs.StationTable.Me</span>
                                                        }
                                                    </div>
                                                </td>

                                                <td style="vertical-align:middle;" width="5%">
                                                    <a href="#" data-toggle="modal" data-target="#modalDelete" onclick="removeProductItem('@(variant._id + item.userOwner)','@item._id'); return false;"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    <tr class="item_cart" style="height:100%!important">
                        <td>
                            <textarea id="comment" style="width:100%" rows="3" placeholder="@Html.LocalizedMessage("RemarkTableOrder")"></textarea>
                        </td>
                    </tr>
                    <tr class="item_cart" style="height:100%!important">
                        <td style="background: #F4F4F4">
                            <table width="100%">
                                <tr width="100%" style="height:100%!important">
                                    <td><span>@Html.LocalizedLabel("TotalItem")</span></td>
                                    <td style="text-align:right">
                                        <span id="totalVariantItem">@totalVariantItem</span>
                                    </td>
                                </tr>
                                <tr width="100%" style="height:100%!important">
                                    <td><span>@Html.LocalizedLabel("SubTotal")</span></td>
                                    <td style="text-align:right">
                                        @{
                    var total = Model == null || Model.listProductItems == null || Model.listProductItems.Count == 0
                    ? 0
                    : Model.receiptValue.subTotal;

                    string tax = string.Format("{0:N}", 0);
                    string taxtDisplay = "";
                                        }
                                        <span id="subtotal">@ViewBag.currency @String.Format("{0:0.00}", total)</span>
                                    </td>
                                </tr>
                            </table>
                            <div id="taxDIV">

                                <table width="100%">
                                    @if (Model.receiptValue.serviceChargeRate >= 0)
                                    {
                                        taxtDisplay = string.Format("Service Charge ({0}%)", Model.receiptValue.serviceChargeRate);
                                        <tr width="100%" style="height:100%!important">
                                            <td><span>@taxtDisplay</span></td>
                                            <td style="text-align:right">
                                                <span class="p-right">
                                                    @ViewBag.currency @String.Format("{0:0.00}", Model.receiptValue.serviceCharge)
                                                </span>
                                            </td>
                                        </tr>
                                    }
                                    @if (Model.receiptValue.listTaxOrder != null)
                                    {
                                        foreach (Com.SmoovPOS.Entity.TaxValue item in Model.receiptValue.listTaxOrder)
                                        {
                                            taxtDisplay = string.Format("{0} ({1}%)", item.taxName, item.percent);
                                            <tr width="100%" style="height:100%!important">
                                                <td><span>@taxtDisplay</span></td>
                                                <td style="text-align:right">
                                                    <span class="p-right">
                                                        @ViewBag.currency @String.Format("{0:0.00}", item.taxValue)
                                                    </span>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </table>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                @*<div class="message" style="text-align: center; color: red;">
                        @if (isStock != "")
                        {
                            <div class='q-alert'>Out of stock.</div>
                        }
                    </div>*@
                <button type="button" class="btn btn-success btn-block" id="btnSave" @isStock>@btnPay</button>
            </div>
        </div>
    </div>
}
else
{
    <div style="margin-top:15px;margin-left:10px;">There is no item in cart.</div>
}
<!-- modal delete collection -->
<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" style="margin-top: 80px;">
        <div class="modal-content">
            <div class="modal-body">
                @Html.LocalizedMessage("ConfirmDelete")
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hfvariantid" value="" />
                <input type="hidden" id="hfitemid" value="" />
                <button onclick="confirmDelete()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedButton("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedButton("No")</button>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalSubmited" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 80px;">
        <div class="modal-content">
            <div class="modal-body">
                @Html.LocalizedMessage("ConfirmUpdatedToHost")
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedButton("OK")</button>

            </div>
        </div>
    </div>
</div>
<script>
    function confirmDelete()
    {
        var variantId= $('#hfvariantid').val();
        var productId= $('#hfitemid').val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("removeProductItem", "TableOrder")',
            data: {variantId:variantId,productId:productId},
            success: function (result) {
                if(result.success == true)
                {
                    if (result.isRemoveClient == true) {
                        SendMessageTableOrder('@SmoovPOS.Common.ConstantSmoovs.StationTable.RemoveItemTableOrder');
                    }
                    LoadMyCart();
                }
            },
            error: function (error) {
            },
            beforeSend: function () {
                //Display loading gif
                //$('.loading').css("display", "block");
                $('#btnSave').text('Processing...');
                $('#btnSave').prop('disabled', true);
            },
            complete: function () {
                //Hidden loading gif
                //$('.loading').css("display", "none");
                //$('#btnSave').text(btnPayJS);
                $('#btnSave').prop('disabled', false);
                $('#modalDelete').modal('hide');
            }
        });
    }
    function removeProductItem(variantId,productId) {
        $('#hfvariantid').val(variantId);
        $('#hfitemid').val(productId);
    }
    function DecreaseQty(variantId, productItemId, quantityInStock) {
        //console.log($("#qtyvarient__" + variantId).val());
        var count =parseInt($("#qtyvarient__" + variantId).val()) - 1;
        $("#qtyvarient__" + variantId).val(count);
        //console.log(count);

        if (quantityInStock >=0 && count < quantityInStock) {
            $('#btnIncrease-' + variantId).removeAttr('disabled');
            $('#warning-qty-varient-' + variantId).css('display', 'none');
        }
        if (count <= 1) {
            $('#btnDecrease-' + variantId).attr('disabled', 'disabled');
        }

        changeQuantity(variantId, productItemId, quantityInStock);
    }
    function IncreaseQty(variantId, productItemId, quantityInStock) {
        //console.log($("#qtyvarient__" + variantId).val());
        var count =parseInt($("#qtyvarient__" + variantId).val()) + 1;
        $("#qtyvarient__" + variantId).val(count);
        //console.log(count);

        $('#btnDecrease-' + variantId).removeAttr('disabled');
        if (quantityInStock >=0 && count > quantityInStock) {
            $('#btnIncrease-' + variantId).attr('disabled', 'disabled');
            $('#warning-qty-varient-' + variantId).css('display', 'block');
        }

        changeQuantity(variantId, productItemId, quantityInStock);
    }
    function changeQuantity(variantId, productItemId, quantityInStock) {
        var Qty = $("#qtyvarient__" + variantId).val();
        if (Qty == '') {
            $('#btnSave').prop('disabled', true);
            return;
        }

        if(parseInt(Qty)==0){
            $('.q-select-varient').html("<div class='q-message'>Please enter quantity greater than 0.</div>");
            data.forEach(function(product){
                product.arrayVarient.forEach(function(item){
                    if((item._id + product.userOwner)==variantId){
                        $("#qtyvarient__" + variantId).val(item.quantity);
                        Qty = $("#qtyvarient__" + variantId).val();
                    }
                })
            })
        }
        if (quantityInStock >=0 && Qty > quantityInStock) {
            $('#btnIncrease-' + variantId).attr('disabled', 'disabled');
            $('#warning-qty-varient-' + variantId).css('display', 'block');
        }
        else {
            $('#warning-qty-varient-' + variantId).css('display', 'none');
        }
        if(parseInt(Qty)>1){
            $('#btnDecrease-' + variantId).removeAttr('disabled');
        }
        else {
            $('#btnDecrease-' + variantId).attr('disabled', 'disabled');
        }
        var formdata = {
            variantId: variantId,
            productItemId: productItemId,
            qty: Qty
        }
        //console.log(formdata);
        $.ajax({
            type: "POST",
            url: '@Url.Action("changeQuantity", "TableOrder")',
            data: formdata,
            success: function (result) {
                if(result.success == true)
                {
                    $('#q-cart-count').text(result.count);
                    $('#totalVariantItem').text(result.count);

                    $('#subtotal').text(result.total);
                    btnPayJS = result.btnPay;
                    $('#btnSave').text(btnPayJS);
                    $('#taxDIV').html(result.tax);
                    $('#totalItem-' + variantId).text(result.totalItem);

                    if (result.isStock == false) {
                        $('#btnSave').prop('disabled', false);
                    }
                    else {
                        $('#btnSave').prop('disabled', true);
                    }

                    if (result.isVariantStock == true) {
                        $('#warning-qty-varient-' + variantId).css('display', 'block');
                    }
                    if (result.isChangeClient == true) {
                        SendMessageTableOrder('@SmoovPOS.Common.ConstantSmoovs.StationTable.RemoveItemTableOrder');
                    }

                }
                //location.reload(true);
                //LoadMyCart();
            },
            error: function (error) {

            },
            beforeSend: function () {
                //Display loading gif
                //$('.loading').css("display", "block");
                $('#btnSave').text('Processing...');
                $('#btnSave').prop('disabled', true);
                //$('.message').html("");
                //$('.message').css("display","none");
            },
            complete: function () {
                //Hidden loading gif
                //$('.loading').css("display", "none");
                //$('#btnSave').text(btnPayJS);
            }
        });
    }
    var btnPayJS = '';
    $(document).ready(function() {
        $('#checkAll').click(function(event) {  //on click
            if(this.checked) { // check select status
                $('.checkbox').each(function() { //loop through each checkbox
                    this.checked = true;  //select all checkboxes with class "checkbox"
                });
            }else{
                $('.checkbox').each(function() { //loop through each checkbox
                    this.checked = false; //deselect all checkboxes with class "checkbox"
                });
            }
        });
        btnPayJS = '@btnPay';
        setResizeWindow() ;
    });

    function checkAllCheckBoxes() {
        //Display loading gif
        $('.loading').css("display", "block");

        var formdata = {
            isChecked: $('#checkAll').is(":checked")
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("checkAllMyCartItemToCheckOut", "TableOrder")',
            data: formdata,
            success: function () {
                location.reload(true);
            },
            error: function (error) {

            },
            beforeSend: function () {
                //Display loading gif
                $('.loading').css("display", "block");
            },
            complete: function () {
                //Hidden loading gif
                $('.loading').css("display", "none");
            }
        });
    }

    function selectCheckBox(productId, variantSku) {
        //Display loading gif
        $('.loading').css("display", "block");

        var checkBoxId = '#'+variantSku;

        var formdata = {
            productId: productId,
            variantSku: variantSku,
            isChecked: $(checkBoxId).is(":checked")
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("selectMyCartItemToCheckOut", "TableOrder")',
            data: formdata,
            success: function () {
                location.reload(true);
            },
            error: function (error) {

            },
            beforeSend: function () {
            },
            complete: function () {
            }
        });
    }

    $(".q-qtyvarient").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            //display error message
            //    $("#errmsg").html("Digits Only").show().fadeOut("slow");
            return false;
        }
    });

    var data = @(new HtmlString(Json.Encode(Model.listProductItems)));
    if(data && data.length>0){
        data.forEach(function(product){
            product.arrayVarient.forEach(function(variant){
                var regex = /(&nbsp;|<([^>]+)>)/ig
                ,   body = $('#variantSku_'+variant._id + " .col-md-8 span").text()
               ,   result = body.replace(regex, "");
                $('#variantSku_'+variant._id + " .col-md-8 span").text(result);
            })
        })
    }

    $("#checkOut").click(function(){
        var remark = $("#comment").val();

        $.ajax({
            url:'@Url.Action("CheckOut_OnClick", "TableOrder")',
            type:'POST',
            data:{
                remark : remark
            },
            success:function(result){
                if (parseInt(result) == 0) {
                    if (Boolean(@isAuthenticated)) {
                        //if customer is logged-in, redirect to Payment page
                        window.location.href = '@Url.Action("Payment", "TableOrder")';
                    }else{
                        //if customer is not logged-in, redirect to Check-out-as-member-or-guest page
                        window.location.href = '@Url.Action("CheckOut", "TableOrder")';
                    }
                }
                else if (parseInt(result) == 1) {
                    $('#ErrQuantityIsNotValid').css('display', 'block');
                }else if (parseInt(result) == 2) {
                    $('#ErrNothingIsChecked').css('display', 'block');
                }else if (parseInt(result) == 3) {
                    location.reload(true);
                }
            },
            error:function(error){
                console.error("not submit checkout");
            },
            beforeSend: function () {
                //Display loading gif
                $('.loading').css("display", "block");
                $('#checkOut').button('loading');
            },
            complete: function () {
                $('.loading').css("display", "none");
                $('#checkOut').button('reset');
            }
        });
    });

    $("#btnSave").click(function(){
        var remark = $("#comment").val();
        if ('@Model.isHost.ToString()' == 'True') {
            var url = '@Url.Action("Payment", "TableOrder", new { remark = "_remark_" })';
            url = url.replace( "_remark_",remark);
            location.href =url;
        }
        else{
            $.ajax({
                type: "POST",
                url: '@Url.Action("Payment", "TableOrder")',
                data:{
                    remark : remark
                },
                success: function (result) {
                    if (result.success == true) {
                        SendMessageTableOrder('@SmoovPOS.Common.ConstantSmoovs.StationTable.SubmitTableOrder');
                        $('#modalSubmited').modal('show');
                    }
                },
                error: function () {
                },
                beforeSend: function () {
                    SendMessageTableOrder();
                    $('#btnSave').text('Processing...');
                    $('#btnSave').prop('disabled', true);
                },
                complete: function () {
                    $('#btnSave').text(btnPayJS);
                    $('#btnSave').prop('disabled', false);
                }
            });
        }
    });
    $(window).resize(function () {
        setResizeWindow();
    });
    function setResizeWindow() {
        var viewportWidth = $(window).width();
        var viewportHeight = $(window).height();
        //console.log(viewportWidth);
        //console.log(viewportHeight);
        if (viewportWidth >= 768) {
            $('.btnDecrease').css("display","inline");
        }
        else {
            $('.btnDecrease').css("display","none");
        }
        //if (viewportWidth < 1080) {
        //    $('.price').attr('style', 'margin-top: -30px;');
        //}
        //else {
        //    $('.price').removeAttr('style');
        //}
    }
</script>