﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.TableOrderViewModel
@{
    Layout = "~/Views/Shared/_TableOrdering.cshtml";

}
<style>
    .hiddenDiv {
        display: none;
    }
</style>
<link rel="stylesheet" type="text/css" href="~/Content/theme_orderTable_responsive.css">
<div class="TableOrder_PayDone">
    <div class="Table_PayDone" style="">
        <div class="row">
            <div class="col-md-12 text-center">
                <h4>@Html.LocalizedLabel("ThankYouForPlacingOrder")</h4>
            </div>
            <div class="col-md-12 text-center">
                @Html.LocalizedLabel("PleaseKeepThisPage")<br />
            </div>
            <div class="col-md-12 text-center">
                <div style="height: 50px;"></div>
            </div>
            <div class="col-md-12 text-center">
                <img style="width: 20px;" src="~/Content/images/u9.png" /> @Html.LocalizedLabel("Status")
            </div>

        </div>

        <div class="row Table_Item">
            <div class="col-md-5 text-right">
                <span id="TimePlaceOrder">@Model.paymentDoneDate</span>
            </div>
            <div class="col-md-2 text-center">
                <div class="img-white-OrderPlaceOrder" style="display: none"><img src="~/Content/images/u24.png" /></div>
                <div class="img-red-OrderPlaceOrder"><img src="~/Content/images/u24_red.png" /></div>

            </div>
            <div class="col-md-5 text-left">
                @Html.LocalizedLabel("PlaceOrder")
            </div>
        </div>


        <div class="row Table_Item tableOrder_Confirmed hiddenDiv">
            <div class="col-md-12 text-center">
                <div><img src="~/Content/images/u23_line.png" style="height: 80px" /></div>
            </div>
            <div class="col-md-5 text-right">
                <span id="TimeOrderConfirmed"></span>
            </div>
            <div class="col-md-2 text-center">
                <div class="img-white-OrderConfirmed"><img src="~/Content/images/u24.png" /></div>
                <div class="img-red-OrderConfirmed" style="display: none"><img src="~/Content/images/u24_red.png" /></div>
            </div>
            <div class="col-md-5 text-left">
                @Html.LocalizedLabel("OrderConfirmed")
            </div>
        </div>

        <div class="row Table_Item tableOrder_Serving hiddenDiv">
            <div class="col-md-12 text-center">
                <div><img src="~/Content/images/u23_line.png" style="height: 80px" /></div>
            </div>
            <div class="col-md-5 text-right">
                <span id="TimeServing"></span>
            </div>
            <div class="col-md-2 text-center">
                <div class="img-white-Serving"><img src="~/Content/images/u24.png" /></div>
                <div class="img-red-Serving" style="display: none"><img src="~/Content/images/u24_red.png" /></div>
            </div>
            <div class="col-md-5 text-left">
                @Html.LocalizedLabel("Serving")
            </div>
        </div>

        <div class="row Table_Item tableOrder_Canceled hiddenDiv">
            <div class="col-md-12 text-center">
                <div><img src="~/Content/images/u23_line.png" style="height: 80px" /></div>
            </div>
            <div class="col-md-5 text-right">
                <span id="TimeCanceled"></span>
            </div>
            <div class="col-md-2 text-center">
                <div class="img-white-canceled"><img src="~/Content/images/u24.png" /></div>
                <div class="img-red-canceled" style="display: none"><img src="~/Content/images/u24_red.png" /></div>
            </div>
            <div class="col-md-5 text-left">
                @Html.LocalizedLabel("Refunded")
            </div>
        </div>

        <div class="row Table_Item tableOrder_Finished hiddenDiv">
            <div class="col-md-12 text-center">
                <div><img src="~/Content/images/u23_line.png" style="height: 80px" /></div>
            </div>
            <div class="col-md-5 text-right">
                <span id="TimeFinished"></span>
            </div>
            <div class="col-md-2 text-center">
                <div class="img-white-finished"><img src="~/Content/images/u24.png" /></div>
                <div class="img-red-finished" style="display: none"><img src="~/Content/images/u24_red.png" /></div>
            </div>
            <div class="col-md-5 text-left">
                @Html.LocalizedLabel("Finished")
            </div>
        </div>

        <div class="row tableOrder_Reject hiddenDiv">
            <div class="col-md-12 text-center">
                <div><img src="~/Content/images/u23_line.png" style="height: 80px" /></div>
            </div>
            <div class="row Table_Item">
                <div class="col-md-5 text-right">
                    <span id="TimeOrderReject"></span>
                </div>
                <div class="col-md-2 text-center">
                    <div class="img-white-OrderReject"><img src="~/Content/images/u24.png" /></div>
                    <div class="img-red-OrderReject" style="display: none"><img src="~/Content/images/u24_red.png" /></div>
                </div>
                <div class="col-md-5 text-left">
                    @Html.LocalizedLabel("Refunded")
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#backToList').css('display', 'none');
        $("#addToCart").hide();
    });

    function showDineInRefund(dateTime){
        $('.img-white-OrderConfirmed').css("display", "block");
        $('.img-red-OrderConfirmed').css("display", "none");

        if($('.img-white-OrderConfirmed').hasClass('hiddenDiv')){ 
            showCanceled(dateTime);
        } else { 
            showDineInReject(dateTime);
        }
    }

    function showDineInConfirm(dateTime) {
        $('.tableOrder_Confirmed').removeClass("hiddenDiv");
        $('.img-white-OrderPlaceOrder').css("display", "block");
        $('.img-red-OrderPlaceOrder').css("display", "none");
        $('.img-white-OrderConfirmed').css("display", "none");
        $('.img-red-OrderConfirmed').css("display", "block");
        var div = "TimeOrderConfirmed";
        $('#' + div).text(dateTime);
    }
    function showCanceled(dateTime) {
        $('.tableOrder_Canceled').removeClass("hiddenDiv");
        $('.img-white-canceled').css("display", "none");
        $('.img-red-canceled').css("display", "block");     
        var div = "TimeCanceled";
        $('#' + div).text(dateTime);
    }
    function showDineInServing(dateTime) {
        $('.tableOrder_Serving').removeClass("hiddenDiv");
        $('.img-white-OrderConfirmed').css("display", "block");
        $('.img-red-OrderConfirmed').css("display", "none");
        $('.img-white-Serving').css("display", "none");
        $('.img-red-Serving').css("display", "block");
        var div = "TimeServing";
        $('#' + div).text(dateTime);
    }
    function showDineInReject(dateTime) {
        $('.tableOrder_Reject').removeClass("hiddenDiv");
        $('.img-white-OrderReject').css("display", "none");
        $('.img-red-OrderReject').css("display", "block");
        $('.img-white-OrderPlaceOrder').css("display", "block");
        $('.img-red-OrderPlaceOrder').css("display", "none");
        var div = "TimeOrderReject";
        $('#' + div).text(dateTime);
    }
    function showDineInDone(dateTime) {
        $('.tableOrder_Finished').removeClass("hiddenDiv");
        $('.img-white-Serving').css("display", "block");
        $('.img-red-Serving').css("display", "none");
        $('.img-white-finished').css("display", "none");
        $('.img-red-finished').css("display", "block");
        var div = "TimeFinished";
        $('#' + div).text(dateTime);
    }
    function UpdateStatusOrderTable(orderID, type) {
        var orderStatus = -1;
        if (type == orderID + "~" + "@SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.DineInConfirm).Key") {
            orderStatus = @SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.DineInConfirm).Key;
        }
        else if (type == orderID + "~" + "@SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.DineInServing).Key") {
            orderStatus = @SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.DineInServing).Key;
        }
        else if (type == orderID + "~" + "@SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.Refunded).Key") {
            orderStatus = @SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.Refunded).Key;
        }
        else if (type == orderID + "~" + "@SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.DineInDone).Key") {
            orderStatus = @SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.DineInDone).Key;
        }

        paymentHistory(orderID, orderStatus);
    }
    function showAllStatusHistory(result) {
        for (var i = 0; i < result.arrayStatusHistory.length; i++) {

            if (result.arrayStatusHistory[i].orderStatus.toString() == '@SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.DineInConfirm).Key') {
                showDineInConfirm(result.arrayStatusHistory[i].modifiedDateDisplay);
            }
            if (result.arrayStatusHistory[i].orderStatus.toString() == '@SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.DineInServing).Key') {
                showDineInServing(result.arrayStatusHistory[i].modifiedDateDisplay);
            }
            if (result.arrayStatusHistory[i].orderStatus.toString() == '@SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.Refunded).Key') {
                showDineInRefund(result.arrayStatusHistory[i].modifiedDateDisplay);
            }
            if (result.arrayStatusHistory[i].orderStatus.toString() == '@SmoovPOS.Common.ConstantSmoovs.Enums.OrderStatus.FirstOrDefault(r => r.Value == SmoovPOS.Common.ConstantSmoovs.OrderStatus.DineInDone).Key') {
                showDineInDone(result.arrayStatusHistory[i].modifiedDateDisplay);
            }
        }
    }
    function paymentHistory(orderID, orderStatus) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("PaymentHistory", "TableOrder")',
            data: {
                id: orderID,
                orderStatus: orderStatus
            },
            success: function (result) {
                if (result.success == true) {
                    showAllStatusHistory(result);
                }
            },
            error: function () {
            },
            beforeSend: function () {
            },
            complete: function () {
            }
        });

    }
    $(document).ready(function () {
        isPaymentDone = true;
        paymentHistory('@ViewBag.TableOrder.orderId',-1);
    });
</script>