﻿@using SmoovPOS.Utility.CustomHTMLHelper
@using Microsoft.AspNet.Identity

@model SmoovPOS.UI.Models.TableOrderProductDetailViewModel

@{
    ViewBag.Title = "ProductDetail";

    int numDefault = 20;
    string email = null;
    if (HttpContext.Current.Session[SmoovPOS.Common.ConstantSmoovs.Users.userName] != null && !string.IsNullOrEmpty(HttpContext.Current.Session[SmoovPOS.Common.ConstantSmoovs.Users.userName].ToString()))
    {
        email = HttpContext.Current.Session[SmoovPOS.Common.ConstantSmoovs.Users.userName].ToString();
    }
    String urlImgDefault = Url.Content("~/Content/Images/imageDefault.png");
}

<style>
    .imgShow {
        background-color: transparent;
        border: 0px #dddddd solid;
        white-space: nowrap;
        text-align: center;
        padding: 0px;
        margin: 0px 0px 0px -4px;
    }

    .table-cell-left-col {
        padding: 0px;
        float: none;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .table-cell-center-col {
        padding: 0px;
        float: none;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .table-cell-right-col {
        padding: 0px;
        float: none;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }

    .mainImg {
        display: inline-block !important;
        background: transparent;
    }

    .q-message {
        color: #287EAF;
    }

    .q-alert {
        color: red;
    }

    .price-left {
        font-size: 15px;
        font-weight: bold;
    }

    .price-right {
        font-size: 15px;
        margin-left: 17px;
        text-decoration: line-through;
        color: rgba(101, 96, 96, 0.66);
    }

    .price-compare-detail {
        text-decoration: line-through;
        color: rgba(101, 96, 96, 0.66);
        float: right;
    }

    .price-detail {
        float: right;
        padding-left: 10px;
    }
</style>

<style media="screen and (min-device-height:568px)">
    .image-slide {
        height: 170px;
    }
</style>

<style media="screen and (min-device-height:768px)">
    .image-slide {
        height: 400px;
    }
</style>

<div class="q-form">
    <div class="row image-slide" style="display:table;">
        <div class="col-md-1 col-xs-1 table-cell-left-col" onclick="PreviousImg()">
            <i id="PreviousImg" class="fa fa-chevron-left" style="font-size:15px;"></i>
        </div>

        <div class="col-md-10 col-xs-10 table-cell-center-col imgShow">
            @{
                int number = 0;
                var imagePath = "";
                if (Model.ProductItem.arrayInventory.Count == 0 || Model.ProductItem.arrayInventory == null)
                {
                    imagePath = Model.ProductItem.arrayVarient[0].image.imageDetault;
                    if (imagePath == "0" || imagePath == "" || imagePath.Contains("Content/Images/imageDefault.png"))
                    {
                        var indexImage = Model.ProductItem.image.imageDetault;
                        try
                        {
                            number = int.Parse(indexImage);
                        }
                        catch
                        {

                        }
                        if (number >= 0)
                        {
                            imagePath = Model.ProductItem.image.arrayImage.Count() > 0 ? Model.ProductItem.image.arrayImage[number] : urlImgDefault;
                        }
                        else
                        {
                            imagePath = urlImgDefault;
                        }
                    }

                    <img id="q-img-large" src="@imagePath" data-holder-rendered="true" class="img-polaroid mainImg" onload="setImageSize()" />
                }
                else
                {
                    <img id="q-img-large" src="" data-holder-rendered="true" class="img-polaroid mainImg" onload="setImageSize()" />
                }


                <div style="display:none;">
                    @{
                        int ImageMaxIndex = 0;
                        int CurrentImageIndex = 0;
                        foreach (var item in Model.ProductItem.image.arrayImage)
                        {
                            if (item == imagePath)
                            {
                                CurrentImageIndex = ImageMaxIndex;
                            }
                            <input type="hidden" id="imgToShow_@ImageMaxIndex" value="@item" />
                            ImageMaxIndex++;
                        }
                        ImageMaxIndex--;
                    }
                    <input type="hidden" id="countImages" value="@ImageMaxIndex" />
                    <input type="hidden" id="indexImage" value="@CurrentImageIndex" />
                </div>
            }
        </div>

        <div class="col-md-1 col-xs-1 table-cell-right-col" onclick="NextImg()">
            <i id="NextImg" class="fa fa-chevron-right" style="font-size:15px;"></i>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12" style="background:#F3F3F3;">
            <div style="padding-top:5px;">
                <label style="font-size:20px;font-weight:bold;color:#DA3756;">@Model.ProductItem.name</label>
            </div>

            @{
                Model.ProductItem.arrayVarient = Model.ProductItem.arrayVarient.Where(v => v.status).OrderBy(r => r.price).ToList();
                double min = 0;
                if (Model.ProductItem.arrayVarient.Count() > 0)
                {
                    min = Model.ProductItem.arrayVarient[0].price;
                }
                else
                {
                    min = Model.ProductItem.price;
                }

                int indexVariant = 0;
            }

            <div style="padding-bottom:5px;">
                <text>Price:</text>
                <div class="price-detail">
                    <strong><span id="price"></span></strong>
                </div>
                <div class="price-compare-detail">
                    <span id="priceCompare"></span>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="row" style="padding-top:5px;">
        @try
        {
            foreach (var item in Model.ProductItem.arrayInventory)
            {
                string strName = "";
                if (item.name.ToLower() == "title")
                {
                    strName = Html.LocalizedLabel("Modifier").ToString();
                }
                else
                {
                    strName = item.name[0].ToString().ToUpper() + item.name.Substring(1);
                }
            
                <div class="col-md-12 col-xs-12">
                    <h5>@strName</h5>
                    <select class="form-control selection" id="@item.name" name="@item.name" style="max-width:none;"></select>
                </div>
                <div class="clearfix"></div>
            }
        }
        catch (Exception) { }
    </div>

    <div class="row" style="padding-top:10px;">
        <div class="col-md-3 col-xs-3" style="margin-top:6px;">
            <text>Quantity</text>
        </div>
        <div class="col-md-9 col-xs-9">
            <div class="input-group" style="max-width:300px;float:right;">
                <span class="input-group-btn">
                    <button type="button" id="btnDecrease" class="btn btn-default" style="min-width: 50px;" onclick="DecreaseQty()"><strong>-</strong></button>
                </span>
                <input type="text" class="form-control" id="Qty" pattern="[0-9]+([,\.][0-9]+)?" maxlength="9" min="1" value="1" style="min-width: 50px;text-align: center;padding-left: 0px;padding-right: 0px;">
                <span class="input-group-btn">
                    <button type="button" id="btnIncrease" class="btn btn-default" style="min-width: 50px;" onclick="IncreaseQty()"><strong>+</strong></button>
                </span>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="row" style="padding-top:10px;">
        <div class="col-md-12 col-xs-12">
            <textarea class="form-control" style="width:100%" id="VariantRemark" rows="2" placeholder="@Html.LocalizedMessage("RemarkProductDetail")"></textarea>

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row" style="padding-top:5px;">
        <div class="col-md-12 col-xs-12" style="text-align:center;height:20px;">
            <div class="message"></div>

            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12" style="padding-top:10px;">
            <button type="button" id="addToCart" class="btn btn-success" style="width:100%;" onclick="AddToCart()">ADD TO CART</button>
        </div>

        <div class="clearfix"></div>
    </div>

    <div class="row" style="padding-top:10px;">
        <div class="col-md-12 col-xs-12">
            <div style="background: #F3F3F3;">
                <text>Description</text>
            </div>

            <p class="line-header-des"></p>

            <div class="desc">
                @if (string.IsNullOrEmpty(Model.ProductItem.description))
                {
                    <text>N/A</text>
                }
                else
                {
                    @Html.Raw(Model.ProductItem.description);
                }
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var data = @(new HtmlString(Json.Encode(Model.ProductItem)));
    var discount = @(new HtmlString(Json.Encode(Model.ProductItem.DiscountProductItem)));
    var discount_status = @(new HtmlString(Json.Encode(Model.ProductItem.discount)));
    var arrSelect = [];
    var arrSelectOption = {};

    //$('.selection').on('focus', function(){
    //    //var offsetTop = this.getBoundingClientRect().top - 300;

    //    //$('.navbar').css('position', 'absolute');
    //    //$('.navbar').css({padding:offsetTop+'px 0px 0px'});

    //    //$('.navbar').css({position:'absolute'});
    //    //$('.navbar').css({padding:'300px 0px 0px'});
    //    this.css({'-webkit-backface-visibility': hidden});
    //    this.css({'-webkit-transform': translateZ(0)});
    //    //$(window).scrollTop(0);
    //});
    //$('.selection').on('blur', function(){
    //    //$('.navbar').css({position:'fixed'});
    //    //$('.navbar').css({padding:'0px 0px 0px'});
    //});

    $(document).ready(function () {
        //Set slide button
        if (parseInt($('#indexImage').val()) <= 0) {
            $('#PreviousImg').hide();
        }
        else {
            $('#PreviousImg').show();
        }
        if (parseInt($('#indexImage').val()) >= parseInt($('#countImages').val())) {
            $('#NextImg').hide();
        }
        else {
            $('#NextImg').show();
        }

        // Set price default when product not have arrayInventory
        if(!data.productMultiple){
            var varientprice = data.arrayVarient[0].price;
            if (discount != undefined && discount.discountValue > 0 && discount_status == true){
                var disprice = discount.type == 0 ? varientprice - varientprice * discount.discountValue / 100 : varientprice - discount.discountValue ;
                var last_varientprice = varientprice < 0 ? '0.00' : varientprice.toFixed(2);
                var last_disprice = disprice < 0 ? '0.00' : disprice.toFixed(2);
                $('#priceCompare').text("@ViewBag.TableOrder.currency"+" "+last_varientprice);
                $('#price').text("@ViewBag.TableOrder.currency"+" "+last_disprice);
            }
            else{
                $('#priceCompare').text("");
                var last_varientprice = varientprice < 0 ? '0.00' : varientprice.toFixed(2);
                $('#price').text("@ViewBag.TableOrder.currency"+" "+last_varientprice);
            }
        }

        $(".col-md-1").niceScroll();
        setOptionSelect(data,{},@indexVariant);
        data.arrayInventory.forEach(function(item){
            var tmp = {
                "field" : item.name,
                "value":  null
            };
            arrSelect.push(tmp);
            arrSelectOption[item.name]=[];
            if(item.name==data.arrayInventory[0].name){
                $('#'+item.name+' option[value="'+data.arrayVarient[@indexVariant][item.name]+'"]').attr('selected','selected');
            } else {
                $('#'+item.name).html($('<option>', {
                    value: data.arrayVarient[@indexVariant][item.name],
                    text: data.arrayVarient[@indexVariant][item.name]
                }));
            }
            $('#'+item.name+' option[value="'+data.arrayVarient[@indexVariant][item.name]+'"]').attr('selected','selected');
            setImageVariant(@indexVariant, data.arrayVarient[@indexVariant]);
            ShowMessage(2,data.arrayVarient[@indexVariant].quantity);
            $( "#"+item.name ).change(function(info) {
                chooseVariant(info);
            });
        })

        if(data.arrayInventory && data.arrayInventory.length>0){
            var variantDefault = {};
            variantDefault.target = {};
            variantDefault.target.name= data.arrayInventory[0].name;
            variantDefault.target.value= data.arrayVarient[@indexVariant][variantDefault.target.name];
            chooseVariant(variantDefault);
        }

        function chooseVariant(info){
            var field = info.target.name;
            var value= info.target.value;
            arrSelect.forEach(function(val){
                arrSelectOption[val.field]=[];
            })
            data.arrayVarient.forEach(function(item){
                if(item[field]==value){
                    arrSelect.forEach(function(val){
                        if(val.field != field && val.field != arrSelect[0].field){
                            if(arrSelectOption[val.field].indexOf(item[val.field])== -1){
                                arrSelectOption[val.field].push(item[val.field]);
                            }
                        }
                    })
                }
            })
            AddOptionSelect(arrSelectOption);
            changeVariant();
        }
    });

    function setOptionSelect(data,arrSelectOption,index){
        var i = -1;
        data.arrayInventory.forEach(function(field){
            arrSelectOption[field.name]=[];
            data.arrayVarient.forEach(function(item){
                if(arrSelectOption[field.name].indexOf(item[field.name])== -1){
                    arrSelectOption[field.name].push(item[field.name]);
                    $('#'+field.name).append($('<option>', {
                        value: item[field.name],
                        text: item[field.name]
                    }));
                }
            })
        })
    }

    function AddOptionSelect(data){
        arrSelect.forEach(function(item){
            var option="";
            var key ="";
            if(data[item.field].length>0){
                data[item.field].forEach(function(val){
                    option+= "<option value='"+ val +"'>"+val+"</option>";
                })
                var valueTmp = $('#'+item.field).val();
                $('#'+item.field).html(option);
                $('#'+item.field+' option[value="'+valueTmp+'"]').attr('selected','selected');
            }
        })
    }

    function changeVariant() {
        arrSelect.forEach(function (item){
            item.value= $('#'+item.field).val();
        })
        for(var i=0;i<data.arrayVarient.length;i++){
            var check = true;
            for(j=0;j<arrSelect.length;j++){
                var field = arrSelect[j].field;
                if(arrSelect[j].value!=data.arrayVarient[i][field]){
                    check=false;
                }
            }
            if(check){
                var varientprice = data.arrayVarient[i].price;

                if (discount != undefined && discount.discountValue > 0  && discount_status == true){
                    var disprice = discount.type == 0 ? varientprice - varientprice * discount.discountValue / 100 : varientprice - discount.discountValue ;
                    var last_varientprice = varientprice < 0 ? '0.00' : varientprice.toFixed(2);
                    var last_disprice = disprice < 0 ? '0.00' : disprice.toFixed(2);
                    $('#priceCompare').text("@ViewBag.TableOrder.currency"+" "+last_varientprice);
                    $('#price').text("@ViewBag.TableOrder.currency"+" "+last_disprice);
                }
                else{
                    var last_varientprice = varientprice < 0 ? '0.00' : varientprice.toFixed(2);
                    $('#priceCompare').text("");
                    $('#price').text("@ViewBag.TableOrder.currency"+" "+last_varientprice);
                }
                setImageVariant(i, data.arrayVarient[i]);
                ShowMessage(2,data.arrayVarient[i].quantity);
            }
        }
    }

    function ShowMessage(messageIndex, orderQty){
        $('.message').css("display","none");

        var qty = parseInt($('#Qty').val());
        if(messageIndex==1){
            if(parseInt(orderQty)==0 ){
                $('.message').html("<div class='q-alert'>Out of stock.</div> ");
            }
            else {
                $('.message').html("");
            }
        }else if(messageIndex==2) {
            if(parseInt(orderQty)==0 || parseInt(orderQty)<0){
                ShowMessage(1,orderQty);
            }
            else if(qty<= parseInt("@numDefault")){
                $('.message').html("<div class='q-message'>Only "+ orderQty +" left in stock.</div>");
            }else {
                $('.message').html("");
            }
        }
        else if(messageIndex==3) {
            $('.message').html("<div class='q-message'>Item has been added to shopping cart.</div>");
        } else if(messageIndex==4){
            $('.message').html("<div class='q-message'>Only "+ orderQty +" left in stock.</div> ");
        } else if(messageIndex==5){
            $('.message').html("<div class='q-message'>Please enter quantity greater than 0.</div>");
        }else if(messageIndex==6){
            $('.message').html("<div class='q-message'>Item has been added to wish list.</div>");
        } else if(messageIndex==7){
            $('.message').html("<div class='q-alert'>This product already exists in wishlist.</div>");
        }
        $(".message").fadeIn("slow");
    }

    function setImageVariant(index, data){
        var tmpImage = data.image.imageDetault;
        var linkURL = "";
        if(parseInt(tmpImage)==0){
            if( data.image.arrayImage && data.image.arrayImage.length>0){
                linkURL = data.image.arrayImage[parseInt(data.image.imageDetault)];
            } else {
                linkURL = "@Url.Content("~/Content/images/imageDefault.png")";
            }
        } else if(parseInt(tmpImage)>0){
            linkURL =  data.image.arrayImage[parseInt(data.image.imageDetault)];
        } else {
            linkURL = data.image.imageDetault;
        }

        $('#IndexImg').val(index);
        setImageLarge(linkURL);
    }

    function setImageSize(){
        var width = $(document).width();
        var height = 0;
        if (width >= 1024) {
            width=460;
            height=400;
        }
        else if (width >= 320) {
            width=263;
            height=170;
        }

        //Clear old image's size
        elementResize = $('#q-img-large');
        elementResize.removeAttr('width');
        elementResize.removeAttr('height');
        //Set size for new image
        SetAutoResizeWidthHeightImage('q-img-large', width, height);
    }

    function setImageLarge(src){
        $('#q-img-large').css('display','none');
        $('#q-img-large').attr("src",src);
        $('#q-img-large').show();
    }

    function PreviousImg(){
        var index = parseInt($('#indexImage').val());
        var count = parseInt($('#countImages').val());

        //Previous image
        if (index > 0) {
            index = index - 1;

            $('#indexImage').val(index);
            var imgToShow = $('#imgToShow_' + index).val();
            $('#q-img-large').attr("src",imgToShow);

            $('#PreviousImg').show();
            $('#NextImg').show();
        }

        if (index == 0) {
            $('#PreviousImg').hide();
            $('#NextImg').show();
        }
        if (index == count) {
            $('#PreviousImg').show();
            $('#NextImg').hide();
        }
    }

    function NextImg(){
        var index = parseInt($('#indexImage').val());
        var count = parseInt($('#countImages').val());

        //Next image
        if (index < count) {
            index = index + 1;

            $('#indexImage').val(index);
            var imgToShow = $('#imgToShow_' + index).val();
            $('#q-img-large').attr("src",imgToShow);

            $('#PreviousImg').show();
            $('#NextImg').show();
        }

        if (index == 0) {
            $('#PreviousImg').hide();
            $('#NextImg').show();
        }
        if (index == count) {
            $('#PreviousImg').show();
            $('#NextImg').hide();
        }
    }

    function IncreaseQty(){
        var qty = parseInt($('#Qty').val());
        //Increase
        if (qty<999999999) {
            $('#Qty').val(qty+1);
        }
    }

    function DecreaseQty(){
        var qty = parseInt($('#Qty').val());
        //Decrease
        if (qty>0) {
            $('#Qty').val(qty-1);
        }
    }

    function AddToCart(){
        var quantity = parseInt($('#Qty').val());
        if(quantity==0){
            ShowMessage(5);
        }else {
            arrSelect.forEach(function (item){
                item.value= $('#'+item.field).val();
            })

            for(var i=0;i<data.arrayVarient.length;i++){
                var check = true;
                var checkQuantity = false;
                for(j=0;j<arrSelect.length;j++){
                    var field = arrSelect[j].field;
                    if(arrSelect[j].value!=data.arrayVarient[i][field]){
                        check=false;
                    }
                }
                if(check){
                    var productItem = @(new HtmlString(Json.Encode(Model.ProductItem)));
                    var tmp = productItem.arrayVarient[i];

                    if(parseInt(tmp.quantity)==-1){
                        checkQuantity= true;
                        tmp.quantity = quantity;
                        tmp.variantRemark = $('#VariantRemark').val();
                        productItem.arrayVarient = [];
                        productItem.arrayVarient.push(tmp);
                        addProductItemToCart(productItem);
                    }
                    else if(quantity>tmp.quantity){
                        ShowMessage(4,tmp.quantity);
                        break;
                    }else {
                        tmp.quantity = parseInt($('#Qty').val());
                        tmp.variantRemark = $('#VariantRemark').val();
                        productItem.arrayVarient = [];
                        productItem.arrayVarient.push(tmp);
                        checkQuantity= true;
                        addProductItemToCart(productItem)
                        break;
                    }
                }
            }
        }
    }

    function addProductItemToCart(productItem){
        //console.log(productItem);
        $.ajax({
            type: "POST",
            url: '@Url.Action("AddToCart", "TableOrder")',
            contentType: 'application/json; charset=UTF-8',
            data: JSON.stringify($.convertJSONDates(productItem)),
            success: function (result) {
                ShowMessage(3);
                //updateCart();
                if (result.success == true) {
                    $('#q-cart-count').text(result.count);
                }
            },
            error: function (error) {
            },
            beforeSend: function () {
            },
            complete: function () {
            }
        });
    }

    //Convert Date
    (function ($) {
        // replacer RegExp
        var dateISO = /\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(?:[.,]\d+)?Z/i;
        //var dateNet = /\/Date\((\d+)(?:[-\+]\d+)?\)\//i;
        var dateNet = /\/Date\((-?\d+)\)\//

        var jsonDateConverter = function (value) {
            if (typeof (value) == "string") {
                if (dateISO.test(value)) {
                    return new Date(value);
                }
                if (dateNet.test(value)) {
                    return new Date(parseInt(dateNet.exec(value)[1], 10));
                }
            }
            return value;
        };

        var converter = function (json) {
            $.each(json, function (k, v) {
                if (typeof v == 'object') {
                    // recurse
                    if (v != null) {
                        converter(v);
                    }
                }
                else {
                    json[k] = jsonDateConverter(v);
                }
            });
            return json;
        };

        $.convertJSONDates = converter;

    })(jQuery);

    //validate quantity
    $("#Qty").keypress(function (e) {
        //if the letter is not digit then display error and don't type anything
        if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
            return false;
        }
    });
</script>