﻿@model SmoovPOS.UI.Models.LoginViewModel

@{
    ViewBag.Title = "Login to Merchant Panel";
    if (!string.IsNullOrEmpty(Model.Businness))
    {
        ViewBag.ReturnUrl = "/Account/Login?ReturnUrl=/Account/Login&business=" + Model.Businness;
    }
    else
    {

    }
}
<style>
    .validation-summary-errors {
        color: #b94a48;
        height: 25px;
    }
</style>
<h2>@ViewBag.Title</h2>
<div class="row">
    <div class="col-md-12">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "formid" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                <div class="form-group">
                    <label class="col-md-2"></label>
                    <div class="col-md-10" style="padding-bottom: 0px;">
                        @Html.HiddenFor(m => m.Businness, new { Value = Model.Businness })
                        <div id="invalidUserPass" style="@ViewBag.LoginFail">
                            @Html.ValidationSummary(false)
                        </div>
                    </div>
                </div>

                if (!string.IsNullOrEmpty(Model.Businness))
                {
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="merchantID">Businness Name</label>
                        <div class="col-md-10">
                            <input type="text" value="@Model.Businness" class="form-control" disabled />
                        </div>
                    </div>
                }

                <div class="form-group">
                    @*@Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })*@
                    <label class="col-md-2 control-label" for="merchantID">Email Address</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">

                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" value="Log in" class="btn btn-default" id="btnLogin" onclick="return checkValidator();" />
                        @if (!string.IsNullOrEmpty(Model.Businness))
                        {
                            <span style="margin-left: 100px;"> <span class="glyphicon glyphicon-user" aria-hidden="true"></span> @Html.ActionLink("Login as root", "Login", "Account", new { @style = "color: #000" })</span>

                        }
                    </div>
                </div>
                @*<p>
                        @Html.ActionLink("Register", "Register") if you don't have a local account.
                    </p>*@
            }
        </section>
    </div>
    @*<div class="col-md-4">
            <section id="socialLoginForm">
                @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
            </section>
        </div>*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script>
    function checkValidator() {
        var form = $("#formid");
        var checkForm = form.valid()
        $('#invalidUserPass').attr('style', 'display:none;');
        if (checkForm) {
            form.submit();
        }
        else {
        }
        return false;
    }
</script>