﻿@using SmoovPOS.Utility.CustomHTMLHelper
@{
    ViewBag.Title = "SET PASSWORD";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="q-form">
    @*. ------BEGIN HEADER------ *@
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="col-md-8" style="padding-right:10px;">

        </div>
    </div>
    @*. ------END HEADER------ *@
    <div class="q-clear">
    </div>
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    @*5. -------BEGIN INFORMATION------ *@

    <div class="form-horizontal">
        <div class="col-md-12 outer">
            <div class="form-group ">
                <div class="col-md-12 outer">
                    <div class="inner" style="text-align:center">
                        @try
                        {
                            if (ViewBag.IsSet)
                            {
                                <div class="col-md-3 outer">  </div>
                                <div class="col-md-4 alert alert-success" style="width:500px;margin-left:10px" role="alert" id="alert">
                                    <strong>Well done!</strong>@Html.LocalizedMessage("YourPasswordHasBeenSet")
                                </div>

                                <div class="col-md-4 outer">  </div>
                            }
                            else
                            {
                                <h4>@Html.LocalizedLabel("Welcome")</h4>
                                <p>@Html.LocalizedLabel("WelcomeDetail")</p>
                            }
                        }
                        catch
                        {
                            <h4>@Html.LocalizedLabel("Welcome")</h4>
                            <p>@Html.LocalizedLabel("WelcomeDetail")</p>
                        }
                    </div>
                </div>
            </div>

            <div class="form-group ">
                <div class="col-md-12 outer">
                    <div class="inner" style="text-align:center">
                        <button type="button" id="btn-submit" class="btn btn-primary" style="width:150px;" onclick="location.href = '@Url.Action("Login", "Account")'">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="q-clear">
    </div>

</div>