﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.FunctionMethodViewModel
@{
    ViewBag.Title = @Html.LocalizedLabel("CreateNewFunction");
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
<link type="text/css" href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
<script type="text/javascript" src="@Url.Content("~/Scripts/underscore.js")"></script>
<div class="q-form">
    @*@using (Html.BeginForm("Create", "FunctionMethod", FormMethod.Post, new { @encType = "multipart/form-data" }))*@
    @using (Ajax.BeginForm("Create", "FunctionMethod", new SmoovPOS.UI.Models.FunctionMethodViewModel(), new AjaxOptions
    {
        HttpMethod = "POST"
    }, new { @id = "formid", @encType = "multipart/form-data" }))
    {
        string dateStr = string.Empty;
        Html.AntiForgeryToken();
        @*. ------BEGIN HEADER------ *@
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model.functionMethodID)
            <div class="col-md-4">
                <h3><span class="parant-title">Function / </span>@ViewBag.Title  @Model.name </h3>
            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="submit" class="btn btn-primary style=" margin-right:5px;">@Html.LocalizedButton("Create")</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "FunctionMethod")'">@Html.LocalizedButton("Cancel")</button>
            </div>
        </div>
        @*. ------END HEADER functionMethodID and Full Name ------ *@
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @*5. -------BEGIN Function INFORMATION------ *@
        <div class="form-horizontal">
            @*@Html.ValidationSummary()*@
            <div class="col-md-3">
                <h4>@Html.LocalizedLabel("FunctionInformation")</h4>
                <p>@Html.LocalizedLabel("FunctionInformationDetail")</p>
            </div>

            <div class="col-md-9">
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.name)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(m => m.name, new { @class = "form-control", @maxlength = 50, @placeholder = @Html.LocalizedLabel("name_placeholder") })
                            @Html.ValidationMessageFor(m => m.name)
                        </div>
                    </div>
                </div>
                @*<div class="q-clear">
                </div>
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            <label><input type="checkbox" id="isDatabaseFunction" name="isDatabaseFunction" onchange="isDatabase()" value="true" /><strong>&nbsp;@Html.LocalizedLabel("isDatabaseFunction")</strong></label>
                        </div>
                        <div class="inner" id="DatabaseFunction">
                            @Html.DropDownListFor(m => m.dataType, Model.dataTypes, new { @class = "form-control", @style = "width:100px" })
                        </div>
                    </div>
                </div>*@
                <div class="q-clear">
                </div>
                <div class="form-group ">
                    <div class="col-md-10">
                        <div class="inner">
                            @Html.LabelFor(model => model.description)
                        </div>
                        <div class="inner">
                            @Html.TextAreaFor(m => m.description, new { @class = "form-control", @rows = 5, @maxlength = 500 })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        @*5. -------BEGIN Function INFORMATION------ *@
        <div class="form-horizontal">
            @*@Html.ValidationSummary()*@
            <div class="col-md-3">
                <h4>@Html.LocalizedLabel("Module")</h4>
                <p>@Html.LocalizedLabel("ModuleDetail")</p>
            </div>

            <div class="col-md-9">
                <div class="form-group ">
                    <div class="col-md-10 outer">
                        <div class="inner">
                            @Html.LabelFor(model => model.keyMethod)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.DropDownListFor(m => m.keyMethod, Model.keyMethods, new { @class = "form-control", @style = "width:350px" })
                            @Html.ValidationMessageFor(m => m.keyMethod)
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <hr />
        <div class="q-toolsbar">
            <div class="col-md-4">

            </div>
            <div class="col-md-8" style="padding-right:10px;">
                <button type="submit" class="btn btn-primary" style="margin-right:5px;">@Html.LocalizedButton("Create")</button>
                <button type="button" class="btn btn-default" style="margin-right:5px;" onclick="location.href='@Url.Action("Index", "FunctionMethod")'">@Html.LocalizedButton("Cancel")</button>
            </div>
        </div>
    }

</div>
<script type="text/javascript">
    $(function () {
        //$('#isDatabaseFunction').onchange(function(){
        //    isDatabase();
        //});
    });
    var countSubmit = 0;
    $("#formid").submit(function (e) {
        if (countSubmit == 0) {
            e.preventDefault();
            if ($(this).valid()) {
                countSubmit = 1;
                $.ajax({
                    type: "POST",
                    url: $(this).attr('action'),
                    data: $(this).serialize(),
                    success: function (result) {
                        //do your success logic
                        //if (result.success) {
                        var url = '@Url.Action("Index", "FunctionMethod")';
                        window.location.href = url;
                        return;
                    },
                    //error: function (result) {
                    //    //do your success logic
                    //    $('button[type=submit]').each(function () {
                    //        $(this).button('reset');
                    //    });
                    //    $('button[type=button], .btn-default').each(function () {
                    //        $(this).removeAttr('disabled');
                    //    });
                    //},
                    beforeSend: function () {
                        $('button[type=submit]').each(function () {
                            $(this).button('loading');
                        });
                        $('button[type=button], .btn-default').each(function () {
                            $(this).attr('disabled', 'disabled');
                        });
                    },
                    complete: function () {
                    }
                });

            }
            else {
                //do your success logic
                $('button[type=submit]').each(function () {
                    $(this).button('reset');
                });
                $('button[type=button], .btn-default').each(function () {
                    $(this).removeAttr('disabled');
                });
            }
        }
        else {
            $('button[type=submit]').each(function () {
                $(this).button('loading');
            });
            $('button[type=button], .btn-default').each(function () {
                $(this).attr('disabled', 'disabled');
            });
            return;
        }
        //else {
        //    ShowMessageExistBussiness();
        //    ShowMessageExistEmail();
        //}
    });
    function isDatabase() {
        var check = $('#isDatabaseFunction').is(':checked');
        if (!check) {
            $('#DatabaseFunction').hide();
        } else {
            $('#DatabaseFunction').show();
        }
    }
    $(document).ready(function () {
        isDatabase();
    });
</script>


