﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model Com.SmoovPOS.Model.SearchFunctionMethodModel
@{
    ViewBag.Title = "Function List";
    int index = 0;
    int totalPrevious = 0;
    int totalNext = 0;

    totalNext = Model.pageCurrent * Model.limit;
    totalPrevious = totalNext - Model.limit + 1;

    if (totalNext > Model.countAll)
    {
        totalNext = Model.countAll;
    }
}
@*<style>
    .toolbar-right {
        float: right;
        margin-top: 30px;
    }

    .statusFunction.active {
        color: white;
        background-color: #337ab7 !important;
    }

    a:hover, a:focus {
        outline: 0;
        /*color: #000000;*/
        color: #428bca;
    }

    .expiredDate, .expiredDate a {
        color: #ff0000;
    }

    a {
        color: black;
    }

    .search-box {
        position: relative;
        width: 100%;
    }

    span#searchclear {
        position: absolute;
        right: 80px;
        top: 7px;
        cursor: pointer;
    }

    #txtSearchButton {
        max-width: 100% !important;
        width: 80% !important;
        right: 60px;
        position: absolute;
    }

    div#divpaging {
        height: 60px !important;
    }

    .pagination > li > a, .pagination > li > span {
        color: #337ab7;
    }

    #btnSearchButton {
        position: absolute;
        width: 65px;
        right: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    i.fa.fa-sort-up, i.fa.fa-sort-down {
        color: #7A80DD;
    }
</style>
<script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
<script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>*@

<div class="q-toolsbar">
    <div class="col-md-4">
        <h2>
            @ViewBag.Title
        </h2>
    </div>
    <div class="col-md-8">
        <div>
            <button onclick="location.href = location.href = '@Url.Action("Create", "FunctionMethod")'; return false;" class="btn btn-primary">@Html.LocalizedLabel("AddaFunction")</button>

        </div>


    </div>
</div>

<div>
    <div class="col-md-6">
        <div id="divpaging">
        </div>
    </div>
    <div class="col-md-6">
        <div style="margin-top:20px;margin-right:-20px;">

            <div class="search-box">
                <input type="text" results=5 name=search class="form-control" id="txtSearchButton" />
                <span id="searchclear"><i class="fa fa-times"></i></span>
                <button class="btn btn-primary" id="btnSearchButton">
                    <span class="glyphicon glyphicon-search"></span>

                </button>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover" cellspacing="0" style="padding-top:10px;width:100%;height:40px" id="listFunction">
    <thead>
        <tr class="header_table">
            <th class="u_title">

                @if (Model.sort == "name")
                {
                    <a href="#" onclick="sortListing('1', 'name', '@Model.desc.ToString()', '@Model.name'); return false;">@Html.LocalizedLabel("FunctionName")</a>
                    if (Model.desc)
                    {
                        <i class="fa fa-sort-up"></i>
                    }
                    else
                    {
                        <i class="fa fa-sort-down"></i>
                    }

                }
                else
                {
                    <a href="#" onclick="sortListing('1', 'name', '', '@Model.name'); return false;">@Html.LocalizedLabel("FunctionName")</a>
                    <i class="fa fa-unsorted"></i>
                }

            </th>
            <th class="u_title">@Html.LocalizedLabel("keyMethod")</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (@Model.ListFunctionMethods != null && @Model.ListFunctionMethods.Count() > 0)
            {
                string dateStr = string.Empty;
                foreach (var item in Model.ListFunctionMethods)
                {
                    <tr>
                        <td style="padding-top:20px!important;">     @Html.ActionLink(@item.name, "Detail", new { id = @item.functionMethodID })               </td>
                        <td style="padding-top:20px!important;">                      @item.keyMethod</td>
                    </tr>

                    index++;
                }
            }
            else
            {
                <tr style="width:100%">
                    <td style="width:100%;text-align:center" colspan="2">

                        @Html.LocalizedMessage("NoFunctionMethodWasFound")
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<div class="q-toolsbar">
    <div class="col-md-6" id="divpaging2">
        @if (Model.countAll > 0)
        {
            <span class="pull-left" style=" margin-top: 27px; margin-right: 10px; ">
                <text>
                    @totalPrevious.ToString() - @totalNext.ToString() of @Model.countAll.ToString()
                </text>
            </span>
            <nav>
                <ul class="pagination">
                    @if (Model.pageGoTo > 1)
                    {
                        <li id="First">
                            <a href="#" aria-label="Previous" onclick="getInformationPaging('1', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button first disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    }
                    @if (Model.TotalItemPrevious >= 1)
                    {
                        <li id="Previous">
                            <a href="#" onclick="getInformationPaging('@Model.TotalItemPrevious', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;"><span aria-hidden="true">&lsaquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button previous disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    }
                    @if (!string.IsNullOrEmpty(Model.firstKey))
                    {
                        <li id="@Model.firstKey">
                            <a href="#" onclick="getInformationPaging('@Model.firstKey', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;">@Model.firstKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.secondKey))
                    {
                        <li id="@Model.secondKey">
                            @*@Html.ActionLink(Model.secondKey, "Index", new { pageGoTo = Int32.Parse(Model.secondKey), sort = Model.sort, desc = Model.desc })*@

                            <a href="#" onclick="getInformationPaging('@Model.secondKey', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;">@Model.secondKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.thridKey))
                    {
                        <li id="@Model.thridKey">
                            @*@Html.ActionLink(Model.thridKey, "Index", new { pageGoTo = Int32.Parse(Model.thridKey), sort = Model.sort, desc = Model.desc })*@
                            <a href="#" onclick="getInformationPaging('@Model.thridKey', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;">@Model.thridKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.fourthKey))
                    {
                        <li id="@Model.fourthKey">
                            @*@Html.ActionLink(Model.fourthKey, "Index", new { pageGoTo = Int32.Parse(Model.fourthKey), sort = Model.sort, desc = Model.desc })*@
                            <a href="#" onclick="getInformationPaging('@Model.fourthKey', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;">@Model.fourthKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.fiveKey))
                    {
                        <li id="@Model.fiveKey">
                            @*@Html.ActionLink(Model.fiveKey, "Index", new { pageGoTo = Int32.Parse(Model.fiveKey), sort = Model.sort, desc = Model.desc })*@
                            <a href="#" onclick="getInformationPaging('@Model.fiveKey', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;">@Model.fiveKey</a>
                        </li>
                    }

                    @if (Model.TotalItemNext >= 1)
                    {
                        <li id="Next">
                            @*@Html.ActionLink(" > ", "Index", new { pageGoTo = Model.TotalItemNext, sort = Model.sort, desc = Model.desc })*@
                            <a href="#" onclick="getInformationPaging('@Model.TotalItemNext', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;"><span aria-hidden="true">&rsaquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button next disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    }
                    @if (Model.pageGoTo < Model.pageCount)
                    {
                        <li id="Last">
                            @*@Html.ActionLink(" Last ", "Index", new { pageGoTo = Model.pageCount, sort = Model.sort, desc = Model.desc })*@
                            <a href="#" aria-label="Next" onclick="getInformationPaging('@Model.pageCount', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button last disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                    }
                </ul>
            </nav>
            @Html.HiddenFor(model => model.pageCurrent);
            @*<div>Showing page @ViewBag.PageCurrent in @Model.pageCount total page</div>*@
        }

    </div>
    <div class="col-md-6">
        <div style="float:right;margin-right:-20px;margin-top:20px;">
            <button onclick="location.href = location.href = '@Url.Action("Create", "FunctionMethod")'; return false;" class="btn btn-primary">@Html.LocalizedLabel("AddaFunction")</button>
        </div>
    </div>
</div>

<script>

    isDismiss = "False";
    $(function () {
        resetPaing();
        // add multiple select / deselect functionality
        $("li").each(function () {
            if (this.id.toString() == $("#pageCurrent").val()) {
                $(this).addClass("active");
            }
        });

        $('#txtSearchButton').keydown(function (event) {
            var keypressed = event.keyCode || event.which;
            if (keypressed == 13) {
                var keySearch = document.getElementById("txtSearchButton").value;

                // pageGoTo = Int32.Parse(Model.thridKey), sort = Model.sort, desc = Model.desc
                getInformationPaging(1, '', false, keySearch);
            }
        });

        $('#txtSearchButton').val('@Model.name');

    });

    $(document).ready(function () {
        $("#searchclear").toggle(false);
        $("#txtSearchButton").keyup(function () {
            $("#searchclear").toggle(Boolean($(this).val()));
        });
        $("#searchclear").click(function () {

            $("#txtSearchButton").val('').focus();
            $(this).hide();
            getInformationPaging('@Model.pageGoTo', '@Model.sort', '@Model.desc', "");
        });
    });

    @*$('#txtSearchButton').change(function () {
        getInformationPaging('@Model.pageGoTo', '@Model.sort', '@Model.desc', "");
    });*@
    $('#btnSearchButton').click(function () {
        getInformationPaging('@Model.pageGoTo', '@Model.sort', '@Model.desc', "");
    });

</script>