﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.SMSSetting.SMSSettingModel
@{
    ViewBag.Title = "SMS Setting";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

@using (Html.BeginForm("Remove", "SMSSetting", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-3"><h2>@Html.LocalizedLabel("SMSSettings")</h2></div>
    </div>

    <div class="row">
        <hr />
        <div class="col-md-3">
            <h4>@Html.LocalizedLabel("ConnectSMSServer")</h4>
            <span>@Html.LocalizedLabel("ConnectSMSServerContent")</span>
        </div>
        <div class="col-md-8 col-md-offset-1">
            <div class="row">
                <div class="col-md-6">
                    <h4>SmoovIM Account</h4>
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <span>SmoovPOS has partnered with smoovim to provide a solution to send sms.</span>
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-6 text-right">
                    <button data-toggle="modal" data-target="#myModal" class="btn btn-danger">Remove</button>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>

    <!-- modal delete discount -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 350px;">
                <div class="modal-body">
                    Are you sure you want to remove SmoovIM account?
                </div>
                <div class="modal-footer">
                    <button onclick="location.href='@Url.Action("Remove", "SMSSetting")';return false;" class="btn btn-primary">Yes</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(".mainMenu").hide();
    $(".settingsMenu").show();
</script>
