﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.DefaultEmailViewModel
@{

    ViewBag.Title = "Default Email Server";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
   .colSmoov >.link-show {
        margin-bottom: 15px;
    }

  .colSmoov >.col-md-6 {
        display: inline-block;
        padding: 10px !important;
        /*margin-left: -10px !important;*/
    }

   .colSmoov .col-md-4 {
        margin-left: -10px!important;
    }
    .colSmoov .col-md-2 {
     
        padding: 0px !important;
    }
   .colSmoov >.col-md-12 {
        margin-right: 0px!important;
        padding: 0px !important;
    }


   .q-toolsbar .col-md-4
   {
         margin-left: -20px;
   }
    .breakDivSmoov{
        margin-left: -40px;
    }
</style>
@using (Ajax.BeginForm("SaveConfigPrivate", "DefaultEmail", new SmoovPOS.UI.Models.DefaultEmailViewModel(), new AjaxOptions
    {
        HttpMethod = "POST"
    }, new {autocomplete = "off", @id = "formid", @encType = "multipart/form-data" }))
{
    Html.AntiForgeryToken();
    <div class="q-form">
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model.Id)
              @Html.HiddenFor(model => model.type)
            <div class="col-md-4">
                <h3 style="padding: 10px; margin-left: -10px;">@ViewBag.Title</h3>

            </div>
        </div>
        <div class="q-clear">
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="col-md-12 ">
            <div class="col-md-4 breakDivSmoov">
                <div>
                    <b>@Html.LocalizedLabel("DefaultCustomerEmail")</b>
                </div>
                <div>
                    <text>@Html.LocalizedLabel("ConfigureEmailForSmoovPos") </text>
                </div>

            </div>

            <div class="col-md-8">
                <div class="validation-summary-errors colSmoov">
                    <ul>
                        <li id="ErrSMTP" style="display:none">
                            Couldn't open connection to server. Please check your configuration on Outgoing SMTP Server or Outgoing Port!
                        </li>
                        <li id="ErrPOP" style="display:none">
                            Couldn't open connection to server. Please check your configuration on Incoming POP Server or Incoming Port!
                        </li>
                    </ul>
                </div>
                <div class="q-clear">
                </div>
                <div class="col-md-12 lineStyle"></div>
                <!-- SMTP -->
                <div class="colSmoov">
                    <div class="col-md-4">
                        <span>Outgoing SMTP Server (*)</span>
                        @*<input type="text" class="form-control" id="OutgoingSmtp" name="OutgoingSmtp" maxlength="200" size="50" value="@Model.OutgoingSmtp" placeholder="smtp.gmail.com">*@
                        @Html.TextBoxFor(m => m.OutgoingSmtp, new { @class = "form-control", @maxlength = 50, @placeholder = "smtp.gmail.com" })
                        @Html.ValidationMessageFor(m => m.OutgoingSmtp)
                    </div>
                    <div class="col-md-2">
                        <span>Outgoing Port (*)</span>

                        @Html.TextBoxFor(m => m.OutgoingPort, new { @class = "form-control", @maxlength = 5, @placeholder = "587" })
                        @Html.ValidationMessageFor(m => m.OutgoingPort)
                    </div>
                </div>
                <!-- POP -->
                <div class="q-clear">
                </div>
                <div class="col-md-12 lineStyle"></div>
                <div class="colSmoov">
                    <div class="col-md-4">
                        <span>Incoming POP3 Server (*)</span>

                        @Html.TextBoxFor(m => m.IncomingPop, new { @class = "form-control", @maxlength = 50, @placeholder = "pop.gmail.com" })
                        @Html.ValidationMessageFor(m => m.IncomingPop)
                    </div>
                    <div class="col-md-2">
                        <span>Incoming Port (*)</span>
                        @Html.TextBoxFor(m => m.IncomingPort, new { @class = "form-control", @maxlength = 5, @placeholder = "995" })
                        @Html.ValidationMessageFor(m => m.IncomingPort)
                    </div>
                </div>
                <!-- SSL  -->
                <div class="q-clear">
                </div>
                <div class="col-md-12 lineStyle"></div>
                <div class="colSmoov">
                    <!-- Secure Network Connection -->
                    <div style="padding:10px">
                        <span><input type="checkbox" name="EnableSsl" @(@Model.EnableSsl == true ? "checked" : "")>Use a Secure Network Connection</span>
                    </div>
                </div>
                <!-- UserName  -->
                <div class="q-clear">
                </div>
                <div class="col-md-12 lineStyle"></div>
                <div class="colSmoov">
                    <div class="col-md-6">
                        <span>Email (*)</span>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @maxlength = 50, @placeholder = "merchant@example.com", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
                <!-- Password  -->
                <div class="q-clear">
                </div>
                <div class="col-md-12 lineStyle"></div>
                <div class="colSmoov">
                    <div class="col-md-6">
                        <span>Password (*)</span>
                        @Html.PasswordFor(m => m.PassWord, new { @class = "form-control", @maxlength = 50, @value = "", autocomplete = "off" })
                        @Html.ValidationMessageFor(m => m.PassWord)
                    </div>
                </div>
                <!-- Save  -->
                <div class="q-clear">
                </div>
                <div class="col-md-12 lineStyle"></div>
                <div class="col-md-4">
                    <button type="button" id="submitConfigPrivate" name="checkSubmit" class="btn btn-primary" style="margin-left: 0px;padding-left:20px;padding-right:20px">@Html.LocalizedButton("Save")</button>
                    <button type="button" id="cancelConfigPrivate" name="cancelConfigPrivate" class="btn btn-default" style="margin-left: 10px;padding-left:20px;padding-right:20px" onclick="location.href='@Url.Action("Index", "DefaultEmail")'">@Html.LocalizedButton("Cancel")</button>
                </div>
            </div>
        </div>
    </div>
}
        <script>
            

            $(function () {
                $("input[type='password']").attr("autocomplete", "off");

                $('form[autocomplete="off"] input, input[autocomplete="off"]').each(function () {
                    var input = this;
                    var name = $(input).attr('name');
                    var id = $(input).attr('id');
                    if (name == 'UserName') {
                        $(input).removeAttr('name');
                        $(input).removeAttr('id');
                        setTimeout(function () {
                            $(input).attr('name', name);
                            $(input).attr('id', id);
                        }, 1);
                    }

                    if (name == 'PassWord') {
                        $(input).removeAttr('name');
                        $(input).removeAttr('id');
                        var pass = '@Model.PassWord';
                        setTimeout(function () {
                            $(input).attr('name', name);
                            $(input).attr('id', id);
                            if (!isBlank(pass) && !isEmpty(pass)) {
                                document.getElementById("PassWord").value = pass;
                            }
                        }, 1);
                    }
                });
            });

            $('#submitConfigPrivate').click(function () {

                $('#ErrSMTP').css('display', 'none');
                $('#ErrPOP').css('display', 'none');
                var type = @Model.type;

                var btnSave = document.getElementById("submitConfigPrivate");
                btnSave.setAttribute("disabled", "disabled");
                var form = $("#formid");
                var checkForm = form.valid();
                var domainSmtp = document.getElementById("OutgoingSmtp").value.trim();
                var portSmtp = parseInt(document.getElementById("OutgoingPort").value.trim());
                var domainPOP = document.getElementById("IncomingPop").value.trim();
                var portPOP = parseInt(document.getElementById("IncomingPort").value.trim());
                var UserName3 = document.getElementById("UserName").value.trim();
                var PassWord3 = document.getElementById("PassWord").value.trim();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ValidSMTP", "DefaultEmail")',
                    data: {
                        hostName: domainSmtp,
                        port: portSmtp
                    },
                    success: function (result) {

                        if (result == "True") {
                            $('#ErrSMTP').css('display', 'none');
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("ValidPOP", "DefaultEmail")',
                                data: {
                                    hostName: domainPOP,
                                    port: portPOP,
                                    user: UserName3,
                                    pass: PassWord3,
                                },
                                success: function (result) {

                                    if (result == "True") {
                                        if (checkForm) {

                                            $.ajax({
                                                type: "POST",
                                                url: '@Url.Action("SaveConfigPrivate", "DefaultEmail")',
                                                data: $("#formid").serialize(),
                                                success: function (result) {

                                                    if (result.success) {
                                                        location.href = '@Url.Action("SendTestMail", "DefaultEmail", new { type = @Model.type })'
                                                    }
                                                    else {
                                                        $('#ErrPOP').css('display', 'block');
                                                        console.log("SaveConfigPrivate Error");
                                                    }
                                                    btnSave.removeAttribute("disabled");
                                                }
                                            });
                                        }
                                        else {
                                            $('#ErrSMTP').css('display', 'none');
                                            $('#ErrPOP').css('display', 'none');
                                            btnSave.removeAttribute("disabled");
                                        }
                                    }
                                    else {
                                        $('#ErrSMTP').css('display', 'none');
                                        $('#ErrPOP').css('display', 'block');
                                        console.log("Config SMTP Error");
                                    }
                                    btnSave.removeAttribute("disabled");
                                }
                            });

                        }
                        else {
                            $('#ErrPOP').css('display', 'none');
                            $('#ErrSMTP').css('display', 'block');
                            btnSave.removeAttribute("disabled");
                            console.log("TestConnection Error0");
                        }

                    }
                });
            });
            $(document).ready(function () {
                var portSmtp = parseInt(document.getElementById("OutgoingPort").value.trim());
                var portPOP = parseInt(document.getElementById("IncomingPort").value.trim());
                if (portSmtp == 0) {
                    document.getElementById("OutgoingPort").value = "";
                }
                if (portPOP == 0) {
                    document.getElementById("IncomingPort").value = "";
                }
                $('#PassWord input').val("");
                document.getElementById("PassWord").value = "";

                $("#OutgoingPort").keydown(function (e) {
                    // Allow: backspace, delete, tab, escape, enter and .
                    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                        // Allow: Ctrl+A
                        (e.keyCode == 65 && e.ctrlKey === true) || 
                        // Allow: home, end, left, right
                        (e.keyCode >= 35 && e.keyCode <= 39)) {
                        // let it happen, don't do anything
                        return;
                    }
                    // Ensure that it is a number and stop the keypress
                    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                        e.preventDefault();
                    }
                });

                $("#IncomingPort").keydown(function (e) {
                    // Allow: backspace, delete, tab, escape, enter and .
                    if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
                        // Allow: Ctrl+A
                        (e.keyCode == 65 && e.ctrlKey === true) || 
                        // Allow: home, end, left, right
                        (e.keyCode >= 35 && e.keyCode <= 39)) {
                        // let it happen, don't do anything
                        return;
                    }
                    // Ensure that it is a number and stop the keypress
                    if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                        e.preventDefault();
                    }
                });
            });

           

        </script>
