﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model SmoovPOS.UI.Models.DefaultEmailViewModel
@{

    ViewBag.Title = "Default Email Server";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="~/Scripts/smoovposLibrary.js">
<style>
    .link-show {
        margin-bottom: 15px;
    }

    .col-md-6 {
        display: inline-block;
        padding: 10px !important;
    }

   .q-toolsbar .col-md-4
   {
         margin-left: -20px;
   }
    .breakDivSmoov{
        margin-left: -40px;
    }
</style>

<div class="q-form">
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3 style="padding: 10px; margin-left: -10px;">@ViewBag.Title</h3>

        </div>
    </div>
    <div class="q-clear">
    </div>
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <!-- BODY-->
    <div class="col-md-12">
        <div class="col-md-4 breakDivSmoov">
            <div >
                <b>@Html.LocalizedLabel("DefaultCustomerEmail")</b>
            </div>
            <div>
                <text>@Html.LocalizedLabel("ConfigureEmailForSmoovPos") </text>
            </div>

        </div>
        <div class="col-md-8">
            <!--Account 1-->
            <div id="div-Account1">
                <div>
                    <b>@Html.LocalizedLabel("Account1")</b>
                </div>
                <div style="margin-top:10px;">
                    <text>@Html.LocalizedLabel("email_Title")</text>
                    <div style="margin-top:5px;">
                        <input value="@Model.emailAccount1" disabled class="form-control" style="width:50%;display:inline" />
                        <button class="btn btn-primary" style="padding-left: 20px; padding-right: 20px;display:inline" onclick="location.href='@Url.Action("ConfigEmail", "DefaultEmail", new { type = 0 })'">Config</button>
                        <button class="btn btn-default" style="padding-left: 10px; padding-right: 10px;display:inline" onclick="location.href='@Url.Action("SendTestMail", "DefaultEmail", new { type = 0 })'">Send Test Email</button>
                    </div>
                </div>
                <div style="margin-top:10px;">
                    @Html.LocalizedLabel("SendFromAdminToMerchant")
                </div>              
            </div>
            <!--Account 2-->
            <div id="div-Account2" style="margin-top:20px">
                <div>
                    <b>@Html.LocalizedLabel("Account2")</b>
                </div>
                <div style="margin-top:10px;">
                    <text>@Html.LocalizedLabel("email_Title")</text>
                    <div style="margin-top:5px;">
                        <input value="@Model.emailAccount2" disabled class="form-control" style="width:50%;display:inline" />
                        <button class="btn btn-primary" style="padding-left: 20px; padding-right: 20px;display:inline" onclick="location.href='@Url.Action("ConfigEmail", "DefaultEmail", new { type = 1 })'" ; return false;">Config</button>
                        <button class="btn btn-default" style="padding-left: 10px; padding-right: 10px;display:inline" onclick="location.href='@Url.Action("SendTestMail", "DefaultEmail", new { type = 1 })'">Send Test Email</button>
                    </div>
                </div>
                <div style="margin-top:10px;">
                    @Html.LocalizedLabel("SendFromMerchantToCustomer")
                </div>
            </div>
           

        </div>
    </div>
    <!-- BODY-->

</div>
