﻿@model Com.SmoovPOS.Entity.MerchantSetting
@{
    ViewBag.Title = "Welcome to SmoovPOS";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

<style>
    .smoov_lock:hover {
        color: #fff;
        background: #4681C3;
    }
</style>


@{
    string hidden = "";
}
<div class="row">
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="col-md-12 lineStyle"><hr /></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12 dashboard_text_center">
        <h3>It takes a few minutes to start your business</h3>
    </div>
</div>

<div class="dashboard_body dashboard_text_center " id="UpdateProfile">
    <div class="row">
        <div class="col-md-2">
            <h2>1</h2>
        </div>
        <div class="col-md-6">
            <h3>Update Profile</h3>
            <div class="dashboard_body_info"><p>This profile is public to your customer.</p></div>
        </div>
        <div class="col-md-4">
            @if (Model != null && !Model.updateProfile)
            {
                <div class="dashboard_body_button"><button type="button" class="btn btn-default-smoov" onclick="location.href = '@Url.Action("UpdateProfile", "General")'">Update</button></div>
            }

        </div>
    </div>
</div>

<div class="dashboard_body dashboard_text_center " id="CreateBranch">
    <div class="row">
        <div class="col-md-2">
            <h2>2</h2>
        </div>
        <div class="col-md-6">
            <h3>Create Branch</h3>
            <div class="dashboard_body_info"><p>Create your first branch. The store manangement module enable you to manage effectively your store operation.</p></div>
        </div>
        <div class="col-md-4">
            <div class="dashboard_body_button">
                @if (Model != null && !Model.createBranch)
                {
                    <button type="button" class="btn btn-default-smoov" onclick="location.href = '@Url.Action("Create", "Inventory")'">Create</button>
                    <button type="button" class="btn btn-default-smoov" onclick="UpdateStatus('CreateBranch','1')">Skip</button>
                }
            </div>
        </div>
    </div>
</div>

<div class="dashboard_body dashboard_text_center " id="CreateCategory">
    <div class="row">
        <div class="col-md-2">
            <h2>3</h2>
        </div>
        <div class="col-md-6">
            <h3>Create Category</h3>
            <div class="dashboard_body_info"><p>You need to create a category in order to classify all products by group for easy management.</p></div>
        </div>
        <div class="col-md-4">
            <div class="dashboard_body_button">

                @if (Model != null && Model.createCategory)
                {
                    hidden = "smoov_hidden";
                }
                else
                {
                    hidden = "smoov_lock";
                }
                <button type="button" onclick="location.href = '@Url.Action("Create", "Category")'" class="btn btn-default-smoov @hidden">Create</button>
            </div>
        </div>
    </div>
</div>


<div class="dashboard_body dashboard_text_center  @(Model != null && Model.createCategory ? !Model.addProduct ? "" : " " : " dashboard-blur")" id="CreateProduct">
    <div class="row">
        <div class="col-md-2">
            <h2>4</h2>
        </div>
        <div class="col-md-6">
            <h3>Add Product</h3>
            <div class="dashboard_body_info"><p>Add your first product to master inventory.</p></div>
        </div>
        <div class="col-md-4">
            <div class="dashboard_body_button">
                @if (Model != null && Model.addProduct)
                {
                    hidden = "smoov_hidden";
                }
                else
                {
                    hidden = "smoov_lock";
                }
                <button type="button" onclick="@(Model != null && Model.createCategory ? "location.href ='" + @Url.Action("Create", "Product") + "'" : " ")" class="btn btn-default-smoov @hidden">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="dashboard_body dashboard_text_center @(Model != null && Model.addProduct ? !Model.distribute ? "" : " " : " dashboard-blur")" id="Distribute">
    <div class="row">
        <div class="col-md-2">
            <h2>5</h2>
        </div>
        <div class="col-md-6">
            <h3>Distribute</h3>
            <div class="dashboard_body_info"><p>Update product quantity to your store quickly with distribution feature.</p></div>
        </div>
        <div class="col-md-4">
            <div class="dashboard_body_button">

                @if (Model != null && Model.distribute)
                {
                    hidden = "smoov_hidden";
                }
                else
                {
                    hidden = "smoov_lock";
                }
                <button type="button" onclick="@(Model != null && Model.addProduct ? "location.href ='" + @Url.Action("Index", "Product") + "'" : " ")" class="btn btn-default-smoov @hidden">Distribute</button>

            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

    })
    function UpdateStatus(field, value) {
        console.log(field);
        console.log(value);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateSetting", "General")',
            data: {
                field: field,
                value: value
            },
            success: function (status) {
                console.log(status);
                if (field == "CreateBranch") {
                    $("#CreateBranch .dashboard_body_button").addClass("smoov_hidden");
                    var checkCategory = "@Model.createCategory";
                    if (checkCategory == "false") {
                        $("#CreateCategory .col-md-6").removeClass("dashboard-blur");
                        $("#CreateCategory .dashboard_body_button .btn-default-smoov").addClass("smoov_visbile");
                    }
                    var number = parseInt($('.badge').text().split("/"));
                    $('.badge').text(number + 1 + "/5");

                }
            }
        })
    }


</script>

