﻿@using SmoovPOS.Utility.CustomHTMLHelper
@model Com.SmoovPOS.Model.SearchServicePackageModel
@{
    ViewBag.Title = "Service Package";
    int index = 0;
    int totalPrevious = 0;
    int totalNext = 0;

    totalNext = Model.pageCurrent * Model.limit;
    totalPrevious = totalNext - Model.limit + 1;

    if (totalNext > Model.countAll)
    {
        totalNext = Model.countAll;
    }
}
@*<style>
        .toolbar-right {
            float: right;
            margin-top: 30px;
        }

        a:hover, a:focus {
            outline: 0;
            /*color: #000000;*/
            color: #428bca;
        }

        .expiredDate, .expiredDate a {
            color: #ff0000;
        }

        a {
            color: black;
        }

        .search-box {
            position: relative;
            width: 100%;
        }

        span#searchclear {
            position: absolute;
            right: 80px;
            top: 7px;
            cursor: pointer;
        }

        #txtSearchButton {
            max-width: 100% !important;
            width: 80% !important;
            right: 60px;
            position: absolute;
        }

        div#divpaging {
            height: 60px !important;
        }

        .pagination > li > a, .pagination > li > span {
            color: #337ab7;
        }

        #btnSearchButton {
            position: absolute;
            width: 65px;
            right: 0px;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }

        i.fa.fa-sort-up, i.fa.fa-sort-down {
            color: #7A80DD;
        }
    </style>
    <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>*@

<div class="q-toolsbar">
    <div class="col-md-4">
        <h2>
            @ViewBag.Title
        </h2>
    </div>
    <div class="col-md-8">
        <div>
            <button onclick="location.href = location.href = '@Url.Action("Create", "ServicePackage")'; return false;" class="btn btn-primary">@Html.LocalizedLabel("AddaServicePacket")</button>

        </div>


    </div>
</div>

<div>
    <div class="col-md-6">
        <div id="divpaging">
        </div>
    </div>
    <div class="col-md-6">
        <div style="margin-top:20px;margin-right:-20px;">

            <div class="search-box">
                <input type="text" results=5 name=search class="form-control" id="txtSearchButton" />
                <span id="searchclear"><i class="fa fa-times"></i></span>
                <button class="btn btn-primary" id="btnSearchButton">
                    <span class="glyphicon glyphicon-search"></span>

                </button>
            </div>
        </div>
    </div>
</div>

<table class="table table-hover" cellspacing="0" style="padding-top:10px;width:100%;height:40px" id="listServicePacket">
    <thead>
        <tr class="header_table">
            <th class="u_title">

                @if (Model.sort == "name")
                {
                    <a href="#" onclick="sortListing('1', 'name', '@Model.desc.ToString()', '@Model.name'); return false;">@Html.LocalizedLabel("Name")</a>
                    if (Model.desc)
                    {
                        <i class="fa fa-sort-up"></i>
                    }
                    else
                    {
                        <i class="fa fa-sort-down"></i>
                    }

                }
                else
                {
                    <a href="#" onclick="sortListing('1', 'name', '', '@Model.name'); return false;">@Html.LocalizedLabel("Name")</a>
                    <i class="fa fa-unsorted"></i>
                }

            </th>
            <th class="u_title">
                @if (Model.sort == "noofmerchants")
                {
                    <a href="#" onclick="sortListing('1', 'noofmerchants', '@Model.desc.ToString()', '@Model.name'); return false;">@Html.LocalizedLabel("NoOfMerchants")</a>
                    if (Model.desc)
                    {
                        <i class="fa fa-sort-up"></i>
                    }
                    else
                    {
                        <i class="fa fa-sort-down"></i>
                    }

                }
                else
                {
                    <a href="#" onclick="sortListing('1', 'noofmerchants', '', '@Model.name'); return false;">@Html.LocalizedLabel("NoOfMerchants")</a>
                    <i class="fa fa-unsorted"></i>
                }
            </th>
            <th class="u_title">
                @if (Model.sort == "createddate")
                {
                    <a href="#" onclick="sortListing('1', 'createddate', '@Model.desc.ToString()', '@Model.name'); return false;">@Html.LocalizedLabel("CreatedDate")</a>
                    if (Model.desc)
                    {
                        <i class="fa fa-sort-up"></i>
                    }
                    else
                    {
                        <i class="fa fa-sort-down"></i>
                    }

                }
                else
                {
                    <a href="#" onclick="sortListing('1', 'createddate', '', '@Model.name'); return false;">@Html.LocalizedLabel("CreatedDate")</a>
                    <i class="fa fa-unsorted"></i>
                }
            </th>
            <th class="u_title">
                @if (Model.sort == "status")
                {
                    <a href="#" onclick="sortListing('1', 'status', '@Model.desc.ToString()', '@Model.name'); return false;">@Html.LocalizedLabel("Active")</a>
                    if (Model.desc)
                    {
                        <i class="fa fa-sort-up"></i>
                    }
                    else
                    {
                        <i class="fa fa-sort-down"></i>
                    }

                }
                else
                {
                    <a href="#" onclick="sortListing('1', 'status', '', '@Model.name'); return false;">@Html.LocalizedLabel("Active")</a>
                    <i class="fa fa-unsorted"></i>
                }
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            if (@Model.ListServicePackages != null && @Model.ListServicePackages.Count() > 0)
            {
                string dateStr = string.Empty;
                foreach (var item in Model.ListServicePackages)
                {
                    <tr>
                        <td>
                            @Html.ActionLink(@item.servicePacketName, "Detail", new { id = @item.servicePacketID })
                            <input type="hidden" id="hdfstatusActive-@index" value="@item.NoOfMerchants" />
                            <input type="hidden" id="hdfstatusInActive-@index" value="@item.NoOfMerchants" />
                            <input type="hidden" id="namestatusActive-@index" value="@item.servicePacketName" />
                            <input type="hidden" id="namestatusInActive-@index" value="@item.servicePacketName" />
                        </td>
                        <td>                      @item.NoOfMerchants</td>
                        <td>                      @item.createdDateDisplay</td>
                        <td>
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default @(item.status == true ? "active" : "") statusMerchant" id="lbl-statusActive-@index">
                                    <input type="radio" name="@item.servicePacketID" id="statusActive-@index" value="true" class="optionsRadios">
                                    ON

                                </label>
                                <label class="btn btn-default @(item.status == false ? "active" : "") statusMerchant" id="lbl-statusInActive-@index">
                                    <input type="radio" name="@item.servicePacketID" id="statusInActive-@index" value="false" class="optionsRadios">
                                    OFF
                                </label>
                            </div>
                        </td>
                    </tr>

                    index++;
                }
            }
            else
            {
                <tr style="width:100%">
                    <td style="width:100%;text-align:center" colspan="4">

                        @Html.LocalizedMessage("NoServicePacketWasFound")
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<div class="q-toolsbar">
    <div class="col-md-6" id="divpaging2">
        @if (Model.countAll > 0)
        {
            <span class="pull-left" style=" margin-top: 27px; margin-right: 10px; ">
                <text>
                    @totalPrevious.ToString() - @totalNext.ToString() of @Model.countAll.ToString()
                </text>
            </span>
            <nav>
                <ul class="pagination">
                    @if (Model.pageGoTo > 1)
                    {
                        <li id="First">
                            <a href="#" aria-label="Previous" onclick="getInformationPaging('1', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;"><span aria-hidden="true">&laquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button first disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                    }
                    @if (Model.TotalItemPrevious >= 1)
                    {
                        <li id="Previous">
                            <a href="#" onclick="getInformationPaging('@Model.TotalItemPrevious', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;"><span aria-hidden="true">&lsaquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button previous disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                    }
                    @if (!string.IsNullOrEmpty(Model.firstKey))
                    {
                        <li id="@Model.firstKey">
                            <a href="#" onclick="getInformationPaging('@Model.firstKey', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;">@Model.firstKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.secondKey))
                    {
                        <li id="@Model.secondKey">
                            @*@Html.ActionLink(Model.secondKey, "Index", new { pageGoTo = Int32.Parse(Model.secondKey), sort = Model.sort, desc = Model.desc })*@

                            <a href="#" onclick="getInformationPaging('@Model.secondKey', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;">@Model.secondKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.thridKey))
                    {
                        <li id="@Model.thridKey">
                            @*@Html.ActionLink(Model.thridKey, "Index", new { pageGoTo = Int32.Parse(Model.thridKey), sort = Model.sort, desc = Model.desc })*@
                            <a href="#" onclick="getInformationPaging('@Model.thridKey', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;">@Model.thridKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.fourthKey))
                    {
                        <li id="@Model.fourthKey">
                            @*@Html.ActionLink(Model.fourthKey, "Index", new { pageGoTo = Int32.Parse(Model.fourthKey), sort = Model.sort, desc = Model.desc })*@
                            <a href="#" onclick="getInformationPaging('@Model.fourthKey', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;">@Model.fourthKey</a>
                        </li>
                    }
                    @if (!string.IsNullOrEmpty(Model.fiveKey))
                    {
                        <li id="@Model.fiveKey">
                            @*@Html.ActionLink(Model.fiveKey, "Index", new { pageGoTo = Int32.Parse(Model.fiveKey), sort = Model.sort, desc = Model.desc })*@
                            <a href="#" onclick="getInformationPaging('@Model.fiveKey', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;">@Model.fiveKey</a>
                        </li>
                    }

                    @if (Model.TotalItemNext >= 1)
                    {
                        <li id="Next">
                            @*@Html.ActionLink(" > ", "Index", new { pageGoTo = Model.TotalItemNext, sort = Model.sort, desc = Model.desc })*@
                            <a href="#" onclick="getInformationPaging('@Model.TotalItemNext', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;"><span aria-hidden="true">&rsaquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button next disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    }
                    @if (Model.pageGoTo < Model.pageCount)
                    {
                        <li id="Last">
                            @*@Html.ActionLink(" Last ", "Index", new { pageGoTo = Model.pageCount, sort = Model.sort, desc = Model.desc })*@
                            <a href="#" aria-label="Next" onclick="getInformationPaging('@Model.pageCount', '@Model.sort', '@Model.desc.ToString()', '@Model.name'); return false;"><span aria-hidden="true">&raquo;</span></a>
                        </li>
                    }
                    else
                    {
                        <li class="paginate_button last disabled" aria-controls="OpenDiscount" tabindex="0"><a href="#"><i class="fa fa-angle-double-right"></i></a></li>
                    }
                </ul>
            </nav>
            @Html.HiddenFor(model => model.pageCurrent);
            @*<div>Showing page @ViewBag.PageCurrent in @Model.pageCount total page</div>*@
        }

    </div>
    <div class="col-md-6">
        <div style="float:right;margin-right:-20px;margin-top:20px;">
            <button onclick="location.href = location.href = '@Url.Action("Create", "ServicePackage")'; return false;" class="btn btn-primary">@Html.LocalizedLabel("AddaServicePacket")</button>
        </div>
    </div>
</div>
<!-- MODAL NO MERCHANT USE SELECTED PACKAGE -->
<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            @*<div class="modal-body">
                    Are you sure you want to deactivate this package?
                </div>
                <div class="modal-footer">
                    <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button>
                </div>*@
        </div>
    </div>
</div>
<script>
    jsPackageItem = {};
    isDismiss = "False";
    //var elems = document.querySelectorAll('.js-switch');
    var elems = document.querySelectorAll('.optionsRadios');

    $(function () {

        resetPaing();
        // add multiple select / deselect functionality
        $("li").each(function () {
            if (this.id.toString() == $("#pageCurrent").val()) {
                $(this).addClass("active");
            }
        });

        $('#txtSearchButton').keydown(function (event) {
            var keypressed = event.keyCode || event.which;
            if (keypressed == 13) {
                var keySearch = document.getElementById("txtSearchButton").value;

                // pageGoTo = Int32.Parse(Model.thridKey), sort = Model.sort, desc = Model.desc
                getInformationPaging(1, '', false, keySearch);
            }
        });

        $('#txtSearchButton').val('@Model.name');

        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsPackageItem.position = this.getAttribute('id').toString();
                var hasActive = $('#lbl-' + jsPackageItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsPackageItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        //$('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActivePackage")');
                        var inactive = '<div class="modal-body">@Html.LocalizedMessage("ConfirmActivePackage")</div><div class="modal-footer"><button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button><button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button></div>';
                        $('.modal-content').html(inactive);
                    } else {
                        var noOfMerchants = $('#hdf' + this.id).val();
                        if (parseInt(noOfMerchants) > 0) {
                            var service_package_id = e.target.name;
                            var confirm_message = '@Html.LocalizedLabel("MerchantUsingPackage")';
                            confirm_message = confirm_message.replace('{0}', noOfMerchants);
                            var temp_spi = service_package_id.replace('-', '_');
                            var confirm = "<div class='modal-body'>" + confirm_message + "<input type='hidden' id='hd-service-package' value='" + $('#name' + this.id).val() + "' /></div><div class='modal-footer'><button onclick='ViewList()' data-dismiss='modal' class='btn btn-primary' style='padding-left:20px;padding-right:20px'>@Html.LocalizedLabel("ViewList")</button><button type='button' class='btn btn-default' data-dismiss='modal' onclick='dismissPopup()' style='padding-left:20px;padding-right:20px;color:#428bca'>@Html.LocalizedLabel("Close")</button></div>";
                            $('.modal-content').html(confirm);
                        }
                        else {
                            var inactive = '<div class="modal-body">@Html.LocalizedMessage("ConfirmDeactivePackage")</div><div class="modal-footer"><button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button><button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button></div>';
                            $('.modal-content').html(inactive);
                        }

                        @*//$('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactivePackage")');
                        var url = '@Url.Action("GetMerchantUsingServicePackage", "ServicePackage")' + '/' + service_package_id;
                        // Query merchants using this package service
                        var hasMerchant = $.get(url, function (data) {
                        }).done(function (data) {
                            if (data.list.length > 0) {
                                var confirm_message = '@Html.LocalizedLabel("MerchantUsingPackage")';
                                confirm_message = confirm_message.replace('{0}', data.list.length);
                                var temp_spi = service_package_id.replace('-', '_');
                                var confirm = "<div class='modal-body'>" + confirm_message + "<input type='hidden' id='hd-service-package' value='" + data.list[0] + "' /></div><div class='modal-footer'><button onclick='ViewList()' data-dismiss='modal' class='btn btn-primary' style='padding-left:20px;padding-right:20px'>@Html.LocalizedLabel("ViewList")</button><button type='button' class='btn btn-default' data-dismiss='modal' onclick='dismissPopup()' style='padding-left:20px;padding-right:20px;color:#428bca'>@Html.LocalizedLabel("Close")</button></div>";
                                $('.modal-content').html(confirm);
                            }
                            else {
                                var inactive = '<div class="modal-body">@Html.LocalizedMessage("ConfirmDeactivePackage")</div><div class="modal-footer"><button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button><button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button></div>';
                                $('.modal-content').html(inactive);
                            }
                        });*@

                    }

                    $('#modalInactive').modal();
                }
                ////}
            };

        }
    });

    function dismissPopup() {

        $('#lbl-' + jsPackageItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsPackageItem["position"]);
        if (jsPackageItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsPackageItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsPackageItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }

    function confirmUpdate() {
        //setStatus(jsPackageItem["value"], jsPackageItem["status"]);
        setStatus(jsPackageItem["position"]);
        isDismiss = "False";

    }

    function setStatus(id) {

        var element = document.getElementById(id);
        var statusServicePackage = element.value == "true" ? true : false;
        var yesNo;
        var idServicePackage = element.getAttribute("name");

        $.ajax({
            type: 'POST',
            url: '@Url.Action("UpdateStatus", "ServicePackage")',
            data: {
                id: idServicePackage,
                status: statusServicePackage
            },
            success: function (status) {

            },
            error: function (status) {
            }

        });
    }

    function ViewList() {
        var get_id = 'hd-service-package';
        var element = document.getElementById(get_id);
        var idServicePackage = element.getAttribute("value");
        var url = encodeURI('@Url.Action("ViewList", "MerchantManagement")' + '/' + idServicePackage);
        window.location = url;
    }

    $(document).ready(function () {
        $("#searchclear").toggle(false);
        $("#txtSearchButton").keyup(function () {
            $("#searchclear").toggle(Boolean($(this).val()));
        });
        $("#searchclear").click(function () {

            $("#txtSearchButton").val('').focus();
            $(this).hide();
            getInformationPaging('@Model.pageGoTo', '@Model.sort', '@Model.desc', "");
        });
    });

    @*$('#txtSearchButton').change(function () {
        getInformationPaging('@Model.pageGoTo', '@Model.sort', '@Model.desc', "");
    });*@
    $('#btnSearchButton').click(function () {
        getInformationPaging('@Model.pageGoTo', '@Model.sort', '@Model.desc', "");
    });

</script>