﻿
<div>
    <div id="header-mail">
        <label>
            Hi [FirstNameOfCustomer],

        </label>
        <div style="margin-top:10px;">
            Your order #[OrderNumber] has been canceled.
        </div>
        <div>
            Please contact us if you have any question.
        </div>
        <div>
            <div style="margin-top:10px;">
                Visit us again at: <a href="[OnlineshopLink]"> [OnlineshopLink]</a>
            </div>
            <div style="margin-top:30px;">
                Sincerely,
            </div>
            <div>
                [BusinessName]
            </div>
        </div>
    </div>

</div>



