﻿
@model  SmoovPOS.Entity.Entity.CashDrawerReport


<div>
    <div id="header-mail">
        <label>
            Hi ,
        </label>
        <div style="margin-top:10px;">
            Below is a summary of your cash drawer report. Please keep this mail for future reference.

        </div>       
    </div>
    <div style="margin-top:20px;margin-left:50px;">
        <div>
            @{
                if (Model.closed)
                {
                    <text>
                        Closed Date: [TimeCashDrawer] @*@Model.closedDate.ToString("MM/dd/yyyy - hh:mm:ss")*@
                    </text>
                }
                else
                {
                    <text>
                        Starting Date: [TimeCashDrawer] @*@Model.startedDate.ToString("MM/dd/yyyy - hh:mm:ss")*@
                    </text>
                }
}
          
           
        </div>
        <div style="margin-top:10px">
            <b>
                Cash
            </b>
        </div>
        <div style="margin-top:10px">

            <div>
                <!-- Bill to ship to-->
                <table style="background-color:#f8f8f8;border:1px solid #D3D2D2;border-radius: 5px;width:50%;">
                    <tr style="margin-top:10px;height:30px;">
                        <td>Starting Cash</td>
                        <td style="align-content:center; width:25%;text-align:right;padding-right:15px;">
                         @Model.currency&nbsp;  @String.Format("{0:0.00}", @Model.startingCash)
                        </td>
                    </tr>
                    <tr style="margin-top:10px;height:30px;">

                        <td>
                            Cash Tendered
                        </td>
                        <td style="align-content:center; width:25%;text-align:right;padding-right:15px;">
                          @Model.currency&nbsp; @String.Format("{0:0.00}", @Model.reportInfo.cashTendered)
                        </td>
                    </tr>
                    <tr style="margin-top:10px;height:30px;">

                        <td>
                            Cash Change
                        </td>
                        <td style="align-content:center; width:25%;text-align:right;padding-right:15px;">
                        @Model.currency&nbsp;   @String.Format("{0:0.00}", @Model.reportInfo.cashChange)
                        </td>
                    </tr>
                    <tr style="margin-top:10px;height:30px;">

                        <td>
                            Cash Refund
                        </td>
                        <td style="align-content:center; width:25%;text-align:right;padding-right:15px;">
                        @Model.currency&nbsp;   @String.Format("{0:0.00}", @Model.reportInfo.cashRefund)
                        </td>
                    </tr>
                    <tr style="margin-top:10px;height:30px;">
                        <td>
                            Paid In
                        </td>
                        <td style="align-content:center; width:25%;text-align:right;padding-right:15px;">
                         @Model.currency&nbsp;@String.Format("{0:0.00}", @Model.reportInfo.cashPaidIn)
                        </td>
                    </tr>
                    <tr style="margin-top:10px;height:30px;">
                        <td>
                            Paid Out
                        </td>
                        <td style="align-content:center; width:25%;text-align:right;padding-right:15px;">
                          @Model.currency&nbsp; @String.Format("{0:0.00}", @Model.reportInfo.cashPaidOut)
                        </td>
                    </tr>
                    <tr style="margin-top:10px;height:30px;">
                        <td>
                            Expected In Drawer
                        </td>
                        <td style="align-content:center; width:25%;text-align:right;padding-right:15px;">
                           @Model.currency&nbsp;@String.Format("{0:0.00}", @Model.reportInfo.cashExpected)
                        </td>
                    </tr>
                    @{
                        if (Model.closed)
                        {
                            <tr style="margin-top:10px;height:30px;">
                                <td>
                                    <b> Total Actual</b>
                                </td>
                                <td style="align-content:center; width:25%;text-align:right;padding-right:15px;">
                                    <b>
                                       @Model.currency&nbsp; @String.Format("{0:0.00}", @Model.reportInfo.cashTotalActual)
                                    </b>
                                </td>
                            </tr>
                        }
                    }
                </table>


            </div>

        </div>
    </div>
    <div>
      
        <div style="margin-top:30px;">
            Sincerely,
        </div>
        <div>
            [BusinessName]
        </div>
    </div>
</div>
