﻿<div>
    <div id="header-mail">
        <label>
            Hi [FirstNameOfCustomer],
        </label>  <div style="margin-top:10px;">
            Your order number [OrderNumber] has been updated, status <b>[OrderStatusDisplayForCustomer]</b>
        </div>  <div>
            <div style='margin-top:10px;'>    Visit us again at: [OnlineshopLink]  </div>  <div style='margin-top:30px;'>
                Sincerely,
            </div>  <div>    [BusinessName]  </div>
        </div>
    </div>
</div>