﻿@using Com.SmoovPOS.Entity
@using SmoovPOS.Utility.CustomHTMLHelper

@model IEnumerable<Com.SmoovPOS.Entity.Category>

@{
    //ViewBag.Title = "Product / New Product";
    ViewBag.Title = "New Product";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    var indexImgDefault = 0;
}

<style>
    .none {
        display: none !important;
    }



    .default {
        background: red;
        color: red;
    }

    /*.bootstrap-tagsinput{
        margin-top:10px;
    }
     .bootstrap-tagsinput:nth-child(1){
        margin-top:0px;
    }*/
    #optionId {
        margin-top: 0px !important;
    }
</style>

<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/underscore.js"></script>
<script>
    var id = 1;
</script>

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { @encType = "multipart/form-data", @class = "submit-before" }))
{
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h2>@ViewBag.Title</h2>
        </div>
        <div class="col-md-8" style="padding-right:30px;">
            <input type="submit" value="@Html.LocalizedButton("Save")" class="btn btn-default-smoov btnSaveProduct" style="margin-left:auto" />
            <input type="submit" value="@Html.LocalizedButton("Save")" class="btn btn-default-smoov" id="btnSubmit" style="margin-left:auto;display:none" />
            <button onclick="location.href='@Url.Action("Index", "Product")';return false;" class="btn btn-smoov btnCancelAddProduct" style="margin-right:5px;">@Html.LocalizedButton("Close")</button>
        </div>
    </div>
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="q-form">
        <div class="col-md-4">
            <h4>@Html.LocalizedLabel("ProductDetail")</h4>
            <p>@Html.LocalizedLabel("ProductDetailDescription")</p>
            @*<div class="">
                    <select id="status" name="cbActiveProduct" class="selectStatus">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                </div>*@
        </div>
        <div class="col-md-8">
            <div class="validation-summary-errors">
                <ul>
                    @*<li id="ErrName" style="display:none">The Name field is required.</li>*@
                    @*<li id="ErrName2" style="display:none">The Name field is too long.</li>*@
                    @*<li id="ErrSKU" style="display: none; ">The SKU field is required.</li>*@
                    @*<li id="ErrSKUExist" style="display: none; ">The SKU is exist.</li>*@
                    @*<li id="ErrPrice" style="display: none; ">The Price field is required.</li>*@
                    @*<li id="ErrInputOption" style="display: none; ">The Option field is required.</li>*@
                </ul>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="inner">
                        <label for="name">@Html.LocalizedLabel("Name")</label><span style="color:red"> *</span>
                    </div>
                    <div class="inner">
                        <input type="text" class="form-control" required id="name" name="name" placeholder="Enter name" maxlength="100">
                        <span id="ErrName" style="display:none; color:#b94a48">This field is required.</span>
                        <span id="ErrName2" style="display:none; color:#b94a48">The Name field is too long.</span>
                    </div>
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-6">
                    <label for="ShortName"> @Html.LocalizedLabel("ShortNameOnly3character")</label>
                    <input type="text" class="form-control" id="nameShort" name="nameShort" placeholder="short name" maxlength="3">
                </div>
                <div class="col-md-6">
                    <label for="Category">@Html.LocalizedLabel("Category")</label>
                    <select id="drlCategory" class="form-control" name="drlCategory">
                        @foreach (var item in Model)
                        {
                        <option value="@item._id~@item.title">@item.title </option>
                        }
                    </select>
                </div>

            </div>
            <div class="q-clear">
            </div>
            <div class="form-group">
                <div class="col-md-12" style="margin-top:20px;">
                    <label for="description">@Html.LocalizedLabel("description")</label>
                    <textarea name="description" id="description" class="form-control ckeditor " rows="5" maxlength="300"></textarea>
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="form-group">

                <div class="col-md-6">
                    <label for="productType">@Html.LocalizedLabel("UnitType")</label>
                    <input type="text" class="form-control" id="productType" name="productType" placeholder="Unit, Package,...." maxlength="100">
                </div>
                <div class="col-md-6">
                    <label for="vendor">@Html.LocalizedLabel("Brand")</label>
                    <input type="text" class="form-control" id="vendor" name="vendor" maxlength="100">
                </div>

            </div>
        </div>
        <div class="q-clear">
        </div>
        <hr />
        <div class="col-md-4">
            <h4>@Html.LocalizedLabel("Image")</h4>
            <p>@Html.LocalizedLabel("UploadImagesProduct")</p>
            <div class="form-group">
                <label for="exampleInputFile" style="display:none">File input</label>
                <label id="upfile1" style="cursor:pointer;margin-top:20px;" class="upfile1" multiple="multiple">@Html.LocalizedLabel("ChooseFile")</label>
                <input type="file" value="Browser File" id="choose" multiple="multiple" name="images[]" style="display:none" />
                <label id="Errendfile" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("LimitFileImage64MB")</label>
                <p class="help-block" style="display:none">@Html.LocalizedMessage("UploadImagesProductHere")</p>
                <p>@Html.LocalizedMessage("LimitImages64")</p>
            </div>
            <input type="text" id="inputRemoveDynamic" name="inputRemoveDynamic" style="display:none" />
            <input type="text" id="inputRemoveStatic" name="inputRemoveStatic" style="display:none" />
            <input type="text" id="inputCheck" name="inputCheck" value="@indexImgDefault" style="display:none" />
            <input type="text" id="listImageSave" name="listImageSave" style="display:none;" />
        </div>
        <div class="col-md-8" style="padding-left: 30px;">

            <div class="form-group">


            </div>
            <div class="q-form-images">

                <div class="row radio" style="padding-left:0px;padding-right:20px;">
                    <div id="uploadPreview" class="parent">
                    </div>
                    <div class="loading" style="display:none">
                        <i class="fa fa-spinner fa-spin"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="q-clear">
        </div>
        <hr />

        <div class="col-md-4">
            <h4>@Html.LocalizedLabel("inventoryVariation")</h4>
            <p>@Html.LocalizedLabel("inventoryDescript")</p>
            @*<h3>Inventory & Variation</h3>
            <p>Manage inventory, and configure the options for selling this product.</p>*@
        </div>
        <div class="col-md-8">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="price">@Html.LocalizedLabel("SalingPrice")</label>
                    <input type="text" size="13" maxlength="13" class="form-control" id="price" name="price" placeholder="0.00">

                </div>
                <div class="col-md-6" style="display:none">
                    <label for="priceCompare">@Html.LocalizedLabel("CompareAtPrice")</label>
                    <input type="text" size="13" maxlength="13" class="form-control" id="priceCompare" name="priceCompare" placeholder="0.00">
                </div>
                <div class="col-md-6">
                    <label for="priceCost">@Html.LocalizedLabel("CostPriceOnlyForReport")</label>
                    <input type="text" size="13" maxlength="13" class="form-control" id="priceCost" name="priceCost" placeholder="0.00" min="0">
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6" style="margin-top:10px">
                    <div class="inner">
                        <label for="sku">@Html.LocalizedLabel("SKU")</label><span style="color:red"> *</span>
                    </div>
                    <div class="inner">
                        <input type="text" size="20" maxlength="20" class="form-control" required id="sku" name="sku" placeholder="SKU">
                        <span id="ErrSKU" style="display: none; color:#b94a48">This field is required.</span>
                        <span id="ErrSKUExist" style="display: none; color:#b94a48">The SKU is exist.</span>
                    </div>
                </div>

            </div>

            <div class="q-clear">
            </div>


            <div class="form-group">
                <div class="col-md-12">
                    <label>
                        <input type="checkbox" id="require-ship" name="require-ship" checked onclick="showMe('weight-group', this)">
                        @Html.LocalizedLabel("TrackWeight")
                    </label>
                </div>
            </div>

            <div class="form-group" id="weight-group">
                <div class="col-md-6">
                    <label for="weight">@Html.LocalizedLabel("WeightKG")</label>

                    <input type="text" size="13" maxlength="13" min="0" class="form-control" id="weight" name="weight" placeholder="0.00">
                </div>
            </div>

            <div class="q-clear">
            </div>


            <div class="row" style="margin-left:-20px">
                <div class="col-md-12">
                    <div class="col-md-6 ">
                        <label for="inventoryPolicy">@Html.LocalizedLabel("Policy")</label>
                        <select id="inventoryPolicy" name="inventoryPolicy" class="form-control">
                            <option value="100">@Html.LocalizedLabel("DontTrackThisInventory")</option>
                            <option value="101">@Html.LocalizedLabel("TrackThisInventory")</option>
                        </select>
                    </div>

                </div>
                <div class="q-clear">
                </div>
                <div id="101" class="col-md-12 colors" style="display:none; margin-top:20px;">
                    <div class="col-md-6 ">
                        <label for="master-inventory">@Html.LocalizedLabel("Quantity")</label>

                        <input type="text" pattern="[0-9]+([,\.][0-9]+)?" size="9" maxlength="9" min="0" class="form-control" id="master-inventory" name="master-inventory" placeholder="0">
                    </div>
                    <div class="col-md-6 ">
                        <label for="remind-stock">@Html.LocalizedLabel("RemindMeWhenStockReaches")</label>
                        <input type="text" pattern="[0-9]+([,\.][0-9]+)?" size="9" maxlength="9" min="0" class="form-control" id="remind-stock" name="remind-stock" placeholder="0">

                    </div>
                </div>
            </div>

            <div class="q-clear">
            </div>

            <div class="form-group">
                @*<div class="col-md-10">
                        @Html.Partial("~/Views/Product/EditorTemplates/VariantOptions.cshtml", new VarientItem())
                    </div>*@
                <div class="col-md-10">
                    <label>
                        <input type="checkbox" id="multi-inventory" name="multi-inventory" checked onclick="showMeAddOption('multi-inventory-group', this)">
                        This product has multiple options
                    </label>
                </div>
            </div>
            <div class="row " id="multi-inventory-group" style="margin-left:-20px">
                <div class="tag-0">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="optionName">Option name</label>
                                <select id="optionId" name="optionName" class="form-control">
                                    @*<option selected value="1">@Html.LocalizedLabel("Modifier")</option>
                                        <option>Color</option>
                                        <option>Size</option>*@
                                </select>
                            </div>
                            <div class="col-md-5">
                                <label for="tag">@Html.LocalizedLabel("OptionValue")</label>
                                <input type="text" class="form-control" id="tag-input-0" name="tag" data-role="tagsinput" value="" style="margin-top:0px!important" required>
                                <p class="help-block"></p>
                            </div>
                            <div class="col-md-1">
                                <img src="@Url.Content("~/Content/Images/cancel.jpg")" onclick="deleteOptionVariant($(this).parent('div').parent('div').parent('div').parent('div').attr('class'))"
                                     style="visibility: visible" class="img-remove-option" width="15" height="15" id="1" />
                            </div>
                        </div>
                    </div>
                    <div class="q-clear">
                    </div>
                </div>

                <div class="tag-1 ">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="col-md-6">
                                <label for="optionName">@Html.LocalizedLabel("OptionName")</label>
                                <select id="optionId" name="optionName" class="form-control">
                                    <option selected value="1">@Html.LocalizedLabel("Modifier")</option>
                                    <option value="2">@Html.LocalizedLabel("Color")</option>
                                    <option value="3">@Html.LocalizedLabel("Size")</option>
                                </select>
                            </div>
                            <div class="col-md-5">
                                <div class="inner">
                                    <label for="tag">@Html.LocalizedLabel("OptionValue")</label><span style="color:red"> *</span>
                                </div>
                                <div class="inner">
                                    <input type="text" class="form-control" id="tag-input-0" name="tag" data-role="tagsinput" value="" required>
                                    <p class="help-block"></p>
                                    <span id="ErrInputOption" style="display: none; color:#b94a48">This field is required.</span>
                                </div>

                            </div>
                            @*<div class="col-md-1">
                                    <img src="@Url.Content("~/Content/Images/cancel.jpg")" onclick="deleteOptionVariant($(this).parent('div').parent('div').parent('div').parent('div').attr('class'))"
                                         style="visibility: hidden" class="img-remove-option" width="15" height="15" id="1" />
                                </div>*@
                        </div>
                    </div>
                    <div class="q-clear">
                    </div>

                </div>
            </div>
            <button id="btn-add-optionId" type="button" class="btn btn-smoov" onclick="InsertMoreOption()" style="margin-left:20px">@Html.LocalizedButton("AddAnotherOption")</button>
        </div>
    </div>
     <!-- ACTIVE / INACTIVE-->
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="form-horizontal">
        <div class="col-md-4">
            <h4>@Html.LocalizedLabel("Status")</h4>
            <p>@Html.LocalizedLabel("StatusProductDescription")</p>
        </div>
        <div class="col-md-8">
            <div class="form-group ">
                <div class="col-md-12 outer" style="margin-left:20px">
                    <div class="inner">
                        <b>@Html.LocalizedLabel("Active")</b>

                    </div>
                    <div class="inner">
                        @try
                        {
                            <div class="btn-group" data-toggle="buttons">
                                <label class="btn btn-default active statusMerchant" id="lbl-statusActive">
                                    <input type="radio" name="status" id="statusActive" value="true" class="optionsRadios">
                                    ON

                                </label>
                                <label class="btn btn-default statusMerchant" id="lbl-statusInActive">
                                    <input type="radio" name="status" id="statusInActive" value="false" class="optionsRadios">
                                    OFF
                                </label>
                            </div>
                        }
                        catch { }
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- END ACTIVE / INACTIVE-->
    <!-- FOOTER-->
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="q-toolsbar">
        <div class="col-md-4">

        </div>
        <div class="col-md-8" style="padding-right:30px;">
            <input type="submit" value="@Html.LocalizedButton("Save")" class="btn btn-default-smoov btnSaveProduct" style="margin-left:auto" />
            <input type="submit" value="@Html.LocalizedButton("Save")" class="btn btn-default-smoov" id="btnSubmit" style="margin-left:auto;display:none" />
            <button onclick="location.href='@Url.Action("Index", "Product")';return false;" class="btn btn-smoov btnCancelAddProduct" style="margin-right:5px;">@Html.LocalizedButton("Close")</button>
        </div>
    </div>
     <!-- END FOOTER-->

}


<script>

    listSelected = [];
    data = [
    { label: "@Html.LocalizedLabel("Modifier")", value: 1 },
    { label: "Color", value: 2 },
    { label: "Size", value: 3 }
    ];

    listIndex = [];
    //    { label: "Material", value: 4 },


    //$('.tag-1').find('.col-md-12 .bootstrap-tagsinput:first').remove();
    $('.tag-0').css('display','none');
    $(function () {


        //---------------- END STATUS ACTIVE/ INACTIVE

        // insertOption(id, listSelected);
        // remove first tagsinput
        if ($('.tag-1').find('.col-md-12 .bootstrap-tagsinput:nth-child(1)'))
            // $('.tag-1').find('.col-md-12 .bootstrap-tagsinput:first').remove();
            $('.btnSaveProduct').click(function () {
                disableButton();
                var listImage = document.getElementById('listImageSave');
                listImage.value = getListImage();
                //  console.log(listImage.value);
                $('#ErrSKUExist').css('display', 'none');
                var check = Validation();
                // alert("SKU IS" + $('#sku').val());
                if (check) {
                    disableButton();
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("checkSKUExist", "Product")',
                        data: {
                            sku: $('#sku').val()
                        },
                        success: function (data) {
                            if (data=="True")
                            {
                                disableButton();
                                var length = 0;
                                $('#multi-inventory-group input[name="tag"]').each(function () {
                                    var temp = $(this).val().split(',');
                                    var l = temp.length;
                                    if (l > length) {
                                        length = l;
                                    }
                                });
                                $('#multi-inventory-group input[name="tag"]').each(function () {
                                    var temp = $(this).val().split(',');
                                    var l = temp.length;
                                    if (l < length) {
                                        for (var i = 0; i < (length - l) ; i++) {
                                            temp.push('');
                                        }
                                    }
                                    $(this).val(temp.join());
                                });
                                //   disableButton();
                                $('#btnSubmit').prop('disabled', false);
                                $('.submit-before :disabled').removeAttr('disabled');
                                $('.tag-0').remove();
                                $('#btnSubmit').click();
                                disableButton();
                            } else {
                                enableButton();

                                $('#ErrSKUExist').css('display', 'block');
                            }
                        },
                        error: function (data) {
                            enableButton();
                            return false;
                        }
                    });
                }

            })

        //

    });
    function disableButton()
    {
        $('.btnCancelAddProduct').prop('disabled', true);
        $('.btnSaveProduct').prop('disabled', true);
        $('.btnSaveProduct').prop('value', "Saving...");
        $('#btnSubmit').prop('disabled', true);
    }
    function enableButton()
    {
        $('.btnCancelAddProduct').prop('disabled', false);
        $('.btnSaveProduct').prop('disabled', false);
        $('.btnSaveProduct').prop('value', "Save");
        $('#btnSubmit').prop('disabled', false);
    }
    function insertOption(id, value) {
        var selectedTag1 = $(".tag-1"+ ' #optionId').val();
        var selectedTag2 = $(".tag-2"+ ' #optionId').val();
        var selectedCurrent = $(".tag-" + id + ' #optionId').val();
        var selected= "";
        var temp = _.clone(data);
        console.log(temp);
        var option = '';
        //  console.log(id);
        var iid = 2;
        temp.forEach(function (d) {
            if (value.indexOf(d.value + '') === -1) {
                if(parseInt(d.value)==parseInt(selectedCurrent)){
                    selected = " selected ";
                }else {
                    selected = "";
                }
                if(parseInt(d.value)!= parseInt(selectedTag1) && parseInt(d.value)!= parseInt(selectedTag2)){
                    option += '<option'+ selected +' value="' + d.value + '">' + d.label + '</option>';
                }

                iid++;

            }
        });
        //   console.log(option);
        $(".tag-" + id + ' #optionId').html(option);
    }

    function getNumberOptionShow()
    {
        @*var urlDefault = "@urlImgDefault";
        var imagesVariant = [];*@
        var numberOpition =-1;
        $('.bootstrap-tagsinput').each(function(){

            numberOpition ++;
        })
        console.log('number of option show '+ numberOpition);
        return numberOpition;
    }
    function InsertMoreOption() {
        var idBefore = id;
        // show button delete when view have greater 2 option
        //  $('.tag-' + id + ' .img-remove-option').css('visibility', 'visible');
        listSelected.push($(".tag-" + idBefore + ' #optionId').val());
        id++;
        var div = $(".tag-0").clone();
        $(".tag-" + idBefore + ' #optionId').prop('disabled', 'disabled');
        div[0].className = "tag-" + id;
        div.find('.col-md-12 .bootstrap-tagsinput').remove();
        div.find('.col-md-12 #tag-input-0').tagsinput('');
        div.appendTo("#multi-inventory-group");
        insertOption(id, listSelected);
        var numOption = getNumberOptionShow();
        //if (listSelected.length == data.length - 1) {
        //    $("#btn-add-optionId").hide();
        //}
        if(numOption ==3)
        {
            $("#btn-add-optionId").hide();
        }
        $(".tag-" + id).css('display', 'block');

    }

    function deleteOptionVariant(val) {
        var selected = $('.' + val + ' #optionId').val();
        listSelected.splice(listSelected.indexOf(selected), 1);
        $('.' + val).remove();
        $("#btn-add-optionId").show();
        insertOption(id, listSelected);
        //  id--;
        console.log(listSelected);
        var tag_0 =0;

        $('#multi-inventory-group #optionId').each(function(){
            //   $(this).attr('enable', true);
            if(tag_0 == listSelected.length+1)  $(this).attr('disabled', false);
            tag_0++;
        });
    }

    $("#price").maskMoney();
    $("#priceCompare").maskMoney();
    $("#priceCost").maskMoney();
    $("#weight").maskMoney();


    $(function () {
        $('#inventoryPolicy').change(function () {
            $('.colors').hide();
            $('#' + $(this).val()).show();
            $("#master-inventory").val(0);
            $("#remind-stock").val(0);
        });
    });


    $(function () {
        $('#multi-inventory').change(function () {
            $('.caret').hide();
            $('#' + $(this).val()).show();
            //    $("#multi-inventory-group").val().show();
        });
    });
    function showMeAddOption(it, box) {
        var vis = (box.checked) ? "block" : "none";
        document.getElementById(it).style.display = vis;
        document.getElementById("btn-add-optionId").style.display = vis;
        //  $('#' + it).find('.col-md-7 .bootstrap-tagsinput:first').remove();
    }
    function showMe(it, box) {
        var vis = (box.checked) ? "block" : "none";
        document.getElementById(it).style.display = vis;
        // document.getElementById("btn-add-optionId").style.display = vis;
        //  $('#' + it).find('.col-md-7 .bootstrap-tagsinput:first').remove();
    }

    $(document).ready(function () {
        //----------------- check Safari to upload image
        var ua = navigator.userAgent.toLowerCase();
        var check = function (r) {
            return r.test(ua);
        };
        var isChrome = check(/chrome/);
        var isSafari = !isChrome && check(/safari/);
        var isSafari2 = isSafari && check(/applewebkit\/4/); // unique to
        // Safari 2
        var isSafari3 = isSafari && check(/version\/3/);
        var isSafari4 = isSafari && check(/version\/4/);
        if (isSafari||isSafari2||isSafari3||isSafari4) {
            //console.log("IS SAFARI");
            //$('choose').removeAttr("display");
            // $('#choose').prop('display','block');

            $('#choose').css('display', '');
            $('#upfile1').css('display', 'none');
        }
        //----------------- check Safari to upload image

        $('input[name="nameShort"]').attr('maxlength', 3);
        $("#master-inventory").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                //   $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });
        $("#remind-stock").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                //    $("#errmsg").html("Digits Only").show().fadeOut("slow");
                return false;
            }
        });

    });





    var arrRemove = [];

    var arrIndexDynamic = "";
    var numCount = 0;
    /// <summary>
    /// Deletes the image.
    /// </summary>
    /// <param name="contextCurrent">The context current.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/7/2015-11:48 AM</datetime>
    function deleteImage(contextCurrent) {
        var element = document.getElementById('div_img_'+contextCurrent);
        console.log(element);
        if(element!=null)
            element.parentNode.removeChild(element);


        changeCheckRadio();
    }
    /// <summary>
    /// Checks the exit choose radio.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/7/2015-11:48 AM</datetime>
    function checkExitChooseRadio() {
        var notExitCheck = false;
        var div = document.getElementById("uploadPreview");
        var i;
        var indexCheck = 0;
        for (i = 0; i < div.childNodes.length; i++) {

            var st = div.childNodes[i].id;
            if (st != null) {
                var lenght = st.lenght - 8;
                var st1 = st.substring(8, st.lenght);
                //   console.log("st i get " + st);
                var radioElement = document.getElementById('rad_' + st1);
                if (radioElement.checked) {
                    notExitCheck = true;
                    //   console.log("CHECK ");
                    var inputCheck = document.getElementById("inputCheck");
                    inputCheck.value = indexCheck;
                }
                else {
                    //  console.log("=================DONT CHECK ");
                }
                indexCheck++;
            }


        }
        if (!notExitCheck) {
            var inputCheck = document.getElementById("inputCheck");
            inputCheck.value = 0;
        }
        return notExitCheck;
    }
    /// <summary>
    /// Changes the check radio.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/7/2015-11:49 AM</datetime>
    function changeCheckRadio() // kiem tra su ton tai cua check de set lai
    {
        var div = document.getElementById("uploadPreview");
        var i;
        var notExitCheck = checkExitChooseRadio();

        if (notExitCheck == false && div.childNodes.length > 0) {

            for (i = 0; i < div.childNodes.length; i++) {

                var st = div.childNodes[i].id;
                if (st != null) {
                    var lenght = st.lenght - 8;
                    var st1 = st.substring(8, st.lenght);

                    var radioElement = document.getElementById('rad_' + st1);
                    var element1 = document.getElementById('lbl_' + st1).innerHTML = 'Default';
                    $('input[name="radioDynamic"][value="' + st1 + '"]').prop('checked', true);
                    var inputCheck = document.getElementById("inputCheck");
                    inputCheck.value = 0;
                    console.log("BREAK FOR LOOP");
                    break;
                }
            }

        }

    }
    /// <summary>
    /// Changes the radio.
    /// </summary>
    /// <param name="contextCurrent">The context current.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/7/2015-11:49 AM</datetime>
    function changeRadio(contextCurrent) {
        var div = document.getElementById("uploadPreview");
        var i;
        if(div.childNodes.length>0)
        {
            var element = document.getElementById('lbl_'+contextCurrent).innerHTML='Default' ;
            $('input[name="radioDynamic"][value="' + contextCurrent + '"]').prop('checked', true);

            var indexCheck =0;
            for (i=0;i<div.childNodes.length;i++)
            {
                var st = div.childNodes[i].id;
                if (st != null) {
                    var lenght = st.lenght -8;
                    var st1= st.substring(8, st.lenght);
                    if( st1!=contextCurrent)
                    {
                        var element1 = document.getElementById('lbl_'+st1).innerHTML='Set Default';
                    }
                    else {
                        var inputCheck = document.getElementById("inputCheck");
                        inputCheck.value =indexCheck ;
                    }
                    indexCheck ++;
                }

            }

        }

    }
    /// <summary>
    /// Is_valid_urls the specified URL.
    /// </summary>
    /// <param name="url">The URL.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/7/2015-11:49 AM</datetime>
    function is_valid_url(url)
    {

        return url.match(/^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/);
    }
    /// <summary>
    /// Gets the list image.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/7/2015-11:49 AM</datetime>
    function getListImage()
    {

        var images = [];
        $('.img-rounded').each(function(){
            var url = $(this).attr('src');
            if(is_valid_url(url))
            {
                images.push($(this).attr('src'));

            }

        });
        //    console.log(images);
        return images;
    }
    /// <summary>
    /// Validations this instance.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/7/2015-11:49 AM</datetime>
    function Validation(){

        enableButton();
        var listImage = document.getElementById('listImageSave');
        listImage.value = getListImage();
        console.log(listImage.value);
        var check = true;
        var name = $('#name').val().trim();
        var price = $('#price').val().trim();
        var sku = $('#sku').val().trim();
        if(price.length==0){
            var price = document.getElementById('price');
            price.value = "0.00";
        }

        if(name.length<1){
            $('#ErrName').css('display','block');
            check = false;
        } else {
            $('#ErrName').css('display','none');
        }
        if(name.length>100){
            $('#ErrName2').css('display','block');
            check = false;
        } else {
            $('#ErrName2').css('display','none');
        }
        if(price.length==0){
            $('#ErrPrice').css('display','block');
            check = false;
        } else {
            $('#ErrPrice').css('display','none');
        }
        if(sku.length<1){
            $('#ErrSKU').css('display','block');
            check = false;
        }else {
            $('#ErrSKU').css('display','none');

        }
        var tag_0 =0;
        $('#multi-inventory-group #tag-input-0').each(function(){
            if(tag_0 != 0){
                if($(this).val() ==="" && $("#multi-inventory").is(':checked')){
                    $('#ErrInputOption').css('display','block');
                    check = false
                }else{
                    $('#ErrInputOption').css('display','none');
                }
            }
            tag_0++;
        });

        if(check)
        {
            disableButton();
        }
        else{
            enableButton();
        }


        //

        return check;

    }
    /// <summary>
    /// Gets the number picture.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/7/2015-11:49 AM</datetime>
    function getNumberPicture()
    {

        var images = 0;
        $('.img-rounded').each(function(){
            var url = $(this).attr('src');
            if(is_valid_url(url))
            {
                images++;

            }

        });
        return images;
    }
    //===================


    var totalImageStatic= 0;
    $("#choose").change(function (e) {

        totalImageStatic = numCount + parseInt(totalImageStatic);
        var F = (this).files;
        var limit =   @ViewBag.LimitImage;
        $('#Errendfile').css('display', 'none');

        //if((this.files.length + numCount)>15)
        //{
        //    alert("Maximum Upload File Size (15 posts)");
        //    document.getElementById("choose").value = null;
        //}
        var sizeLimit =1024*1024*Math.pow(2, 6); // Math.pow(2, 6) = 64
        var totalSize =0;
        if (F && F[0]) for (var i = 0; i < F.length; i++) {
            totalSize = totalSize + this.files[0].size;
        }
        if (totalSize> sizeLimit) {
            $('#Errendfile').css('display', 'block');
            //console.log(data);
            document.getElementById("choose").value = null; // xoa de co the up image trung
            return false;
        }
        else
        {
            var arrImage = [];
            var listImage = [];
            var file = document.getElementById('choose').files[0];
            var formData = new FormData();
            if (F && F[0]) for (var i = 0; i < F.length; i++) {
                numCount++;
                var file = F[i];
                var fileName = file.name;
                arrImage.push(file);
                listImage.push(fileName);

                formData.append(file.name, file);
            }
            formData.append("isProduct", "1");
            formData.append("listImage", listImage);
            formData.append("totalImageStatic", totalImageStatic);
            formData.append("imageType", '@SmoovPOS.Common.ConstantSmoovs.Image_Type.Big');
            console.log(formData);
            $.ajax({
                type: 'POST',

                url: '@Url.Action("UploadImage", "Upload")',
                data: formData,
                mimeType: "multipart/form-data",
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {

                    $("#uploadPreview").append(data);
                    changeCheckRadio();
                    //console.log(data);
                    document.getElementById("choose").value = null; // xoa de co the up image trung
                },
                beforeSend: function () {
                    $('.loading').css("display", "block");

                },
                complete: function () {
                    $('.loading').css("display", "none");

                }

            });


        }

    });


    $("#upfile1").click(function () {
        //$("#choose").trigger('click');
        $("#choose").click();
    });

    $("#sku").keypress(function (e) {
        if (e.which == 32) {
            return false;
        }
    });
</script>
