﻿@model SmoovPOS.Entity.Models.SearchProductModel
@using SmoovPOS.Utility.CustomHTMLHelper
<style>
    input, select, textarea {
        max-width: none;
    }
</style>
@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    int PageDefault = int.Parse(Request["limit"] ?? Model.Paging.limit.ToString());
    int index = 0;
}



<div class="q-toolsbar">
    <div class="col-md-4">
        <h2>@ViewBag.Title</h2>
    </div>
    <div class="col-md-8">
        <button type="button" class="btn btn-default" id="1" onclick="checkActive(this.id);" style="margin-right:5px;">Activate</button>
        <button type="button" class="btn btn-default" id="2" onclick="checkActive(this.id);" style="margin-right:5px;">Deactivate</button>
        <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Create", "Product")'">Add a product</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @if (Model.ListProductItem != null && Model.ListProductItem.Count() > 0)
        {
            <ul class="pagination">
                <li><a style="border: none;background-color: #fff;">@Model.Paging.totalFrom - @Model.Paging.totalTo of @Model.Paging.total</a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(1,@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-double-left"></i></a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo - 1),@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-left"></i></a></li>

                @if (Model.Paging.pageGoTo > 2)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.olderKey,true)">@Model.Paging.olderKey</a></li>
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                else if (Model.Paging.pageGoTo > 1)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                <li class="active"> <a> @Model.Paging.pageGoTo </a></li>

                @if (Model.Paging.firstKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.firstKey,true)">@Model.Paging.firstKey</a></li>
                }
                @if (Model.Paging.secondKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.secondKey,true)">@Model.Paging.secondKey</a></li>
                }

                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo + 1),@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-right"></i></a></li>
                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@Model.Paging.LastPage,@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-double-right"></i></a></li>

            </ul>
        }

    </div>
    <div class="col-md-6" style="margin: 20px 0;">
        <div class="input-group">
            <input type="text" name="text" id="text" class="form-control" value="@Model.Paging.text" placeholder="Search product" style="width: 84%;">
            <select class="form-control" id="type" name="type" style="width: 16%;">
                <option @(Model.Paging.type == "category" ? " selected" : "") value="category">Category</option>
                <option @(Model.Paging.type == "product" ? " selected" : "") value="product">Product</option>
            </select>
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" onclick="Searching()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
        </div>
    </div>
</div>

<table class="table table-striped" id="contributors">
    <thead>
        <tr class="header_table">
            <th style="width:50px;"><input type="checkbox" id="selectall" /></th>
            <th class="u_title">

                @Html.ActionLink("Product", "Index", new { sort = "product", type = @Model.Paging.type, text = Model.Paging.text, pageGoto = Model.Paging.pageGoTo, limit = Model.Paging.limit, desc = Model.Paging.desc ? false : true })
                @if (Model.Paging.sort == "product")
                {
                    if (Model.Paging.desc)
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                    }
                }
                else
                {
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                }
            </th>
            <th class="u_title">
                @Html.ActionLink("Category", "Index", new { sort = "category", type = @Model.Paging.type, text = Model.Paging.text, pageGoto = Model.Paging.pageGoTo, limit = Model.Paging.limit, desc = Model.Paging.desc ? false : true })
                @if (Model.Paging.sort == "category")
                {
                    if (Model.Paging.desc)
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet-alt" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="glyphicon glyphicon-sort-by-alphabet" aria-hidden="true"></span>
                    }
                }
                else
                {
                    <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                }
            </th>
            <th class="u_title">Master Qty</th>
            <th class="u_title"> Status  </th>
            <th class="u_title">In Stores</th>
            <th class="u_title"></th>
        </tr>
    </thead>

    @if (Model.ListProductItem != null && Model.ListProductItem.Count() > 0)
    {
        foreach (var item in Model.ListProductItem)
        {
            try
            {
                if (item.display)
                {
                    <tr>
                        <td>
                            <input type="checkbox" class="case" name="case" value=@item.productID />
                        </td>
                        <td>
                            @try
                            {
                                @Html.ActionLink(item.name.ToString(), "ViewDetail", new { id = item._id })
                            }
                            catch (Exception) { }



                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.categoryName)
                        </td>
                        <td>
                            @{
                            //  int count = 0;
                            int total = 0;
                            int itemCount = 0;
                            // int countCompare = 0;
                            bool isLargerZero = false;
                            foreach (Com.SmoovPOS.Entity.VarientItem itemVarient in item.arrayVarient)
                            {
                                if (itemVarient.quantity >= 0)
                                {
                                    total = total + itemVarient.quantity;
                                }


                                itemCount++;

                            }

                            foreach (Com.SmoovPOS.Entity.VarientItem itemVarient in item.arrayVarient)
                            {
                                if (itemVarient.quantity >= 0)
                                {
                                    isLargerZero = true;
                                    break;
                                }
                            }
                            if (isLargerZero)
                            {
                                if (total >= 0)
                                {

                                    <text> @total.ToString() for @itemCount.ToString() variants</text>
                                }
                                else
                                {
                                    <text> 0 for  @itemCount.ToString() variants </text>
                                }
                            }
                            else
                            {
                                if (item.inventoryPolicy == "100")
                                {
                                    <text> N/A for  @itemCount.ToString() variants </text>
                                }
                                else
                                {
                                    <text> 0 for  @itemCount.ToString() variants </text>
                                }


                            }
                            }


                        </td>

                        <td>
                            @try
                            {
                                if (Convert.ToBoolean(item.status))
                                {
                                    <input type="checkbox" id="switch-@index" class="js-switch" checked value=@item.productID />
                                }
                                else
                                {
                                    <input type="checkbox" id="switch-@index" class="js-switch" value=@item.productID />
                                }
                            }
                            catch (Exception) { }
                        </td>
                        <td>

                            @if (true)
                            {
                                <text>   @item.inStores  </text>
                            }
                        </td>
                        <td>

                            <button type="button" class="btn btn-default" onclick="location.href='@Url.Action("Distribute", "ProductItem", new { productId = item.productID })'">Distribute</button>
                        </td>
                    </tr>
                }
                index++;
            }
            catch
            {

            }


        }
    }
    else
    {
        <tr style="width:100%">
            <td style="width:100%;text-align:center" colspan="7">
                @Html.LocalizedMessage("NoResultWasFound")
            </td>
        </tr>
    }
</table>

<div class="row">
    <div class="col-md-6">
        @if (Model.ListProductItem != null && Model.ListProductItem.Count() > 0)
        {
            <ul class="pagination">
                <li><a style="border: none;background-color: #fff;">@Model.Paging.totalFrom - @Model.Paging.totalTo of @Model.Paging.total</a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(1,@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-double-left"></i></a></li>
                <li class=@(Model.Paging.pageGoTo == 1 ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo - 1),@(Model.Paging.pageGoTo == 1 ? false : true))"><i class="fa fa-angle-left"></i></a></li>

                @if (Model.Paging.pageGoTo > 2)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.olderKey,true)">@Model.Paging.olderKey</a></li>
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                else if (Model.Paging.pageGoTo > 1)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.previousKey,true)">@(Model.Paging.previousKey)</a></li>
                }
                <li class="active"> <a> @Model.Paging.pageGoTo </a></li>

                @if (Model.Paging.firstKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.firstKey,true)">@Model.Paging.firstKey</a></li>
                }
                @if (Model.Paging.secondKey <= Model.Paging.LastPage)
                {
                    <li> <a href="#" onclick="GoToPage(@Model.Paging.secondKey,true)">@Model.Paging.secondKey</a></li>
                }

                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@(Model.Paging.pageGoTo + 1),@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-right"></i></a></li>
                <li class=@(Model.Paging.LastPage == Model.Paging.pageGoTo ? "disabled" : "")> <a href="#" onclick="GoToPage(@Model.Paging.LastPage,@(Model.Paging.LastPage == Model.Paging.pageGoTo ? false : true))"><i class="fa fa-angle-double-right"></i></a></li>

            </ul>
        }
    </div>
</div>

<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">
                Do you want to deactivate this product?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()">Cancel</button>
                <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>

<script language="javascript">
    // init list switchery for status of products
    jsProductItem = {};
    isDismiss = "False";
    var elems = document.querySelectorAll('.js-switch');
    for (var i = 0; i < elems.length; i++) {
        var switchery = new Switchery(elems[i], { color: '#009DD9' });
        elems[i].onchange = function (e) {
            if (this.checked && isDismiss === "False") {
                setStatus($('#' + this.getAttribute('id')).val(), true);
            } else {
                isDismiss = "True";
                jsProductItem.status = this.checked;
                jsProductItem.value = $('#' + this.getAttribute('id').toString()).val();
                jsProductItem.position = this.getAttribute('id').toString();
                $('#modalInactive').modal();
            }
        };
    }

    function dismissPopup() {
        $('#' + jsProductItem["position"]).click();
    }

    function confirmUpdate() {
        setStatus(jsProductItem["value"], jsProductItem["status"]);
        isDismiss = "False";

    }


    $(function () {
        // add multiple select / deselect functionality
        $("#selectall").click(function () {
            $('.case').prop('checked', this.checked);
        });
        // if all checkbox are selected, check the selectall checkbox
        $(".case").click(function () {

            if ($(".case").length == $(".case:checked").length) {
                $("#selectall").prop("checked", true);

            } else {
                $("#selectall").prop("checked", false);
            }

        });
    });
    /*
 * Call to controller set active/inactive Category
 * checkActive() : multi active/inactive
 *
 */
    function setStatus(id, statusProduct) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusProduct", "Product")',
            data: {
                id: id,
                status: statusProduct
            },
            success: function () {

                location.reload(true);
            }
        })
    }

    function checkActive(obj) {
        var yesNo;
        if (obj == 1)
            yesNo = true;
        else {
            yesNo = confirm("This product will be inactivated in all stores.Are you sure you want to inactivate it ?");
        }

        if (yesNo) {
            var delChecked = [];
            var status = (obj == 1) ? true : false;

            $("input:checkbox[name=case]:checked").each(function () {
                delChecked.push($(this).val());
            });
            debugger;
            if (delChecked.length == 0) {
                alert('Please select item !');

            }
            else {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("updateStatus", "Product")',
                    data: {
                        arrId: delChecked,
                        status: status
                    },
                    success: function () {
                        location.reload(true);
                    }
                })
            }
        }
    }
    //----- End  Call to controller set active/inactive Category

    function timedRefresh(timeoutPeriod) {
        setTimeout(function () {
            location.reload(true);
        }, timeoutPeriod);
    }

    function GoToPage(page,bool) {
        if(bool){
            var link = "@(Url.Action("Index","Product"))";
            location.href = link +"/Index?sort=" + "@Model.Paging.sort" + "&type=" + $('#type').val() + "&text=" + $('#text').val() + "&pageGoTo=" + page + "&limit=" + @PageDefault;
        }
    }

    function Searching() {
        var link = "@(Url.Action("Index","Product"))";
        location.href = link +"/Index?sort="+ "@Model.Paging.sort" + "&type=" + $('#type').val() + "&text=" + $('#text').val() + "&pageGoTo=" + 1 + "&limit=" + @PageDefault;
    }

    $(document).keypress(function (event) {
        var keycode = (event.keyCode ? event.keyCode : event.which);
        if (keycode == '13') {
            Searching();
        }
    });
</script>