﻿@model Com.SmoovPOS.Entity.ProductItem
@using SmoovPOS.Utility.CustomHTMLHelper

@{
    //ViewBag.Title = "Product";
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    var ArrayVarient = Model.arrayVarient.ToList();
    String urlImg = "http://" + HttpContext.Current.Request.Url.Host.ToString() + "/SmoovPOS.UI/";
    var idIndex = 0;
    int indexImgDefault = 0;//= int.Parse(@Model.image.imageDetault);
    int uidV;

    if (int.TryParse(@Model.image.imageDetault, out uidV))
    {
        indexImgDefault = Convert.ToInt32(@Model.image.imageDetault);

    }

    String urlImgDefault = Url.Content("~/Content/Images/imageDefault.png");
}

<style>
    .table {
        table-layout: auto !important;
    }

        .table tbody > tr > td {
            padding-top: 30px !important;
        }

    ul.productImgList li {
        display: inline;
        margin-right: 20px;
    }
</style>

<div class="q-form">
    @using (Html.BeginForm("Update", "Product", FormMethod.Post, new { @encType = "multipart/form-data" }))
    {
        string status = string.Empty;
        <div class="q-toolsbar">
            @Html.HiddenFor(model => model._id)
            <div class="col-md-4">
                <h3>@ViewBag.Title/@Model.name </h3>
            </div>
            <div class="col-md-8">
                <button onclick="location.href='@Url.Action("Edit", "Product", new { id = Model._id})';return false;" class="btn btn-default-smoov" style="margin-right:5px">@Html.LocalizedButton("Edit")</button>
                <button type="button" class="btn btn-smoov" onclick="location.href='@Url.Action("Distribute", "ProductItem", new { productId = Model.productID })'" style="margin-right:5px">@Html.LocalizedButton("Distribute")</button>
                <button onclick="location.href='@Url.Action("Index", "Product")';return false;" class="btn btn-smoov" style="margin-right:5px;">@Html.LocalizedButton("Close")</button>

                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width: 350px;">
                            <div class="modal-body">
                                Do you want to delete this Product?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">@Html.LocalizedButton("Close")</button>
                                <button onclick="actionDelete();" class="btn btn-default" id="btn_delete" value="@Model._id">@Html.LocalizedButton("Delete")</button>
                                @*<button onclick="location.href='@Url.Action("Delete", "Product", new { id = Model._id })';return false;" class="btn btn-primary">Delete</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>Product Detail</h4>
                <p>Write a name and description, and provide a type and vendor to categorize this product.</p>
            </div>

            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <b for="name">@Html.LocalizedLabel("Name")</b>
                    </div>

                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.name)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <b for="ShortName">@Html.LocalizedLabel("ShortName")</b>
                        </div>

                        <div>
                            <text for="ShortName">@Html.LocalizedLabel("Only3Character")</text>
                        </div>
                    </div>

                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.nameShort)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <b for="Category">@Html.LocalizedLabel("Category")</b>
                    </div>

                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.categoryName)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <b for="productType">@Html.LocalizedLabel("UnitType")</b>
                    </div>

                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.productType)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <b for="vendor">@Html.LocalizedLabel("Brand")</b>
                    </div>

                    <div class="col-md-8">
                        @Html.DisplayFor(model => model.vendor)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <b for="description">@Html.LocalizedLabel("description")</b>
                    </div>

                    <div class="col-md-12">
                        @(Html.Raw(Model.description))
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>Image</h4>
            </div>

            <div class="col-md-8">
                <div class="q-form-images">
                    <div class="row radio">
                        <!-- Display Image of produc CODE BY ZIN-->
                        <div id="uploadPreview">
                            <ul class="productImgList">
                                @{
        if (@Model.image != null && @Model.image.arrayImage != null && @Model.image.arrayImage.Count() > 0)
        {
            foreach (var item in Model.image.arrayImage)
            {
                idIndex++;
                var imageUrl = urlImgDefault;
                try
                {
                    imageUrl = item;
                }
                catch
                {
                }
                <li>
                    <img src="@imageUrl" class="ImageResize" id="ImageResize-@idIndex" onload="SetAutoResizeWidthHeightImage('ImageResize-@idIndex',@SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List, @SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_List)" />
                </li>

            }
            idIndex = 0;
        }
                                }
                            </ul>
                        </div>
                        <!-- Display Image of produc-->
                    </div>
                </div>
            </div>
        </div>

        <div class="q-clear"></div>

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>Inventory & Variations</h4>
                <p>Manage inventory, and configure the options for selling this product.</p>
                <label id="lbl_Variant"></label>
            </div>

            <div class="col-md-8">
                @{
        idIndex = 0;
        string styleVarient = Model.arrayVarient.Count > 7 ? "overflow-y:auto;height:700px;" : "";
                }

                <div id="listVarientTable" style="@styleVarient">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th width="100px"></th>
                                <th>@Html.LocalizedLabel("SKU")</th>
                                <th>@Html.LocalizedLabel("Modifier")</th>
                                <th>@Html.LocalizedLabel("Color")</th>
                                <th>@Html.LocalizedLabel("Size")</th>
                                <th>@Html.LocalizedLabel("Quantity")</th>
                                <th>@Html.LocalizedLabel("Price")</th>
                            </tr>
                        </thead>

                        @foreach (var item in Model.arrayVarient)
                        {
                            idIndex++;
                            <tr>
                                <td style="text-align:right">
                                    @{
                            var imageUrl = urlImgDefault;
                            try
                            {
                                if (item.image.arrayImage != null && item.image.arrayImage.Count > 0 && !string.IsNullOrEmpty(item.image.imageDetault) && item.image.imageDetault != "0")
                                {
                                    imageUrl = item.image.imageDetault;
                                }
                            }
                            catch
                            {
                            }
                                    }

                                    <div style="width:80px;height:auto;text-align:center;background-color: white;">
                                        <img src="@imageUrl" class="VarientResize" id="VarientResize-@idIndex" onload="SetAutoResizeWidthHeightImage('VarientResize-@idIndex',@SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List_S, @SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_List_S)" />
                                    </div>
                                </td>

                                <td style="vertical-align:inherit">
                                    @Html.DisplayFor(modelItem => item.sku)
                                </td>

                                <td style="vertical-align:inherit">
                                    @if (!string.IsNullOrWhiteSpace(item.title))
                                    {
                                        @Html.DisplayFor(modelItem => item.title)
                                    }
                                    else
                                    {
                                        <label id="lblTitleVariant">N/A</label>
                                    }
                                </td>

                                <td style="vertical-align:inherit">
                                    @if (!string.IsNullOrWhiteSpace(item.color))
                                    {
                                        @Html.DisplayFor(modelItem => item.color)
                                    }
                                    else
                                    {
                                        <label id="lblColorVariant">N/A</label>
                                    }
                                </td>

                                <td style="vertical-align:inherit">
                                    @if (!string.IsNullOrWhiteSpace(item.size))
                                    {
                                        @Html.DisplayFor(modelItem => item.size)
                                    }
                                    else
                                    {
                                        <label id="lblSizeVariant">N/A</label>
                                    }
                                </td>

                                <td style="vertical-align:inherit">
                                    @if (item.quantity == -1)
                                    {
                                        <label id="qtyVariant">N/A</label>
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(modelItem => item.quantity)
                                    }
                                </td>

                                <td style="vertical-align:inherit">
                                    @ViewBag.currency @Html.DisplayFor(modelItem => item.price)
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        
        <!-- ACTIVE / INACTIVE-->
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Status")</h4>
                <p>@Html.LocalizedLabel("StatusProductDescription")</p>
            </div>

            <div class="col-md-8">
                @if (Model.status)
                {
                    status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Active;
                }
                else
                {
                    status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Inactive;
                }
                <span style="color:green;">@status</span>
            </div>
        </div>
        
        <!-- END ACTIVE / INACTIVE-->
        <div class="q-clear"></div>
        <hr />

        <!-- FOOTER-->
        <div class="q-toolsbar">
            <div class="col-md-4">
            </div>

            <div class="col-md-8">
                <button onclick="location.href='@Url.Action("Edit", "Product", new { id = Model._id})';return false;" class="btn btn-default-smoov" style="margin-right:5px">@Html.LocalizedButton("Edit")</button>
                <button type="button" class="btn btn-smoov" onclick="location.href='@Url.Action("Distribute", "ProductItem", new { productId = Model.productID })'" style="margin-right:5px">@Html.LocalizedButton("Distribute")</button>
                <button onclick="location.href='@Url.Action("Index", "Product")';return false;" class="btn btn-smoov" style="margin-right:5px;">@Html.LocalizedButton("Close")</button>

                <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content" style="width: 350px;">
                            <div class="modal-body">
                                Do you want to delete this Product?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button onclick="actionDelete();" class="btn btn-default-smoov" id="btn_delete" value="@Model._id">Delete</button>
                                @*<button onclick="location.href='@Url.Action("Delete", "Product", new { id = Model._id })';return false;" class="btn btn-primary">Delete</button>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END FOOTER-->
    }
</div>

<script>
    var totalVariant =   @ViewBag.TotalItemVariant;
    var countVariant = @ViewBag.CountVariant;
    function getTitleVariant() {
        var sVariant = "There are " + totalVariant.toString() +" items for "+ countVariant.toString()+" variations" ;
        return sVariant;
    }
    document.getElementById('lbl_Variant').innerText=getTitleVariant();

    @*$(document).ready(function () {
        $('.ImageResize').each(function () {
            AutoResizeWidthHeightImage($('#' + this.id),this.id,@SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List, @SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_List);
        });
        $('.VarientResize').each(function () {
            AutoResizeWidthHeightImage($('#' + this.id),this.id,@SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_List_S, @SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_List_S);
        });
    });*@
</script>