﻿@using SmoovPOS.UI.Models
@model SmoovPOS.UI.Models.CustomerItemListingModel
@using SmoovPOS.Utility.CustomHTMLHelper

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    String urlNoImage = Url.Content("~/Content/Images/avatarDefault.jpg");
}
@using (Html.BeginForm("Create", "Customer", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    <div class="q-toolsbar">
        <div class="col-md-4">
            <h3 style="margin-left:-20px;">Customer / New Customer</h3>
        </div>
        <div class="col-md-8">
            <button type="submit" id="submit" class="btn btn-primary" style="display:none">Create</button>
            <button type="submit" id="checkSubmit" name="checkSubmit" class="btn btn-primary">Save</button>
            <button onclick="location.href='@Url.Action("Index", "Customer")';return false;" class="btn btn-default" style="margin-right:5px;" id="cancelCustomer">Cancel</button>
        </div>
    </div>
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

    <div class="q-content">
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="col-md-4">
                @Html.HiddenFor(model => model.id)
                <h4>@Html.LocalizedLabel("customerInformation")</h4>
                <p>@Html.LocalizedLabel("customerInfo")</p>
                @*<div>
                        <select id="status" name="status" class="selectStatus">
                            <option value="true">Active</option>
                            <option value="false">Inactive</option>
                        </select>
                    </div>*@
            </div>
            <div class="col-md-8">
                <!-- IMAGE-->
                <div class="form-group ">
                    <div class="col-md-4 outer">
                        <div class="inner">
                        </div>
                        <div class="inner">
                            <div id="uploadPreviewlogo">
                                <div id="group-image">
                                    <input id="logoImg" type="hidden" value="" name="logoImg">
                                </div>
                            </div>
                            <div id="lbl_image">
                                <img src="@urlNoImage" width="263" height="170" style="border: 1px solid #E3E3E3;border-radius:4px" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 outer">
                        <div class="inner">
                            <input type="text" id="listImageSave" name="listImageSave" style="display:none" />
                            <input type="file" name="image" id="choose" style="display:none" />
                            <label id="upfile1" style="cursor:pointer;margin-top:53px;" class="upfile1">@Html.LocalizedLabel("ChooseFile")</label>
                            <p>@Html.LocalizedLabel("MBSizeLimit")</p>
                            <label id="Errendfile" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("LimitFileImage4MB")</label>
                        </div>
                    </div>
                </div>
                <!-- END IMAGE-->

                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.firstName)<span style="color:red"> * </span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.firstName, new {@class="form-control", @id="firstName", @name="firstName", @placeholder="First Name", @maxlength = "50"})
                            @Html.ValidationMessageFor(model => model.firstName)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.lastName)<span style="color:red"> * </span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.lastName, new {@class = "form-control", @id = "lastName", @name = "lastName", @placeholder = "Last Name", @maxlength = "50"})
                            @Html.ValidationMessageFor(model => model.lastName)
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.email)<span style="color:red"> * </span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.email, new { @class = "form-control", @id = "email", @name = "email", @placeholder = "Email", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.email)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.phonenumber)<span style="color:red"> * </span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.phonenumber, new { @class = "form-control", @id = "phonenumber", @name = "phonenumber", @placeholder = "Phone number", @maxlength = "50", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" })
                            @Html.ValidationMessageFor(model => model.phonenumber)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.Birthday)<span style="color:red"> * </span>
                        </div>
                        <div class="inner">
                            <div id="datetimepicker1" class="input-append date">
                                <input data-format="MM/dd/yyyy" type="text" class="form-control" id="birthday" name="birthday" required  placeholder="Birthday"/>
                                <span class="add-on">
                                    <span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                            <span style="color:#be1515;display: none;" id="ErrBirthday" name="ErrBirthday"> This field is required.</span>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.gender)<span style="color:red"> * </span>
                        </div>
                        <div class="col-md-4 ">
                            <div class="inner">
                                @Html.DropDownListFor(m => m.gender, Model.listGender, new {@id="gender", @name="gender", @class="form-control", @style="margin-left:-20px"})
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("customerInformation")</h4>
                <p>@Html.LocalizedLabel("primaryCustomer")</p>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="inner">
                            @Html.LabelFor(model => model.address)<span style="color:red"> * </span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.address, new { @class = "form-control", @id = "address", @name = "address", @placeholder = "Street address", @maxlength = "100" })
                            @Html.ValidationMessageFor(model => model.address)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.city)<span style="color:red"> * </span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.city, new {@class="form-control", @id="city", @name="city",  @placeholder = "City",@maxlength="50"})
                            @Html.ValidationMessageFor(model => model.city)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.zipCode)<span style="color:red"> * </span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.zipCode, new { @class = "form-control", @id = "zipcode", @name = "zipcode", @placeholder = "Zip code", @maxlength = "50", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57" })
                            @Html.ValidationMessageFor(model => model.zipCode)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.region)<span style="color:red"> * </span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.region, new { @class = "form-control", @id = "region", @name = "region", @placeholder = "Region / Provine / State", @maxlength = "50" })
                            @Html.ValidationMessageFor(model => model.region)
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.country)
                        </div>
                        <div class="inner">
                            @Html.DropDownListFor(m => m.country, Model.listCountries, new { @id="country", @name="country",@class="form-control"})
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Remark")</h4>
                <p>@Html.LocalizedLabel("remarkCustomer")</p>
            </div>
            <div class="col-md-8">
                <div class="inner">
                    @Html.TextAreaFor(model => model.remark, new {@class="form-control", @rows="6", @id="remark", @name="remark", @placeholder = "",@maxlength="300"})
                </div>
            </div>
        </div>

        <!-- ACTIVE / INACTIVE-->
        @*<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
            <div class="form-horizontal">
                <div class="col-md-4">
                    <h4>@Html.LocalizedLabel("Status")</h4>
                    <p>@Html.LocalizedLabel("StatusCustomerDescription")</p>
                </div>
                <div class="col-md-8">
                    <div class="form-group ">
                        <div class="col-md-12 outer">
                            <div class="inner">
                                <b>@Html.LocalizedLabel("Active")</b>

                            </div>
                            <div class="inner">
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default active statusMerchant " id="lbl-statusActive-0">
                                        <input type="radio" id="statusActive-0" value="true" class="optionsRadios">
                                        @Html.LocalizedLabel("ON")

                                    </label>
                                    <label class="btn btn-default statusMerchant " id="lbl-statusInActive-0">
                                        <input type="radio" id="statusInActive-0" value="false" class="optionsRadios">
                                        @Html.LocalizedLabel("OFF")
                                    </label>
                                    <input id="statusCustomer" name="statusCustomer" type="hidden">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        <!-- END ACTIVE / INACTIVE-->
        <!-- Promotion -->
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("promotion")</h4>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            <label class="checkbox">
                                @Html.CheckBoxFor(model => model.acceptsNewsletter, new { @id = "check_me_out", @name = "check_me_out"})
                                <span>Accepts newsletter</span>
                            </label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <label class="checkbox">
                            @Html.CheckBoxFor(model => model.acceptsNewsletter, new { @id = "sms", @name = "sms"})
                            <span>Accepts sms</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Promotion -->
        <!-- GROUP -->
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("group")</h4>
                <p>@Html.LocalizedLabel("groupDescription")</p>
            </div>
            <div class="col-md-8">
                <div class="inner">
                    @Html.TextBoxFor(model => model.group, new { @class = "form-control", @id = "myTag", @name = "myTag", @placeholder = ""})
                </div>
            </div>
        </div>
        <!-- END GROUP -->
        <!-- FOOTER-->
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="q-toolsbar">
            <div class="col-md-4">
                <h3></h3>
            </div>
            <div class="col-md-8">
                <button type="submit" id="submit1" class="btn btn-primary" style="display:none">Create</button>
                <button type="submit" id="checkSubmit1" name="checkSubmit" class="btn btn-primary">Save</button>
                <button onclick="location.href='@Url.Action("Index", "Customer")';return false;" class="btn btn-default" style="margin-right:5px;" id="cancelCustomer1">Cancel</button>
            </div>
        </div>
        <!--END FOOTER-->
    </div>

     <!-- MODEL POPUP CONFIRM-->
    <div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 380px;">
                <div class="modal-body">
                    @Html.LocalizedMessage("ConfirmDeactiveCustomer")
                </div>
                <div class="modal-footer">
                    <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button>

                </div>
            </div>
        </div>
    </div>
}
<script>


    var countSubmit = 0;
    $(function () {


        //---------------- STATUS ACTIVE/ INACTIVE
        jsCustomerItem = {};
        isDismiss = "False";
        var elems = document.querySelectorAll('.optionsRadios');
        console.log(elems);
        showStatus();
        //---------------- END STATUS ACTIVE/ INACTIVE
        $('#myTag').tagsinput({
            maxTags: 30
        });
        var picker = $('#datetimepicker1').datetimepicker({
            language: 'pt-BR',
            endDate: new Date()
        });

        $("#checkSubmit").click(function () {
            var check = true;
            var firstName = $('#firstName').val().trim();
            var lastName = $('#lastName').val().trim();
            var email = $('#email').val().trim();
            var phoneNumber = $('#phonenumber').val().trim();
            var birthday = $('#birthday').val().trim();


            var address = $('#address').val().trim();
            var city = $('#city').val().trim();
            var zipCode = $('#zipcode').val().trim();

            if (firstName.length < 1) {
                $('#ErrFisrtName').css('display', 'block');
                check = false;
            } else {
                $('#ErrFisrtName').css('display', 'none');
            }
            //validate Last Name field
            if (lastName.length < 1) {
                $('#ErrLastName').css('display', 'block');
                check = false;
            } else {
                $('#ErrLastName').css('display', 'none');
            }
            if (email.length < 1) {
                $('#ErrEmail').css('display', 'block');
                check = false;
            } else if (!validateEmail(email)) {
                $('#ErrEmailFormat').css('display', 'block');
                check = false;
            } else {
                $('#ErrEmail').css('display', 'none');
            }
            // validate Birthday field
            if (birthday.length < 1) {
                $('#ErrBirthday').css('display', 'block');
                check = false;
            } else {
                $('#ErrBirthday').css('display', 'none');
            }

            if (phoneNumber.length < 1) {
                $('#ErrPhone').css('display', 'block');
                check = false;
            }
            else {
                $('#ErrPhone').css('display', 'none');
            }
            // validate Addess field
            if (address.length < 1) {
                $('#ErrAddress').css('display', 'block');
                check = false;
            } else {
                $('#ErrAddress').css('display', 'none');
            }

            // validate city field
            if (city.length < 1) {
                $('#ErrCity').css('display', 'block');
                check = false;
            } else {
                $('#ErrCity').css('display', 'none');
            }
            // validate zipcode field
            if (zipCode.length < 1) {
                $('#ErrZipcode').css('display', 'block');
                check = false;
            } else {
                $('#ErrZipcode').css('display', 'none');
            }


            if (check) {
                DisableButton();
                if (email.length > 0) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("checkEmailExist", "Customer")',
                        data: {
                            email: email,
                        },
                        success: function (data) {
                            if (data == "True") {
                                DisableButton();
                                //$('#checkSubmit').prop('disabled', true);
                                if (countSubmit == 0) {
                                    countSubmit = 1;
                                    $('#submit').click();
                                }
                                
                            } else {
                                check = false;
                                EnableButton();
                                $('#ErrEmailExists').css('display', 'block');
                            }
                        },
                        error: function (data) {
                            countSubmit = 0;
                            EnableButton();
                            return false;
                        }
                    });
                } else {
                    DisableButton();
                    //$('#checkSubmit').prop('disabled', true);
                    $("#submit").click();
                }
                EnableButton();
            }

        });
    });

    function DisableButton() {
        $('#cancelCustomer').prop('disabled', true);
        $('#cancelCustomer1').prop('disabled', true);
        $('#checkSubmit').prop('disabled', true);
        $('#checkSubmit1').prop('disabled', true);
        $('#checkSubmit').button('loading');
        $('#checkSubmit1').button('loading');
        $('#submit').button('loading');
    }

    function EnableButton() {
        $('#cancelCustomer').prop('disabled', false);
        $('#cancelCustomer1').prop('disabled', false);
        $('#checkSubmit').prop('disabled', false);
        $('#checkSubmit1').prop('disabled', false);
        $('#checkSubmit').button('reset');
        $('#checkSubmit1').button('reset');
        $('#submit').button('reset');
    }
    //upload image
    var isUpload = false;
    $("#upfile1").click(function () {
        if (!isUpload) {
            $("#choose").click();
        }
    });
    $("#choose").change(function () {
        var formData = new FormData();
        var file = document.getElementById("choose").files[0];
        if (file.size && file.size > (4 * 1024 * 1024)) {
            $('#Errendfile').css('display', 'block');

            return false;
        } else {
            $('#Errendfile').css('display', 'none');

            formData.append("FileUpload", file);
            formData.append("imageType", '@SmoovPOS.Common.ConstantSmoovs.Image_Type.Big');
            formData.append("width", '263');
            formData.append("height", '170');
            if ($('#choose').val() != "") {
                $.ajax({
                    type: 'POST',

                    url: '@Url.Action("UploadImage", "Upload")',
                    data: formData,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        $("#group-image").remove();
                        $("#uploadPreviewlogo").html(data);
                        $("#showImg").hide();
                        $(".lbl_image").css('display', 'none');
                        var lbl_image = document.getElementById("lbl_image");
                        if (lbl_image != null)
                            lbl_image.setAttribute('style', 'display:none');
                        document.getElementById("choose").value = null; // xoa de co the up image trung
                        getURLImage();
                        document.getElementById("logoImg").value = getURLImage();
                    },
                    error: function () {
                        isUpload = false;
                    },
                    beforeSend: function () {
                        isUpload = true;
                        $('#upfile1').button('loading');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'margin-top:53px;');
                    },
                    complete: function () {
                        isUpload = false;
                        $('#upfile1').button('reset');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'cursor:pointer;margin-top:53px;');
                    }
                });
            }
        }

    });

    $("#checkSubmit1").click(function () {
        $("#checkSubmit").click();
    });
    //$("#group-image").remove();
    //var lbl_image = document.getElementById("lbl_image");
    //lbl_image.setAttribute('style', 'display:important');
    /// <summary>
    /// Deletes the image.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/2/2015-5:14 PM</datetime>
    function deleteImage() {

        var img = document.getElementById("group-image");
        if (img != null)
            img.parentNode.removeChild(img);

        @*document.getElementById("logoImg").value = "@urlNoImage";*@
        document.getElementById("logoImg").value = null;

        var lbl_image = document.getElementById("lbl_image");
        if (lbl_image != null)
            lbl_image.setAttribute('style', 'display:important');
    }

    /// <summary>
    /// Dismisses the popup.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function dismissPopup() {

        $('#lbl-' + jsCustomerItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsCustomerItem["position"]);
        if (jsCustomerItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsCustomerItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsCustomerItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }
    /// <summary>
    /// Confirms the update.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function confirmUpdate() {

        setStatus(jsCustomerItem["position"]);
        isDismiss = "False";

    }
    /// <summary>
    /// Sets the status.
    /// </summary>
    /// <param name="id">The identifier.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function setStatus(id) {

        var element = document.getElementById(id);
        var statusCustomer = element.value == "true" ? true : false;
        document.getElementById("statusCustomer").value = statusCustomer;
    }

    /// <summary>
    /// Shows the status.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/2/2015-6:25 PM</datetime>
    function showStatus() {
        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsCustomerItem.position = this.getAttribute('id').toString();

                var hasActive = $('#lbl-' + jsCustomerItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsCustomerItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveCustomer")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveCustomer")');

                    }

                    $('#modalInactive').modal();
                }
            };

        }
    }

    /// <summary>
    /// Is_valid_urls the specified URL.
    /// </summary>
    /// <param name="url">The URL.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/3/2015-9:47 AM</datetime>
    function is_valid_url(url) {
        return url.match(/^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/);
    }
    /// <summary>
    /// Gets the URL image.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/3/2015-9:42 AM</datetime>
    function getURLImage() {
        var images = [];
        $('.img-rounded').each(function () {
            var url = $(this).attr('src');
            if (is_valid_url(url)) {
                images.push($(this).attr('src'));

            }

        });

        return images;
    }

    $(document).ready(function () {
        $('#check_me_out').attr('checked', true);
        $('#sms').attr('checked', true);
    });
</script>