﻿@using SmoovPOS.Utility.CustomHTMLHelper
@using SmoovPOS.UI.Models

@model SmoovPOS.UI.Models.CustomerItemListingModel
@{
    int index = 0;
}

<table class="display" id="tblMembers" cellspacing="0" style="padding-top:10px;">
    <thead>
        <tr class="header_table">
            <th class="u_title" style="width:25%">@Html.LocalizedLabel("Name")</th>
            <th class="u_title" style="width:20%">@Html.LocalizedLabel("email_Title")</th>
            <th class="u_title" style="width:10%">@Html.LocalizedLabel("Orders")</th>
            <th class="u_title" style="width:10%">@Html.LocalizedLabel("LastOrder")</th>
            <th class="u_title" style="width:20%">@Html.LocalizedLabel("TotalOrder")</th>
            <th class="u_title" style="width:15%">@Html.LocalizedLabel("Status")</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CustomerList != null && Model.CustomerList.Count() > 0)
        {
            foreach (var item in Model.CustomerList)
            {
                string lastOrder = "";
                IFormatProvider yyyymmddFormat = new System.Globalization.CultureInfo(String.Empty, false);
                if (item.listOrder != null && item.listOrder.LastOrDefault() != null)
                {
                    lastOrder = @item.listOrder.Last().dateOrder.ToString("MM/dd/yyyy", yyyymmddFormat);
                }

                <tr>
                    <td>
                        @try
                        {
                            @Html.ActionLink(item.fullName.ToString(), "Detail", new { id = item._id })
                        }
                        catch (Exception) { }
                    </td>
                    <td>@item.email</td>
                    <td>@item.totalOrder</td>
                    <td>@(@lastOrder != "" ? @lastOrder : "N/A")</td>
                    @{
                string totalSpend = string.Format("{0:N}", @item.totalSpend);
                    }
                    <td>@Model.currency @totalSpend</td>
                    <td>
                        @try
                        {

                            if (item.verify)
                            {
                              
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default @(item.status == true ? "active" : "") statusMerchant" id="lbl-statusActive-@index">
                                            <input type="radio" name="@item._id" id="statusActive-@index" value="true" class="optionsRadios">
                                            @Html.LocalizedLabel("ON")
                                        </label>
                                        <label class="btn btn-default @(item.status == false ? "active" : "") statusMerchant" id="lbl-statusInActive-@index">

                                            <input type="radio" name="@item._id" id="statusInActive-@index" value="false" class="optionsRadios">
                                            @Html.LocalizedLabel("OFF")
                                        </label>


                                    </div>

                              
                            }
                            else
                            {
                                
                                    <div class="btn-group" data-toggle="buttons">
                                        <label class="btn btn-default @(item.status == true ? "active" : "") statusMerchant disabled" id="lbl-statusActive-@index">
                                            <input type="radio" name="@item._id" id="statusActive-@index" value="true" class="optionsRadios">
                                            @Html.LocalizedLabel("ON")

                                        </label>
                                        <label class="btn btn-default @(item.status == false ? "active" : "") statusMerchant disabled" id="lbl-statusInActive-@index">

                                            <input type="radio" name="@item._id" id="statusInActive-@index" value="false" class="optionsRadios">
                                            @Html.LocalizedLabel("OFF")
                                        </label>


                                    </div>

                               
                            }


                        }
                        catch { }
                        @(!item.verify ? "(Unverified)" : "")
                    </td>
                </tr>
                        index++;
            }
        }
    </tbody>
</table>

@*<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 350px;">
                <div class="modal-body">
                    @Html.LocalizedMessage("ConfirmDeactiveCustomer")
                </div>
                <div class="modal-footer">
                    <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary">OK</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()">Cancel</button>
                </div>
            </div>
        </div>
    </div>*@

<!-- MODEL POPUP CONFIRM-->
<div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 380px;">
            <div class="modal-body">
                @Html.LocalizedMessage("ConfirmDeactiveCustomer")
            </div>
            <div class="modal-footer">
                <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button>

            </div>
        </div>
    </div>
</div>

<script language="javascript">
    // init datatable with jquery
    $(document).ready(function () {

        //---------------- STATUS ACTIVE/ INACTIVE
        jsCustomerItem = {};
        isDismiss = "False";
        var elems = document.querySelectorAll('.optionsRadios');
        // console.log(elems);
        showStatus();
        //---------------- END STATUS ACTIVE/ INACTIVE
        var data = @(new HtmlString(Json.Encode(Model)));
        var arrID = [];
        async.forEach(data.CustomerList, function (cus, cb) {
            if(!cus.verify){
                arrID.push(cus._id);
            }
            cb();
        },function(){

            jsProductItem = {};
            isDismiss = "False";
            var elems = document.querySelectorAll('.js-switch');
            for (var i = 0; i < elems.length; i++) {
                //var index = arrID.indexOf(elems[i].defaultValue);
                //var switchery = new Switchery(elems[i], { color: '#009DD9',disabled :index>-1?true:false });
                //elems[i].onchange = function (e) {
                //    if (this.checked) {
                //        isDismiss = "True";
                //        jsProductItem.status = this.checked;
                //        jsProductItem.value = $('#' + this.getAttribute('id').toString()).val();
                //        jsProductItem.position = this.getAttribute('id').toString();
                //        $('#modalInactive').find('.modal-body').html(" Do you want to activate this customer?");
                //        $('#modalInactive').modal();
                //    } else {
                //        isDismiss = "True";
                //        jsProductItem.status = this.checked;
                //        jsProductItem.value = $('#' + this.getAttribute('id').toString()).val();
                //        jsProductItem.position = this.getAttribute('id').toString();
                //        $('#modalInactive').find('.modal-body').html(" Do you want to deactivate this customer?");
                //        $('#modalInactive').modal();
                //    }
                //};

                var switchery = new Switchery(elems[i], { color: '#009DD9' });
                elems[i].onchange = function (e) {

                    jsCustomerItem.position = this.getAttribute('id').toString();

                    var hasActive = $('#lbl-' + jsCustomerItem.position).hasClass('active');

                    if (!hasActive) {
                        $('#modalInactive').modal();
                        isDismiss = "True";
                        jsCustomerItem.position = this.getAttribute('id').toString();
                        if (this.value == "true") {
                            $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveCustomer")');

                        } else {
                            $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveCustomer")');

                        }

                        $('#modalInactive').modal();
                    }
                };
            }
        })
    });

    $(document).ready(function () {
        $('#tblMembers').DataTable({
            "aoColumns": [
              { "bSearchable": true },
              { "bSearchable": true },
              { "bSearchable": true },
              { "bSearchable": true },
              { "bSearchable": true },
              { "bSearchable": true }
            ],
            "columns": [
              { "width": "20%" },
              { "width": "30%" },
              { "width": "10%" },
              { "width": "15%" },
              { "width": "15%" },
              { "width": "10%" }
            ],
            "pagingType": "full_numbers",
            "bSortClasses": false,
            "order": [[1, "desc"]],
            "bSort": true,
            "dom": 'T<"clear">lfrtip',
            "iDisplayLength": 25,
            "bLengthChange": true,
            "sDom": '<"top"ipf>rt<"bottom"ip><"clear">',
            "oLanguage": {
                "oPaginate": {
                    "sFirst": " <i class='fa fa-angle-double-left'></i>", // This is the link to the first page
                    "sPrevious": " <i class='fa fa-angle-left'></i>", // This is the link to the previous page
                    "sNext": " <i class='fa fa-angle-right'></i>", // This is the link to the next page
                    "sLast": " <i class='fa fa-angle-double-right'></i>"
                },
                "sInfoFiltered": "",
                "sInfo": "_START_ - _END_ of _TOTAL_",
                "sInfoEmpty": "",
                "sEmptyTable": "No customer was found.",
                "sZeroRecords": ""
            }
        });

        $('#tblMembers_filter').text('').html('<div class="searching"><div class="inner-addon left-addon"><i class="glyphicon glyphicon-search"></i><input type="text" id="tblMembersInputTextField" class="form-control" placeholder="Search customer" /></div></div>')

        $('#tblMembersInputTextField').keyup(function () {
            $('#tblMembers').dataTable().fnFilter($(this).val());
        });
    });

    //function dismissPopup() {
    //    $('#' + jsProductItem["position"]).click();
    //}

    //function confirmUpdate() {
    //    setStatus(jsProductItem["value"], jsProductItem["status"]);
    //    isDismiss = "False";
    //}

    @*/*
     * Call to controller set active/inactive Category
     * checkActive() : multi active/inactive
     *
     */
    function setStatus(id, statusCustomer) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusCustomer", "Customer")',
            data: {
                id: id,
                status: statusCustomer
            },
            success: function (status) {
                if (status == false) {
                    alert('please try again.');
                }
            }
        })
    }*@

    /// <summary>
    /// Sets the status.
    /// </summary>
    /// <param name="id">The identifier.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function setStatus(id) {

        var element = document.getElementById(id);
        var statusCustomer = element.value == "true" ? true : false;
        var yesNo;
        var idCustomer = element.getAttribute("name");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusCustomer", "Customer")',
            data: {
                id: idCustomer,
                status: statusCustomer
            },
            success: function (status) {


            },
            error: function (status) {
            }

        });
    }


    /// <summary>
    /// Dismisses the popup.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function dismissPopup() {

        $('#lbl-' + jsCustomerItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsCustomerItem["position"]);
        if (jsCustomerItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsCustomerItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsCustomerItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }
    /// <summary>
    /// Confirms the update.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function confirmUpdate() {

        setStatus(jsCustomerItem["position"]);
        isDismiss = "False";

    }
    /// <summary>
    /// Shows the status.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/2/2015-6:25 PM</datetime>
    function showStatus() {
        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsCustomerItem.position = this.getAttribute('id').toString();

                var hasActive = $('#lbl-' + jsCustomerItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsCustomerItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveCustomer")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveCustomer")');

                    }

                    $('#modalInactive').modal();
                }
            };

        }
    }
</script>