﻿@model SmoovPOS.UI.Models.CustomersViewModel
@using SmoovPOS.Utility.CustomHTMLHelper
@using Com.SmoovPOS.TimeZone
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}
<style>
    .group-info {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border: 1px solid #BFB7B7;
        padding: 10px;
    }

    textarea {
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
             resize: none;
    }

    .table-curved {
        border: 1px solid #BFB7B7;
        border-radius: 5px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-style: hidden;
        box-shadow: inset 0 0 0 1px #BFB7B7;
        -moz-box-shadow: 0 0 0 1px #BFB7B7;
        -webkit-box-shadow: 0 0 0 1px #BFB7B7;
   
    }
    
    .form-horizontal .form-group {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
</style>
<div class="q-toolsbar">
    <div class="col-md-4" style="margin-top:10px;">
        @{
            var name = (!string.IsNullOrWhiteSpace(Model.fullName)) ?
                        Model.fullName.ToString()
                        : (!string.IsNullOrWhiteSpace(Model.firstName) && !string.IsNullOrWhiteSpace(Model.lastName)) ?
                            Model.firstName + " " + Model.lastName
                            : Model.email.Split('@')[0];
            string status = string.Empty;
        }
        <h3 style="margin-left:-20px;">@(Model.memberID == "" ? "Guest" : "Customer") / @name </h3>
    </div>
    <div class="col-md-8">
        <button onclick="location.href='@Url.Action("Edit", "Customer", new { id = Model._id })';return false;" class="btn btn-default-smoov">@Html.LocalizedButton("Edit")</button>
        <button onclick="location.href='@Url.Action("Index", "Customer")';return false;" class="btn btn-default  btn-smoov" style="margin-right:5px;">@Html.LocalizedButton("Close")</button>
        <button onclick="location.href='#'" class="btn btn-default" style="display:none">Email</button>
    </div>
</div>
@* separate line  *@
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
@* End separate line  *@

<div class="row form-horizontal divCustomer">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model._id)
    <div class="col-md-8">
        <div class="form-group">
            <label>@Html.LocalizedLabel("Orders")</label>
            <div style="float:right;">
                <input type="button" id="loadMore" class="btn btn-default  btn-smoov" value="@Html.LocalizedButton("LoadMore")" name="More" />
            </div>
        </div>
        <div class="form-group">
            <div id="more-data">
                @Html.Partial("~/Views/Customer/LoadMore.cshtml", Model)
            </div>
        </div>
        <div class="form-group">

            <label>@Html.LocalizedLabel("Remark")</label>
            <div>
                <textarea class="form-control" rows="6" id="remark" name="remark" readonly> @Model.remark </textarea>
            </div>

        </div>
        <div class="form-group">
            <div class="col-md-12">
                <div class="col-md-6" style="margin-left:-40px">
                    <input type="checkbox" value="@Model.acceptsNewsletter" name="acceptNewletter" @(Model.acceptsNewsletter == true ? "checked='checked'" : "") disabled /> <span>@Html.LocalizedLabel("AcceptNewsletter")</span>
                </div>
                <div class="col-md-6">
                    <input type="checkbox" value="@Model.acceptsSms" name="acceptsSms" @(Model.acceptsSms == true ? "checked='checked'" : "") disabled /> <span>@Html.LocalizedLabel("AcceptSms")</span>
                </div>
            </div>
        </div>
        @*<div class="form-group">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Status")</h4>
                <p>@Html.LocalizedLabel("StatusCustomerDescription")</p>
            </div>
            <div class="col-md-8">
                @if (Model.status)
                {
                    status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Active;
                }
                else
                {
                    status = SmoovPOS.Common.ConstantSmoovs.MerchantManagement.Inactive;
                }
                <span style="color:green;">@status</span>
            </div>
        </div>*@
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label style="margin-left:10px;">@Html.LocalizedLabel("CustomerProfile")</label>
            <div style="float:right;">
               
            </div>
        </div>
        <div id="group-1" class="group-info">
            <div class="form-group">
                <b id="lbl_image" style="display:none">There is no image for this customer</b>
                <div id="group-image">
                    <div class="col-md-4" style="position: relative;">
                        @{
                            var imageUrl = "";
                            System.Drawing.Size size = new System.Drawing.Size(0, 0);
                            System.Drawing.Image image = null;
                            if (string.IsNullOrEmpty(Model.image))
                            {
                                imageUrl = Url.Content("~/Content/Images/avatarDefault.jpg");

                                try
                                {
                                    image = (System.Drawing.Bitmap)System.Drawing.Image.FromFile(Server.MapPath(imageUrl));
                                }
                                catch
                                {
                                    image = null;
                                }
                            }
                            else
                            {
                                Uri uri = null;
                                if (Uri.TryCreate(Model.image, UriKind.Absolute, out uri))
                                {
                                    imageUrl = Model.image;
                                }

                                try
                                {
                                    WebRequest request = WebRequest.Create(imageUrl);
                                    WebResponse response = request.GetResponse();
                                    image = System.Drawing.Image.FromStream(response.GetResponseStream());
                                }
                                catch
                                {
                                    image = null;
                                }
                            }
                            if (image != null)
                            {
                                size.Width = image.Width;
                                size.Height = image.Height;
                                size = Com.SmoovPOS.Common.Controllers.PhotosController.CalculateDimensions(size, SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_Resize, SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_Resize);
                            }
                            <div style="min-width:130px;height:auto;text-align:left;background-color: white;">
                                @if (size.Width > 0 && size.Height > 0)
                                {
                                    <img src="@imageUrl" width="@size.Width" height="@size.Height" class="img-rounded category-image" id="thumbnil" />
                                }
                                else
                                {
                                    <img src="@imageUrl" width="130" height="80" id="thumbnil" style="border-style: solid;border-width: 1px;position: relative;" class="img-rounded category-image" />
                                }
                            </div>
                        }
                        @*@if (!string.IsNullOrWhiteSpace(Model.image))
                            {
                                <img src="@Model.image" id="thumbnil" style="width:100%;height:100px;" class="img-rounded category-image" />

                            }
                            else
                            {
                                <img src="@Url.Content("~/Content/Images/avatarDefault.jpg")" id="thumbnil" style="width:100%;height:100px; border-style: solid;
                                   border-width: 1px;position: relative;" class="img-rounded category-image" />
                            }*@
                        <div class="q-clear"></div>

                    </div>
                    @*<div class="inner col-md-6">
                            <input type="text" id="listImageSave" name="listImageSave" style="display:none" />
                            <input type="file" name="image" id="choose" style="display:none" />
                            <label id="upfile1" style="cursor:pointer;margin-top:30px;" class="upfile1 btn-smoov">@Html.LocalizedLabel("ChangePicture")</label>
                            <label id="Errendfile" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("LimitFileImage4MB")</label>
                        </div>*@
                </div>

            </div>
            <div class="form-group">
                <div class="col-md-4"><b>@Html.LocalizedLabel("Name")</b> </div>
                <div class="col-md-8">@Model.fullName</div>
            </div>
            <div class="form-group">
                <div class="col-md-4"><b>@Html.LocalizedLabel("MemberID")</b></div>
                <div class="col-md-8">@(Model.memberID == "" ? "N/A" : Model.memberID)</div>
            </div>
            <div class="form-group">
                <div class="col-md-4"><b>@Html.LocalizedLabel("email_Title")</b></div>
                <div class="col-md-8">@Model.email</div>
            </div>
            <div class="form-group">
                <div class="col-md-4"><b>@Html.LocalizedLabel("Phone")</b></div>
                <div class="col-md-8">@Model.phonenumber</div>
            </div>
            <div class="form-group">
                <div class="col-md-4"><b>@Html.LocalizedLabel("Gender")</b></div>
                <div class="col-md-8">@(Model.gender == 1 ? "Male" : ((Model.gender == 0) ? "Female" : "N/A"))</div>
            </div>
            <div class="form-group">
                <div class="col-md-4"><b>@Html.LocalizedLabel("DoB")</b></div>
                <div class="col-md-8">@Model.birthday</div>
            </div>
            <div class="form-group">
                <div class="col-md-4"><b>@Html.LocalizedLabel("Address")</b></div>
                <div class="col-md-8"> <p>@(Model.address != null ? Model.address : "")@(Model.city != null ? ", " + Model.city : "")@(Model.state != null ? ", " + Model.state : "")@(Model.zipCode != null ? ", " + Model.zipCode : "")@(Model.country != null ? ", " + Model.country : "")</p></div>
            </div>
        </div>
        <div id="group-2" class="group-info" style="margin-top:10px;">
            <div class="form-group">
                <div class="col-md-4"><b>@Html.LocalizedLabel("Status")</b></div>
                @if (Model.status){
                    <div class="col-md-8"><text class="text-success">@Html.LocalizedLabel("Active")</text></div>
                }
                else
                {
                    <div class="col-md-8"><text class="text-danger">@Html.LocalizedLabel("Inactive")</text></div>
                }
                
            </div>
            <div class="form-group">
                <div class="col-md-4"><b>@Html.LocalizedLabel("LastLogin")</b></div>
                <div class="col-md-8">@(Model.lastLogin != DateTime.MinValue ? Model.lastLogin.ToString("MM/dd/yyyy") : "N/A")</div>
            </div>
            <div class="form-group">
                <div class="col-md-4"><b>@Html.LocalizedLabel("LastOrder")</b></div>
                <div class="col-md-8">@(Model.totalOrder > 0 ? Model.lastOrder != DateTime.MinValue ? Model.lastOrder.ToString("MM/dd/yyyy") : "N/A" : "N/A")</div>
            </div>
            <div class="form-group">
                <div class="col-md-4"><b>@Html.LocalizedLabel("TotalOrder")</b></div>
                <div class="col-md-8"> @Model.totalOrder</div>
            </div>
            @{
                string totalSpend = string.Format("{0:N}", @Model.totalSpend);
            }
            <div class="form-group">
                <div class="col-md-4"><b>Total Spend</b></div>
                <div class="col-md-8">@ViewBag.Currency @totalSpend</div>
            </div>

            <div class="form-group">
                <div class="col-md-4"><b>Point</b></div>
                <div class="col-md-8">@Model.Amount</div>
            </div>
        </div>
    </div>
    <!--FOOTER-->
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
    <div class="q-toolsbar">
        <div class="col-md-4" style="margin-top:10px;">
           
            <h3 style="margin-left:-20px;"> </h3>
        </div>
        <div class="col-md-8">
            <button onclick="location.href='@Url.Action("Edit", "Customer", new { id = Model._id })';return false;" class="btn btn-default-smoov">@Html.LocalizedButton("Edit")</button>
            <button onclick="location.href='@Url.Action("Index", "Customer")';return false;" class="btn btn-default  btn-smoov" style="margin-right:20px;">@Html.LocalizedButton("Close")</button>
            <button onclick="location.href='#'" class="btn btn-default" style="display:none">Email</button>
        </div>
    </div></div>

<script>
    $(document).ready(function () {
      
        $('#loadMore').click(function () {
          //  $(oSettings.nTableWrapper).find('.dataTables_paginate').show();
            var id = '@Model._id';
            $.ajax({
                url: '@Url.Action("LoadMore", "Customer")',
                dataType: "html",
                type: "POST",
                data: {
                    id: id
                },
                success: function (result) {
                    $("#loadMore").css("display", "none");
                    $("#more-data").html(result);
                  
                }, error: function (xhr, status) {
                    console.error("error load data ");
                }
                ,
                beforeSend: function () {

                    $('#loadMore').button('loading');
                },
                complete: function () {
                    $('#loadMore').button('reset');

                }

            });
        })
    });
</script>

