﻿@model SmoovPOS.UI.Models.CustomersViewModel
@using SmoovPOS.Utility.CustomHTMLHelper
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
    String urlNoImage = Url.Content("~/Content/Images/avatarDefault.jpg");
    String urlImgDefault = string.IsNullOrEmpty(Model.image) ? urlNoImage : Model.image;

    System.Drawing.Size size = new System.Drawing.Size(0, 0);
    System.Drawing.Image image = null;
    if (urlNoImage == urlImgDefault)
    {
        try
        {
            image = (System.Drawing.Bitmap)System.Drawing.Image.FromFile(Server.MapPath(urlImgDefault));
        }
        catch
        {
            image = null;
        }
    }
    else
    {
        try
        {
            WebRequest request = WebRequest.Create(urlImgDefault);
            WebResponse response = request.GetResponse();
            image = System.Drawing.Image.FromStream(response.GetResponseStream());
        }
        catch
        {
            image = null;
        }
    }
    if (image != null)
    {
        size.Width = image.Width;
        size.Height = image.Height;
        size = Com.SmoovPOS.Common.Controllers.PhotosController.CalculateDimensions(size, SmoovPOS.Common.ConstantSmoovs.Image_Resize.width_Resize, SmoovPOS.Common.ConstantSmoovs.Image_Resize.height_Resize);
    }
}
@using (Html.BeginForm("Edit", "Customer", FormMethod.Post, new { @encType = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="q-toolsbar">
        @Html.HiddenFor(model => model.status)
        <div class="col-md-4">
            @{
    var name = (!string.IsNullOrWhiteSpace(Model.fullName)) ?
                Model.fullName.ToString()
                : (!string.IsNullOrWhiteSpace(Model.firstName) && !string.IsNullOrWhiteSpace(Model.lastName)) ?
                    Model.firstName + " " + Model.lastName
                    : Model.email.Split('@')[0];
            }
            <h3 style="margin-left:-20px;">@(Model.memberID == "" ? "Guest" : "Customer") / @name </h3>
        </div>
        <div class="col-md-8">
            <button type="submit" id="submit" class="btn btn-default" style="display:none">Create</button>
            <button type="submit" id="checkSubmit" name="checkSubmit" class="btn btn-primary">Save</button>
            <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content" style="width: 350px;">
                        <div class="modal-body">
                            Are you sure you want to delete this customer?
                        </div>
                        <div class="modal-footer">

                            <button onclick="location.href='@Url.Action("Delete", "Customer", new {id = Model._id })';return false;" class="btn btn-primary ">Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        </div>
                    </div>
                </div>

            </div>
            <button type="button" id="deleteCustomer" name="deleteCustomer" class="btn btn-danger">Delete</button>
            <button onclick="location.href='@Url.Action("Detail", "Customer", new { id = Model._id })';return false;" class="btn btn-default" style="margin-right:5px;" id="cancelCustomer">Cancel</button>


        </div>
    </div>
    <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

    <div class="q-content">
        <div class="form-horizontal">
            @Html.ValidationSummary(true)
            <div class="col-md-4">
                @*<h4>Customer Information</h4>
                <text>Some basic information about this customer.</text>*@
                <h4>@Html.LocalizedLabel("customerInformation")</h4>
                <p>@Html.LocalizedLabel("customerInfo")</p>
                @*<div>
                        <br>
                        @if (Model.verify)
                        {
                            <select id="status" name="status" class="selectStatus">
                                <option value="true" @Html.Raw((Model.status) ? "selected=\"selected\"" : "")>Active</option>
                                <option value="false" @Html.Raw((!Model.status) ? "selected=\"selected\"" : "")>Inactive</option>
                            </select>
                        }

                    </div>*@
              
            </div>
            <div class="col-md-8">
                <div class="validation-summary-errors">
                    <ul>
                        @*<li id="ErrFisrtName" style="display:none">The First Name field is required.</li>*@
                        @*<li id="ErrLastName" style="display:none">The Last Name field is required.</li>*@
                        @*<li id="ErrEmail" style="display: none; ">The Email Address field is required.</li>*@
                        @*<li id="ErrEmailFormat" style="display: none; ">Please enter a valid email address.</li>*@
                        @*<li id="ErrEmailExists" style="display: none; ">This email address already exists in system</li>*@
                        @*<li id="ErrBirthday" style="display: none; ">The Birthday field is required.</li>*@
                        @*<li id="ErrPhone" style="display: none; ">The Phone Number field is required.</li>*@
                        @*<li id="ErrAddress" style="display: none; ">The Address field is required.</li>*@
                        @*<li id="ErrCity" style="display: none; ">The City field is required.</li>*@
                        @*<li id="ErrZipcode" style="display: none; ">The Zip Code field is required.</li>*@
                        @*<li id="ErrState" style="display: none; ">The State field is required.</li>*@
                    </ul>
                </div>
                <div class="form-group ">
                    <div class="col-md-4 outer">
                        <div class="inner">
                        </div>
                        @if (!string.IsNullOrEmpty(Model.image))
                        {
                            <div class="inner">
                                <div id="uploadPreviewlogo">
                                    <div id="group-image" style="position: relative;min-width: 263px; min-height: 170px;width: 263px!important;height: 170px!important;">
                                        <img src="@urlImgDefault" width="@size.Width" height="@size.Height" id="thumbnil" style="position: absolute;width: @size.Width px!important;height: @size.Height px!important;bottom:0px;" class="img-rounded category-image">
                                        <div class="q-clear"></div>
                                        <button class="btn btn-default" onclick="deleteImage()" style="position: absolute;bottom: 2px;left: 2px;min-width:37px!important;padding-left: 0px!important;padding-right: 0px!important;">   <i class="fa fa-trash">    </i> </button>
                                    </div>
                                    <input id="logoImg" name="logoImg" type="hidden">
                                </div>
                                <div id="lbl_image" style="display:none">
                                    <img src="@urlNoImage" width="263" height="170" style="border: 1px solid #E3E3E3;border-radius:4px">
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="inner">
                                <div id="uploadPreviewlogo">
                                    <div id="group-image">
                                        <input id="logoImg" type="hidden" value="" name="logoImg">
                                    </div>
                                </div>
                                <div id="lbl_image">
                                    <img src="@urlImgDefault" width="263" height="170" style="border: 1px solid #E3E3E3;border-radius:4px" />
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-md-8 outer">
                        <div class="inner">
                            <input type="text" id="listImageSave" name="listImageSave" style="display:none" />
                            <input type="file" name="image" id="choose" style="display:none" />
                            <label id="upfile1" style="cursor:pointer;margin-top:53px;" class="upfile1">@Html.LocalizedLabel("ChooseFiles")</label>
                            <p>@Html.LocalizedLabel("MBSizeLimit")</p>
                            <label id="Errendfile" style="display:none" class="validation-summary-errors">@Html.LocalizedMessage("LimitFileImage4MB")</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.firstName)<span style="color:red"> * </span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.firstName, new { @class = "form-control", @id = "firstName", @name = "firstName", @placeholder = "First Name", @maxlength = "50", @value = "@Model.firstName"})
                            @Html.ValidationMessageFor(model => model.firstName)
                        </div>
                        @*<label for="firstName">First Name</label><span style="color:red"> * </span>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" maxlength="50" value="@Model.firstName">
                            <span id="ErrFisrtName" style="display:none" class="validation-summary-errors">The First Name field is required.</span>*@
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.lastName)<span style="color:red"> * </span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.lastName, new { @class="form-control", @id="lastName", @name="lastName", @placeholder="Last Name", @maxlength="50", @value="@Model.lastName"})
                            @Html.ValidationMessageFor(model => model.lastName)
                        </div>
                        @*<label for="lastName">Last Name</label><span style="color:red"> * </span>
                        <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" maxlength="50" value="@Model.lastName">
                        <span id="ErrLastName" style="display:none" class="validation-summary-errors">The Last Name field is required.</span>*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        @Html.LabelFor(model => model.email)
                        <input type="text" class="form-control" id="email" name="email" maxlength="30" value="@Model.email" readonly>
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.phonenumber)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.phonenumber, new { @class = "form-control", @id = "phonenumber", @name = "phonenumber", @maxlength = "20", @onkeypress = "return event.charCode >= 48 && event.charCode <= 57", @value = "@Model.phonenumber" })
                            @Html.ValidationMessageFor(model => model.phonenumber)
                        </div>
                        @*<label for="phonenumber">Phone Number</label><span style="color:red"> * </span>
                        <input type="text" class="form-control" id="phonenumber" name="phonenumber" maxlength="20" onkeypress='return event.charCode >= 48 && event.charCode <= 57' value="@Model.phonenumber">
                        <span id="ErrPhone" style="display: none; " class="validation-summary-errors">The Phone Number field is required.</span>*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.birthday)<span style="color:red"> *</span>
                        </div>
                        @*<label for="birthday">DoB</label><span style="color:red"> * </span>*@
                        <div id="datetimepicker1" class="input-append date">
                            <input data-format="MM/dd/yyyy" type="text" class="form-control" id="birthday" name="birthday" value="@Model.birthday" />
                            <span class="add-on">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                        <span id="ErrBirthday" style="display: none; " class="validation-summary-errors">The Birthday field is required.</span>
                    </div>
                    <div class="col-md-6">
                        <div><label for="gender">Gender</label></div>
                        <div class="col-md-4 ">
                            <select id="gender" name="gender" class="form-control" style="margin-left:-20px!important">
                                <option value="0" @Html.Raw((Model.gender == 0) ? "selected=\"selected\"" : "")>Female</option>
                                <option value="1" @Html.Raw((Model.gender == 1) ? "selected=\"selected\"" : "")>Male</option>
                                <option value="2" @Html.Raw((Model.gender == 2) ? "selected=\"selected\"" : "")>Others</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("email")</h4>
                <p>@Html.LocalizedLabel("primaryCustomer")</p>
                @*<h4>Address</h4>
                <h5>The primary address of this customer.</h5>*@
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-12">
                        <div class="inner">
                            @Html.LabelFor(model => model.address)<span style="color:red"> * </span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.address, new { @class="form-control", @id="address", @name="address" , @maxlength="60", @value="@Model.address"})
                            @Html.ValidationMessageFor(model => model.address)
                        </div>
                        @*<label for="address">Street Address</label><span style="color:red"> * </span>
                        <input type="text" class="form-control" id="address" name="address" maxlength="60" value="@Model.address">
                        <span id="ErrAddress" style="display: none; " class="validation-summary-errors">The Address field is required.</span>*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.city)<span style="color:red"> * </span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.city, new { @class="form-control", @id="city", @name="city", @maxlength="30", @value="@Model.city"})
                            @Html.ValidationMessageFor(model => model.city)
                        </div>
                        @*<label for="city">City </label><span style="color:red"> * </span>
                        <input type="text" class="form-control" id="city" name="city" maxlength="30" value="@Model.city">
                        <span id="ErrCity" style="display: none; " class="validation-summary-errors">The City field is required.</span>*@
                    </div>
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.zipCode)<span style="color:red"> *</span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.zipCode, new { @class="form-control", @id="zipcode", @name="zipcode", @maxlength="20", @onkeypress="return event.charCode >= 48 && event.charCode <= 57", @value="@Model.zipCode"})
                            @Html.ValidationMessageFor(model => model.zipCode)
                        </div>
                        @*<label for="zipcode">Zip Code </label><span style="color:red"> * </span>
                        <input type="text" class="form-control" id="zipcode" name="zipcode" maxlength="20" onkeypress='return event.charCode >= 48 && event.charCode <= 57' value="@Model.zipCode">
                        <span id="ErrZipcode" style="display: none; " class="validation-summary-errors">The Zip Code field is required.</span>*@
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <div class="inner">
                            @Html.LabelFor(model => model.state)<span style="color:red"> * </span>
                        </div>
                        <div class="inner">
                            @Html.TextBoxFor(model => model.state, new { @class="form-control", @id="state", @name="state", @maxlength="20", @value="@Model.state"})
                            @Html.ValidationMessageFor(model => model.state)
                        </div>
                        @*<label for="state">Region / Provine / State</label><span style="color:red"> * </span>
                        <input type="text" class="form-control" id="state" name="state" maxlength="20" value="@Model.state">
                        <span id="ErrState" style="display: none;" class = "validation-summary-errors">The State field is required.</span>*@
                    </div>
                    <div class="col-md-6">
                        <label for="country">Country</label>
                        <select id="country" name="country" class="form-control">
                            @foreach (var item in Model.listCountry.arrayCountry)
                            {
                                try
                                {
                                    <option @(Model.country == @item ? " selected " : "") value="@item">@item</option>
                                }
                                catch
                                {
                                    <option value="@item">@item</option>
                                }
                            }
                        </select>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Remark")</h4>
                <h5>@Html.LocalizedLabel("remarkCustomer")</h5>
            </div>
            <div class="col-md-8">
                <textarea class="form-control" rows="6" id="remark" name="remark" maxlength="300">@Model.remark</textarea>
            </div>
        </div>

        <!-- ACTIVE / INACTIVE-->
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>@Html.LocalizedLabel("Status")</h4>
                <p>@Html.LocalizedLabel("StatusCustomerDescription")</p>
            </div>
            <div class="col-md-8">
                <div class="form-group ">
                    <div class="col-md-12 outer">
                        <div class="inner">
                            <b>@Html.LocalizedLabel("Active")</b>

                        </div>
                        <div class="inner">
                            @try
                            {
                                <div class="btn-group" data-toggle="buttons">
                                    <label class="btn btn-default @(Model.status == true ? "active" : "") statusMerchant " id="lbl-statusActive-0">
                                        <input type="radio" name="@Model._id" id="statusActive-0" value="true" class="optionsRadios">
                                        @Html.LocalizedLabel("ON")

                                    </label>
                                    <label class="btn btn-default @(Model.status == false ? "active" : "") statusMerchant " id="lbl-statusInActive-0">
                                        <input type="radio" name="@Model._id" id="statusInActive-0" value="false" class="optionsRadios">
                                        @Html.LocalizedLabel("OFF")
                                    </label>
                                </div>
                            }
                            catch { }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END ACTIVE / INACTIVE-->
        <!-- Promotion -->
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>Promotion</h4>
                @*<h5>Tags can be used to categorize customers into groups.</h5>*@
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-md-6">
                        @if (Model.acceptsNewsletter)
                        {
                            <label class="checkbox">
                                <input type="checkbox" id="check_me_out" name="check_me_out" checked>Accepts newsletter
                            </label>
                        }
                        else
                        {
                            <label class="checkbox">
                                <input type="checkbox" id="check_me_out" name="check_me_out">Accepts newsletter
                            </label>
                        }


                    </div>
                    <div class="col-md-6">
                        @if (Model.acceptsSms)
                        {
                            <label class="checkbox">
                                <input type="checkbox" id="sms" name="sms" checked>Accepts sms
                            </label>
                        }
                        else
                        {
                            <label class="checkbox">
                                <input type="checkbox" id="sms" name="sms">Accepts sms
                            </label>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--END Promotion -->

        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="form-horizontal">
            <div class="col-md-4">
                <h4>Group</h4>
                <h5>Tags can be used to categorize customers into groups.</h5>
            </div>
            <div class="col-md-8">
                <input class="form-control" id="myTag" name="myTag" type="text" value="@Model.strTags">
            </div>
        </div>

        <!-- FOOTER-->
        <div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>
        <div class="q-toolsbar">
            <div class="col-md-4">

                <h3></h3>
            </div>
            <div class="col-md-8">
                @*<button type="submit" id="submit1" class="btn btn-default" style="display:none">Create</button>*@
                <button type="button" id="checkSubmit1" name="checkSubmit1" class="btn btn-primary">Save</button>
                <button type="button" id="deleteCustomer1" name="deleteCustomer1" class="btn btn-danger">Delete</button>
                <button onclick="location.href='@Url.Action("Detail", "Customer", new { id = Model._id })';return false;" class="btn btn-default" style="margin-right:5px;" id="cancelCustomer1">Cancel</button>


            </div>
        </div>
        <!--END FOOTER-->
    </div>

    <!-- MODEL POPUP CONFIRM-->
    <div class="modal fade" id="modalInactive" tabindex="-1" aria-labelledby="mymodallabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 380px;">
                <div class="modal-body">
                    @Html.LocalizedMessage("ConfirmDeactiveCustomer")
                </div>
                <div class="modal-footer">
                    <button onclick="confirmUpdate()" data-dismiss="modal" class="btn btn-primary" style="padding-left:20px;padding-right:20px">@Html.LocalizedLabel("Yes")</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" onclick="dismissPopup()" style="padding-left:20px;padding-right:20px;color:#428bca">@Html.LocalizedLabel("No")</button>

                </div>
            </div>
        </div>
    </div>
}
<script>
    $(function () {

        //-------------- IMAGE OF CUSTOMER
        var strURL = "@Model.image";
        if (strURL) {

            document.getElementById("logoImg").value = strURL;
        }
        else {
            document.getElementById("logoImg").value = "@urlImgDefault";
        }
        //----------- END IMAGE OF CUSTOMER

        //---------------- STATUS ACTIVE/ INACTIVE
        jsCustomerItem = {};
        isDismiss = "False";
        var elems = document.querySelectorAll('.optionsRadios');
        // console.log(elems);
        showStatus();
        //---------------- END STATUS ACTIVE/ INACTIVE

        $('#myTag').tagsinput({
            maxTags: 30
        });
        var picker = $('#datetimepicker1').datetimepicker({
            language: 'pt-BR',
            endDate: new Date()
        });
        $("#checkSubmit").click(function () {

            var emailOld = '@Model.email';
            var check = true;
            var firstName = $('#firstName').val().trim();
            var lastName = $('#lastName').val().trim();
            var email = $('#email').val().trim();
            var phoneNumber = $('#phonenumber').val().trim();
            var birthday = $('#birthday').val().trim();


            var address = $('#address').val().trim();
            var city = $('#city').val().trim();
            var zipCode = $('#zipcode').val().trim();


            //var password = $('#password').val().trim();
            //var passwordConfirm = $('#confirmPass').val().trim();

            if (firstName.length < 1) {
                $('#ErrFisrtName').css('display', 'block');
                check = false;
            } else {
                $('#ErrFisrtName').css('display', 'none');
            }
            //validate Last Name field
            if (lastName.length < 1) {
                $('#ErrLastName').css('display', 'block');
                check = false;
            } else {
                $('#ErrLastName').css('display', 'none');
            }
            if (email.length < 1) {
                $('#ErrEmail').css('display', 'block');
                check = false;
            } else if (!validateEmail(email)) {
                $('#ErrEmailFormat').css('display', 'block');
                check = false;
            } else {
                $('#ErrEmail').css('display', 'none');
            }
            // validate Birthday field
            if (birthday.length < 1) {
                $('#ErrBirthday').css('display', 'block');
                check = false;
            } else {
                $('#ErrBirthday').css('display', 'none');
            }

            if (phoneNumber.length < 1) {
                $('#ErrPhone').css('display', 'block');
                check = false;
            }
            else {
                $('#ErrPhone').css('display', 'none');
            }
            // validate Addess field
            if (address.length < 1) {
                $('#ErrAddress').css('display', 'block');
                check = false;
            } else {
                $('#ErrAddress').css('display', 'none');
            }

            // validate city field
            if (city.length < 1) {
                $('#ErrCity').css('display', 'block');
                check = false;
            } else {
                $('#ErrCity').css('display', 'none');
            }
            // validate zipcode field
            if (zipCode.length < 1) {
                $('#ErrZipcode').css('display', 'block');
                check = false;
            } else {
                $('#ErrZipcode').css('display', 'none');
            }

            if (check) {
                $('#deleteCustomer').prop('disabled', true);
                $('#deleteCustomer1').prop('disabled', true);
                $('#cancelCustomer').prop('disabled', true);
                $('#cancelCustomer1').prop('disabled', true);
                if (email.length > 0) {
                    if (emailOld != email) {

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("checkEmailExist", "Customer")',
                            data: {
                                email: email,
                            },
                            success: function (data) {

                                if (data == "True") {
                                    DisableButton();
                                    $('#submit').click();
                                } else {
                                    EnableButton();
                                    check = false;
                                    $('#ErrEmailExists').css('display', 'block');
                                }
                            },
                            error: function (data) {
                                EnableButton();
                                return false;
                            }
                            ,
                            beforeSend: function () {
                                $('#checkSubmit').button('loading');
                                $('#checkSubmit1').button('loading');
                                $('#submit').button('loading');

                            },
                            complete: function () {
                                $('#checkSubmit').button('reset');
                                $('#checkSubmit1').button('reset');
                                $('#submit').button('reset');

                            }
                        });
                    } else {
                        DisableButton();
                        //$('#checkSubmit').prop('disabled', true);
                        //$('#checkSubmit1').prop('disabled', true);
                        $("#submit").click();
                    }

                }
                else {
                    DisableButton();
                    //$('#checkSubmit').prop('disabled', true);
                    //$('#checkSubmit1').prop('disabled', true);
                    $("#submit").click();
                }
                DisableButton();
            }

        });
    
        //upload image
        var ua = navigator.userAgent.toLowerCase();
        var checkBrowser = function (r) {
            return r.test(ua);
        };
        var isChrome = checkBrowser(/chrome/);
        var isSafari = !isChrome && checkBrowser(/safari/);
        var isSafari2 = isSafari && checkBrowser(/applewebkit\/4/); // unique to
        // Safari 2
        var isSafari3 = isSafari && checkBrowser(/version\/3/);
        var isSafari4 = isSafari && checkBrowser(/version\/4/);
        if (isSafari || isSafari2 || isSafari3 || isSafari4) {
            $('#choose').css('display', '');
            $('#upfile1').css('display', 'none');
        }
    });
    function DisableButton() {
        $('#deleteCustomer').prop('disabled', true);
        $('#deleteCustomer1').prop('disabled', true);
        $('#cancelCustomer').prop('disabled', true);
        $('#cancelCustomer1').prop('disabled', true);
        $('#checkSubmit').prop('disabled', true);
        $('#checkSubmit1').prop('disabled', true);
        $('#checkSubmit').button('loading');
        $('#checkSubmit1').button('loading');
        $('#submit').button('loading');
    }

    function EnableButton() {
        $('#deleteCustomer').prop('disabled', false);
        $('#deleteCustomer1').prop('disabled', false);
        $('#cancelCustomer').prop('disabled', false);
        $('#cancelCustomer1').prop('disabled', false);
        $('#checkSubmit').prop('disabled', false);
        $('#checkSubmit1').prop('disabled', false);
        $('#checkSubmit').button('reset');
        $('#checkSubmit1').button('reset');
        $('#submit').button('reset');
    }
    // show popup delete Customer
    $('#deleteCustomer').click(function () {
        $('#myModal').modal();
    });
    // show popup delete Customer
    $('#deleteCustomer1').click(function () {
        $('#myModal').modal();
    });

    $("#checkSubmit1").click(function () {
        $("#checkSubmit").click();
    });

    //upload image
    var isUpload = false;
    $("#upfile1").click(function () {
        if (!isUpload) {
            $("#choose").click();
        }
    });
    $("#choose").change(function () {
        var formData = new FormData();
        var file = document.getElementById("choose").files[0];
        if (file.size && file.size > (4 * 1024 * 1024)) {
            $('#Errendfile').css('display', 'block');

            return false;
        } else {
            $('#Errendfile').css('display', 'none');

            formData.append("FileUpload", file);
            formData.append("imageType", '@SmoovPOS.Common.ConstantSmoovs.Image_Type.Big');
            formData.append("width", '263');
            formData.append("height", '170');
            if ($('#choose').val() != "") {
                $.ajax({
                    type: 'POST',

                    url: '@Url.Action("UploadImage", "Upload")',
                    data: formData,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    cache: false,
                    processData: false,
                    success: function (data) {
                        $("#group-image").remove();
                        $("#uploadPreviewlogo").html(data);
                        $("#showImg").hide();
                        $(".lbl_image").css('display', 'none');
                        var lbl_image = document.getElementById("lbl_image");
                        if (lbl_image != null)
                            lbl_image.setAttribute('style', 'display:none');
                        document.getElementById("choose").value = null; // xoa de co the up image trung
                        getURLImage();
                        document.getElementById("logoImg").value = getURLImage();
                    },
                    error: function () {
                        isUpload = false;
                    },
                    beforeSend: function () {
                        isUpload = true;
                        $('#upfile1').button('loading');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'margin-top:53px;');
                    },
                    complete: function () {
                        isUpload = false;
                        $('#upfile1').button('reset');
                        $('#upfile1').removeAttr('style');
                        $('#upfile1').attr('style', 'cursor:pointer;margin-top:53px;');
                    }
                });
            }
        }

    });


    //$("#group-image").remove();
    //var lbl_image = document.getElementById("lbl_image");
    //lbl_image.setAttribute('style', 'display:important');
    /// <summary>
    /// Deletes the image.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/2/2015-5:14 PM</datetime>
    function deleteImage() {

        var img = document.getElementById("group-image");
        if (img != null)
            img.parentNode.removeChild(img);

        @*document.getElementById("logoImg").value = "@urlNoImage";*@
        document.getElementById("logoImg").value = null;

        var lbl_image = document.getElementById("lbl_image");
        if (lbl_image != null)
            lbl_image.setAttribute('style', 'display:important');
    }


    /// <summary>
    /// Dismisses the popup.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function dismissPopup() {

        $('#lbl-' + jsCustomerItem["position"]).removeClass("active");
        var element = document.getElementById('#' + jsCustomerItem["position"]);
        if (jsCustomerItem["position"].indexOf("statusInActive") != -1) { // exit // lbl-statusActive

            $('#lbl-' + jsCustomerItem["position"].replace("statusInActive", "statusActive")).addClass("active");
        }

        else {

            $('#lbl-' + jsCustomerItem["position"].replace("statusActive", "statusInActive")).addClass("active");
        }
    }
    /// <summary>
    /// Confirms the update.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function confirmUpdate() {

        setStatus(jsCustomerItem["position"]);
        isDismiss = "False";

    }
    /// <summary>
    /// Sets the status.
    /// </summary>
    /// <param name="id">The identifier.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>1/29/2015-11:24 AM</datetime>
    function setStatus(id) {

        var element = document.getElementById(id);
        var statusCustomer = element.value == "true" ? true : false;
        var yesNo;
        var idCustomer = element.getAttribute("name");
        $.ajax({
            type: 'POST',
            url: '@Url.Action("updateStatusCustomer", "Customer")',
            data: {
                id: idCustomer,
                status: statusCustomer
            },
            success: function (status) {
                var elem = document.getElementById("status");
                elem.value = statusCustomer;

            },
            error: function (status) {
            }
        });
    }

    /// <summary>
    /// Shows the status.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/2/2015-6:25 PM</datetime>
    function showStatus() {
        var elems = document.querySelectorAll('.optionsRadios');
        for (var i = 0; i < elems.length; i++) {
            var switchery = new Switchery(elems[i], { color: '#009DD9' });
            elems[i].onchange = function (e) {

                jsCustomerItem.position = this.getAttribute('id').toString();

                var hasActive = $('#lbl-' + jsCustomerItem.position).hasClass('active');

                if (!hasActive) {
                    $('#modalInactive').modal();
                    isDismiss = "True";
                    jsCustomerItem.position = this.getAttribute('id').toString();
                    if (this.value == "true") {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmActiveCustomer")');

                    } else {
                        $('#modalInactive').find('.modal-body').html('@Html.LocalizedMessage("ConfirmDeactiveCustomer")');

                    }

                    $('#modalInactive').modal();
                }
            };

        }
    }

    /// <summary>
    /// Is_valid_urls the specified URL.
    /// </summary>
    /// <param name="url">The URL.</param>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/3/2015-9:47 AM</datetime>
    function is_valid_url(url) {
        return url.match(/^(ht|f)tps?:\/\/[a-z0-9-\.]+\.[a-z]{2,4}\/?([^\s<>\#%"\,\{\}\\|\\\^\[\]`]+)?$/);
    }
    /// <summary>
    /// Gets the URL image.
    /// </summary>
    /// <returns></returns>
    /// <author>"Dao.Nguyen"</author>
    /// <datetime>3/3/2015-9:42 AM</datetime>
    function getURLImage() {
        var images = [];
        $('.img-rounded').each(function () {
            var url = $(this).attr('src');
            if (is_valid_url(url)) {
                images.push($(this).attr('src'));

            }

        });

        return images;
    }
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
