﻿@using SmoovPOS.Utility.CustomHTMLHelper
@using SmoovPOS.UI.Models

@model SmoovPOS.UI.Models.CustomerItemListingModel

<table class="display" id="tblGuests" cellspacing="0" style="padding-top:10px;">
    <thead>
        <tr class="header_table">
            <th class="u_title">@Html.LocalizedLabel("Name")</th>
            <th class="u_title">@Html.LocalizedLabel("email_Title")</th>
            <th class="u_title">@Html.LocalizedLabel("Orders")</th>
            <th class="u_title">@Html.LocalizedLabel("LastOrder")</th>
            <th class="u_title">@Html.LocalizedLabel("TotalOrder")</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CustomerList != null && Model.CustomerList.Count() > 0)
        {
            foreach (var item in Model.CustomerList)
            {
                string lastOrder = "";
                IFormatProvider yyyymmddFormat = new System.Globalization.CultureInfo(String.Empty, false);
                if (item.listOrder != null)
                {
                    lastOrder = @item.listOrder.Last().dateOrder.ToString("MM/dd/yyyy", yyyymmddFormat);
                }
                <tr>
                    <td>
                        @try
                        {
                            var name = (!string.IsNullOrWhiteSpace(item.fullName)) ?
                            item.fullName.ToString()
                            : (!string.IsNullOrWhiteSpace(item.firstName) && !string.IsNullOrWhiteSpace(item.lastName)) ?
                                item.firstName + " " + item.lastName
                                : item.email.Split('@')[0];
                            
                            @Html.ActionLink(name, "Detail", new { id = item._id })
                        }
                        catch (Exception) { }
                    </td>
                    <td>@item.email</td>
                    <td>@item.totalOrder</td>
                    <td>@lastOrder</td>
                    @{
                        string totalSpend = string.Format("{0:N}", @item.totalSpend);
                    }
                    <td>@Model.currency @totalSpend</td>
                </tr>
            }
        }
    </tbody>
</table>



<script>
    $(document).ready(function () {
        $('#tblGuests').DataTable({
            "aoColumns": [
              { "bSearchable": true },
              { "bSearchable": true },
              { "bSearchable": true },
              { "bSearchable": true },
              { "bSearchable": true }
            ],
            "columns": [
              { "width": "20%" },
              { "width": "30%" },
              { "width": "10%" },
              { "width": "20%" },
              { "width": "20%" }
            ],
            "pagingType": "full_numbers",
            "bSortClasses": false,
            "order": [[1, "desc"]],
            "bSort": false,
            "dom": 'T<"clear">lfrtip',
            "iDisplayLength": 25,
            "bLengthChange": true,
            "sDom": '<"top"ipf>rt<"bottom"ip><"clear">',
            "oLanguage": {
                "oPaginate": {
                    "sFirst": " <i class='fa fa-angle-double-left'></i>", // This is the link to the first page
                    "sPrevious": " <i class='fa fa-angle-left'></i>", // This is the link to the previous page
                    "sNext": " <i class='fa fa-angle-right'></i>", // This is the link to the next page
                    "sLast": " <i class='fa fa-angle-double-right'></i>"
                },
                "sInfoFiltered": "",
                "sInfo": "_START_ - _END_ of _TOTAL_",
                "sInfoEmpty": "",
                "sEmptyTable": "No customer was found.",
                "sZeroRecords": "No customer was found."
            }
        });

        $('#tblGuests_filter').text('').html('<div class="searching"><div class="inner-addon left-addon"><i class="glyphicon glyphicon-search"></i><input type="text" id="tblGuestsInputTextField" class="form-control" placeholder="Search customer" /></div></div>')

        $('#tblGuestsInputTextField').keyup(function () {
            $('#tblGuests').dataTable().fnFilter($(this).val());
        });
    });
</script>