﻿@using SmoovPOS.Utility.CustomHTMLHelper
@using SmoovPOS.UI.Models

@model SmoovPOS.UI.Models.CustomerListingModel

@{
    ViewBag.Title = "Customer";
    Layout = "~/Views/Shared/_LayoutMerchant.cshtml";
}

<style>
    #tblMembers tr, #tblGuests tr, #tblNewsletters tr {
        background-color: transparent !important;
    }

    /*#tblMembers th, #tblGuests th, #tblNewsletters th {
        background-color: whitesmoke;
        color: black;
    }*/

    .modal-footer button {
        width: 80px;
    }

    /* enable absolute positioning */
    .inner-addon {
        position: relative;
    }

        /* style icon */
        .inner-addon .glyphicon {
            position: absolute;
            padding: 10px;
            pointer-events: none;
        }

    /* align icon */
    .left-addon .glyphicon {
        left: 5px;
        top: -1px;
    }

    .right-addon .glyphicon {
        right: 0px;
    }

    /* add padding  */
    .left-addon input {
        padding-left: 30px;
    }

    .right-addon input {
        padding-right: 30px;
    }

    .dataTables_paginate {
        float: left !important;
    }

    .dataTables_filter {
        display: none;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        border: 1px solid white;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0 !important;
    }

    .dataTables_paginate.paging_simple_numbers {
        padding-left: 25px;
    }

    .searching {
        float: right;
        margin-top: 5px;
    }

    #tblMembersInputTextField, #tblGuestsInputTextField, #tblNewslettersInputTextField {
        width: 370px;
        max-width: inherit;
    }

    .statusDiscount {
        width: 60px;
    }

    /* ==CSS for Datatables Grid== */
    .dataTables_info {
        margin-top: 2px;
        margin-right: 10px;
    }

    .pagination > li > a, .pagination > li > span {
        margin-left: -5px;
    }

    #tblMembers_filter, #tblGuests_filter, #tblNewsletters_filter {
        display: block !important;
        margin-top: 3px !important;
    }

    .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
        /*background-color: #eee !important;*/
        border-color: #ddd !important;
        color: #fff !important;
    }

    .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        color: #428bca;
    }

    .dataTables_paginate a {
        color: #428bca;
    }

    .pagination > li > a, .pagination > li > span {
        padding: 4px 10px;
    }

    .header_table {
        background-color: transparent;
        color: #000;
        border-bottom: 2px solid #ddd;
    }

    #tblMembers tbody tr:hover, #tblGuests tbody tr:hover, #tblNewsletters tbody tr:hover {
        background-color: #e8e5e5 !important;
    }
</style>

<div class="q-toolsbar">
    <div class="col-md-4">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="col-md-8">
        <button onclick="location.href='@Url.Action("Create", "Customer")';return false;" class="btn btn-primary">@Html.LocalizedButton("NewCustomer")</button>
    </div>
</div>
<div class="col-md-12 lineStyle"><hr style="border-top: 1px solid #D3D2D2; " /></div>

<div>
    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#tabMember" role="tab" data-toggle="tab">@Html.LocalizedLabel("Members")</a></li>
        <li><a href="#tabGuest" role="tab" data-toggle="tab">@Html.LocalizedLabel("Guests")</a></li>
        <li><a href="#tabNewsletter" role="tab" data-toggle="tab">@Html.LocalizedLabel("AcceptNewsletter")</a></li>
    </ul>
</div>

<div class="tab-content">
    <div class="tab-pane active" id="tabMember">
        @Html.Partial("~/Views/Customer/CustomerListing.cshtml", Model.RealCustomerListing)
    </div>
    <div class="tab-pane" id="tabGuest">
        @Html.Partial("~/Views/Customer/GuestListing.cshtml", Model.GuestCustomerListing)
    </div>
    <div class="tab-pane" id="tabNewsletter">
        @Html.Partial("~/Views/Customer/NewsletterListing.cshtml", Model.NewsletterListing)
    </div>
</div>

<div class="q-toolsbar">
    <div class="col-md-4">
    </div>
    <div class="col-md-8">
        <button onclick="location.href='@Url.Action("Create", "Customer")';return false;" class="btn btn-primary">@Html.LocalizedButton("NewCustomer")</button>
    </div>
</div>