﻿@model SmoovPOS.UI.Models.CustomersViewModel
@using Com.SmoovPOS.TimeZone

<style>
        #contributors tr {
            background-color: transparent !important;
        }

        #contributors th {
            color: black;
        }

        .modal-footer button {
            width: 80px;
        }

        /* enable absolute positioning */
        .inner-addon {
            position: relative;
        }

            /* style icon */
            .inner-addon .glyphicon {
                position: absolute;
                padding: 10px;
                pointer-events: none;
            }

        /* align icon */
        .left-addon .glyphicon {
            left: 5px;
            top: -1px;
        }

        .right-addon .glyphicon {
            right: 0px;
        }

        /* add padding  */
        .left-addon input {
            padding-left: 30px;
        }

        .right-addon input {
            padding-right: 30px;
        }

        .dataTables_paginate {
            float: left !important;
        }

        .dataTables_filter {
            display: none;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            border: 1px solid white;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 0 !important;
        }

        .dataTables_paginate.paging_simple_numbers {
            padding-left: 25px;
        }

        .searching {
            float: right;
            margin-bottom: 5px;
            margin-right: 7px;
        }

        tblLoadMoreInputTextField {
            width: 370px;
            max-width: inherit;
        }

        .statusDiscount {
            width: 60px;
        }

        /* ==CSS for Datatables Grid== */
        .dataTables_info {
            margin-top: 2px;
            margin-right: 10px;
        }

        .pagination > li > a, .pagination > li > span {
            margin-left: -5px;
        }

        #contributors_filter {
            display: block !important;
            margin-top: 3px !important;
        }

        .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
            /*background-color: #eee !important;*/
            border-color: #ddd !important;
            color: #fff !important;
        }

        .paginate_button > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
            color: #428bca;
        }

        .dataTables_paginate a {
            color: #428bca;
        }

        .pagination > li > a, .pagination > li > span {
            padding: 4px 10px;
        }

        .pagination > li > a, .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            margin-left: -1px;
            line-height: 1.428571429;
            text-decoration: none;
            background-color: #ffffff;
            border: 1px solid #dddddd;
        }

        .header_table {
            background-color: transparent;
            color: #000;
            border-bottom: 1px solid #ddd;
        }

        #contributors tbody tr:hover {
            background-color: #e8e5e5 !important;
        }

        table.dataTable thead th, table.dataTable thead td {
            padding: 10px 18px;
            border-bottom: 0px solid #ddd;
        }
        /*table.dataTable {
        width: inherit!important;
        margin: 0 auto;
        clear: both;
        border-collapse: separate;
        border-spacing: 0;
        }*/

        table.dataTable.no-footer {
            border-bottom: 0px solid #ddd;
        }

        .table {
            width: auto;
            margin-bottom: 20px;
        }

        table.dataTable {
            width: none !important;
        }
        /*.dataTables_wrapper {

    margin:15px;
    }*/
        table.dataTable {
            margin: 0 auto;
            clear: both;
            border-collapse: separate;
            border-spacing: 0;
        }
</style>

<table class="table table-curved" id="contributors" style="margin-top:10px;">

    <thead style="margin-top:10px;">
        <tr class="header_table">
            <th class="u_title">Order Code</th>
            <th class="u_title">Date</th>
            <th class="u_title">Payment</th>
            <th class="u_title">Total</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.listOrder.Count() != 0)
        {
            foreach (var order in Model.listOrder.OrderByDescending(p => p.dateOrder).Take(200).ToList())
            {
                <tr class="employee_margin">
                    <td>@order.orderCode</td>
                    <td>@order.dateOrder.ToString("MM/dd/yyyy HH:mm:ss")</td>
                    <td>@order.payType</td>
                    <td>@ViewBag.Currency  @String.Format("{0:0.00}", @order.total)</td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        if (!$('#loadMore').is(':visible')) {
            $('#contributors').DataTable({
                "aoColumns": [
                    { "bSearchable": true },
                    { "bSearchable": true },
                    { "bSearchable": true },
                    { "bSearchable": false }
                ],
                "columns": [
                  { "width": "25%" },
                  { "width": "25%" },
                  { "width": "25%" },
                  { "width": "25%" }
                ],
                "pagingType": "full_numbers",
                "bSortClasses": false,
                "order": [[1, "desc"]],
                "bSort": true,
                "dom": 'T<"clear">lfrtip',
                "iDisplayLength": 5,
                "bLengthChange": true,
                "sDom": '<"top"if>rt<"bottom"ip><"clear">',
                "oLanguage": {
                    "oPaginate": {
                        "sFirst": "<i class='fa fa-angle-double-left'></i>", // This is the link to the first page
                        "sPrevious": "<i class='fa fa-angle-left'></i>", // This is the link to the previous page
                        "sNext": "<i class='fa fa-angle-right'></i>", // This is the link to the next page
                        "sLast": "<i class='fa fa-angle-double-right'></i>"
                    },
                    "sInfoFiltered": "",
                    "sInfo": "_START_ - _END_ of _TOTAL_",
                    "sInfoEmpty": "",
                    "sEmptyTable": "No oder was found.",
                    "sZeroRecords": "No oder was found."
                }
            });
            $('#contributors_filter').text('').html('<div class="searching"><div class="inner-addon left-addon"><i class="glyphicon glyphicon-search"></i><input type="text" id="tblLoadMoreInputTextField" class="form-control" placeholder="Search order" /></div></div>')

            $('#tblLoadMoreInputTextField').keyup(function () {
                $('#contributors').dataTable().fnFilter($(this).val());
            });
        }
        else {
            $('#contributors').DataTable({
                "aoColumns": [
                    { "bSearchable": true },
                    { "bSearchable": true },
                    { "bSearchable": true },
                    { "bSearchable": false }
                ],
                "columns": [
                  { "width": "25%" },
                  { "width": "25%" },
                  { "width": "25%" },
                  { "width": "25%" }
                ],
                "pagingType": "full_numbers",
                "bSortClasses": false,
                "order": [[1, "desc"]],
                "bSort": true,
                "dom": 'T<"clear">lfrtip',
                "iDisplayLength": 5,
                "bLengthChange": true,
                "sDom": '<"top"if>rt<"bottom"ip><"clear">',
                "oLanguage": {
                    "oPaginate": {
                        "sFirst": "<i class='fa fa-angle-double-left'></i>", // This is the link to the first page
                        "sPrevious": "<i class='fa fa-angle-left'></i>", // This is the link to the previous page
                        "sNext": "<i class='fa fa-angle-right'></i>", // This is the link to the next page
                        "sLast": "<i class='fa fa-angle-double-right'></i>"
                    },
                    "sInfoFiltered": "",
                    "sInfo": "_START_ - _END_ of _TOTAL_",
                    "sInfoEmpty": "",
                    "sEmptyTable": "No oder was found.",
                    "sZeroRecords": "No oder was found."
                },
                "fnDrawCallback": function (oSettings) {
                    $('.dataTables_paginate').hide();
                }
            });
            $('#contributors_filter').text('').html('<div class="searching"><div class="inner-addon left-addon"><i class="glyphicon glyphicon-search"></i><input type="text" id="tblLoadMoreInputTextField" class="form-control" placeholder="Search order" /></div></div>')

            $('#tblLoadMoreInputTextField').keyup(function () {
                $('#contributors').dataTable().fnFilter($(this).val());
            });
        }
       
        //$('#contributors_filter').text('').html('<div class="searching"><div class="inner-addon left-addon"><i class="glyphicon glyphicon-search"></i><input type="text" id="myInputTextField" class="form-control" placeholder="Search " /></div></div>')

        //oTable = $('#contributors').dataTable();

        //$('#myInputTextField').keyup(function () {
        //    oTable.fnFilter($(this).val());
        //});
    });
</script>