﻿@using SmoovPOS.Utility.CustomHTMLHelper
@using SmoovPOS.UI.Models

@model SmoovPOS.UI.Models.CustomerItemListingModel

@{
    ViewBag.Title = "NewsletterListing";
}

<table class="display" id="tblNewsletters" cellspacing="0" style="padding-top:10px;">
    <thead>
        <tr class="header_table">
            <th class="u_title">@Html.LocalizedLabel("Name")</th>
            <th class="u_title">@Html.LocalizedLabel("email_Title")</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.CustomerList != null && Model.CustomerList.Count() > 0)
        {
            foreach (var item in Model.CustomerList)
            {
                var name = (!string.IsNullOrWhiteSpace(item.fullName)) ?
                            item.fullName.ToString()
                            : (!string.IsNullOrWhiteSpace(item.firstName) && !string.IsNullOrWhiteSpace(item.lastName)) ? 
                                item.firstName + " " + item.lastName
                                : item.email.Split('@')[0];
                <tr>
                    <td>@Html.ActionLink(name, "Detail", new { id = item._id })</td>
                    <td>@item.email</td>
                </tr>
            }
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#tblNewsletters').DataTable({
            "aoColumns": [
              { "bSearchable": true },
              { "bSearchable": true }
            ],
            "columns": [
              { "width": "40%" },
              { "width": "60%" }
            ],
            "order": [[1, "desc"]],
            "pagingType": "full_numbers",
            "bSort": false,
            "dom": 'T<"clear">lfrtip',
            "iDisplayLength": 25,
            "bLengthChange": true,
            "sDom": '<"top"ipf>rt<"bottom"ip><"clear">',
            "oLanguage": {
                "oPaginate": {
                    "sFirst": " <i class='fa fa-angle-double-left'></i>", // This is the link to the first page
                    "sPrevious": " <i class='fa fa-angle-left'></i>", // This is the link to the previous page
                    "sNext": " <i class='fa fa-angle-right'></i>", // This is the link to the next page
                    "sLast": " <i class='fa fa-angle-double-right'></i>"
                },
                "sInfoFiltered": "",
                "sInfo": "_START_ - _END_ of _TOTAL_",
                "sInfoEmpty": "",
                "sEmptyTable": "No customer was found.",
                "sZeroRecords": "No customer was found."
            }
        });

        $('#tblNewsletters_filter').text('').html('<div class="searching"><div class="inner-addon left-addon"><i class="glyphicon glyphicon-search"></i><input type="text" id="tblNewslettersInputTextField" class="form-control" placeholder="Search customer" /></div></div>')

        $('#tblNewslettersInputTextField').keyup(function () {
            $('#tblNewsletters').dataTable().fnFilter($(this).val());
        });
    });
</script>